ul.custom_tabs_list{
    height: 32px;
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 10px;
    clear: both;
}

#custom_tabs.coloredtab ul.custom_tabs_list{
    margin-bottom: 0px !important;
}

#custom_tabs ul.custom_tabs_list li{
    float: left;
    list-style-type: none;
    padding: 0 20px !important;
    line-height: 30px;
    padding-right: 10px !important;
    font-weight: bold !important;
    font-size: 12px;
    background: #E0E6F8;
    color: #555;

    cursor: pointer;

    list-style: none;
    position: relative;
    top: 0;
    margin: 1px .2em 0 0;
    /*border-bottom-width: 0;*/
    white-space: nowrap;

    background: #D8D8D8;
    border-width: 2px 2px 0px 2px !important;
    border-style: solid !important;
    border-color: #D8D8D8;

    moz-border-radius-topright: 6px;
    -webkit-border-top-right-radius: 6px;
    -khtml-border-top-right-radius: 6px;
    border-top-right-radius: 6px;

    moz-border-radius-topleft: 6px;
    -webkit-border-top-left-radius: 6px;
    -khtml-border-top-left-radius: 6px;
    border-top-left-radius: 6px;
}

#custom_tabs ul.custom_tabs_list li a{
    color: #555;
    text-decoration: none;
}


#custom_tabs ul.custom_tabs_list li.selected{
    color: #1e5799 !important;
    background: white !important;
    border-color: #1e5799 !important;
}

#custom_tabs ul.custom_tabs_list li.has_error{
    border-color: red !important;
}

#custom_tabs ul.custom_tabs_list li.selected.has_error{
    border-color: red !important;
}

#custom_tabs ul.custom_tabs_list li.selected a{
    color: #1e5799 !important;
}

.anytab{
    display: none;
}

#custom_tabs.coloredtab .anytab{
    background: #eaeaea;
    padding: 10px 0;
}

