ul{
    list-style-type: none;
}


textarea {
    resize: none;
}


#lightbox.done #lbContent, #lightbox.loadin #lbLoadMessage {
    display: block;
}

#lbContent[id] {
    height: auto;
    min-height: 130px;
}

#lbContent {
    position: relative;
    height: 130px;
    margin: 25px;
    padding: 10px 5px;
    background: #fff;
    border: 1px solid #336699; /*#EFCA4A;*/
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
}

.clearfix:after, #stage:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}

.olymp_box{
    background-image: none;
    background-color: #fff; /*rgb(102, 153, 204);*/
    margin-top: 20px;
    width: inherit;

    border: 0 solid #cccccc;

    -webkit-box-shadow: rgba(0,0,0,0.2) 0px 0px 5px;
    -moz-box-shadow: rgba(0,0,0,0.2) 0px 0px 5px;
    -o-box-shadow: rgba(0,0,0,0.2) 0px 0px 5px;
    box-shadow: rgba(0,0,0,0.2) 0px 0px 5px;
}

#container{
    background-image: none;
    background-color: #336699; /*#fff;*/ /*rgb(102, 153, 204);*/
    /*border: 0 solid #cccccc;*/
    margin: 0 auto 5px auto;
    width: 640px;

    text-align: left;
    /*background: #fff;*/
    /*border: 1px solid #ccc;*/

    /*
    -webkit-box-shadow: rgba(0,0,0,0.2) 0px 0px 5px;
    -moz-box-shadow: rgba(0,0,0,0.2) 0px 0px 5px;
    -o-box-shadow: rgba(0,0,0,0.2) 0px 0px 5px;
    box-shadow: rgba(0,0,0,0.2) 0px 0px 5px;
    */
}

.olymp_h1{
    /*color: white;*/
    background-image: none;
    /*background: rgb(102, 153, 204); *//*#cf3b19;*//* *//*#235da4;*/
    /*border: 1px solid #114b8f;*/
    text-align: center;
    font-size: 18px;
    line-height: 18px;
    font-weight: bold;
    padding: 10px 0px;
}

.toolbar_button{
    min-width: 100px;
    width: auto;
    padding: auto;
    float: left;
   margin: 0px 5px 5px 5px;
}

.toolbar{
    widows: auto;
}

#lightbox.done {
    background: rgb(102, 153, 204); /*#FFE27F;*/
    border: 1px solid #336699; /*#D4B240;*/
    border-right: 1px solid #336699; /*#A08730;*/
    border-bottom: 1px solid #336699; /*#A08730;*/
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    width: 350px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

#lightbox form ul {
    margin: 0 0 10px 0;
    padding: 0;
}

form ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

form li.focused {
    background-color: #fff7c0;
}

label.olymp_desc {
    font-size: 115%;
    padding-bottom: 4px;
    font-weight: normal;
}


label.olymp_desc, legend.olymp_desc {
    font-size: 95%;
    font-weight: bold;
    color: #222;
    line-height: 150%;
    margin: 0;
    padding: 0 0 3px 0;
    border: none;
    display: block;
    white-space: normal;
    width: 100%;
}

form li div label, form li span label {
    margin: 0;
    padding-top: 3px;
    clear: both;
    font-size: 85%;
    line-height: 160%;
    color: #444;
    display: block;
}

form ul:after, form li:after, form li div:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

form li.olymp_complex {
    padding: 5px 5px 0px 5px ;
    width: 80%;
    margin: 10px 0px;
    background-color: #e5e5e5; /*#F5F6CE;*/


}

li#olymp_dummy{
    display: none;
}

form li div {
    margin: 0;
    padding: 0;
    color: #444;
}

.olymp_full {
    width: 100% !important;
}

.olymp_full input{
    width: 98% !important;
}

.olymp_full textarea,.olymp_right textarea,.olymp_left textarea,.olymp_right input,.olymp_left input{
    width: 95% !important;
}

form li.olymp_complex div span.olymp_left, form li.olymp_complex div span.olymp_right {
    margin: 0;
    width: 50%;
}

form li.olymp_complex div span {
    width: auto;
    margin: 0 .3em 0 0;
    padding-bottom: 12px;
}

.auth_greeting{
    float: right;
    width: 250px;
    text-align: right;
}

.auth_link{
    min-width: 60px;
    width: auto;
    float: right;
    text-align: left;
    margin-right: 5px;
}

.toolbar a{
    margin: 0 15px 5px 5px;
    text-align: center;
    min-width: 60px;
    width: auto;
    float: right;
}

.test_toolbar{
    margin-top: 5px;
}

.test_toolbar a{
    margin: 0 15px 5px 5px;
    text-align: center;
    min-width: 60px;
    width: auto;

}

.clear{
    clear: both;
}

form.olymp_item {
    margin: 20px 14px 0 14px;
    padding: 0 0 20px 0;
}

.datewidgetlabel{
    margin: 0;
    padding-top: 1px;
    padding-left: 5px;
    clear: both;
    font-size: 85%;
    line-height: 160%;
    color: #444;
    display: block;
    width: 40px;
}

form li span {
    margin: 0 .3em 0 0;
    padding: 0;
    float: left;
    color: #444;
}

form .olymp_error_line{
    font-size: 85%;
    font-family: inherit;
    font-style: normal;
    font-weight: normal;
    color: red !important;
    width: auto;
    float: none;
}

.olymp_add_link{
    background: url(/media/img/icon_addlink.gif) 0 50% no-repeat;
    padding-left: 14px;

    width: 10px;
    height: 10px;
    /*display: block;*/
    /*float*/
}


.olymp_left_block{
   width: 235px;
   margin-right: 5px;
    float: left;
}

.olymp_left_block ul,.olymp_right_block ul{
    padding: 5px;

}

.olymp_left_block li,.olymp_right_block li{
    min-height: 20px;
    margin: 5px 0;
    border-bottom: 1px solid #336699;

}

.olymp_left_block li, .olymp_left_block li label{
cursor: pointer;
}

.olymp_right_block{
   width: 400px;
   float: left;
}

a#home{
   color: inherit;
   text-decoration: none;
}

.test_header{
    border-bottom: 1px dotted #CCCCCC;
    clear: both;
    margin: 0 0 5px 0;
    padding: 0 1%;
}

.test_header h2{
    font-size: 160%;
    font-family: inherit;
    font-style: normal;
    font-weight: normal;
    color: #000000;
}

.test_header h3{
font-weight: normal;
font-size: 110%;
line-height: 135%;
margin: 0 0 3px 0;
width: auto;
padding: 12px 1% 0 1%;
border-top: 1px dotted #ccc;
}

.box ul{
    padding: 0;
}

.test_block{
    margin-left: 10px;
}


.test_block h3{
    font-weight: normal;
    font-size: 110%;
    line-height: 135%;
    margin: 0 0 5px 0;
    width: auto;
    padding: 0 1%;
}

div.short_desc{
    font-size: 85%;
    font-family: inherit;
    font-style: normal;
    font-weight: normal;
    color: #444444;
    margin-left: 2px;
}

.test_header ul{
    padding: 0px;
}

.test_header li{
    margin: 0;
    padding: 6px 1% 9px 1%;
    clear: both;
    background-color: transparent;
    position: relative;
    -webkit-transition: background-color 350ms ease-out;
    -moz-transition: background-color 350ms ease-out;
    -o-transition: background-color 350ms ease-out;
    transition: background-color 350ms ease-out;
}

.test_header li div{
    margin-left: 10px;
}


.olymp_univer_name,.olymp_univer_name_admin{
   padding-right: 5px;
  float: left;
  line-height: 20px;
}

.olymp_univer_name_admin{
 width: 435px;
}

.olymp_univer_name{
 width: 585px;
}

.olymp_univer_city_name,.olymp_univer_strong_name,.olymp_univer_strong_name_admin{
    display: block;
    float: left;
    width: auto;
}

.olymp_univer_city_name{
    width: 100px;
}

.olymp_univer_strong_name{
   margin-left: 5px;
   width: 470px;
}

.olymp_univer_strong_name_admin{
   margin-left: 5px;
   width: 320px;
}


.olymp_student_fio{
    width: 425px;
    padding-right: 5px;
    float: left;
	line-height: 20px;
}

.olymp_univer_participant_box{
  margin-bottom: 10px;
}


.olymp_univer_edit,.olymp_student_edit{
  width: 90px;
  padding-right: 5px;
  float: left;
}

.olymp_univer_delete,.olymp_student_delete{
  width: 50px;
  padding-right: 5px;
  float: left;
}

.olymp_univer_expand{
  width: 50px;
  padding-right: 5px;
  float: left;
}

ul.olymp_univer_participant{
    -webkit-padding-start: 10px;
    margin-bottom: 10px;
}

ul.olymp_univers{
    -webkit-padding-start: 20px;
}

ul.olymp_univer_participant li{
    margin: 5px 0;
}

li.olymp_univer{
    margin-bottom: 5px;
}

.pillow{
    height: 5px;
}

.olymp_hidden{
    display: none;
}

.olymp_test_question_numbers_box ul{
    padding:5px 0 0 0;list-style:none
}


.olymp_test_question_numbers_box ul li{
    margin: 0 0 5px 0;
    display: inline-block;
}

.olymp_test_question_numbers_box a {
    display: block;
    /*background: #F5DEB3;*/
    text-decoration: none;
    font-size: 11px;
    color: #000;
    min-height: 20px;
    width: 10px;
    padding-right: 5px;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    border-radius: 12px;
}

.olymp_test_question_numbers_box a i {
    display: block;
    line-height: 20px;
    font-size: 12px;
    text-align: center;
    width: 15px;
    /*margin-right: 10px;*/
    background: #C53B1C;
    color: #fff;
    float: left;
    font-style: normal;
    font-weight: bold;
    -moz-border-radius: 5px; /* 12px;*/
    -webkit-border-radius: 5px; /* 12px;*/
    border-radius: 5px; /* 12px;*/
    text-shadow: rgba(0,0,0,0.3) 1px 1px 1px;
}

.olymp_passing_button{
    line-height: 20px;
    font-size: 12px;
    text-align: center;
    padding: 0 5px;
    margin: 5px;
    
    background: #C53B1C;
    color: #fff;
    float: right;
    cursor: pointer;
    font-style: normal;
    font-weight: bold;
    
    -moz-border-radius: 5px; /* 12px;*/
    -webkit-border-radius: 5px; /* 12px;*/
    border-radius: 5px; /* 12px;*/
    text-shadow: rgba(0,0,0,0.6) 2px 2px 2px;
}

.olymp_passing_button a{
   text-decoration: none;
   color: #fff;
     
}



.olymp_test_question_numbers_box a b {
    font-size: 105%;
    margin: 0 0 2px 0;
    padding: 6px 0;
    display: block;
    color: #111;
}


/*.test_questions_box a:hover{background:#fff}*/

.olymp_test_question_numbers_box a:hover i,.olymp_passing_button:hover{
   background:#235DA4
   }

.olymp_test_question_numbers_box a:active i{
   background:#529214
   }

.olymp_test_question_numbers_box .selected a{
    border-right:10px solid #eee !important;
    -moz-border-radius-topright:0px;-moz-border-radius-bottomright:0px;
    -webkit-border-top-right-radius:0px;-webkit-border-bottom-right-radius:0px;
    border-top-right-radius:0px;border-bottom-right-radius:0px;
    cursor:default
	}

.olymp_test_question_numbers_box .selected a{
    background:#eee !important
	}

.olymp_test_question_numbers_box .selected a i{
    background-color:#529214 !important
}

.olymp_test_question_numbers_box a.olymp_active{
    /* border-right:10px solid #eee !important; */
    -moz-border-radius-topright:0px;-moz-border-radius-bottomright:0px;
    -webkit-border-top-right-radius:0px;-webkit-border-bottom-right-radius:0px;
    border-top-right-radius:0px;border-bottom-right-radius:0px;
    cursor:default
	}
	
	
.olymp_test_question_numbers_box a.olymp_used i{
    background-color:#A7988B !important;
}

.olymp_test_question_numbers_box .selected a{
    background:#eee !important
	}

.olymp_test_question_numbers_box a.olymp_active i{
    background-color:#af9900 !important; /* 529214  */
}


.olymp_test_passing{
 width: 640px;   
 
 background: #EFEFEF; /* #EBC9C2; /* #f5c25f; */
 padding: 5px;
}

.olymp_test_finish{
 width: 680px;   
 background: #EFEFEF; /* #EBC9C2; /* #f5c25f; */
 padding: 5px;
    
}

.olymp_test_question_text{
    width: 620px;
    margin: 10px;
    font-size: 16px;
    text-indent: 10px;
    
    -moz-border-radius: 5px; /* 12px;*/
    -webkit-border-radius: 5px; /* 12px;*/
    border-radius: 5px; /* 12px;*/
    /*text-shadow: rgba(0,0,0,0.3) 1px 1px 1px;*/
    
    background:#FFF7C0;
    color:#333;
    
    padding: 5px;
}


.olymp_test_question_variants{
    width: 580px;
    margin: 10px 30px;
    font-size: 14px;
    text-indent: 10px;
    
    background: #f7deae;
    color: #b23018;
    padding: 5px;
    
    -moz-border-radius: 5px; /* 12px;*/
    -webkit-border-radius: 5px; /* 12px;*/
    border-radius: 5px; /* 12px;*/
    
    cursor: pointer;
    
}

.olymp_test_question_variants:hover{
    background: #af290a;
    color: #fff;
}

.olymp_test_question_box.olymp_banal{
   display:none;
}

.western_link{
    color: #444444;
    font-family: 'Times New Roman', serif;
    font-size: medium;
    text-decoration: underline;
}

.olymp_test_question_variant_checkbox{
    width: 10px;
    height: 10px;
    margin: 10px 5px 10px 10px;
    float: left;
    border: 3px solid #000000;
}

.olymp_test_question_variant_checkbox.checked{
    background: url(http://ipr.palata-nk.ru/media/img/check_black.png);
}

.olymp_test_finish_text{
    text-indent: 10px;
    line-height: 20px;
    font-size: 14px;
    padding: 0 5px;
    margin: 5px;
    
    font-style: normal;
    font-weight: bold;
    
    -moz-border-radius: 5px; /* 12px;*/
    -webkit-border-radius: 5px; /* 12px;*/
    border-radius: 5px; /* 12px;*/
    
}


.olymp_test_result, .olymp_test_result td{
    line-height: 20px;
    font-size: 14px;
    padding: 5px;
    border: #C53B1C solid 1px;
    border-collapse: collapse;
}

.olymp_test_correct_answer_td{
    background: #aafb73;
    /*
    color: #fff;
    text-shadow: rgba(0,0,0,0.6) 2px 2px 2px;
    */
}

.olymp_test_result_th{
    text-align: center;
    background: #C53B1C;
    color: #fff;
    text-shadow: rgba(0,0,0,0.6) 2px 2px 2px;
    border: #000000 solid 1px !important;
}


.olymp_test_result_restrict{
    width: 550px;
    margin: 10px 50px;
}


.olymp_test_result_restrict  ul{
    with: 450px;
    float: left;
}

.olymp_restrict_enter{
    with: 100px;
    float: left;
}

