{% extends "index.html" %}

{% block include %}
<script type="text/javascript" src="/media/js/jquery-ui-1.8.18/development-bundle/ui/i18n/jquery.ui.datepicker-ru.js"></script>
<link rel="stylesheet" type="text/css" media="all" href="/media/css/cupertino/jquery-ui-1.8.18.custom.css" />

{% endblock %}

{% block jquery_ready %}

  $('.datepicker').datepicker();

  
$('.recruitment').submit(function () {

$.post('/edu/recruitment/'+$(this).attr('id')+'/', $(this).serialize(), function (data) {
obj = JSON.parse(data);
if (obj.status == 1){
alert("Данные сохранены успешно!");
}else{
alert("Ошибка, данные некорректны");
}
});

return false;
});

$('.realize_program').submit(function () {

$.post('/edu/realize_program/'+$(this).attr('id')+'/', $(this).serialize(), function (data) {
obj = JSON.parse(data);
if (obj.status == 1){
alert("Данные сохранены успешно!");
}else{
alert("Ошибка, данные некорректны");
}
});

return false;
});


$(".slider_arrow").click(function(){

if($('div.slider_body[item="'+$(this).attr('item')+'"]').is(":visible")){
$('div.slider_body[item="'+$(this).attr('item')+'"]').css("display","none");

$(this).removeClass("arrow_up");
$(this).addClass("arrow_down");

}else{
$('div.slider_body[item="'+$(this).attr('item')+'"]').css("display","block");


$(this).removeClass("arrow_down");
$(this).addClass("arrow_up");
}


});

    $('.collapse').click(function(){

	if($('div.personal_card_content[type="'+$(this).attr('type')+'"]').is(":visible")){

    $('div.personal_card_content[type="'+$(this).attr('type')+'"]').css("display","none");
    $(this).closest('div.personal_card_header').css("margin-bottom","5px");
    $(this).removeClass("collapse");
	$(this).addClass("expand");
    }else{

    $('div.personal_card_content[type="'+$(this).attr('type')+'"]').css("display","block");
    $(this).closest('div.personal_card_header').css("margin-bottom","0px");
    $(this).addClass("collapse");
	$(this).removeClass("expand");
	
    }

    });
	
	$('div.expand').click(function(){
	if($('div.personal_card_content[type="'+$(this).attr('type')+'"]').is(":visible")){

    $('div.personal_card_content[type="'+$(this).attr('type')+'"]').css("display","none");
    $(this).closest('div.personal_card_header').css("margin-bottom","5px");
    $(this).removeClass("collapse");
	$(this).addClass("expand");
    }else{

    $('div.personal_card_content[type="'+$(this).attr('type')+'"]').css("display","block");
    $(this).closest('div.personal_card_header').css("margin-bottom","0px");
    $(this).addClass("collapse");
	$(this).removeClass("expand");
	
    }
	});
	
	$('.create_item').click(function(){
	window.location = '/edu/' + $(this).attr("type") + '/'; 
	});
	
	$('.edit_item').click(function(){
	window.location = '/edu/' + $(this).attr("type") + '/'+ $(this).attr("item") + '/'; 
	});

    $('.delete_item').click(function(){
    window.location = '/edu/delete/' + $(this).attr("type") + '/'+ $(this).attr("item") + '/';
    });

    $('.edit_block').click(function(){
    window.location = '/auth/' + $(this).attr("type") + '/'+ $(this).attr("item") + '/';
    });

{% endblock %}

{% block urlpath %} / <a href="{% url "personal_cabinet" %}">Личный кабинет</a>{% endblock %}

{% block content %}

    {% if user.is_admin %}
        <!--============================================================ ADMIN ===============================================-->

        <div class="item" id="regions">
            <div class="personal_card_header"><label>Регионы</label>{% comment %}<div type="region" title="Создать регион" class="icon create_item"></div>{% endcomment %}<div type="region" title="Свернуть" class="icon collapse"></div></div>

            <div class="personal_card_content scrollable" type="region">
                {% for item in regions %}
                    <div class="scroll_item"><label>{{ item.name }}</label><div type="region" item="{{ item.id }}"  title="Редактировать" class="icon edit_item"></div><div type="region" item="{{ item.id }}"  title="Удалить" class="icon delete_item"></div></div>
                {% endfor %}
            </div>

        </div>


        <div class="item" id="cities">
            <div class="personal_card_header"><label>Города</label><div type="city" title="Создать город" class="icon create_item"></div><div type="city" title="Свернуть" class="icon collapse"></div></div>

            <div class="personal_card_content scrollable" type="city">
                {% for item in cities %}
                    <div class="scroll_item"><label>{{ item.name }}</label><div type="city" item="{{ item.id }}"  title="Редактировать" class="icon edit_item"></div><div type="city" item="{{ item.id }}"  title="Удалить" class="icon delete_item"></div></div>
                {% endfor %}
            </div>

        </div>
		
		<div class="item" id="institutes">
            <div class="personal_card_header"><label>Образовательные организации</label><div type="institute" title="Создать учреждение" class="icon create_item"></div><div type="institute" title="Свернуть" class="icon collapse"></div></div>

            <div class="personal_card_content scrollable" type="institute">
                {% for item in institutes %}
                    <div class="scroll_item"><label>{{ item.name }}</label><div type="institute" item="{{ item.id }}"  title="Редактировать" class="icon edit_item"></div><div type="institute" item="{{ item.id }}"  title="Удалить" class="icon delete_item"></div></div>
                {% endfor %}
            </div>
        </div>


    {% elif user.is_curator %}
       <!--==================================================== CURATOR =====================================================================-->

   <div  class="item" id="profile_card">
     <div class="personal_card_header"><label>Образовательная организация</label><div type="profile" item="{{ item.slug }}"  title="Редактировать" class="icon  edit_block"></div><div type="profile" title="Свернуть" class="icon collapse"></div></div>

       <div class="personal_card_content stretchable" type="institute">
           <div class="info_item"><label>Название организации :</label><label>{{ curator.name }}</label></div>
           <div class="info_item"><label>Менеджер :</label><label>{{ user.last_name }} {{ user.first_name }}</label></div>
		   <div class="info_item"><label>Номер свидетельства об аккредитации :</label><label>{{ curator.accreditation_number }}</label></div>
           <div class="info_item"><label>Статус аккредитации :</label><label>{{ curator.accreditation_name }}</label></div>
           <div class="info_item"><label>Веб-сайт :</label><label>{{ curator.web_site }}</label></div>
           <div class="info_item"><label>Телефон :</label><label>{{ curator.telephone }}</label></div>
           <div class="info_item"><label>Адрес :</label><label>{{ curator.post_address }}</label></div>
           <div class="info_item"><label>Город :</label><label>{{ curator.city }}</label></div>
           <div class="info_item"><label>Электронный адрес :</label><label>{{ curator.email }}</label></div>
           <div class="info_item"><label>Руководитель :</label><label>{{ curator.director }}</label></div>
       </div>
       <div class="clear"></div>
   </div>

   <div class="item" id="programs">
    <div class="personal_card_header"><label>Реализуемые программы</label><div type="programs" title="Свернуть" class="icon collapse"></div></div>

    <div class="personal_card_content stretchable" type="programs">
        {% for prog in programs %}
        <div class="slider_item institute_slider_item" item="item_{{ prog.id }}">
            <label class="slider_item_main_label_half">{{ prog.program.name }}</label>
            <label class="slider_item_main_label_half2">{% if prog.accreditation_finish %}аккредитация до <span>{{ prog.accreditation_finish|default:"-"|date:"d.m.Y" }}<span>{% else %}аккредитация бессрочная{% endif %}</label>
            <div  item="item_{{ prog.id }}" class="slider_arrow arrow_down"></div>
            <div class="slider_body" item="item_{{ prog.id }}">
                <form action="{% url 'edu-realize-program' prog.id %}" id="{{ prog.id }}"  class="realize_program" method="post">
                {% comment %}<div class="slider_body_property_name">Срок действия акредитации</div><div class="slider_body_property_value"><input class="datepicker" name="accreditation_finish" value="{{ prog.accreditation_finish|default:"-"|date:"d.m.Y" }}"></div>{% endcomment %}
                <div class="slider_body_property_name">Стоимость подготовки</div><div class="slider_body_property_value"><input name="cost" value="{{ prog.cost|default:""|floatformat }}"></div>
                <div class="slider_body_property_name">Форма обучения</div>
			{% comment %}	<div class="slider_body_property_value"><input name="form" value="{{ prog.form|default:"" }}"></div>{% endcomment %}
                <div class="slider_body_property_value">
                    <select name="form">
                        <option value="">---------</option>
                        {% for form in forms %}
                        <option {% if prog.form.id == form.id %}selected{% endif %} value="{{ form.id }}">{{ form.title }}</option>
                        {% endfor %}
                    </select>
                </div>
				
				<div class="slider_body_property_name">Периодичность занятий</div><div class="slider_body_property_value"><input name="period" value="{{ prog.period|default:"" }}"></div>
{% comment %}
				<div class="slider_body_property_value">
                        <select name="period">
                            <option value="-1">---------</option>
                        {% for period in periods %}
                            <option {% if prog.period.id == period.id %}selected{% endif %} value="{{ period.id }}">{{ period.title }}</option>
                        {% endfor %}
                    </select>
                    </div>
{% endcomment %}
					<div class="slider_body_body_line"><input type="submit" value="Сохранить"> </div>
                </form>


            </div>
            <div class="clear"></div>
        </div>

        {% endfor %}
    </div>

   </div>

<div class="item" id="recruitments">
    <div class="personal_card_header"><label>Информация о наборе групп</label><div type="recruitment" title="Создать новый набор" class="icon create_item"></div><div type="recruitments" title="Свернуть" class="icon collapse"></div></div>
<div class="personal_card_content stretchable" type="recruitments">
    {% for recruitment in recruitments %}
    <div class="slider_item institute_slider_item" item="item_{{ recruitment.id }}">
        <label class="slider_item_main_label_half">{{ recruitment.institute_program.program.name }}</label>
        <label class="slider_item_main_label_half2">отбор открыт на <span>{{ recruitment.begin_date|default:"-"|date:"d.m.Y" }}<span></label>
        <div  item="recruitment_{{ recruitment.id }}" class="slider_arrow arrow_down"></div>
        <div class="slider_body" item="recruitment_{{ recruitment.id }}">
            <form action="{% url 'recruitment-edit' recruitment.id %}" id="{{ recruitment.id }}"  class="recruitment" method="post">
                {% comment %}<div class="slider_body_property_name">Срок действия акредитации</div><div class="slider_body_property_value"><input class="datepicker" name="accreditation_finish" value="{{ prog.accreditation_finish|default:"-"|date:"d.m.Y" }}"></div>{% endcomment %}
                <div class="slider_body_property_name">Стоимость подготовки</div><div class="slider_body_property_value"><input name="price" value="{{ recruitment.price|default:""|floatformat }}"></div>
                <div class="slider_body_property_name">Тип оплаты</div>
                <div class="slider_body_property_value">
                    <select name="payment_type">
                        <option value="">---------</option>
                        {% for payment in payments %}
                        <option {% if recruitment.payment_type.id == payment.id %}selected{% endif %} value="{{ payment.id }}">{{ payment.title }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="slider_body_property_name">Валюта</div>
                <div class="slider_body_property_value">
                    <select name="currency">
                        <option value="">---------</option>
                        {% for currency in currencys %}
                        <option {% if recruitment.currency.id == currency.id %}selected{% endif %} value="{{ currency.id }}">{{ currency.title }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="slider_body_property_name">Дата начала набора</div><div class="slider_body_property_value"><input class="datepicker" name="begin_date" value="{{ recruitment.begin_date|default:"-"|date:"d.m.Y" }}"></div>
                <div class="slider_body_property_name">Форма обучения</div>
                <div class="slider_body_property_value">
                    <select name="form">
                        <option value="">---------</option>
                        {% for form in forms %}
                        <option {% if recruitment.form.id == form.id %}selected{% endif %} value="{{ form.id }}">{{ form.title }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="slider_body_property_name">Периодичность занятий</div><div class="slider_body_property_value"><input name="periodicity" value="{{ recruitment.periodicity|default:"" }}"></div>
{% comment %}           
		   <div class="slider_body_property_value">
                    <select name="periodicity">
                        <option value="">---------</option>
                        {% for period in periods %}
                        <option {% if recruitment.periodicity.id == period.id %}selected{% endif %} value="{{ period.id }}">{{ period.title }}</option>
                        {% endfor %}
                    </select>
                </div>
{% endcomment %}
                <div class="slider_body_body_line"><input type="submit" value="Сохранить"> </div>
            </form>
        </div>
        <div class="clear"></div>
    </div>

    {% endfor %}
</div>

</div>

<div class="item" id="group">
    <div class="personal_card_header"><label>Обучаемые группы</label><div type="group" title="Свернуть" class="icon collapse"></div></div>

    <div class="personal_card_content" type="group">
              <label class="groups_sub_header">Первичная подготовка</label>
            </div>

            <div class="personal_card_content scrollable height100" type="group">
                {% for item in basegroups %}
                    <div class="scroll_item {% cycle '' 'gray_background' %}" item="{{ item.id }}">
                    <label><a href="/edu/group/{{ item.id }}/">{{ item.name }}</a></label>
                        <!--<div type="group" item="{{ item.id }}"  title="Просмотреть" class="icon view_item"></div><div type="group" item="{{ item.id }}"  title="Архив" class="icon archive_item"></div>-->
                        <div type="group" item="{{ item.id }}"  title="Редактировать" class="icon edit_item"></div>
                        <div type="group" item="{{ item.id }}"  title="Удалить" class="icon delete_item"></div>
                        </div>
                {% endfor %}
            </div>

            <div class="personal_card_content" type="group">
              <label class="groups_sub_header">Повышение квалификации</label>
            </div>

            <div class="personal_card_content scrollable height100" type="group">
                {% for item in upgroups %}
                    <div class="scroll_item {% cycle '' 'gray_background' %}" item="{{ item.id }}">
                    <label><a href="/edu/group/{{ item.id }}/">{{ item.name }}</a></label>
                        <!--<div type="group" item="{{ item.id }}"  title="Просмотреть" class="icon view_item"></div><div type="group" item="{{ item.id }}"  title="Архив" class="icon archive_item"></div>-->
                        <div type="group" item="{{ item.id }}"  title="Редактировать" class="icon edit_item"></div><div type="group" item="{{ item.id }}"  title="Удалить" class="icon delete_item"></div></div>
                {% endfor %}
            </div> 

</div>

<div class="item" id="requests">
    <div class="personal_card_header"><label>Запросы на обучение</label><div type="requests" title="Свернуть" class="icon collapse"></div></div>

    <div class="personal_card_content scrollable" type="requests">
        {% for item in requests %}
        <div class="scroll_item"><label>{{ item.student }}  {{ item.edu_programme }}</label>{% comment %}<div type="region" item="{{ item.id }}"  title="Редактировать" class="icon edit_item"></div>{% endcomment %}</div>
        {% endfor %}
    </div>

</div>


    {% else %}
       <!--============================================================ STUDENT ===============================================-->


    <div  class="item" id="profile_card">
        <div class="personal_card_header"><label>Карточка профиля</label><div type="profile" item="{{ item.slug }}"  title="Редактировать" class="icon  edit_block"></div><div type="profile" title="Свернуть" class="icon collapse"></div></div>

        <div class="personal_card_content stretchable" type="profile">
            <div class="info_item"><label>ФИО :</label><label>{{ student.get_fio }}</label></div>
            <!--<div class="info_item"><label>Город обучения :</label><label>{{ student.study_city|default:"" }}</label></div>-->
            <div class="info_item"><label>Номер квалификационного аттестата :</label><label>{{ student.attestat_number|default:"" }}</label></div>
            <div class="info_item"><label>Дата выдачи квалификационного аттестата:</label><label>{{ student.attestat_date|default:"" }}</label></div>
            <div class="info_item"><label>Срок действия квалификационного аттестата :</label><label>{{ student.attestat_length|default:"" }}</label></div>
            <div class="info_item"><label>Номер членского билета :</label><label>{{ student.membership_number|default:"" }}</label></div>
            {% if not user.is_ipr %}
            <div class="info_item"><label>Образование :</label><label>{{ student.education|default:"" }}</label></div>
            {% endif %}
            <!--Редактировать-->
            <div class="info_item"><label>Место работы :</label><label>{{ student.job_place|default:"" }}</label></div>

        </div>

    </div>


    <div   class="item" id="study">
        <div class="personal_card_header"><label>Обучение</label><div type="study" title="Свернуть" class="icon collapse"></div></div>

        <div class="personal_card_content stretchable" type="study">
            {% if user.is_ipr %}
            <!--============================================================ IPR ===============================================-->
            {% if student.rejected %}
            <div class="info_item"><h2>Ваша заявка отклонена администратором</h2></div>

            {% elif not student.confirmed %}
            <!--============================================================ NO CONFIRMED ===============================================-->
               <div class="info_item"><span>Вы не утверждены еще в качестве налогового консультанта администрацией сайта</span></div>

            {% elif not student.user.has_edu_request %}
            <!--============================================================ CONFIRMED NO HAVE EDU REQUEST ===============================================-->
            <div class="info_item"><span>Вы не не выбрали образовательную программу. <a href="/">Перейти к поиску программы</a></span></div>

              {% else %}
            <!--============================================================ CONFIRMED HAVE EDU REQUEST ===============================================-->

            <div class="info_item"><label>Город :</label><label>{{ student.study_request.institute_program.institute.city }}</label></div>
            <div class="info_item"><label>Учебное заведение :</label><label>{{ student.study_request.institute_program.institute }}</label></div>
            <div class="info_item"><label>Образовательная программа :</label><label>{{ student.study_request.institute_program.program }}</label></div>
            <div class="info_item"><label>Группа :</label><label>{% if not group %}Не сформирована{% else %} {{ group.group }}{% endif %}</label></div>

             {% endif %}

            {% else %}
            <!--============================================================ SYMPLE STUDENT ===============================================-->

            <div class="info_item"><label>Город :</label><label>{{ student.study_request.institute_program.institute.city }}</label></div>
            <div class="info_item"><label>Учебное заведение :</label><label>{{ student.study_request.institute_program.institute }}</label></div>
            <div class="info_item"><label>Образовательная программа :</label><label>{{ student.study_request.institute_program.program }}</label></div>
            <div class="info_item"><label>Группа :</label><label>{% if not group %}Не сформирована{% else %} {{ group.group }}{% endif %}</label></div>


            {% endif %}
        </div>


    </div>


    <div  class="item" id="personal_data">
        <div class="personal_card_header"><label>Персональные данные</label><div type="personal" title="Свернуть" class="icon collapse"></div></div>

        <div class="personal_card_content stretchable" type="personal">
            <div class="info_item"><label>Серия и номер паспорта :</label><label>{{ student.passport }}</label></div>
            <div class="info_item"><label>Кем выдан :</label><label>{{ student.passport_when_gave }}</label></div>
            <div class="info_item"><label>Когда выдан :</label><label>{{ student.passport_who_gave }}</label></div>
            <div class="info_item"><label>Код подразделения :</label><label>{{ student.passport_code }}</label></div>
            <div class="info_item"><label>Дата рождения :</label><label>{{ student.birthday }}</label></div>
            <div class="info_item"><label>Почтовый адрес :</label><label>{{ student.postaddress }}</label></div>
            <div class="info_item"><label>Электронная почта :</label><label>{{ student.user.email }}</label></div>
            <div class="info_item"><label>Телефон :</label><label>{{ student.telephone }}</label></div>
        </div>

    </div>


    <div  class="item" id="accounting">
        <div class="personal_card_header"><label>Бухгатерия</label><div type="accounting" title="Свернуть" class="icon collapse"></div></div>

        <div class="personal_card_content" type="accounting">

        </div>

    </div>

    {% endif %}
{% endblock %}