.ui-widget-content {
    border: 0px !important;
    color: #555 !important;
}

.ui-widget-header {
    background: none !important;
    border: 0px !important;
}

.ui-tabs-nav {
    padding: 0 !important;
}


.ui-state-default {
    position: relative;
    z-index: 100;
    background: #d8d8d8 !important;
    height: 29px !important;
    padding: 0 16px !important;
    margin: 1px -21px 0px 21px !important;

    border: 0px !important;
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 0px !important;
}

.ui-state-default:before,
.ui-state-default:after{
    content: " ";
    position: absolute;
    bottom: 0;
    display: block;
    width: 21px;
    height: 29px;
}

.ui-state-default:before {
    z-index: 200;
    left: -21px;

    background: transparent url(img/tab_deflt_left.png) !important;
}

.ui-state-default:after {
    z-index: 100;
    right: -21px;

    background: transparent url(img/tab_deflt_right.png) !important;
}



.ui-state-default a {
    font-weight: bold !important;
    color: #1e5799 !important;

    font-size: 12px;
}

.ui-state-active {
    z-index: 300;
    background: #eaeaea !important;
}

.ui-state-active:before {
    z-index: 300;
    left: -21px;

    background: transparent url(img/tab_active_left.png) !important;
}

.ui-state-active:after {
    z-index: 300;
    right: -21px;

    background: transparent url(img/tab_active_right.png) !important;
}



.ui-state-active a {
    color: #555 !important;
}

.ui-tabs-panel {
    /*-webkit-border-radius: 0 10px 10px 10px;*/
    /*-moz-border-radius: 0 10px 10px 10px;*/
    /*border-radius: 0 10px 10px 10px;*/

    background: #eaeaea url(img/form_background.png) !important;
}
