<div class="captcha_block">
<img src="{{ yacaptcha_img_url }}" ><br>
<input type="text" name="yacaptcha_challenge_field" />
<input type='hidden' name='yacaptcha_response_field' value="{{ yacaptcha_response_field }}"/>
</div>
