{% load url from future %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <!--[if IE]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <title></title>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>


    <!--<link rel="stylesheet" href="/media/style.css" type="text/css"/>-->
    <link rel="stylesheet" href="/media/css/style.css" type="text/css"/>

    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css"/>
    
	{% block include %}

        <script src="/media/js/raphael-min.js"></script>
        <script src="/media/js/russia_path.js"></script>
        <script src="/media/js/init_russia.js"></script>
        <link rel="stylesheet" href="/media/css/select_tabs.css" type="text/css"/>


    {% endblock %}



    <script>
	    
		var id_region_val = -1;
        var id_city_val = -1;
        var id_program_val = -1;
        var id_institute_val = -1;

        var level = {% if not user.is_authenticated %}'B'{% else %}'U'{% endif %};
	
	
        $(document).ready(function () {
		    
		$(function () {
            $("#tabs").tabs();
        });
		
		function changing_tabs() {
        $('#region_register_layout').show();
        $('#programm_register_layout').hide();



        $('#choose_region').prop('checked', true);
        $('#choose_type :radio').change(function () {
            if (!this.checked)
                return;
            if (this.value == 'programm') {
                $('#region_register_layout').hide();
                $('#programm_register_layout').show();
            }
            else {
                $('#region_register_layout').show();
                $('#programm_register_layout').hide();
            }
        });
        };
			
			changing_tabs();

//        get_regions();
//        get_programms();

            search_type = '';
            select_region = '';
            select_city = '';
            select_program = '';
            select_univers = '';
				
		    $("#auth_button").click(function () {
                //$(".popup__wrapper").fadeIn('slow')
                open_auth_block();
               // return false;
            });
            $(".popup__closer").click(function () {
                $(".popup__wrapper").fadeOut('slow')
                return false;
            });
            $("#cancelAuth").click(function () {
                $(".popup__wrapper").css("display", "none");
                return false;
            });

            $(".input_label").click(function(){

                if ($(this).attr("id") == "registration"){

                    window.location = "{% url 'register_nalog_consult' %}";
                }else{


                }

            });
			
			$('.menu_li_management').click(function(){
			if($('.submenu#'+$(this).attr('id')).is(':visible')){
			$('.submenu#'+$(this).attr('id')).fadeOut('slow');
			}else{
            $('.submenu#'+$(this).attr('id')).fadeIn('slow');
			}
            return false;
			});

            {% block jquery_ready %}

            {% endblock %}
        });

        function open_auth_block(){
            $(".popup__wrapper").fadeIn('slow')
            return false;
        };

    </script>
	
	<style type="text/css" id="page-css">
	
	{% block page_style %}


    {% endblock %}
    </style>

    <!--[if lte IE 6]><link rel="stylesheet" href="style_ie.css" type="text/css" media="screen, projection" />
    <![endif]-->
</head>

<body>

<div id="wrapper">

    <header id="header">
        <div class="help-menu">
            <ul>
                <li><a href="{% url 'home' %}">Главная</a></li>
                {% if user.is_authenticated %}
				<li><a href="{% url 'changepass' %}">Сменить пароль</a></li>
				{% else %}
				<li><a href="#">О ПНК</a></li>
				{% endif %}
                <li><a href="#">Контакты</a></li>
            </ul>
        </div>

        <div id="header_main">
            <div id="header_logo">
                <a href="/"><img src="/media/img/ipr_pnk_logo.png"></a>
            </div>

            <div id="header_ad">
                Рекламный блок
            </div>

            <div id="auth_block">

                {% include 'auth_block.html' %}

            </div>

        </div>
    
	<div class="clear"></div>
    </header>
    <!-- #header-->

    <section id="middle">

        <div id="container">
            <div id="content">
                <div id="content_urlpath"><a href="/">Главная</a>{% block urlpath %}{% if not user.is_authenticated or not user.is_admin %} / Поиск{% endif %}{% endblock %}</div>
            </div>

            <div id="main_content">
                {% block content %}

                <div class="main_block">
                <h1> Информационно-поисковый ресурс ПНК</h1>
                <section class="main_section" id="">Палата налоговых консультантов - профессиональное сообщество налоговых консультантов, член Европейской конфедерации налоговых консультантов (CFE).

                    Палата налоговых консультантов зарегистрирована 9 января 2002 года.</section>
                </div>

                <div class="main_block">
                <h1>Аккредитованные образовательные организации на карте России</h1>
                
				    <form id="organization_filter" action="{% url 'organizations' %}" method="POST" style="display: none">
                    <input type="text" name="region">
                    </form>
					
					
                    <div id="map"></div>
					
					<div id="region_statistic" style="display:none"><div id="triangle"></div><div id="static_data"></div></div>
                        {% if user.is_authenticated and user.is_admin %}

                {% elif user.is_authenticated and user.is_curator %}

                {% elif user.has_edu_request %}

                {% else %}
                    <div class="clear"></div>
                    
					<div id="tabs">
					
					{% include 'main_tab_filtering.html' %}


                    </div>
				{% endif %}	
                </div>
                
                {% endblock %}
            </div>


            <!-- #content-->
        </div>
        <!-- #container-->

        <aside id="sideLeft">
            <div id="side_main_menu">
                <img src="/media/img/ipr_menu_border_top.png">
                {% include 'main_menu.html' %}
                <img src="/media/img/ipr_menu_border_bottom.png">

            </div>
        </aside>
        <!-- #sideLeft -->

    </section>
    <!-- #middle-->

</div>
<!-- #wrapper -->

{% block hide_body_area %}

{% endblock %}


<footer id="footer">
    <div id="footer_logo">
        <a href="/"><img src="/media/img/ipr_pnk_logo.png"></a>
    </div>

    <div id="footer_main">
        <div class="help-menu hm-bottom">
            <ul>
                <li><a href="{% url 'home' %}">Главная</a></li>
                <li><a href="{% url 'register_nalog_consult' %}">Регистрация</a></li>
                <li><a href="{% url 'program_catalog' %}">Каталог программ</a></li>
                <li><a href="#">Статистика</a></li>
                <li><a href="#">Настройки</a></li>
                <li><a href="#">Помощь</a></li>
                <li><a href="#">Контакты</a></li>
            </ul>
        </div>
        <h4>Информационно-поисковый ресурс<br/>
            Палаты налоговых консультантов</h4>

        <div id="copyright">
            Палата налоговых консультантов (c) 2009-2013. Все права защищены.
        </div>
    </div>
</footer>
<!-- #footer -->

</body>
</html>
