{% extends "todo.html" %}
{% load todo_extras %}

{% block extra_media %}
{{f.media}}
{% include "extra_css.html" %}
{% endblock %}

{% block title %}{{project}}{% endblock %}

{% block left %}

<div>
<b>Автор</b><br />
<span>{{project.author|username}}</span>
</div>
<div class="top-indent">
<b>Дата создания</b><br />
<span>{{project.created_at|format_date:"short"}}</span>
</div>
{% if user.is_admin %}
	{% include "todo/project_actions.html" %}
{% endif %}

{% endblock %}

{% block content %}
<div id="task-container" style="padding-bottom:0">
<h2 id="task-title">{{project.title}}</h2>
{% if project.info %}
<div id="task-info">{{project.info|sanitize}}</div>
<div style="color:#000; padding: 5px 0">
<b>Участники:</b> {% for member in project.users.all %}{{member|username}}{% if not forloop.last %}, {% endif %}{% endfor %}
</div>
{% endif %}

<div id="task-action">
<a href="{% url "todo_tasks_list" %}?project_id={{project.id}}&folder=all" class="bigger"><i>Задачи проекта</i></a>
({{project.tasks_count}}{%if project.tasks_active_count%}, <b>{{project.tasks_active_count}}</b>{% endif %})
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a href="{% url "todo_projects_list" %}" class="bigger">Назад к списку проектов</a>
</div>
</div>

<a name="files"></a>
{% include "todo/files.html" %}

{% endblock %}