{% extends "todo.html" %}
{% load todo_extras %}

{% block title %}Нельзя удалить проект "{{project}}"{% endblock %}

{% block left %}
<a href={% url projects_list %}>&larr; Назад к проектам</a>
{% endblock %}

{% block content %}
<big>Проект <a href="{% url "todo_project_details" project.id %}">{{ project.title }}</a> содержит задачи ({{project.tasks_count}}), поэтому его нельзя удалить<big>.
{% endblock %}