{% extends "todo.html" %}

{% block extra_media %}
<link href="/media/opentodo_media/forms.css" type="text/css" media="all" rel="stylesheet" />
<link href="/media/opentodo_media/ui.datepicker.css" type="text/css" media="all" rel="stylesheet" />
<script type="text/javascript" src="/media/opentodo_media/jquery.formvalidation.1.1.5.js"></script>
<script type="text/javascript" src="/media/opentodo_media/ui.datepicker.js"></script>
{% endblock %}

{% block title %}{% if add %}Добавление задачи{% else %}Редактирование задачи "{{task}}"{% endif %}{% endblock %}

{% block content %}

<h1>{% if add %}Добавление{% else %}Редактирование{% endif %} задачи</h1>

{% if no_available_projects %}
Нет проектов, в которые можно добавить задачу.<br />Обратитесь к администратору с просьбой включить вас в команду проекта.
{% else %}
	{% include "todo/task_form.html" %}
{% endif %}

{% endblock %}