<br />
<a href="{% url "todo_edit_task" task.id %}"><img src="/media/opentodo_media/img/pencil.gif" alt="" width="16" height="16" title="редактировать" /></a>&nbsp;&nbsp;<a href="javascript:if(confirm('Удалить задачу?')) location.href='{% url "todo_delete_task" task.id %}'" style="color:red"><img src="/media/opentodo_media/img/cross.gif" alt="" width="16" height="16" title="удалить" /></a>