{% load todo_extras %}
<script type="text/javascript"> 
$(document).ready(function(){
	load_users();

	$('#id_deadline').attachDatepicker({showOn:'both', buttonImage:'/media/opentodo_media/img/calendar.gif', buttonImageOnly:true});

	$("#id_project").attr("required", "true");
	$("#id_title").attr("required", "true");
	$("#id_deadline").attr("mask", "datemask");
	
	$('#editform').formValidation({
		err_class: "invalidInput",
		display_alert: false,
		datemask : /[0-9]{4}-[0-9]{2}-[0-9]{2}/
	});

	$("select#id_project").change(function(){
		load_users();
	});
});

function load_users() {
	$.getJSON("{% url "todo_json_project_users" %}",{id: $('#id_project :selected').val(), ajax: 'true'}, function(j){
		$("#loader").show();

		selected_id = {% if add %}{{user.id}}{% else %}{{task.assigned_to.id}}{% endif %}

		var options = '';
		for (var i = 0; i < j.length; i++) {
			options += '<option value="' + j[i].optionValue + '"';
			if (j[i].optionValue == selected_id) {
				options += ' selected="selected"';
			}
			options += '>' + j[i].optionDisplay + '</option>';
		}
		$("select#id_assigned_to").html(options);
		setTimeout(function() { $("#loader").hide(); }, 300);
	})
}
</script>

<div class="formErrors">
	{% if form.project.errors %}Не выбран проект<br />{% endif %}
	{% if form.title.errors %}Не введена задача<br />{% endif %}
	{% if form.deadline.errors %}Формат даты в поле Срок должен быть yyyy-mm-dd<br />{% endif %}
</div>

<div class="editformWrapper" style="width:780px;">
<form method="post" id="editform">
	<table id="editform_table" cellspacing="0">
	<tr>
		<th><label for="id_project"><span class="red">*</span> Проект:</label></th>
		<td>{{form.project}}</td>
	</tr>
	<tr>
		<th><label for="id_title"><span class="red">*</span> Задача:</label></th>
		<td>{{form.title}}</td>
	</tr>
	<tr>
		<th style="padding-top: 30px"><label for="id_info">Описание:</label></th>
		<td>
		{% include "todo/wysiwyg.html" %}
		{{form.info}}</td>
	</tr>
	<tr>
		<th><label for="id_deadline">Срок:</label></th>
		<td>{{form.deadline}}</td>
	</tr>
	<tr>
		<th><label for="id_assigned_to">Ответственный:</label></th>
		<td>
		<select name="assigned_to" id="id_assigned_to"> 
		<option value="" selected="selected">---------</option>
	{% for u in users %}
		<option value="{{u.id}}"{% if add %}{% ifequal u.id user.id %} selected="selected"{% endifequal %}{% else %}{% ifequal u.id task.assigned_to.id %} selected="selected"{% endifequal %}{% endif %}>{{u|username}}</option> 
	{% endfor %}
		</select><img src="/media/opentodo_media/img/ajax-loader.gif" id="loader" style="padding-left:5px; display:none" />
		</td>
	</tr>
	<tr>
		<th>&nbsp;</th>
		<td style="padding-top:15px"><input type="submit" value="Сохранить задачу" class="button" /><a href="{% if add %}{% url "todo_tasks_list" %}{% else %}{% url "todo_task_details" task.id %}{% endif %}">отмена</a></td>
	</tr>
	</table>
</form>
</div>

{% if add %}
<script language="javascript">
if (document.getElementById('id_project').selectedIndex > 0) {
	document.getElementById('id_title').focus();
}
</script>
{% endif %}