{% load todo_extras %}

<!-- FILTER -->
<div id="hiddenModalContent" style="display:none;">
<form method="get" action="{% url "todo_tasks_list" %}">
<input type="hidden" name="filter" value="on" />
<div id="thickbox_filter_inner" style="padding:5px">

<div style="padding-bottom: 3px; padding-top: 11px">Автор:</div>
<select id="id_folder" name="author"{% ifequal folder 'outbox' %} disabled="disabled"{% endifequal%}>
	<option value="">Все</option>
{% for author in users %}
	<option value="{{author.id}}"{% ifequal folder 'outbox' %}{% ifequal author.id user.id %} selected="selected"{% endifequal %}{% else %}{% ifequal author.id params.author %} selected="selected"{% endifequal %}{% endifequal %}>{{author|username}}</option>
{% endfor %}
</select>

<div style="padding-bottom: 3px; padding-top: 11px">Ответственный:</div>
<select id="id_folder" name="assigned_to"{% ifequal folder 'inbox' %} disabled="disabled"{% endifequal%}>
	<option value="">Все</option>
{% for assigned_to in users %}
	<option value="{{assigned_to.id}}"{% ifequal folder 'inbox' %}{% ifequal assigned_to.id user.id %} selected="selected"{% endifequal %}{% else %}{% ifequal assigned_to.id params.assigned_to %} selected="selected"{% endifequal %}{% endifequal %}>{{assigned_to|username}}</option>
{% endfor %}
</select>

<div style="padding-bottom: 3px; padding-top: 11px">Статус задачи:</div>
<select id="id_folder" name="status">
	<option value="">Все</option>
	<option value="all_active"{% ifequal params.status 'all_active' %} selected="selected"{% endifequal %}>Активные</option>
	<option value="" disabled="disabled">------------------</option>
	{% for status in states %}<option value="{{status.id}}"{% ifequal params.status status.id %} selected="selected"{% endifequal %}>{{status.title}}</option>
	{% endfor %}
</select>

<div style="padding-bottom: 3px; padding-top: 11px">Найти в названии:</div>
<input type="text" value="{{params.search_title}}" name="search_title" id="search_title" style="width:200px" />

<div style="padding-top: 11px; width: 25%">
<nobr><input type="submit" value="  Применить  "  /> или <a href="{% url "todo_tasks_list" %}?filter=off" style="color:#3333cc;">сбросить</a></nobr>
</div>

</div>
</form>
</div>
<!-- /FILTER -->