{% load todo_extras %}

<script type="text/javascript">

$(document).ready(function() {
	$('#id_show_comment_form').click(function() {
		$(this).hide();
		$('.reply_to').remove();		
		$('.reply_all').show();
		$('textarea').click();
	});
});

function cancel_comment() {
	$('#id_show_comment_form').hide();
	$('.reply_to').remove();		
	$('.reply_all').show();	
}

function reply_to_new(comment_id) {
	var reply_form = $('.reply_all');
	var comment_block = '#id_comment_' + comment_id;
	var author = '#id_author_' + comment_id;
	var text = '';
	text = $(author).text() + ': ';

	extra_text = '<a href="javascript:cancel_comment();" class="cancel_comment" style="color: #555;">отмена</a><div style="display:inline; padding-left: 200px">для цитат используйте символ <big><b>&gt;</b></big> в начале строки</div>';

	$('.reply_to').remove();
	$(comment_block).append('<div class="reply_to" style="margin-left:10px">' + reply_form.html() + '</div>');
	$('.reply_to').find('textarea').focus();
	$('.reply_to').find('textarea').text(text);
	$('.reply_to').find('input:hidden').val(comment_id);
	$('.reply_to').find('span').html(extra_text);
	$('.reply_to').find(':submit').val('  Ответить  ');

	reply_form.hide();
	$('#id_show_comment_form').show();
}
</script>

<h1 style="padding-top:10px">Комментарии</h1>
{% if task.comments.all %}
<div id="comment-container">
{% for comment in task.comments.all %}
	<div class="comment" id="id_comment_{{comment.id}}">	
	<div id="id_message_{{comment.id}}">{{comment.message|sanitize}}</div>
	<div class="comment-extra">
		<span id="id_author_{{comment.id}}">{{comment.author|username}}</span>,
		<span id="id_dt_{{comment.id}}">{{comment.created_at|format_date}}</span>
		<span style="color:#777">&nbsp;(<a href="javascript:reply_to_new({{comment.id}});" style="font-size: 10pt; color: #5555aa;" class="comment_reply">ответить</a>)</span>
	{% ifequal comment.author user %}
		{% include "todo/comment_actions.html" %}
	{% else %}
		{% if perms.todo.delete_comment %}
			{% include "todo/comment_actions.html" %}
		{% endif %}
	{% endifequal %}
	</div>
	</div>
{% endfor %}
</div>
{% endif %}

<a href="#comment_form" style="font-size:130%; color:#999; text-decoration:none; border-bottom:1px dashed #999; display: none" id="id_show_comment_form">Написать комментарий</a>
<a name="comment_form"></a>
<div class="reply_all">
	<div class="editformWrapper" style="width:700px; margin-top:10px; padding-top:7px">
		{% include "todo/wysiwyg.html" %}
		<form method="post" action="{% url "todo_add_comment" task.id %}">
			<input type="hidden" name="reply_to" value="" />
			<textarea name="message" rows="7" cols="30" style="width:700px" id="id_msg_input"></textarea><br />
			<input type="submit" value="Добавить комментарий" class="button" />
			<span style="color: #aaa; font-size: 10pt"><!-- text here, use in jquery --></span>
		</form>
	</div>
</div>

<br />