<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>{#simplimg.insertimg_title}</title>
	<script type="text/javascript" src="http://ipr.palata-nk.ru/media/tiny_mce/tiny_mce_popup.js"></script>
	<script type="text/javascript" src="http://ipr.palata-nk.ru/media/tiny_mce/plugins/simplimg/js/dialog.js"></script>
</head>
<body onLoad="SimplimgDialog.insert()">

<form>
	<input id="someval" name="someval" type="text" value="{{ tag }}" class="text" /></p>
</form>

</body>
</html>
