{% extends "index.html" %}

{% block include %}
<link rel="stylesheet" href="/media/css/general_tabs.css" type="text/css"/>
<script type="text/javascript" src="/media/js/jquery-ui-1.8.18/development-bundle/ui/i18n/jquery.ui.datepicker-ru.js"></script>
<link rel="stylesheet" type="text/css" media="all" href="/media/css/cupertino/jquery-ui-1.8.18.custom.css" />
{% endblock %}


{% block jquery_ready %}

  $('.datepicker').datepicker();

    <!--$('a.delete').click(function(){-->
      <!--return (confirm('Вы действительно хотите удалить запись ?'));-->
    <!--});-->

{% endblock %}

{% block urlpath %} / <a href="{% url "personal_cabinet" %}">Личный кабинет</a>{% endblock %}

{% block content %}
   <h1>Администрирование</h1>

    {% if user.is_admin %}
        <!--============================================================ ADMIN ===============================================-->

   <div id="custom_tabs">
    <ul class="custom_tabs_list">
        <li><a href="#requests">Запросы на обучения</a></li>
        <li><a href="#others">Прочее</a></li>
    </ul>

       <div id="requests"  class="anytab">

           <div class="clear"></div>
           <form id="user_filter" method="POST" action="{% url 'eduadmin' %}#requests">
               {% include 'user_filter.html' with tabname="requests" %}
           </form>

           {% include 'edurequests_list.html' with without_institute=0 %}

           {% include 'pagination.html' %}
       </div>

       <div id="others" class="anytab">

           <table  class="search_table  width_800">

               {% include 'administration_item.html' with item_title="Формы обучения" item_type="mode" create="1" items=modes   %}

               {% include 'administration_item.html' with item_title="Результаты экзаменов" item_type="result" create="1" items=results   %}

               {% include 'administration_item.html' with item_title="Профессиональные статусы" item_type="profstatus" create="1" items=profstatuses   %}

               {% include 'administration_item.html' with item_title="Пункты меню" item_type="menuitem" create="1" items=menuitems   %}

               <thead>
               <th class="search_th font16" colspan="4">
                   Шаблоны для e-mail рассылок
               </th>

               </thead>

               {% for template_key, template_value in email_templates.items %}

               <tr>
                   <td  colspan="3"  class="font16">{{ template_value }}</td>

                   <td>
                       {% if template_key %}
                       <div class="search_button"><a href="{% url 'email-template-edit' template_key %}">Редактир.</a></div>
                       {% endif %}
                   </td>

               </tr>

               {% endfor %}

               <thead>
               <th class="search_th font16" colspan="4">
                   Общие тексты
               </th>

               </thead>

               {% for common_text in common_texts %}

               <tr>
                   <td  colspan="3"  class="font16">{{ common_text }}</td>

                   <td>
                       {% if common_text.slug %}

                       <div class="search_button"><a href="{% url 'common-text-edit' common_text.slug %}">Редактир.</a></div>

                       {% endif %}
                   </td>

               </tr>

               {% endfor %}

           </table>

       </div>

    </div>

    {% else %}

    {% endif %}
{% endblock %}