<thead>
<th class="search_th font16" colspan="2">{{ item_title }}</th>

<th class="search_th"  colspan="2">
    <div class="search_button"><a class="create" href="{% url 'eduadmin-new' item_type %}">Создать</a></div>
</th>
</thead>

{% for item in items %}
<tr>
    <td  colspan="2" class="font16">{{ item.title }}</td>

    <td>
        {% if item.id %}
        <div class="search_button"><a href="{% url 'eduadmin-edit' item_type item.id  %}">Редактир.</a></div>
        {% endif %}
    </td>

    <td>
        {% if item.id %}
        <div class="search_button"><a class="delete" href="{% url 'edu-item-del' item_type item.id %}">Удалить</a></div>
        {% endif %}
    </td>
</tr>
{% endfor %}