{% extends 'index.html' %}

{% block content %}

    <ul>
        {% for anounce in anouncement_list %}

            <li><a href="/anounce/current/{{ anounce.id }}/"> {{ anounce }}</a></li>

        {% endfor %}

    </ul>
{% endblock %}