{% block auth_block %}
    {% if user.is_authenticated %}
	    <label id="welcome">Здравствуйте, <span>{% if user.is_curator %}{{ curator.name }}{% else %}{{ user.last_name }} {{ user.first_name }}{% endif %}</span></label>
        <!--<form action="{% url 'logout' %}" id="logoutform" method="post">-->
            <!--{% csrf_token %}-->
            <!--<input type="hidden" value=window.location name="next">-->
            <!--<input type="submit" value="Выйти">-->
        <!--</form>-->
    {% else %}



        <div class="popup__wrapper">
            <a href="#" class="popup__closer">&#215;</a>

            <div class="popup__container">
                <div class="popupLogin preloadedPopup">
                    <form id="authform" method="post">
                        {% csrf_token %}
                        <div id="auth_error"></div>
                        <div class="line">
                            <input type="text" placeholder="Логин" name="login">

                            <div class="input_after">
                                <!--<div class="input_label" id="registration"> Регистрация</div>-->
                                <div class="input_label" id="remember_pass">
                                    <!--<a href="#" onclick="pass_forget_direct();">Забыли пароль?</a>-->
                                    <a href="{% url 'recovery-request' %}">Забыли пароль?</a>
                                </div>
                            </div>
                        </div>
                        <div class="line">
                            <input type="password" placeholder="Пароль" name="password" autocomplete="off">

                            <div class="input_after">
                                <input type="submit" value="Войти">
                            </div>

                        </div>
                    </form>
                </div>
            </div>
            <div class="popup__preloadedContainer" style="display:none;"></div>
        </div>

        <input type="submit" id="auth_button" value="Войти">

        <script>

            $('#authform').submit(function () {

                if ($('input:text[name=login]').val().length == 0) {
                    alert('Поле email не может быть пустым');
                }

                else if ($('input:password[name=password]').val().length == 0) {
                    alert('Поле пароль не может быть пустым');
                }
                else {
                    $.post('{% url "authorize" %}', $('#authform').serialize(), function (data) {
                        obj = JSON.parse(data);
						if (obj.status == 1){
						   document.location = obj.body;
						}else{
						   $('#auth_error').text(obj.body);
						}
					});

                }
                return false;
            });

        </script>

    {% endif %}


{% endblock %}