{% extends "index.html" %}

{% block title %}Образовательные программы{% endblock %}

{% block jquery_ready %}

{% endblock %}

{% block urlpath %} {% if user.is_authenticated %}/ <a href="{% url "personal_cabinet" %}">Личный кабинет</a>{% endif %} / {% include 'urlpath/url_program_catalog.html' %}{% endblock %}

{% block content %}
    <h1>Образовательные программы</h1>

{% if user.is_admin %}

<!--============================================================ ADMIN =================================================================-->

<div class="slider_item" item="catalog_program_filter">
    <form id="catalog_program_filter" method="POST" action="">
        {% csrf_token %}

        <label class="slider_item_main_label">Фильтр</label>
        <div  item="catalog_program_filter" class="slider_arrow arrow_down"></div>
        <div class="slider_body" item="catalog_program_filter">

            <div class="slider_row">
                <div class="slider_body_property_name">Выбрать регион :</div><div class="slider_body_property_value">
                <select id="region" name="region">
                    <option value="-1">--</option>
                    {% for item in regions %}
                    <option value="{{ item.id }}" {% if region|floatformat == item.id|floatformat %}selected{% endif %}>{{ item.name }}</option>
                    {% endfor %}
                </select></div>
                <div class="clear"></div>
            </div>

            <div class="slider_row">
                <div class="slider_body_property_name">Выбрать город :</div><div class="slider_body_property_value">
                <select id="city" name="city">
                    <option value="-1">--</option>
                    {% for item in cities %}
                    <option value="{{ item.id }}"  {% if city|floatformat == item.id|floatformat %}selected{% endif %} region="{{ item.region.id }}">{{ item.name }}</option>
                    {% endfor %}
                </select></div>
                <div class="clear"></div>
            </div>

            <div class="slider_row">
                <div class="slider_body_property_name">Выбрать образовательную организацию :</div><div class="slider_body_property_value">
                <select id="institute" name="institute">
                    <option value="-1">--</option>
                    {% for item in institutes %}
                    <option value="{{ item.id }}"  {% if institute|floatformat == item.id|floatformat %}selected{% endif %} city="{{ item.city.id }}" region="{{ item.city.region.id }}">{{ item.name }}</option>
                    {% endfor %}
                </select></div>
                <div class="clear"></div>
            </div>

            <div class="slider_row">
            <div class="filter_short">Только программы с семинарами</div>
            <div class="filter_short">
                <div class="slider_item_main_checkbox {% if only_seminars == 1 %}checked{% endif %}">
                    <input type="checkbox" name="only_seminars" {% if only_seminars == 1 %}checked{% endif %} value="1"  style="display: none">
                </div>
            </div>

                <div class="filter_short">Только программы ПНК</div>
                <div class="filter_short">
                    <div class="slider_item_main_checkbox {% if only_pnk == 1 %}checked{% endif %}">
                        <input type="checkbox" name="only_pnk" {% if only_pnk == 1 %}checked{% endif %} value="1"  style="display: none">
                    </div>
                </div>

            <div class="clear"></div>
            </div>
        </div>
        <div class="clear"></div>
    </form>
</div>

  {% endif %}

    <div id="custom_tabs">
    <ul  class="custom_tabs_list">
        <li><a href="#begin">Подготовка налоговых консультантов {% if user.is_admin%}({{ student_programs|length }}){% endif %}</a></li>
        <li><a href="#increase">Повышение квалификации налоговых консультантов {% if user.is_admin%}({{ ipr_programs|length }}){% endif %}</a></li>
    </ul>


    {% if user.is_admin %}

        <div id="begin" class="anytab">
        <table  class="search_table width_800">
            {% for item in student_programs %}
            <tr>
                <td  colspan="2"><a href="{% url 'edu-program' item.id  %}" class="link_as_text">{{ item.name }}</a></td>

                <td>
                    {% if item.id %}
                    <div class="search_button"><a href="{% url 'edu-program' item.id  %}">Редактир.</a></div>
                    {% endif %}
                </td>

                <td>
                    {% if item.id %}
                    <div class="search_button"><a class="delete" href="{% url 'edu-item-del' 'program' item.id %}">Удалить</a></div>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}

        </table>
        </div>

        <div id="increase" class="anytab">
            <table  class="search_table width_800">
                {% for item in ipr_programs %}
                <tr>
                    <td  colspan="2"><a href="{% url 'edu-program' item.id  %}"  class="link_as_text">{{ item.name }}</a></td>

                    <td>
                        {% if item.id %}
                        <div class="search_button"><a href="{% url 'edu-program' item.id  %}">Редактир.</a></div>
                        {% endif %}
                    </td>

                    <td>
                        {% if item.id %}
                        <div class="search_button"><a class="delete" href="{% url 'edu-item-del' 'program' item.id %}">Удалить</a></div>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}

            </table>
        </div>

    {% else %}

        <!--======================================================================  OTHERS ===========================================================-->
        <div id="begin" class="anytab">

            {% for item in student_programs %}

            {% include 'program_item_in_catalog.html' with item=item %}
            
		    {% endfor %}
			
        </div>

        <div id="increase" class="anytab">

            {% for item in ipr_programs %}

            {% include 'program_item_in_catalog.html' with item=item %}

            {% endfor %}
        </div>

    {% endif %}

    </div>

{% endblock %}

{% block right_button_panel %}
{% if user.is_admin %}

<tr>
    <td><input type="submit" form="catalog_program_filter" value="Поиск" /></td>
</tr>
<tr>
    <td>
        <form action="{% url 'program-new' %}" method="GET">
            <input type="submit" value="+ программа" />
        </form>
    </td>
</tr>



{% endif %}
{% endblock %}
