{% extends "personal_cabinet.html" %}

{% block jquery_ready %}

$('#id_telephone').mask('+7 (999) 999-9999');
<!--$('#id_passport_when_gave').datepicker();-->
$('#id_date_ended').datepicker();
 
{% endblock %}

{% block include %}
<script type="text/javascript" src="/media/js/jquery-ui-1.8.18/development-bundle/ui/i18n/jquery.ui.datepicker-ru.js"></script>
<link rel="stylesheet" type="text/css" media="all" href="/media/css/cupertino/jquery-ui-1.8.18.custom.css" />
<script type="text/javascript" src="/media/js/jquery.maskedinput.js"></script>
{% endblock %}

{% block urlpath %} {{ block.super }} / <a href="{% url 'changeprivate' %}" %}">Персональные данные</a> {% endblock %}

{% block caption %}
{% endblock %}

{% block slow_button_panel %}
{% endblock %}

{% block content %}
    
	<div class="item">
      <div class="personal_card_header"><label>Персональные данные</label>
	  </div>
      <div class="personal_card_content stretchable">

          <!--{ if student.private_is_empty }-->

          <!--<div style="text-align: center;">Заполните, пожалуйста, информацию</div>-->

          <!--{ endif }-->

      {% include 'errors_and_messages.html' %}

    <form action="" method="POST" class="editform">{% csrf_token %}
        {% include 'form_loop.html' %}
		<div class="row last">
            <input type="submit" value="{% if item.id %}Изменить{% else %}Сохранить{% endif %}" />
        </div>
</form>
</div>
    </div>
{% endblock %}

{% block right_button_panel %}
{% endblock %}