{% extends "index.html" %}

{% block jquery_ready %}

$("a#go_auth").click(function(){
    open_auth_block();
    scrollTo($(".popup__wrapper").top,$(".popup__wrapper").left);
    return false;
});

{% endblock %}

{% block content %}

      <div class="personal_card_header"><label>Авторизация</label></div>

      <div class="personal_card_content stretchable" type="personal">
        <h2>Уважаемый, {{ fio }} , вы успешно изменили пароль</h3>
        <h3>Для дальнейшей работы, пожалуйста, <a href="#" id="go_auth">авторизуйтесь</a></h3>
      </div>
{% endblock %}