{% extends "personal_cabinet.html" %}

{% block include %}
{% include 'captcha_include.html' %}
{% endblock %}

{% block jquery_ready %}

{% endblock %}

{% block urlpath %} {{ block.super }} / <a href="{% url 'changemail' %}">Сменить e-mail</a> {% endblock %}

{% block caption %}
{% endblock %}

{% block slow_button_panel %}
{% endblock %}

{% block content %}

    <div class="item">
      <div class="personal_card_header"><label>Смена e-mail</label>
	  </div>
      <div class="personal_card_content stretchable">

    {% include 'errors_and_messages.html' %}
    <form action="" method="POST" class="editform">
        {% csrf_token %}
        {% include 'form_loop.html' %}

        <div class="row last">
            <input type="submit" value="Сохранить" />
        </div>
</form>
</div>
    </div>

{% endblock %}

{% block right_button_panel %}
{% endblock %}