{% extends "personal_cabinet.html" %}

{% block include %}
<link rel="stylesheet" href="/media/css/general_tabs.css" type="text/css"/>

{% include 'captcha_include.html' %}
{% endblock %}

{% block jquery_ready %}

$('.institute').submit(function () {

if ($(this).find('input[name="password"]').val().length == 0){

alert("Введите пароль");
return false;
}


if ( $(this).find('input[name="password"]').val() != $(this).find('input[name="password2"]').val()){

alert("Пароли не совпадают!");
return false;
}

$.post('/auth/masschangepass/'+$(this).attr('id')+'/', $(this).serialize(), function (data) {
obj = JSON.parse(data);
if (obj.status == 1){
alert("Пароль изменен успешно!");
}else{
alert("Ошибка, данные некорректны");
}
});

return false;
});

{% endblock %}


{% block urlpath %} {{ block.super }} / <a href="{% url 'changepass' %}">Сменить пароль</a> {% endblock %}

{% block caption %}
{% endblock %}

{% block slow_button_panel %}
{% endblock %}

{% block content %}

    <div class="item">
        <h1>Смена пароля</h1>

        {% if user.is_admin %}
        <div id="custom_tabs">
            <ul class="custom_tabs_list">
                <li><a href="#my">Личный пароль</a></li>
                <li><a href="#institute">Пароли организаций</a></li>
                <li><a href="#users">Пароли пользователей</a></li>
            </ul>

            <div id="my"  class="anytab">

                <div class="personal_card_content stretchable">
                    {% include 'errors_and_messages.html' %}
                    <form action="" method="POST" class="editform">
                        {% csrf_token %}
                        <input type="hidden" value="my" name="tab">
                        {% include 'form_loop.html' %}
                        <div class="row last">
                            <input type="submit" value="Сохранить" />
                        </div>
                    </form>
                </div>

            </div>

            <div id="institute"  class="anytab">

                <div class="clear"></div>

                {% for institute in organizations %}
                <div class="slider_item institute_slider_item" item="item_{{ institute.id }}">
                    <label class="slider_item_main_label_half">{{ institute.name }}</label>
                    <label class="slider_item_main_label_half2"><span>{{ institute.curator }}{% if institute.fio|cut:" "|length > 0 %} / {{ institute.fio }}{% endif %}</span></label>
                    <div  item="institute_{{ institute.id }}" class="slider_arrow arrow_down"></div>
                    <div class="clear"></div>
                    <div class="slider_body" item="institute_{{ institute.id }}">
                        <form action="{% url 'changepass-inst' institute.curator.id %}" id="{{ institute.curator.id }}"  class="institute" method="POST">
                            <div class="slider_body_property_name">Пароль</div><div class="slider_body_property_value" ><input name="password" type="password" value="" autocomplete="off"></div>
                            <div class="slider_body_property_name">Подтвердите пароль</div><div class="slider_body_property_value"><input name="password2" value="" type="password" autocomplete="off"></div>
                            <div class="slider_body_property_name"></div><div class="slider_body_property_value"><input type="submit" value="Сохранить"></div>
                        </form>
                        <div class="clear"></div>
                    </div>
                    <div class="clear"></div>
                </div>

                {% endfor %}

            </div>

            <div id="users"  class="anytab">

                <div class="clear"></div>
                <form id="user_filter" method="POST" action="{% url 'changepass' %}#users">
                    {% include 'user_filter.html' with tabname="users" %}
                </form>

                {% for student in students %}
                <div class="slider_item institute_slider_item" item="item_{{ student.user.id }}">
                    <label class="slider_item_main_label_half">{{ student.get_fio }} <br>{{ student.user.email }}</label>
                    <label class="slider_item_main_label_half2"><span>{{ student.attestat_number|default:"" }}</span></label>
                    <div  item="user_{{ student.user.id }}" class="slider_arrow arrow_down"></div>
                    <div class="clear"></div>
                    <div class="slider_body" item="user_{{ student.user.id }}">
                        <form action="{% url 'changepass-inst' student.user.id %}" id="{{ student.user.id }}"  class="institute" method="POST">
                            <div class="slider_body_property_name">Пароль</div>
                            <div class="slider_body_property_value" ><input name="password" type="password" value="" autocomplete="off"></div>
                            <div class="slider_body_property_name">Подтвердите пароль</div>
                            <div class="slider_body_property_value"><input name="password2" value="" type="password" autocomplete="off"></div>
                            <div class="slider_body_property_name"></div>
                            <div class="slider_body_property_value"><input type="submit" value="Сохранить"></div>
                        </form>
                        <div class="clear"></div>
                    </div>
                    <div class="clear"></div>
                </div>

                {% endfor %}

                {% include 'pagination.html' %}

            </div>

        </div>

        {% else %}

      <div class="personal_card_content stretchable">

    {% include 'errors_and_messages.html' %}
    <form action="" method="POST" class="editform">{% csrf_token %}
        {% include 'form_loop.html' %}
        <div class="row last">
            <input type="submit" value="Сохранить" />
        </div>
    </form>
    </div>
        {% endif %}
    </div>

{% endblock %}

{% block right_button_panel %}
{% endblock %}