{% extends "personal_cabinet.html" %}

{% block include %}
{% endblock %}

{% block jquery_ready %}
{% endblock %}

{% block urlpath %} {{ block.super }} {% if item %}/ <a href="{% url "common-text-edit" item.slug %}">{{ item }}</a>{% endif %}
{% endblock %}

{% block caption %}
{% endblock %}

{% block slow_button_panel %}
{% endblock %}

{% block content %}
{% if user.is_admin %}

<h1>{{ item }}</h1>
<div class="bumper"></div>

<div class="sticker_view_body">

    <!--<section class="sticker_view_preview">-->
        <!--{{ item.preview|safe }}-->
    <!--</section>-->


    <section class="sticker_view_content">
        {{ content|safe }}
    </section>

</div>

{% endif %}
{% endblock %}

{% block right_button_panel %}
{% endblock %}
