{% extends "index.html" %}

{% block title %}Новости.{{ item.title }}{% endblock %}

{% block page_style %}

.tab_content{
margin-top: 10px;
}

{% endblock %}

{% block jquery_ready %}

{% endblock %}

{% block urlpath %} / <a href="{% url 'common-text-view' item.slug %}">{{ item }}</a>{% endblock %}

{% block content %}
<h1>{{ item }}</h1>

<div class="sticker_view_body">

    <!--<section class="sticker_view_preview">-->
        <!--{{ item.preview|safe }}-->
    <!--</section>-->


    <section class="sticker_view_content">
        {{ item.content|safe }}
    </section>

</div>

{% endblock %}

