{% extends "personal_cabinet.html" %}

{% block include %}
<script type="text/javascript" src="/media/js/jquery-ui-1.8.18/development-bundle/ui/i18n/jquery.ui.datepicker-ru.js"></script>
<link rel="stylesheet" type="text/css" media="all" href="/media/css/cupertino/jquery-ui-1.8.18.custom.css" />
<script type="text/javascript" src="/media/tiny_mce/tiny_mce.js"></script>
 <script type="text/javascript">
        tinyMCE.init({
            mode: "textareas",
            theme: "advanced",
            plugins: "advhr,table,emotions,media,insertdatetime,directionality",
            theme_advanced_toolbar_align: "left",
            theme_advanced_toolbar_location: "top",             
    theme_advanced_buttons1:"bold,italic,underline,strikethrough,sub,sup,separator,justifyleft,justifycenter,justifyright,justifyfull,separator,formatselect,fontselect,fontsizeselect,forecolor",
theme_advanced_buttons2:"bullist,numlist,outdent,indent,ltr,rtl,separator,link,unlink,anchor,image,separator,table,insertdate,inserttime,advhr,emotions,media,charmap,separator,undo,redo",
            theme_advanced_buttons3_add:"forecolor,backcolor",


theme_advanced_font_sizes:"170%,10px,11px,12px,13px,14px,15px,16px,17px,18px,19px,20px,21px,22px,23px,24px,25px,26px,27px,28px,29px,30px,32px,48px",
            height: "600px",
            width: "653px"
        });
        </script>

{% endblock %}

{% block jquery_ready %}

$("#preview_form").submit(function(){

var is_abort = 0;

<!--alert("Поехали");-->
<!--alert($('textarea#id_content').val().length);-->
<!--// Get the HTML contents of the currently active editor-->
<!--alert(tinyMCE.activeEditor.getContent());-->

<!--// Get the raw contents of the currently active editor-->
<!--alert(tinyMCE.activeEditor.getContent({format : 'raw'}));-->

<!--// Get content of a specific editor:-->
<!--alert(tinyMCE.get('id_content').getContent());-->

if(tinyMCE.get('id_content').getContent().length == 0){
alert("Текст пуст");
is_abort = 1;
}

$('input#id_preview_content').val(tinyMCE.get('id_content').getContent());

if( is_abort == 1){
return false;
}

<!--return false;-->
});

{% endblock %}

{% block urlpath %} {{ block.super }} {% if item %}/ <a href="{% url "common-text-edit" item.slug %}">{{ item }}</a>{% endif %}
{% endblock %}

{% block caption %}
{% endblock %}

{% block slow_button_panel %}
{% endblock %}

{% block content %}
{% if user.is_admin %}

<div class="item">
    <div class="personal_card_header"><label>{{ item }}</label></div>
    <div class="personal_card_content stretchable">

        {% include 'errors_and_messages.html' %}
        <form id="common_text_form" action="{% url 'common-text-edit' item.slug %}" method="POST" class="editform" enctype="multipart/form-data">
		{% csrf_token %}

            {% for field in Form %}

            {% if field.is_hidden %}

            {{ field }}

            {% else %}

            <div class="row">

                {{ field }}

            {% if field.help_text %}
            <div class="help_text">
                {{ field.help_text }}
            </div>
            {% endif %}

            </div>
            {% endif %}
            {% endfor %}

        </form>
    </div>
</div>

{% endif %}
{% endblock %}

{% block right_button_panel %}
{% if user.is_admin %}
<tr><td>
    <input type="submit" form="common_text_form" value="Сохранить"/>
</td></tr>
<tr><td>
    <form id="preview_form" action="{% url 'common-text-preview' item.slug %}" method="POST" enctype="multipart/form-data" target="_blank">
        {% csrf_token %}
       <input type="hidden" id="id_preview_content" name="content">
       <input type="submit" form="preview_form" value="Предпросмотр"/>
    </form>
</td></tr>

{% endif %}
{% endblock %}
