{% extends "index.html" %}

{% block title %}
Диалоги
{% endblock %}

{% block jquery_ready %}

$('.create_message').click(function(){
 window.location = "/msg/new/";
});

$('.dialogs_row').click(function(){
 window.location = "/msg/dialog/"+$(this).attr("item")+"/";
});
{% endblock %}

{% block urlpath %} / <a href="{% url "personal_cabinet" %}">Личный кабинет</a> / <a href="{% url 'dialogs' %}">Диалоги</a>{% endblock %}

{% block content %}
    <div class="dialogs_toolbar">
	<div class="dialogs_search float_left">
	<form method="get" action="#" id="livesearch-form">
    <input type="text" name="q" value="Начните вводить имя пользователя или email" onblur="if(this.value=='') this.value='Начните вводить имя пользователя или email';" onfocus="if(this.value == 'Начните вводить имя пользователя или email') this.value='';" />
    </form></div>
	
	<div class="create_message btn float_left">
	Написать сообщение
	</div>
	</div>
	<div class="clear"></div>
	<div class="dialogs_count">
	<label> Количество диалогов: {{ dialog_count }} </label>
	</div>
    <div class="dialogs_list">
	    <table cellpadding="0" cellspacing="0">
        {% for dialog in dialog_list %}
        <tr item="{{ dialog.dialog }}" class="dialogs_row">
            <td class="dialogs_face_td">
			<div class="dialogs_fio">{% if dialog.sender != user.id %}{{ dialog.sender_name }}{% else %}{{ dialog.receiver_name }}{% endif %}</div>
			<div class="dialogs_date">{{ dialog.date_sent }}</div>
            </td> 
            <td>
            <div class="dialogs_text">
			{{ dialog.msg_text|truncatewords:20 }}
			</div>
            </td>  			

            <!--umm.msg_text,umm.msg_read,-->
            <!--DATE_FORMAT(umm.date_sent, '%%d.%%m.%%Y'),-->
            <!--umm.dialog_id, umm.user_sender_id, umm.user_receiver_id-->
        </tr>
        {% endfor %}
        </table> 
    </div>
{% endblock %}
