{% extends "index.html" %}

{% block jquery_ready %}

$('.send_message').click(function(){
	
	var may_submit = true;
	
	if( $('textarea[name="msg_text"]').val().length == 0)
	{
	alert("Введите текст сообщения");
	may_submit = false;
	}
	
	if ( may_submit == true ){
	$('form#send_messages').submit();
	}
	
	});

{% endblock %}

{% block urlpath %} / <a href="{% url "personal_cabinet" %}">Личный кабинет</a> / <a href="{% url 'dialogs' %}">Диалоги</a> / <a href="{% url 'dialog' dialog.id %}">Диалог с {% if user.id == dialog.member1 %}{{ dialog.member1_name }}{% else %}{{ dialog.member2_name }}{% endif %}</a>{% endblock %}

{% block content %}
    
    <div class="personal_card_header">
	<label>Диалог с {% if user.id == dialog.member1 %}{{ dialog.member1_name }}{% else %}{{ dialog.member2_name }}{% endif %}</label>
	</div>
    
	<div class="personal_card_content scrollable">
    {% for message in messages %}
    <div class="dialog_message" item="{{ message.id }}">
	<div class="dialog_message_header">
	<div class="dialog_message_sender">
	{{ message.sender_name }}
	</div>
	<div class="dialog_message_date">
	{{ message.date_sent }}
	</div>
	<div class="clear"></div>
	</div>
	<div class="dialog_message_text">
	{{ message.msg_text }}
	</div>
	<div class="clear"></div>
	</div>
    {% endfor %}	
	</div>
	
	<div class="message_text">
	<form id="send_messages" method="POST" action="">
	<textarea name="msg_text" form="send_messages">
	</textarea>
	</form>
	</div>
	
	<div class="row last">
	<div class="send_message btn">Отправить</div>
	</div>
{% endblock %}