<table  class="search_table width_800">
    <thead>
    <th class="search_th">
        ФИО
    </th>

    <th class="search_th">
        Членский билет
    </th>

    {% if without_institute = 0 %}
    <th class="search_th">
        Образовательная организация
    </th>
    {% endif %}

    <th class="search_th">
        Образовательная программа
    </th>

    <th class="search_th">
        Заявление
    </th>

    <th class="search_th">
        Редактир.
    </th>

    <th class="search_th">
        Удалить
    </th>
    </thead>

    {% for item in edurequests %}
    {% with iprstudent=item.get_iprstudent  institute_program=item.institute_program %}

    <tr>
        <td> {{ iprstudent.get_fio }} <br>{{ iprstudent.email_for_admin }} <br>{{ item.date_request|date:"d.m.Y" }} </td>
        <td>
            {{ iprstudent.membership_number|default:"" }}
        </td>

        {% if without_institute = 0 %}
        <td>
            {{ institute_program.institute|default:"" }}
        </td>
        {% endif %}

        <td>
            {% if institute_program.program.level == 'B' %}
            <legend  class="recruit_legend">Подготовка</legend>
            {% endif %}

            {% if institute_program.program.level == 'U' %}
            <legend class="archive_legend">Повышение</legend>
            {% endif %}

            {{ institute_program.program|default:"" }}
        </td>

        <td class="padding_10">
            {% if item.id %}
            <a href="{% url 'request-pdf' item.id %}"><i class="step fi-page-pdf size-36" title="Заявление pdf"></i></a>
            <!--<div class="search_button"><a href="{% url 'request-pdf' item.id  %}">Заявление</a></div>-->
            {% endif %}
        </td>

        <td class="padding_10">
            {% if item.id %}
            <a href="{% url 'request-form' item.id %}"><i class="step fi-pencil size-36" title="Редактировать"></i></a>
            <!--<div class="search_button"><a href="{% url 'request-form' item.id  %}">Редактир.</a></div>-->
            {% endif %}
        </td>

        <td class="padding_10">
            {% if item.id %}
            <a class="delete" onclick="return confirm('Вы действительно хотите удалить заявление?')" href="{% url 'edu-item-del' 'request' item.id %}">
                <i class="step fi-trash size-36" title="Удалить заявление" ></i>
            </a>
            <!--<div class="search_button"><a class="delete" onclick="return confirm('Вы действительно хотите удалить заявление?')" href="{% url 'edu-item-del' 'request' item.id %}">Удалить</a></div>-->
            {% endif %}
        </td>

    </tr>
    {% endwith %}
    {% endfor %}

</table>