{% extends "personal_cabinet.html" %}

{% block include %}
<!--<script type="text/javascript" src="/media/tiny_mce/tiny_mce.js"></script>-->
<!--<script type="text/javascript">-->
    <!--tinyMCE.init({-->
        <!--mode: "textareas",-->
        <!--theme: "advanced",-->
        <!--plugins: "advhr,table,emotions,media,insertdatetime,directionality",-->
        <!--theme_advanced_toolbar_align: "left",-->
        <!--theme_advanced_toolbar_location: "top",-->
        <!--theme_advanced_buttons1:"bold,italic,underline,strikethrough,sub,sup,separator,justifyleft,justifycenter,justifyright,justifyfull,separator,formatselect,fontselect,fontsizeselect,forecolor",-->
        <!--theme_advanced_buttons2:"bullist,numlist,outdent,indent,ltr,rtl,separator,link,unlink,anchor,image,separator,table,insertdate,inserttime,advhr,emotions,media,charmap,separator,undo,redo",-->
        <!--theme_advanced_buttons3_add:"forecolor,backcolor",-->


        <!--theme_advanced_font_sizes:"170%,10px,11px,12px,13px,14px,15px,16px,17px,18px,19px,20px,21px,22px,23px,24px,25px,26px,27px,28px,29px,30px,32px,48px",-->
        <!--height: "350px",-->
        <!--width: "653px"-->
    <!--});-->
<!--</script>-->


{% endblock %}


{% block jquery_ready %}

{% endblock %}

{% block page_style %}
textarea{
        height: 500px !important;
        }
{% endblock %}

{% block urlpath %} {{ block.super }} / <a href="{% url "email-template-edit" template_name %}">{{ mailing_name }}</a> {% endblock %}

{% block caption %}
{% endblock %}

{% block slow_button_panel %}
{% endblock %}


{% block content %}
    {% if user.is_admin%}

	<div class="item">
      <div class="personal_card_header"><label>{{ mailing_name }}</label>
	  </div>
      <div class="personal_card_content stretchable">

      <form id="preview" action="{% url "email-template-preview" template_name %}" method="GET">
      </form>
	
	<form action="{% url "email-template-edit" template_name %}" method="POST" class="editform">
          {% csrf_token %}

        <div class="row">
            
        <section class="label">
            <label> Текст шаблона <span>*</span></label>
        </section>
        <textarea name="template_content"> {{ file_content }} </textarea>
        </div>

        <div class="row">

         <section class="label">
            <label> Html шаблон<span>*</span></label>
         </section>
         <textarea name="html_template_content"> {{ html_file_content }} </textarea>
        </div>

          <div class="row">

          <table class="button_panel">
              <tr>
                  <td><input type="submit" value="Сохранить" /></td>
                  <td><input type="submit" form="preview" value="Посмотреть" /></td>
              </tr>
          </table>
              </div>
        
		<!--<div class="row last">-->
            <!--<input type="submit" value="Сохранить" />-->
        <!--</div>-->
</form>
</div>
    </div>

  {% endif %}
{% endblock %}

{% block right_button_panel %}
{% endblock %}
