{% for field in Form %}

{% if field.is_hidden %}

   {{ field }}

{% else %}

<div class="row">
    {% if 'without_label' in field.field.widget.attrs.class %}

    <table>

        <tr>
            <td>
                <section class="label">
                    {% if field.field.widget.attrs.class != 'without_label' %}
                    <label> {{ field.label }}{{ field.field.verbose_name }} {% if field.field.required %}<span>*</span>{% endif %}</label>
                    {% endif %}
                    <div style="color:red">{{ field.errors }}</div>
                </section>
            </td>
            <td>

                {{ field }}            
            </td>
        </tr>

        {% if field.help_text %}
        <tr>
            <td colspan="2">
        <div class="help_text">
            {{ field.help_text }}
        </div>
            </td>
        </tr>
        {% endif %}
    </table>

    {% else %}
                
    <section class="label">
        {% if field.field.widget.attrs.class != 'without_label' %}
        <label> {{ field.label }}{{ field.field.verbose_name }} {% if field.field.required %}<span>*</span>{% endif %}</label>
        {% endif %}
        <div style="color:red">{{ field.errors }}</div>
    </section>
    {{ field }}

    {% if field.help_text %}
    <div class="help_text">
        {{ field.help_text }}
    </div>
    {% endif %}

    {% endif %}
</div>

{% endif %}
{% endfor %}