{% extends "personal_cabinet.html" %}

{% block jquery_ready %}
$('#id_date_started').datepicker();
$('#id_date_ended').datepicker();

        {% if type == 'institute' or type == 'program' %}

        $('#id_accreditation_finish').datepicker();
        $('.accreditation_finish').datepicker();
        $('.recruiting_date').datepicker();

        {% endif %}

        {% if type == 'group' and user.is_admin %}

        <!--get_programs();-->
        get_requests();

        $('#id_education_start').datepicker();

        institute = -1;
        program = -1;

        $("select#id_education_institute").change(function(){

       institute =  $(this).children('option:selected').val();
        program = -1;
       $('select#id_education_programm').val(-1);

       get_programs();
       get_requests();

       });

      $("select#id_education_programm").change(function(){

      <!--institute =  $(this).children('option:selected').val();-->
      program = $(this).children('option:selected').val();
      <!--$('select#id_education_programm').val(-1);-->

      <!--get_programs();-->
      get_requests();

      });

        function get_programs(){
        var url = '/edu/ajax/program/';

        $.post(url,{institute: institute, program: program}, function (data) {

        $('select#id_education_programm').children('option').hide();

        $.each(data, function(key, val) {

        $('select#id_education_programm').children('option[value="'+val+'"]').show();

       });
       });
       };

function get_requests(){
var url = '/edu/ajax/request/';

institute = $("select#id_education_institute").children('option:selected').val();
program = $("select#id_education_programm").children('option:selected').val();

$.post(url,{institute: institute, program: program}, function (data) {
$("select#id_students").val([]);
$('select#id_students').children('option').attr("disabled", "disabled"); //hide();

$.each(data, function(key, val) {

$('select#id_students').children('option[value="'+val+'"]').removeAttr("disabled"); //show();

});
});
};

        $("select#id_education_programm").change(function(){

        program =  $(this).children('option:selected').val();
        get_requests();
       });

        $('#to_group').click(function(){

$('[type="requests"] input[type="checkbox"]:checked').each(function(){
$(this).removeAttr('checked');
$('[type="students"]').append($(this).parent(".scroll_item"));

});

});

$('#from_group').click(function(){

$('[type="students"] input[type="checkbox"]:checked').each(function(){
$(this).removeAttr('checked');
$('[type="requests"]').append($(this).parent(".scroll_item"));

});

});

$(".editform").submit(function(){

$('[type="students"] div[type="request"]').each(function(){
$('select[name="requests"]').append("<option value='" + $(this).attr("request") + "' >" +$(this).find("label").html() + "</option>");
});

$('[type="requests"] div[type="student"]').each(function(){
$('select[name="remove_students"]').append("<option value='" + $(this).attr("studgroup") + "' >" +$(this).find("label").html() + "</option>");
});

$('select[name="requests"] option').attr('selected', 'selected');
$('select[name="remove_students"] option').attr('selected', 'selected');
$('select[name="requests"]').show();
$('select[name="remove_students"]').show();

  <!--return false;-->
});

        {% endif %}


{% endblock %}

{% block include %}
<script type="text/javascript" src="/media/js/jquery-ui-1.8.18/development-bundle/ui/i18n/jquery.ui.datepicker-ru.js"></script>
<link rel="stylesheet" type="text/css" media="all" href="/media/css/cupertino/jquery-ui-1.8.18.custom.css" />

{% endblock %}

{% block urlpath %} {{ block.super }} {% if item.id %}/ <a href="{% url "edu-item" type item.id %}">{{ item }}</a>{% else %}/ <a href="{% url "edu-item-new" type %}">{{ verbose_name }}</a>{% endif %} {% endblock %}

{% block caption %}
{% endblock %}

{% block slow_button_panel %}
{% endblock %}


{% block content %}
    {% if user.is_admin or user.is_curator %}

	<div class="item">
      <div class="personal_card_header"><label>{{ verbose_name }}</label>
	  </div>
      <div class="personal_card_content stretchable">

    {% include 'errors_and_messages.html' %}
    <form action="" method="POST" class="editform">{% csrf_token %}

        {% include 'form_loop.html' %}

        {% if type == 'group' and item.id %}
        
        <select multiple="multiple" name="requests" style="display:none"></select>
        <select multiple="multiple" name="remove_students" style="display:none"></select>


        {% endif%}

        {% if type == 'institute' and item.id %}
        <div class="row">
            <section class="center">
                Образовательные программы
            </section>
        </div>
        <div class="row scrollable">
            <table class="institute_program">
                <thead class="display_block">
                <th class="td_program" colspan="2">Программа</th>
                <th class="td_accreditation_finish">Окончание аккредитации</th>
                <!--<th class="td_recruiting_date">Дата нового набора</th>-->
                </thead>
                <tbody class="table_scroll">
                {% for program in item.get_programs %}
                <tr>
                    <td class="td_program_check"> <input type="checkbox" name="programs" class="programs" {% if program.2 %}checked{% endif %} value="{{ program.0 }}"> <input type="text" name="program_institute_{{ program.0 }}" class="programs" value="{{ program.2 }}" style="display: none"></td>
                    <td class="td_program_name">{{ program.1 }}</td>
                    <td class="td_accreditation_finish"> <input type="text" class="accreditation_finish" name="accreditation_finish_{{ program.0 }}" value="{{ program.3|default:"" }}"></td>
                    <!--<td class="td_recruiting_date"> <input type="text" class="recruiting_date" name="recruiting_date_{{ program.0 }}" value="{{ program.5 }}"></td>-->
                </tr>

                {% endfor %}
                </tbody>
            </table>
        </div>

        {% endif %}
        {% if type == 'institute' and not item.id %}

        <div class="row">
            <section class="center">
            Образовательные программы
            </section>
        </div>
        <div class="row">
            <table class="institute_program">
                <thead class="display_block">
                <th class="td_program" colspan="2">Программа</th>
                <th class="td_accreditation_finish">Окончание аккредитации</th>
                <!--<th class="td_recruiting_date">Дата нового набора</th>-->
                </thead>
                <tbody class="table_scroll">
            {% for program in item.programs %}
                <tr>
                <td class="td_program_check"> <input type="checkbox" name="programs" class="programs" value="{{ program.id }}"></td>
                <td class="td_program_name">{{ program.name }}</td>
                <td class="td_accreditation_finish"> <input type="text" class="accreditation_finish" name="accreditation_finish_{{ program.id }}"></td>
                <!--<td class="td_recruiting_date"> <input type="text" class="recruiting_date" name="recruiting_date_{{ program.id }}"></td>-->
                </tr>

        {% endfor %}
                </tbody>
            </table>
            </div>

        {% endif%}

        {% if type == 'program' and item.id %}

        <div class="row">
            <section class="center">
                Образовательные организации
            </section>
        </div>
        <div class="row">
            <table  class="institute_program">
                <thead class="display_block">
                <th class="td_program" colspan="2">Образовательная организация</th>
                <th class="td_accreditation_finish">Окончание аккредитации</th>
                <!--<th class="td_recruiting_date">Дата нового набора</th>-->
                </thead>
                <tbody class="table_scroll">
                {% for institute in item.get_institutes %}
                <tr>
                    <td class="td_program_check"> <input type="checkbox" name="institutes" class="programs" {% if institute.2 %}checked{% endif %} value="{{ institute.0 }}"> <input type="text" name="program_institute_{{ institute.0 }}" class="programs" value="{{ institute.2|default:"" }}" style="display: none"></td>
                    <td class="td_program_name">{{ institute.1 }}</td>
                    <td class="td_accreditation_finish"> <input type="text" class="accreditation_finish" name="accreditation_finish_{{ institute.0 }}" value="{{ institute.3|default:"" }}"></td>
                    <!--<td class="td_recruiting_date"> <input type="text" class="recruiting_date" name="recruiting_date_{{ institute.0 }}" value="{{ institute.5 }}"></td>-->
                </tr>

                {% endfor %}

                </tbody>
            </table>
        </div>

        {% endif%}

        {% if type == 'program' and not item.id %}

        <div class="row">
            <section class="center">
                Образовательные организации
            </section>
        </div>
        <div class="row">
            <table class="institute_program">
                <thead class="display_block">
                <th class="td_program" colspan="2">Образовательная организация</th>
                <th class="td_accreditation_finish">Окончание аккредитации</th>
                <!--<th class="td_recruiting_date">Дата нового набора</th>-->
                </thead>
                <tbody   class="table_scroll">
                {% for institute in item.institutes %}
                <tr>
                    <td class="td_program_check"> <input type="checkbox" name="institutes" class="programs" value="{{ institute.id }}"></td>
                    <td class="td_program_name">{{ institute.name }}</td>
                    <td class="td_accreditation_finish"> <input type="text" class="accreditation_finish" name="accreditation_finish_{{ institute.id }}"></td>
                    <!--<td class="td_recruiting_date"> <input type="text" class="recruiting_date" name="recruiting_date_{{ institute.id }}"></td>-->
                </tr>

                {% endfor %}
                </tbody>
            </table>
        </div>

        {% endif%}

		<div class="row last">
            <input type="submit" value="{% if item.id %}Изменить{% else %}Сохранить{% endif %}" />
        </div>
</form>
</div>
    </div>

{% if type == 'group' and item.id %}
    <div class="students">
    <div class="personal_card_header"><label>Участники</label>
    </div>
    <div class="personal_card_content scrollable"  type="students">
        {% for student in item.students %}
        <div class="scroll_item" studgroup="{{ student.id }}" request="{{ student.request.id }}" type="student"><input type="checkbox" studgroup="{{ student.id }}"><label>{{ student.student.user.last_name }} {{ student.student.user.first_name }}</label></div>

        {% endfor %}
      </div>
     </div>

<div class="row">
    <div id="to_group" class="arrow btn">Включить в группу</div><div id="from_group" class="arrow btn">Удалить из группы</div>
</div>
<div class="clear"></div>

<div class="requests">
    <div class="personal_card_header"><label>Заявки</label>
    </div>
    <div class="personal_card_content scrollable"  type="requests">
        {% for request in item.requests %}
        <div class="scroll_item" studgroup="" request="{{ request.id }}" type="request"><input type="checkbox" request="{{ request.id }}"><label>{{ request.student.user.last_name }} {{ request.student.user.first_name }}</label></div>

        {% endfor %}
    </div>
</div>
{% endif %}

    {% endif %}
{% endblock %}


{% block right_button_panel %}
{% endblock %}