{% extends "index.html" %}

{% block title %}Каталог групп{% endblock %}

{% block include %}
<link rel="stylesheet" href="/media/css/general_tabs.css" type="text/css"/>
<script type="text/javascript" src="/media/js/jquery-ui-1.8.18/development-bundle/ui/i18n/jquery.ui.datepicker-ru.js"></script>
<link rel="stylesheet" type="text/css" media="all" href="/media/css/cupertino/jquery-ui-1.8.18.custom.css" />
{% endblock %}

{% block custom_tab_selected %}

var level = 'B',unlevel = 'U';

if (id.indexOf('begin') != -1){
level = 'B';
unlevel = 'U';
}

if (id.indexOf('increase') != -1){
level = 'U';
unlevel = 'B';
}


$("tr.groups_line").hide();
$("tr.groups_line[level='"+ level + "']").show();

$("label[level='"+ level + "']").show();
$("div[level='"+ level + "']").show();

$("label[level='"+ unlevel + "']").hide();
$("div[level='"+ unlevel + "']").hide();


if(level == 'B'){
$('span#base_count').show();
$('span#up_count').hide();

$('#base_pages').show();
$('#up_pages').hide();

}else{

$('span#base_count').hide();
$('span#up_count').show();

$('#base_pages').hide();
$('#up_pages').show();
}

<!--$("input#tab_sel").val(level);-->

{% endblock %}

{% block jquery_ready %}

        var region    = "";
        var city      = "";
        var institute = "";
        var begin_date    = "";
        var end_date      = "";
        var student = "";
        var exam_begin_date    = "";
        var exam_end_date      = "";
        var groupname = "";

        var sort_by   = 'asc';
        var idfield   = 'title';

$('#begin_date').datepicker();
$('#end_date').datepicker();
$('#exam_begin_date').datepicker();
$('#exam_end_date').datepicker();

$(".groups_line").click(function(){
  {% if user.is_authenticated and user.is_admin %}
   window.location = "/edu/group/" + $(this).attr("item") + "/";
  {% else %}
  window.location = "/edu/group/view/" + $(this).attr("item") + "/";
  {% endif %}
});

$(".sort_desc").click(function(){
  var sortbox = $(this).parent(".sortbox");

  if( $(this).attr("id") == "on" ){

    $("input[name='"+ $(this).attr("type")+"']").val(0);
    $('form#groups_filter').submit();

  }else{
   
    $("input[name='"+ $(this).attr("type")+"']").val(-1);
	$('form#groups_filter').submit();
    $(this).attr("id","on"); 
    sortbox.find(".sort_asc").attr("id","off"); 

  }

});

$(".sort_asc").click(function(){
  var sortbox = $(this).parent(".sortbox");

  if( $(this).attr("id") == "on" ){

    $("input[name='"+ $(this).attr("type")+"']").val(0);
    $('form#groups_filter').submit();

  }else{
   
    $("input[name='"+ $(this).attr("type")+"']").val(1);
	$('form#groups_filter').submit();
    $(this).attr("id","on"); 
    sortbox.find(".sort_desc").attr("id","off"); 
  }

});


$('.llimit').click(function(){
$("input[name='" + $(this).attr('id') + "']").val(parseInt($("input[name='" + $(this).attr('id') + "']").val()) - 1);
$('form#groups_filter').submit();
});

$('.rlimit').click(function(){
$("input[name='" + $(this).attr('id') + "']").val(parseInt($("input[name='" + $(this).attr('id') + "']").val()) + 1);
$('form#groups_filter').submit();
});

{% endblock %}

{% block urlpath %} {% if user.is_authenticated %}/ <a href="{% url 'personal_cabinet' %}">Личный кабинет</a>{% endif %} / {% include 'urlpath/url_groups.html' %}{% endblock %}

{% block content %}

<h1>Каталог групп</h1>

    <!--========================================== CURATOR ==============================================-->
    {% if user.is_authenticated and user.is_curator %}

<div class="slider_item" item="group_filter">
    <form id="groups_filter" method="POST" action="">
        {% csrf_token %}

        <table>
            <tr>
                <td>
        <label class="slider_item_main_label">Выберите категорию для поиска</label>
                </td>
                <td>
        <div  item="group_filter" class="slider_arrow arrow_down"></div>
                </td>
            </tr>
        </table>

        <div class="slider_body" item="group_filter">

            <div class="slider_row">
                 <table class="search_table">
                   <tr>
                     <td class="search_th width_200 font13">Регион :</td>
                     <td class="width_200 font13">{{ curator.city.region.name }}</td>
                     <td class="search_th width_200 font13">Город :</td>
                     <td class="width_200 font13">{{ curator.city.name }}</td>
                   </tr>
                     <tr>
                         <td class="search_th font13" colspan="2">Образовательная организация :</td>
                         <td class="font13" colspan="2">{{ curator.name }}</td>
                     </tr>
                 </table>

                <div class="bumper"></div>
             </div>

                     <div class="slider_row">
                        <table>
                            <tr>
                                <td colspan="2" class="padding_10  font14">Программа :</td>
                                <td colspan="4" class="padding_10">
                                    <select id="program" name="program">
                                        <option value="-1">--</option>
                                        {% for item in programs %}
                                        <option value="{{ item.program.id }}" {% if program|floatformat == item.program.id|floatformat %}selected{% endif %}>{{ item.program.name }}</option>
                                        {% endfor %}
                                    </select>
                                    <div class="bumper"></div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" class="padding_10  font14">Номер группы :</td>
                                <td class="padding_10">
                                    <input type="text" name="groupname" id="groupname" value="{{ groupname|default:"" }}">
                                    <div class="bumper"></div>
                                </td>

                                <td class="padding_10  font14">Фамилия слушателя:</td>
                                <td class="padding_10">
                                    <input type="text" name="student" id="student" value="{{ student|default:"" }}">
                                    <div class="bumper"></div>
                                </td>
                                <td></td>
                            </tr>

                            <tr>
                                <td colspan="2" class="padding_10  font14">Номер квалификационного аттестата :</td>
                                <td class="padding_10">
                                    <input type="text" name="attestat_number" id="attestat_number" value="{{ attestat_number|default:'' }}">
                                    <div class="bumper"></div>
                                </td>

                                <td colspan="3" class="padding_10  font14">
                                    <div class="bumper"></div>
                                </td>
                            </tr>
                            <tr>
                                <td class="padding_10  font14">Дата проведения экзамена</td>
                                <td class="width_20  font14">с :</td>
                                <td class="padding_10">
                                    <input type="text" name="exam_begin_date" id="exam_begin_date" value="{{ exam_begin_date|default:'' }}">
                                    <div class="bumper"></div>
                                </td>
                                <td class="width_20  font14" align="right">по:</td>
                                <td class="padding_10">
                                    <input type="text" name="exam_end_date" id="exam_end_date" value="{{ exam_end_date|default:'' }}">
                                    <div class="bumper"></div>
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td class="padding_10  font14">Начало обучения</td>
                                <td class="width_20  font14">с :</td>
                                <td class="padding_10">
                                    <input type="text" name="begin_date" id="begin_date" value="{{ begin_date|default:'' }}">
                                    <div class="bumper"></div>
                                </td>
                                <td class="width_20  font14" align="right">по:</td>
                                <td class="padding_10">
                                    <input type="text" name="end_date" id="end_date" value="{{ end_date|default:'' }}">
                                    <div class="bumper"></div>
                                </td>
                                <td></td>
                            </tr>
                            <!--<tr>-->
                                <!--<td class="padding_10  font14">Начало обучения</td>-->
                                <!--<td class="width_20  font14">с :</td>-->
                                <!--<td class="padding_10">-->
                                    <!--<input type="text" name="begin_date" id="begin_date" value="{{ begin_date|default:'' }}">-->
                                    <!--<div class="bumper"></div>-->
                                <!--</td>-->
                                <!--<td class="width_20  font14">по:</td>-->
                                <!--<td class="padding_10">-->
                                    <!--<input type="text" name="end_date" id="end_date" value="{{ end_date|default:'' }}">-->
                                    <!--<div class="bumper"></div>-->
                                <!--</td>-->
                                <!--<td></td>-->
                            <!--</tr>-->
                        </table>
                    </div>

                    <div class="slider_body_property_name"></div><div class="slider_body_property_value"><input type="submit" value="Применить"></div>
                    <div class="clear"></div>
    </div>
    <div class="clear"></div>
    </form>
</div>

<div id="custom_tabs">
<ul  class="custom_tabs_list">
    <li type="B"><a href="#begin">Подготовка налоговых консультантов</a></li>
    <li type="U"><a href="#increase">Повышение квалификации налоговых консультантов</a></li>
</ul>

<div id="increase" class="anytab">
    <table  class="search_table width_800">
        {% for item in upgroups %}
        <tr>
            <td  colspan="2"><a href="{% url 'edu-group' item.id  %}" class="link_as_text">{{ item.name }}</a></td>

            <td class="width_100">
                {% if item.id %}
                <div class="search_button"><a href="{% url 'edu-group' item.id  %}">Редактир.</a></div>
                {% endif %}
            </td>

            <td class="width_100">
                {% if item.id %}
                <div class="search_button"><a class="delete" href="{% url 'edu-item-del' 'group' item.id %}">Удалить</a></div>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
</div>

<div id="begin" class="anytab">
    <table  class="search_table width_800">
        {% for item in basegroups %}
        <tr>
            <td  colspan="2"><a href="{% url 'edu-group' item.id  %}" class="link_as_text">{{ item.name }}</a></td>

            <td class="width_100">
                {% if item.id %}
                <div class="search_button"><a href="{% url 'edu-group' item.id  %}">Редактир.</a></div>
                {% endif %}
            </td>

            <td class="width_100">
                {% if item.id %}
                <div class="search_button"><a class="delete" href="{% url 'edu-item-del' 'group' item.id %}">Удалить</a></div>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
</div>

{% else %}
   <!--======================================================== OTHERS ========================================================-->
<div class="slider_item" item="group_filter">
    <form id="groups_filter" method="POST" action="">
        {% csrf_token %}

        <input type="hidden" name="asc_institute"   value="{{ asc_institute|floatformat }}">
        <input type="hidden" name="asc_name"        value="{{ asc_name|floatformat }}">
        <input type="hidden" name="asc_city"        value="{{ asc_city|floatformat }}">
        <input type="hidden" name="asc_begdate"     value="{{ asc_begdate|floatformat }}">
        <input type="hidden" name="asc_examdate"    value="{{ asc_examdate|floatformat }}">
        <input type="hidden" name="asc_volum"       value="{{ asc_volum|floatformat }}">

        <input type="hidden" value="{{ up_current_page }}"   name="up_current_page">
        <input type="hidden" value="{{ base_current_page }}" name="base_current_page">

        <table>
         <tr>   
             <td>
        <label class="slider_item_main_label">Выберите категорию для поиска</label>
             </td>
             <td>
        <div  item="group_filter" class="slider_arrow arrow_down"></div>
             </td>
            </tr>
        </table>

        <div class="slider_body" item="group_filter">

            <div class="slider_row">
                <table>
                    <tr>
                        <td colspan="2" class="padding_10 font14">Выбрать регион :</td>
                        <td colspan="4">
                            <select id="region" name="region">
                                <option value="-1">--</option>
                                {% for item in regions %}
                                <option value="{{ item.id }}" {% if region|floatformat == item.id|floatformat %}selected{% endif %}>{{ item.name }}</option>
                                {% endfor %}
                            </select>
                            <div class="bumper"></div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" class="padding_10 font14">Выбрать город :</td>
                        <td colspan="4">
                            <select id="city" name="city">
                                <option value="-1">--</option>
                                {% for item in cities %}
                                <option value="{{ item.id }}" {% if city|floatformat == item.id|floatformat %}selected{% endif %} region="{{ item.region.id }}">{{ item.name }}</option>
                                {% endfor %}
                            </select>
                            <div class="bumper"></div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" class="padding_10 font14">Выбрать образовательную организацию :</td>
                        <td colspan="4">
                            <select id="institute" class="width_400" name="institute">
                                <option value="-1">--</option>
                                {% for item in institutes %}
                                <option value="{{ item.id }}" {% if institute|floatformat == item.id|floatformat %}selected{% endif %} city="{{ item.city.id }}" region="{{ item.city.region.id }}">{{ item.name }}</option>
                                {% endfor %}
                            </select>
                            <div class="bumper"></div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" class="padding_10  font14">Номер группы :</td>
                        <td class="padding_10">
                            <input type="text" name="groupname" id="groupname" value="{{ groupname|default:'' }}">
                            <div class="bumper"></div>
                        </td>

                        <td class="padding_10  font14">Фамилия слушателя:</td>
                        <td class="padding_10">
                            <input type="text" name="student" id="student" value="{{ student|default:'' }}">
                            <div class="bumper"></div>
                        </td>
                        <td></td>
                    </tr>

                    <tr>
                        <td colspan="2" class="padding_10  font14">Номер квалификационного аттестата :</td>
                        <td class="padding_10">
                            <input type="text" name="attestat_number" id="attestat_number" value="{{ attestat_number|default:'' }}">
                            <div class="bumper"></div>
                        </td>

                        <td colspan="3" class="padding_10  font14">
                            <div class="bumper"></div>
                        </td>
                    </tr>

                    <tr>
                        <td class="padding_10 font14">Дата проведения экзамена</td>
                        <td class="width_20  font14">с :</td>
                        <td class="padding_10">
                            <input type="text" name="exam_begin_date" id="exam_begin_date" value="{{ exam_begin_date|default:'' }}">
                            <div class="bumper"></div>
                        </td>
                        <td class="width_20  font14" align="right">по:</td>
                        <td class="padding_10">
                            <input type="text" name="exam_end_date" id="exam_end_date" value="{{ exam_end_date|default:'' }}">
                            <div class="bumper"></div>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="padding_10  font14">Период обучения :</td>
                        <td class="width_20 font14">с :</td>
                        <td class="padding_10">
                            <input type="text" name="begin_date" id="begin_date" value="{{ begin_date|default:'' }}">
                            <div class="bumper"></div>
                        </td>
                        <td class="width_20 font14"  align="right">по:</td>
                        <td class="padding_10">
                            <input type="text" name="end_date" id="end_date" value="{{ end_date|default:'' }}">
                            <div class="bumper"></div>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="padding_10 font14">Объем ( ак. час. ) :</td>
                        <td class="width_20  font14">от:</td>
                        <td class="padding_10">
                            <input type="text" name="volum_min" id="volum_min" value="{{ volum_min|default:'' }}">
                            <div class="bumper"></div>
                        </td>
                        <td class="width_20  font14"  align="right">до:</td>
                        <td class="padding_10">
                            <input type="text" name="volum_max" id="volum_max" value="{{ volum_max|default:'' }}">
                            <div class="bumper"></div>
                        </td>
                        <td></td>
                    </tr>


                </table>
            </div>

        <div class="slider_body_property_name"></div><div class="slider_body_property_value"><input type="submit" value="Применить"></div>
        </div>
        </form>
</div>

<div id="custom_tabs">
    <ul  class="custom_tabs_list">
        <li type="B"><a href="#begin">Подготовка налоговых консультантов</a></li>
        <li type="U"><a href="#increase">Повышение квалификации налоговых консультантов</a></li>
    </ul>

<div class="count_block">Количество групп:
    <span id="base_count">{{ base_count_groups }}; Показано на странице: {{ base_groups|length }}</span>
    <span id="up_count">{{ up_count_groups }}; Показано на странице: {{ up_groups|length }}</span>
</div>

<table cellspacing="0" cellpadding="0" id="groups">
    <thead>
<tr class="groups_thead">
<td class="groups_region groups_th_cell"><label class="groups_region_label">Город</label><div class="sortbox"><div class="sort_asc" title="По возрастанию({% if asc_city|floatformat == '1' %}Включено{% else %}Включить{% endif %})" id="{% if asc_city|floatformat == '1' %}on{% else %}off{% endif %}" type="asc_city"></div><div class="sort_desc" title="По убыванию({% if asc_city|floatformat == '-1' %}Включено{% else %}Включить{% endif %})" id="{% if asc_city|floatformat == '-1' %}on{% else %}off{% endif %}"  type="asc_city"></div></td>
<td class="groups_title groups_th_cell"><label class="groups_title_label">Номер группы</label><div class="sortbox"><div class="sort_asc" title="По возрастанию({% if asc_name|floatformat == '1' %}Включено{% else %}Включить{% endif %})" id="{% if asc_name|floatformat == '1' %}on{% else %}off{% endif %}" type="asc_name"></div><div class="sort_desc" title="По убыванию({% if asc_name|floatformat == '-1' %}Включено{% else %}Включить{% endif %})" id="{% if asc_name|floatformat == '-1' %}on{% else %}off{% endif %}"  type="asc_name"></div></td>
<td class="groups_institute groups_th_cell"><label class="groups_institute_label">Образовательная организация</label><div class="sortbox"><div class="sort_asc" title="По возрастанию({% if asc_institute|floatformat == '1' %}Включено{% else %}Включить{% endif %})" id="{% if asc_institute|floatformat == '1' %}on{% else %}off{% endif %}" type="asc_institute"></div><div class="sort_desc" title="По убыванию({% if asc_institute|floatformat == '-1' %}Включено{% else %}Включить{% endif %})" id="{% if asc_institute|floatformat == '-1' %}on{% else %}off{% endif %}"  type="asc_institute"></div></td>
<td class="groups_start groups_th_cell"><label class="groups_start_label">Дата начала обучения</label><div class="sortbox"><div class="sort_asc" title="По возрастанию({% if asc_begdate|floatformat == '1' %}Включено{% else %}Включить{% endif %})" id="{% if asc_begdate|floatformat == '1' %}on{% else %}off{% endif %}" type="asc_begdate"></div><div class="sort_desc" title="По убыванию({% if asc_begdate|floatformat == '-1' %}Включено{% else %}Включить{% endif %})" id="{% if asc_begdate|floatformat == '-1' %}on{% else %}off{% endif %}"  type="asc_begdate"></div></td>
<td class="groups_finish groups_th_cell">Дата окончания обучения</td>
<td class="groups_exam groups_th_cell">
    <label class="groups_exam_label" level='B'>Дата экзамена</label>
    <label class="groups_volum_label"  level='U'>Объем, ак.час.</label>
    <div class="sortbox" id="exam_date" level='B'>
       <div class="sort_asc" title="По возрастанию({% if asc_examdate|floatformat == '1' %}Включено{% else %}Включить{% endif %})" id="{% if asc_examdate|floatformat == '1' %}on{% else %}off{% endif %}" type="asc_examdate"></div>
       <div class="sort_desc" title="По убыванию({% if asc_examdate|floatformat == '-1' %}Включено{% else %}Включить{% endif %})" id="{% if asc_examdate|floatformat == '-1' %}on{% else %}off{% endif %}"  type="asc_examdate"></div>
    </div>
    <div class="sortbox" id="volum" level='U'>
       <div class="sort_asc" title="По возрастанию({% if asc_volum|floatformat == '1' %}Включено{% else %}Включить{% endif %})" id="{% if asc_volum|floatformat == '1' %}on{% else %}off{% endif %}" type="asc_volum"></div>
       <div class="sort_desc" title="По убыванию({% if asc_volum|floatformat == '-1' %}Включено{% else %}Включить{% endif %})" id="{% if asc_volum|floatformat == '-1' %}on{% else %}off{% endif %}"  type="asc_volum"></div>
    </div>
</td>
</tr>
    </thead>
<tbody>

<div id="increase" class="anytab">
{% for item in up_groups %}
<tr class="groups_line" item="{{ item.id }}" level="U">
<td class="groups_region  groups_td_cell">{{ item.education_institute.city.name|default:"-" }}</td>
<td class="groups_title  groups_td_cell">{{ item.name|default:"-" }}</td>
<td class="groups_institute  groups_td_cell"><a href="{% url 'edu-institute' item.education_institute.id  %}" >{{ item.education_institute|default:"-" }}</a></td>
<td class="groups_start  groups_td_cell">{{ item.education_start|default:"-"|date:"d.m.Y" }}</td>
<td class="groups_finish  groups_td_cell">{{ item.education_end|default:"-"|date:"d.m.Y" }}</td>
<td class="groups_exam  groups_td_cell">{{ item.volume_academ_hours|default:"-" }}</td>
</tr>
{% endfor %}
</div>

<div id="begin" class="anytab">
{% for item in base_groups %}
<tr class="groups_line" item="{{ item.id }}"  level="B">
    <td class="groups_region  groups_td_cell">{{ item.education_institute.city.name|default:"-" }}</td>
    <td class="groups_title  groups_td_cell">{{ item.name|default:"-" }}</td>
    <td class="groups_institute  groups_td_cell"><a href="{% url 'edu-institute' item.education_institute.id  %}" >{{ item.education_institute|default:"-" }}</a></td>
    <td class="groups_start  groups_td_cell">{{ item.education_start|default:"-"|date:"d.m.Y" }}</td>
    <td class="groups_finish  groups_td_cell">{{ item.education_end|default:"-"|date:"d.m.Y" }}</td>
    <td class="groups_exam  groups_td_cell">{{ item.exam_date|default:"-"|date:"d.m.Y" }}</td>
</tr>
{% endfor %}
</div>

</tbody>
</table>

</div>

<div class="pages" id="up_pages">
    {% if up_current_page > 1 %}
    <a href="#" class="llimit" id="up_current_page"><i class="fi-arrow-left size-24" title="Туда"></i></a>
    {% endif %}
    {{ up_current_page }} из {{ up_all_pages }}
    {% if up_current_page < up_all_pages %}
    <a href="#" class="rlimit" id="up_current_page"><i class="fi-arrow-right size-24" title="Сюда" ></i></a>
    {% endif %}
</div>

<div class="pages" id="base_pages">
    {% if base_current_page > 1 %}
    <a href="#" class="llimit" id="base_current_page"><i class="fi-arrow-left size-24" title="Туда"></i></a>
    {% endif %}
    {{ base_current_page }} из {{ base_all_pages }}
    {% if base_current_page < base_all_pages %}
    <a href="#" class="rlimit" id="base_current_page"><i class="fi-arrow-right size-24" title="Сюда" ></i></a>
    {% endif %}
</div>

{% endif %}
{% endblock %}

{% block right_button_panel %}
{% if user.is_authenticated and user.is_curator %}
<tr>
    <td>
        <form method="GET" action="{% url 'groups_new' %}">
            <input type="submit" value="Создать группу"/>
        </form>
    </td>
</tr>
{% endif %}
{% endblock %}
