{% extends "index.html" %}

{% block title %}Каталог групп. Создание группы{% endblock %}

{% block include %}
{% endblock %}

{% block jquery_ready %}

        var region    = "";
        var city      = "";
        var institute = "";


region = {{ curator.city.region.id }};
city = {{ curator.city.id }};
institute = {{ curator.id }};
        level = -1;
        program = -1;

function filter(){

level = $("select#level").children('option:selected').val();;
program = $("select#program").children('option:selected').val();;
    		
       var url = '/edu/ajax/group/';

      $.post(url,{region: region, city: city, institute: institute, program: program, level: level}, function (data) {

      $('.scroll_item').hide();
	
      $.each(data, function(key, val) {
              $('.scroll_item[item="'+val+'"]').show();

    });
    });
  };

function get_programms(){
    var url = '/edu/ajax/program/';

    $.post(url,{region: region, city: city, institute: institute}, function (data) {

$('select#program').val(-1);
    $('select#program').children('option').hide();

     $.each(data, function(key, val) {
        
      if (level != -1){
       $('select#program').children('option[value="'+val+'"][level="'+level+'"]').show();
      }else{
       $('select#program').children('option[value="'+val+'"]').show();
      }
});
});


};

function requests(){

        $('.requests_line').hide();

        if( region != -1 ){

        $('.requests_line[region="'+region+'"]').show();
        $('.requests_line[region!="'+region+'"]').hide();

        }else{
        $('.requests_line').show();
        }


if( city != -1 ){

<!--$('.requests_line[city="'+city+'"]').show();-->
$('.requests_line[city!="'+city+'"]').hide();

}

if( program != -1 ){

<!--$('.requests_line[program="'+program+'"]').show();-->
$('.requests_line[program!="'+program+'"]').hide();

}

if( institute != -1 ){

<!--$('.requests_line[institute="'+institute+'"]').show();-->
$('.requests_line[institute!="'+institute+'"]').hide();

}

if( level != -1 ){

if ($('.requests_line:visible').length == 0 ){
$('.requests_line[level="'+level+'"]').show();
        }
$('.requests_line[level!="'+level+'"]').hide();

}

        $.each($('.groups_requests_check input:checked'),function(){
        $(this).closest('tr').show();
       });


        };

$('form#groups_requests_submit').submit(function(){

        var cur_institute = -1;
        var cur_level = -1;
        var is_abort;

$.each($('input[name="requests"]:checked'),function(){

      if( cur_institute == -1 ){
         cur_institute = $(this).closest('tr').attr("institute");
      }else if( cur_institute != $(this).closest('tr').attr("institute") ){
        alert("Выберите заявки для одной организации!");
        is_abort = true;
        return false;

      }

     if( cur_level == -1 ){
       cur_level = $(this).closest('tr').attr("level");
     }else if( cur_level != $(this).closest('tr').attr("level") ){
       alert("Выберите заявки одного уровня подготовки!");
       is_abort = true;
       return false;
     }
});

        if( institute == -1){
$('input[name="edu_institute"]').val(cur_institute);

        }else{
$('input[name="edu_institute"]').val(institute);
        }


if( level != 'U' && level != 'B'){
$('input[name="level"]').val(cur_level);

}else{
$('input[name="level"]').val(level);
}

if( $('input[name="level"]').val() != 'U' && $('input[name="level"]').val() != 'B'){
       
      is_abort = true;
      alert("Выберите хотя бы одну заявку");
}

        if( is_abort == true ){
           return false;
        }

});

$('select#level').change(function(){
 level = $(this).val();
get_programms();
 <!--filter();-->
requests();
 });

$('select#program').change(function(){
  program =  $(this).children('option:checked').val();
  $('select#level').val($(this).children('option:checked').attr('level'));
  level = $(this).children('option:checked').attr("level");
  <!--filter();-->
requests();
});

<!--$('td.group_new_request').click(function(){-->
    <!--var path_attr = $(this).attr("request_id");-->
    <!--var url = '/edu/request/pdf/'+ path_attr + '/';-->

    <!--if (typeof path_attr !== typeof undefined && path_attr !== false) {-->
        <!--var win = window.open(url, '_blank');-->
        <!--win.focus();-->
    <!--}-->
<!--});-->

{% endblock %}

{% block urlpath %} {% if not user.is_admin %} {% if user.is_authenticated %}/ <a href="{% url "personal_cabinet" %}">Личный кабинет</a>{% endif %} / {% include 'urlpath/url_groups.html' %} / <a href="{% url 'groups_new' %}">Создание группы</a>
                    {% else %} / {% include 'urlpath/url_organizations.html' %} / <a href="{% url "edu-institute" curator.id %}">{{ curator }}</a> / Новая группа
{% endif %} {% endblock %}

{% block content %}
    {% if user.is_curator or curator %}

<h1>Поступившие заявления</h1>

<div class="slider_item" item="group_filter">

        <label class="slider_item_main_label">Выберите категорию для поиска</label>
        <div  item="group_filter" class="slider_arrow arrow_down"></div>
        <div class="slider_body" item="group_filter">

        <table class="search_table">
           <tr>
                <td class="search_th font13 width_400">Образовательная организация :</td>
                <td class="font13 width_400">{{ curator.name }}</td>
           </tr>
        </table>
        <div class="bumper"></div>

            <div class="slider_row">
                <table>
                    <tr>
                        <td colspan="2" class="padding_10  font14">Статус:</td>
                        <td colspan="4" class="padding_10">
                            <select id="level">
                                <option value="-1">--</option>
                                {% for item in levels %}
                                <option value="{{ item.0 }}">{{ item.1 }}</option>
                                {% endfor %}
                            </select>
                            <div class="bumper"></div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" class="padding_10  font14">Программа:</td>
                        <td colspan="4" class="padding_10">
                            <select id="program">
                                <option value="-1">--</option>
                                {% for item in programs %}
                                <option value="{{ item.program.id }}" level="{{ item.program.level }}">{{ item.program.name }}</option>
                                {% endfor %}
                            </select>
                            <div class="bumper"></div>
                        </td>
                    </tr>
                </table>
            </div>
    </div>
    <div class="clear"></div>
</div>

<form action="{% url 'group-new' %}" id="groups_requests_submit"  method="POST" name="group">
    <input type="hidden" name="edu_institute" value="{{ curator.id }}" />
    <input type="hidden" name="level" />
    <input type="hidden" name="step" value="0" />

<div class="personal_card_content  stretchable" type="request">

    <table  class="search_table width_800">
        <thead>
        <th class="search_th">

        </th>
        <th class="search_th">E-mail</th>
        <th class="search_th">ФИО</th>
        <th class="search_th">Программа</th>
        </thead>

        <tbody>
        {% for request in edurequests %}
        <tr class="requests_line" level="{{ request.institute_program.program.level }}" program="{{ request.institute_program.program.id }}" institute="{{ request.institute_program.institute.id }}" city="{{ request.institute_program.institute.city.id }}" region="{{ request.institute_program.institute.city.region.id }}">
            <td>
			<div class="slider_item_main_checkbox">
              <input type="checkbox" name="requests" value="{{ request.id }}" style="display: none">
            </div>
			
			</td>
            <td request_id="{{ request.id }}" class="font16">{{ request.student.email_for_admin }}</td>
            <td request_id="{{ request.id }}" class="font14"><a  class="link_as_text" onclick="window.open(this.href); return false" href="{% url 'request-pdf' request.id  %}">{{ request.student.get_fio }}</a></td>
            <td request_id="{{ request.id }}" class="font14">{{ request.institute_program.program }}</td>

        </tr>
        {% endfor %}
        </tbody>
    </table>

    <!--<div class="row last">-->
        <!--<input type="submit" value="Создать" />-->
    <!--</div>-->

</form>
</div>

{% else %}

<label>Вы попали сюда по ошибке</label>

{% endif %}
{% endblock %}

{% block right_button_panel %}

{% if user.is_curator or curator %}

        <tr>
<td><input type="submit" value="Создать" form="groups_requests_submit"/></td>
        </tr>

{% endif %}

{% endblock %}