{% load url from future %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <!--[if IE]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <title>Информационно-поисковый ресурс Палаты Налоговых Консультантов.{% block title %}{% endblock %}</title>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>


    <link rel="shortcut icon" type="image/png" href="{% url 'favicon' %}"/>
    <link rel="stylesheet" href="/media/css/ipr_style.css" type="text/css"/>
    <link rel="stylesheet" href="/media/css/foundation-icons.css" type="text/css"/>

    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css"/>
    <script src="/media/js/scrollup.js"></script>

    <script>
        $(document).ready(function () {
            $("#auth_button").click(function () {
                open_auth_block();
            });
            $(".popup__closer").click(function () {
                $(".popup__wrapper").fadeOut('slow')
                return false;
            });
            $("#cancelAuth").click(function () {
                $(".popup__wrapper").css("display", "none");
                return false;
            });

            $(".input_label").click(function(){

                if ($(this).attr("id") == "registration"){

                    window.location = "{% url 'register_nalog_consult' %}";
                }else{


                }

            });

    $(".delete_loaded_file").click(function(){

       var lv_input_id = $(this).attr("for_item");
       var parent_table = $(this).closest('table');

       $('input#' + lv_input_id).val("");
       parent_table.remove();
    });
			
	$('.menu_li_management').click(function(){
	     if($('.submenu#'+$(this).attr('id')).is(':visible')){
		$('.submenu#'+$(this).attr('id')).fadeOut('slow');
	     }else{
                $('.submenu#'+$(this).attr('id')).fadeIn('slow');
		}
            return false;
	});

        var custom_tabs_ul = $('#custom_tabs ul');

        function custom_tab_selected(id){
            $('.anytab').hide();
            $('.anytab' + id).show();

            var a = custom_tabs_ul.find('a[href="' + id  +  '"]'), li = a.parent();

            $('#custom_tabs li').removeClass('selected');
            li.addClass('selected');

            {% block custom_tab_selected %}


            {% endblock %}
        };

        $('#custom_tabs ul:first-child a').click(function(){
            custom_tab_selected($(this).attr('href'));
        });

        $('#custom_tabs ul:first-child li').click(function(){
            custom_tab_selected($(this).find('a').attr('href'));
        });

            function set_unchecked(obj){

                obj.removeClass('checked');

                obj.find('input[type="checkbox"]').prop('checked', false);
                obj.find('input[type="checkbox"]').removeAttr('checked');

            };

            function set_checked(obj){

                obj.addClass('checked');

                obj.find('input[type="checkbox"]').prop('checked', true);
                obj.find('input[type="checkbox"]').attr('checked', 'checked');

            };


//            $('.slider_item_main_checkbox').click(function(){
            $(document).on('click', '.slider_item_main_checkbox', function(){

                if(  $(this).find('input[type="checkbox"]').is(':checked') ){

                    set_unchecked($(this));

                }else{

                    set_checked($(this));

                }
            });

            $(".slider_arrow").click(function(){

                if($('div.slider_body[item="'+$(this).attr('item')+'"]').is(":visible")){
                    $('div.slider_body[item="'+$(this).attr('item')+'"]').css("display","none");

                    $(this).removeClass("arrow_up");
                    $(this).addClass("arrow_down");

                }else{
                    $('div.slider_body[item="'+$(this).attr('item')+'"]').css("display","table");


                    $(this).removeClass("arrow_down");
                    $(this).addClass("arrow_up");
                }

            });

        if($('#custom_tabs ul:first-child').length){
            var main_tab, select_any_tab = false;

            $('#custom_tabs ul:first-child').find('li').each(function( index ) {

                if ( index == 0 ){

                    main_tab =  $( this );
                }

                if( document.location.hash.indexOf($( this ).find('a').attr('href')) != -1 ){

                    select_any_tab = true;
                    custom_tab_selected($(this).find('a').attr('href'));

                }
            });

            if(select_any_tab == false){
                custom_tab_selected(main_tab.find('a').attr('href'));
            }
        }


            {% block jquery_ready %}

            {% endblock %}
        });

        function open_auth_block(){
            $(".popup__wrapper").fadeIn('slow')
            return false;
        };

    </script>
	
	<style type="text/css" id="page-css">
	
	{% block page_style %}


    {% endblock %}

    </style>

    <script>

        function Ru(obj) {
            obj.value = obj.value.replace(/[^а-яё]/ig,'');
        }

        function pass_forget_direct(){

            alert('Если вы забыли пароль или хотите проверить, регистрировались ли Вы в инфо-ресурсе, направьте запрос по адресу metodist@palata-nk.ru');
        }

    </script>

    {% block include %}
        {% if match == "home" %}
        <script src="/media/js/raphael-min.js"></script>
        <script src="/media/js/russia_path.js"></script>
        <script src="/media/js/init_russia.js"></script>
        {% endif %}
        <!--<link rel="stylesheet" href="/media/css/select_tabs.css" type="text/css"/>-->
        <link rel="stylesheet" href="/media/css/general_tabs.css" type="text/css"/>
    {% endblock %}

    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-87221047-3', 'auto');
        ga('send', 'pageview');

    </script>

    <!--[if lte IE 6]><link rel="stylesheet" href="style_ie.css" type="text/css" media="screen, projection" />
    <![endif]-->
</head>

<body>

<div id="wrapper">

    <header id="header">
        <div class="help-menu">
            <ul>
                <li><a href="{% url 'home' %}">Главная</a></li>
                <!--{% if not user.is_authenticated and attics|length = 0 %}class="alone" {% endif %}-->
                {% if not user.is_authenticated %}
                <!--<li><a href="#" onclick="pass_forget_direct();">Забыли пароль?</a></li>-->
                <li><a href="{% url 'recovery-request' %}">Забыли пароль?</a></li>
                {% endif %}
                {% for attic in attics %}
                  <li><a href="{% url 'edu-staticpage' attic.slug %}">{{ attic.title }}</a></li>
                {% endfor %}
                {% if user.is_authenticated %}
                   {% if user.is_ipr or user.is_student  %}
                     <li><a href="{% url 'changemail' %}">Сменить e-mail</a></li>
                  {% endif %}
                  {% if not user.is_curator %}
                     <li><a href="{% url 'changepass' %}">Сменить пароль</a></li>
                  {% endif %}
                <li><a href="{% url 'logout' %}">Выйти</a></li>
                {% endif %}


				<!--<li><a href="#">О ПНК</a></li>-->
				<!--<li><a href="#">Контакты</a></li>-->
            </ul>
        </div>

        <div id="header_main">
            <div id="header_logo">
                <a href="http://www.palata-nk.ru/"><img src="/media/img/ipr_pnk_logo.png"></a>
            </div>

            <div id="header_news">
			{% if main_banner %}
			 <a href="{{ main_banner.url }}"><img src="{{ main_banner.image_url }}" width="600" height="70"></a>
			{% else %}
                <!--Новостной блок-->

				
		    {% endif %}
            </div>

            <div id="auth_block">

                {% include 'auth_block.html' %}

            </div>

        </div>
    
	<div class="clear"></div>
    </header>
    <!-- #header-->

    <section id="middle">

        <div id="container">
            <div id="content">
                <div id="content_urlpath"><a href="/">Главная</a>{% block urlpath %}{% endblock %}</div>
            </div>

            <div id="main_content">
                {% block caption %}


                {% endblock %}

                <table class="slow_button_panel">
                {% block slow_button_panel %}


                {% endblock %}
                </table>

                {% block content %}
                
				{% for item in staticpages %}
                <div class="main_block">
                <h1>{{ item.title }}</h1>
                <section class="main_section">{{ item.preview}} <a href="{% url 'edu-staticpage' item.slug %}">Подробнее</a></section>
                </div>
				{% endfor %}

                <div class="main_block">
                <h1>Аккредитованные образовательные организации на карте России</h1>

                    <form id="organization_filter" action="{% url 'organizations' %}" method="POST" style="display: none">
                        <input type="text" name="region">
                    </form>
                
                    <div id="map"></div>
					
					<div id="region_statistic" style="display:none"><div id="triangle"></div><div id="static_data"></div></div>

                        {% if user.is_authenticated and user.is_admin %}

                {% elif user.is_authenticated and user.is_curator %}

                {% elif user.is_authenticated and user.has_edu_request %}

                {% else %}
                    <div class="clear"></div>
                    {% if not user.is_authenticated or user.is_student %}
                    <h1>Регистрация в Инфо-ресурсе. Подача заявлений на подготовку и повышение квалификации налоговых консультантов</h1>
                    {% endif %}
                    <div id="custom_tabs" class="coloredtab">

                    {% include 'main_tab_filtering.html' %}

                    </div>
				{% endif %}	
                </div>
				
				<div class="clear"></div>

                {% endblock %}
            </div>


            <!-- #content-->
        </div>
        <!-- #container-->

        <aside id="sideLeft">
            <div id="side_main_menu">
                <img src="/media/img/ipr_menu_border_top.png">
                {% include 'main_menu.html' %}
                <img src="/media/img/ipr_menu_border_bottom.png">

            </div>

            <div class="sidenewsblock">
                <div class="sidenews_header blue">
                    <label>Новости</label>
                </div>

                {% for item in sidenews %}

                <div class="sidenews_box">

                    <div class="sidenews_title" title="{{ item.title|removetags:"p strong span" }}">
                        {{ item.title }}
                    </div>

                    <div class="sidenews_preview" title="{{ item.preview|removetags:"p strong span" }}">
                        {{ item.preview|safe }}
                    </div>

                    <div class="sidenews_link">
                        <a href="{{ item.url }}">Подробнее</a>
                    </div>

                </div>

                {% endfor %}

                <!--<div class="sidenews_footer">-->
                    <!--<a href="#">Все новости</a>-->
                <!--</div>-->

            </div>
        </aside>
        <!-- #sideLeft -->

    </section>
    <!-- #middle-->

</div>
<!-- #wrapper -->

<div id="right_button_panel">
    <table class="button_panel">
        {% block right_button_panel %}
        {% endblock %}
    </table>

</div>

<div id="scrollup">
    <!--<div id="scrollup_img"></div>-->
    <p>Вернуться <br>наверх</p>
</div>

{% block hide_body_area %}

{% endblock %}


<footer id="footer">
    <div id="footer_logo">
        <a href="http://www.palata-nk.ru/"><img src="/media/img/ipr_pnk_logo.png"></a>
    </div>

    <div id="footer_main">
        <div class="help-menu hm-bottom">
            <ul>
                <li><a href="{% url 'home' %}">Главная</a></li>
                {% for cellar in cellars%}
                <li><a href="{% url 'edu-staticpage' cellar.slug %}">{{ cellar.title }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <h4>Информационно-поисковый ресурс<br/>
            Палаты налоговых консультантов</h4>

        <div id="copyright">
            Палата налоговых консультантов (c) 2002-{% now "Y" %}. Все права защищены.
        </div>
    </div>
</footer>
<!-- #footer -->

<!-- Yandex.Metrika counter -->
<script type="text/javascript">
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter41138189 = new Ya.Metrika({
                    id:41138189,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true,
                    webvisor:true
                });
            } catch(e) { }
        });

        var n = d.getElementsByTagName("script")[0],
                s = d.createElement("script"),
                f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/41138189" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->

<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-MR6TFBJ');</script>
<!-- End Google Tag Manager -->


<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MR6TFBJ"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

</body>
</html>
