{% extends "personal_cabinet.html" %}

{% block title %}
{% if item.id %}{{ item.name }}{% else %}{{ verbose_name }}{% endif %}
{% endblock %}

{% block jquery_ready %}
$('#id_date_started').datepicker();
$('#id_date_ended').datepicker();
$('.accreditation_finish').datepicker();

$('#id_accreditation_finish').datepicker();
$('.recruiting_date').datepicker();

$("form#institute_form").submit(function(){

   if ( $('input#id_web_site').val().length > 0 ){

     var lv_http = $('input#id_web_site').val().indexOf('http');

     if( lv_http == -1 || lv_http != 0 ){

       $('input#id_web_site').val( 'http://' + $('input#id_web_site').val() );

     }
   }

 });

$('input#submit').click(function(){

   if ( $('input#id_web_site').val().length > 0 ){
     var lv_http = $('input#id_web_site').val().indexOf('http');

     if( lv_http == -1 || lv_http != 0 ){

       $('input#id_web_site').val( 'http://' + $('input#id_web_site').val() );

     }
   }
});


$(".cool_button").click(function(){
  if( $(this).attr('type') == 'delete' && $(this).attr('model') == 'recruitment'  && confirm("Вы уверены в том, что хотите удалить этот набор?")) {

        var parent_item = $(this).parent('.slider_item');

        $.get("/edu/recruitment/delete/" + $(this).attr("set") + "/", function (data) {
         <!--var obj = JSON.parse(data);-->
         if (data.status == 1){
          parent_item.remove();
         alert(data.delete_success);
         }else{
         alert(data.delete_success);
         }
       });

  }
});

$("#add_certificate_btn").click(function(){
   $('table#certificate_list');

   var dummy_form = $('div#dummy_certificate').clone(true);

   var count = parseInt($('input#new_certificate_count').val());
   count = count + 1;

   dummy.removeAttr('id');

   $('tr#certificate_button_panel').before(dummy);
   $('input#new_certificate_count').val(count);
   <!--return false;-->
});


{% endblock %}

{% block page_style %}

.accreditation_finish{
   width: 80px !important;
   <!--float: left;-->
}

.slider_item_main_label_half2_short span{
float: left;
margin-right: 2px;
}

{% endblock %}

{% block urlpath %} {{ block.super }} / {% include 'urlpath/url_organizations.html' %} {% if item.id %}/ <a href="{% url "edu-institute" item.id %}">{{ item }}</a>{% else %}/ <a href="{% url "institute-new" %}">{{ verbose_name }}</a>{% endif %} {% endblock %}

{% block caption %}
{% endblock %}

{% block slow_button_panel %}
{% endblock %}

{% block content %}
    {% if user.is_admin or user.is_curator %}
    <h1>{% if item.id %}{{ item.name }}{% else %}{{ verbose_name }}{% endif %}</h1>

	<div class="item">
        <div id="custom_tabs">
            <ul  class="custom_tabs_list">
                <li><a href="#main">Общие данные</a></li>
                <li><a href="#accreditation">Реализуемые программы</a></li>
                {% if item.id %}
                <li><a href="#recruitments">Информация о наборах</a></li>
                {% if requests_count > 0 %}
                  <li><a href="#edurequests">Запросы ({{ requests_count }})</a></li>
                {% endif %}
                <li><a href="#groups">Обучение в группах</a></li>
                {% endif %}
            </ul>

            {% include 'errors_and_messages.html' %}

            {% if item.id %}
            <form action="{% url 'edu-institute-recruitment' item.id %}" method="GET" id="new_recruitment">
            </form>

            <form action="{% url 'groups_new' %}" method="POST" id="new_group">
            {% csrf_token %}
            <input type="hidden" name="institute" value="{{ item.id }}">
            </form>
            {% endif %}

    <form action="{% if item.id %}{% url "edu-institute" item.id %}{% else %}{% url "institute-new" %}{% endif %}"
            method="POST"
            class="editform"
            id="institute_form"
            enctype="multipart/form-data"
            >

          {% csrf_token %}

         <div id="main" class="anytab">
          {% include 'form_loop.html' %}
         </div>

    {% if item.id %}

          <div id="accreditation" class="anytab">
              <table  class="search_table width_800">
                  <thead>
                  <th class="search_th">
                      Аккредит.
                  </th>

                  <th class="search_th">
                      Образовательная программа
                  </th>

                  <th class="search_th">
                      Окончание аккредитации
                  </th>

                  <th class="search_th">
                      Нужно указать даты семинаров
                  </th>
                  </thead>

                  {% for prog in item.get_programs %}
                  <tr>
                  <td>
                      <div class="slider_item_main_checkbox {% if prog.2 and prog.4 != 1 %}checked{% endif %}">
                          <input type="checkbox" name="programs" class="programs" {% if prog.2 and prog.4 != 1 %}checked{% endif %} value="{{ prog.0 }}"  style="display: none">
                          <input type="hidden" name="program_institute_{{ prog.0 }}" class="programs" value="{% if prog.4 != 1 %}{{ prog.2|default:"" }}{% else %}None{% endif %}">
                      </div>
                  </td>

                  <td class="title">
                      <legend>{% if prog.6 == 'U' %}Повышение квалификации{% else %}Подготовка{% endif %}</legend>
                      {{ prog.1 }}
                  </td>

                  <td>
                      <input type="text" class="accreditation_finish" name="accreditation_finish_{{ prog.0 }}" value="{{ prog.3|default:"" }}">
                  </td>

                  <td>
                      {% if prog.6 == 'U' %}

                      <div class="slider_item_main_checkbox {% if prog.2 and prog.5 == 1 %}checked{% endif %}">
                          <input type="checkbox" name="seminars" {% if prog.2 and prog.5 == 1 %}checked{% endif %} value="{{ prog.0 }}"  style="display: none">
                      </div>

                      {% endif %}
                  </td>
                  </tr>
                  {% endfor %}
              </table>
          </div>

          <div id="recruitments" class="anytab">
              {% for recruit in item.get_recruitments %}
              <div class="slider_item institute_slider_item" item="recruit_{{ recruit.0 }}">
                  <label class="slider_item_main_label_half">{{ recruit.3 }}</label>
                  <label class="slider_item_main_label_half2_short">{{ recruit.1|default:"" }}</label>
                  <div class="cool_button" type="edit" model="recruitment" ><a href="{% url 'recruitment-edit' recruit.0 %}">Редактировать</a></div>
                  <div class="cool_button" type="delete" model="recruitment" set="{{ recruit.0 }}">Удалить набор</div>
                  <div class="clear"></div>
              </div>

              {% endfor %}
          </div>

          <div id="groups" class="anytab">
              {% if base_groups|length > 0 %}<label class="groups_sub_header">Подготовка</label>{% endif %}
              {% for group in base_groups %}
              <div class="slider_item clear" item="group_{{ group.id }}">
                  <label class="slider_item_main_label_half">{{ group.name }}</label>
                  <label class="slider_item_main_label_half2_short">экзамен {{ group.exam_date|default:"-" }}</label>
                  <div class="cool_button" ><a href="{% url 'edu-group' group.id %}">Редактировать</a></div>
                  <div class="clear"></div>
              </div>

              {% endfor %}


              {% if up_groups|length > 0 %}<label class="groups_sub_header">Повышение квалификации</label>{% endif %}
              {% for group in up_groups %}
              <div class="slider_item clear" item="group_{{ group.id }}">
                  <label class="slider_item_main_label_half">{{ group.name }}</label>
                  <label class="slider_item_main_label_half2_short">начало {{ group.education_start|default:"-" }}</label>
                  <div class="cool_button" ><a href="{% url 'edu-group' group.id %}">Редактировать</a></div>
                  <div class="clear"></div>
              </div>

              {% endfor %}

              {% with over_base_groups=item.over_base_groups over_up_groups=item.over_up_groups %}

              {% if over_base_groups|length > 0 or over_up_groups|length > 0 %}
              <!--<h3>Отучившиеся</h3>-->
              <div class="personal_card_header"><label>Отучившиеся</label></div>
              {% endif %}

              {% if over_base_groups|length > 0 %}<label class="groups_sub_header">Подготовка</label>{% endif %}
              {% for group in over_base_groups %}
              <div class="slider_item clear" item="group_{{ group.id }}">
                  <label class="slider_item_main_label_half">{{ group.name }}</label>
                  <label class="slider_item_main_label_half2_short">экзамен {{ group.exam_date|default:"-" }}</label>
                  <div class="cool_button" ><a href="{% url 'edu-group' group.id %}">Редактировать</a></div>
                  <div class="clear"></div>
              </div>

              {% endfor %}

              {% if over_up_groups|length > 0 %}<label class="groups_sub_header">Повышение квалификации</label>{% endif %}
              {% for group in over_up_groups %}
              <div class="slider_item clear" item="group_{{ group.id }}">
                  <label class="slider_item_main_label_half">{{ group.name }}</label>
                  <label class="slider_item_main_label_half2_short">начало {{ group.education_start|default:"-" }}</label>
                  <div class="cool_button" ><a href="{% url 'edu-group' group.id %}">Редактировать</a></div>
                  <div class="clear"></div>
              </div>

              {% endfor %}

              {% endwith %}

          </div>

          <div id="edurequests" class="anytab">

              {% include 'edurequests_list.html' with without_institute=1  %}

          </div>

          <div class="clear"></div>

        {% endif %}
        {% if not item.id %}

        <div id="accreditation" class="anytab">
            <table  class="search_table width_800">
                <thead>
                <th class="search_th">
                    Аккредит.
                </th>

                <th class="search_th">
                    Образовательная программа
                </th>

                <th class="search_th">
                    Окончание аккредитации
                </th>
                </thead>

                {% for program in item.programs %}
                <tr>
                    <td>
                        <div class="slider_item_main_checkbox">
                            <input type="checkbox" name="programs" class="programs" value="{{ program.id }}" style="display: none">
                        </div>
                    </td>

                    <td class="title">
                        {{ program.name }}
                    </td>

                    <td>
                        <input type="text" class="accreditation_finish" name="accreditation_finish_{{ program.id }}">
                    </td>

                </tr>
                {% endfor %}
            </table>
            </div>

        {% endif%}
</form>
</div>
    </div>

    {% endif %}
{% endblock %}

{% block right_button_panel %}

{% if user.is_admin or user.is_curator %}
{% if user.is_admin and item.id %}
<tr>
    <td>
    <input type="submit"  value="Новый набор" form="new_recruitment"/>
    </td>
</tr>

{% if requests_count > 0 %}
<tr><td>
    <input type="submit"  value="Новая группа" form="new_group"/>
</td></tr>
{% endif %}

{% endif %}
<tr><td>
    <input type="submit" form="institute_form" value="Сохранить"/>
</td></tr>
{% endif %}
{% endblock %}