{% if item.row_type == 'L' %}

<td class="search_th font14 bold">
    {{ item.letter }}
</td>

{% endif %}

{% if item.row_type == 'I' %}

<td class=" column_item {% if type == 'city' or type == 'institute' %} width_250 {% endif %}">
    <a href="{% if type == 'region' %}{% url 'organizations_region' region_slug=item.slug  %}{% endif %}
             {% if type == 'city' %}{% url 'organizations_city' region_slug=item.region_slug city_slug=item.slug  %}{% endif %}{% if type != 'city' and type != 'region' %}#{% endif %}" class="link_as_text" type="{{ type }}">{{ item.name }}</a>
</td>


{% endif %}