{% extends "index.html" %}

{% block title %}Авторизация{% endblock %}

{% block page_style %}

.tab_content{
margin-top: 10px;
}

{% endblock %}

{% block jquery_ready %}

{% endblock %}

{% block urlpath %} / Авторизация{% endblock %}

{% block content %}
<h1 class="sticker_view_title">{{ item.title }}</h1>
<div class="login_form">

    <form id="loginform" method="post" action="">
        {% csrf_token %}
        <div id="login_error"></div>
        <div class="line">
            <input type="text" placeholder="Логин" name="login">
        </div>
        <div class="line">
            <input type="password" placeholder="Пароль" name="password" autocomplete="off">
            <input type="text" name="next" value="{{ next }}" style="display: none">
        </div>
        <div class="line">
            <input type="submit" value="Войти">
        </div>
    </form>

</div>

{% endblock %}

