<div class="step_{% if type_tab_class == 'P' %}programm{% else %}region{% endif %}" id="step{{ tab_step }}">
    <span class="step-header">Шаг {{ tab_step|add:"1" }}</span>

    {% if tab_step == '0' %}
    <label>Выберите тип поиска</label>
    <label class="input"><input type="radio" value="region" name="choose">По региону</label>
    <label class="input"><input type="radio" value="programm" name="choose">По программе</label>
    {% endif %}

    {% if label_type == 'programm' %}
    <label>Выберите программу подготовки<br/>
        <select id="{% if type_tab_class == 'P' %}programm_{% endif %}select_programm" name="programm">
            <option value="0">Выберите программу</option>
        </select>
    </label>
    {% endif %}

    {% if label_type == 'university' %}
    <label>Выберите образовательную организацию
        <select id="{% if type_tab_class == 'P' %}programm_{% endif %}select_university" name="university">
        </select>
    </label>
    {% endif %}


    {% if label_type == 'region' %}
      {% if type_tab_class == 'P' %}

    <label>Выберите регион
        <select id="programm_select_regions" name="region">
            <option value="0">Выберите регион</option>
        </select>
    </label>

    <label>Выберите город
        <select id="programm_select_city" name="city">
            <option value="0">Выберите город</option>
        </select>
    </label>

      {% else %}

    <label>Выберите регион</label>
    <select id="select_region" name="region">
        <option value="0">Выберите регион</option>
    </select>

    <label>Выберите город</label>
    <select id="select_city" name="city">
        <option value="0">Выберите город</option>
    </select>

      {% endif %}
    {% endif %}

</div>