<ul class="custom_tabs_list">
    {% if not user.is_authenticated or user.is_student %}
    <li><a href="#begin">Стать налоговым консультантом</a></li>
    {% endif %}
    
	{% if not user.is_student %}
    <li><a href="#increase">Повысить квалификацию</a></li>
	{% endif %}
</ul>
{% if not user.is_authenticated or user.is_student  %}
<div id="begin" class="anytab">

    {% include 'main_tab_step.html' with type_tab_class='R' tab_step='0' %}
    {% include 'main_tab_layout.html' with type_tab_class='R' anytab='begin' %}
    {% include 'main_tab_layout.html' with type_tab_class='P' anytab='begin' %}

    <label class="explanation">Заполнение этой формы приводит к регистрации в Инфо-ресурсе и формированию</br> заявления на подготовку по программе Палаты налоговых консультантов</label>
    <div class="clear"></div>

</div>
{% endif %}
<div id="increase" class="anytab">
<!-- сделать проверку на user groups, в которой он находится, чтоб знать, что он консультант -->
    {% if user.is_authenticated and user.is_ipr %}

        {% if not man.confirmed %}
           <label id="sorry"> Уважаемый/ая <span>{{ user.last_name }} {{ user.first_name }} {{ man.patronymic }}</span>! Вы успешно прошли регистрацию в инфо-ресурсе, необходимо подтверждение Вашей принадлежности к профессиональному сообществу налоговых консультантов. После проверки Вашей регистрации администратором (занимает не больше 1 рабочего дня, проверяйте, пожалуйста, Ваш личный кабинет) Вы сможете подать заявление о допуске к повышению квалификации<br>
               <!--<label id="sorry"> Уважаемый/ая <span>{{ user.last_name }} {{ user.first_name }} {{ man.patronymic }}</span>! Вы успешно прошли регистрацию в инфо-ресурсе, необходимо подтверждение Вашей принадлежности к профессиональному сообществу налоговых консультантов. Сразу после подтверждения Вы получите письмо на электронный адрес, указанный при регистрации, и сможете подать заявление о допуске к повышению квалификации<br>-->
		   <span>С уважением, администрация сайта</span></label>


        {% else %}

    {% include 'main_tab_step.html' with type_tab_class='R' tab_step='0' %}
    {% include 'main_tab_layout.html' with type_tab_class='R' anytab='increase' %}
    {% include 'main_tab_layout.html' with type_tab_class='P' anytab='increase' %}

    <div class="clear"></div>
    {% endif %}


     {% elif not user.is_authenticated %}
        <!--Чтобы продолжить выбор программы повышения квалификации <a style="cursor: pointer;" id="go_auth" onclick="open_auth_block();">авторизуйтесь</a>,  либо  <a id="go_registr" href="{% url 'register_nalog_consult' %}">зарегистрируйтесь!</a>-->

    Если  Вы - аттестованый налоговый консультант, для начала работы с
    Инфо-ресурсом  <a id="go_registr" href="{% url 'register_nalog_consult' %}">зарегистрируйтесь</a>
    или  <a style="cursor: pointer;" id="go_auth" onclick="open_auth_block();">войдите  в  Личный  кабинет</a> под своими логином и паролем, если уже регистрировались здесь<br><br>

    В  разделе  "Обучение"  Вашего Личного кабинета перейдите к выбору формы повышения квалификации.<br><br>

    После   этого   заявление  о  допуске  к  повышению  квалификации
    сформируется   и  будет  направлено  автоматически  в  выбранную  Вами
    организацию<br><br>

    {% endif %}
</div>

<script type="text/javascript">
var id_region_val = -1;
var id_city_val = -1;
var id_program_val = -1;
var id_institute_val = -1;

var level = {% if not user.is_authenticated or user.is_student %}'B'{% else %}'U'{% endif %};

$(document).ready(function () {

    function changing_tabs() {
        $('#region_register_layout').show();
        $('#programm_register_layout').hide();

        $('#choose_region').prop('checked', true);
        $('#choose_type :radio').change(function () {
            if (!this.checked)
                return;
            if (this.value == 'programm') {
                $('#region_register_layout').hide();
                $('#programm_register_layout').show();
            }
            else {
                $('#region_register_layout').show();
                $('#programm_register_layout').hide();
            }
        });
    };

    changing_tabs();

    search_type = '';
    select_region = '';
    select_city = '';
    select_program = '';
    select_univers = '';


    $("input[name='choose']").change(function(){

        search_type = $("input[name='choose']:checked").val();
        select_region = '';
        select_city = '';
        select_program = '';
        select_univers = '';

        id_region_val   = -1;
        id_city_val     = -1;
        id_programm_val = -1;
        id_institute_val = -1;

        empty_programm_programs();
        empty_programm_regions();
        empty_programm_cities();
        empty_programm_universities();
        empty_regions()
        empty_programms()
        empty_cities();
        empty_universities();


        if ( search_type == "programm"){
            $('#region_register_layout').hide();
            $('#programm_register_layout').show();
            get_programms();

            $('#programm_make_nalog').children('#step1').css('visibility', 'visible');
            $('#programm_make_nalog').children('#step2').css('visibility', 'hidden');
            $('#programm_make_nalog').children('#step3').css('visibility', 'hidden');
        }else{
            get_regions();
            $('#region_register_layout').show();
            $('#programm_register_layout').hide();

            $('#region_make_nalog').children('#step1').css('visibility', 'visible');
            $('#region_make_nalog').children('#step2').css('visibility', 'hidden');
            $('#region_make_nalog').children('#step3').css('visibility', 'hidden');
        }
    });


    function empty_regions(){
        select_region = '';
        $('#select_region').empty();
        $('#select_region').append("<option value='-1'>Выберите регион</option>");
    };


    function empty_cities(){
        select_city = '';
        $('#select_city').empty();
        $('#select_city').append("<option value='-1'>Выберите город</option>");
    };

    function empty_programms(){
        select_program = '';
        $('#select_programm').empty();
        $('#select_programm').append("<option value='-1'>Выберите программу</option>");
    };

    function empty_universities(){
        select_univers = '';
        $('#select_university').empty();
        $('#select_university').append("<option value='-1'>Выберите организацию</option>");
    };


    function get_programms() {
        $.post('/ajax/programs/',{region: id_region_val, city: id_city_val, institute: id_institute_val, program: id_programm_val, level: level}, function (data) {
            $('#programm_select_programm').empty();
            $('#programm_select_programm').append("<option value='-1'>Выберите программу</option>");
            $.each(data, function (i, data) {
                console.log(data);
                $('#programm_select_programm').append("<option value=" + data.id + ">" + data.name + "</option>");
            });
        });

    };


    function get_regions() {
        $.post('/ajax/regions/',{region: id_region_val, city: id_city_val, institute: id_institute_val, program: id_programm_val, level: level}, function (data) {
            $.each(data, function (i, data) {
                $('#select_region').append("<option value=" + data.id + "  raphael_id="+data.raphael_id+"  slug="+data.raphael_slug+" >" + data.name + "</option>");
            });
        });

    };

    $('#select_region').change(function(){
        id_region_val = -1;

        empty_cities();
        empty_programms();
        empty_universities();


        id_region_val = $("#select_region option:selected").val();
        id_city_val = $("#select_city option:selected").val();
        id_programm_val = $("#select_programm option:selected").val();
        id_univers_val = $("#select_university option:selected").val();
        select_region = id_region_val;

        console.log('change region');
        $.post('/ajax/cities/',{region: id_region_val, city: id_city_val, institute: id_institute_val, program: id_programm_val, level: level},function (data) {
            empty_cities();
            empty_programms();
            empty_universities();
            $.each(data, function (i, data) {

                $("#select_city").append("<option value=" + data.id + ">" + data.name + "</option>");
            });

        });

    });

    $('select#select_city').change(function() {
        id_city_val = -1;

        empty_programms();
        empty_universities();

        id_region_val = $("#region_make_nalog").find("#select_region option:selected").val();
        id_city_val = $("#region_make_nalog").find("#select_city option:selected").val();
        id_programm_val = $("#region_make_nalog").find('#select_programm option:selected').val();
        id_univers_val = $("#region_make_nalog").find('#select_university option:selected').val();

        select_city = id_city_val;

        console.log('change city');
        $.post('/ajax/programs/',{region: id_region_val, city: id_city_val, institute: id_institute_val, program: id_programm_val, level: level}, function (data) {
            empty_programms();
            empty_universities();
            $.each(data, function (i, data) {
                $("#region_make_nalog").find('#select_programm').append("<option value=" + data.id + ">" + data.name + "</option>");
            });

            if( select_region != '' && select_city != ''){
                $("#region_make_nalog").find('.step_region#step2').css('visibility', 'visible');
            }

        });
    });

    $('select#select_programm').change(function() {
        id_programm_val = 0;

        empty_universities();
        id_region_val = $("#region_make_nalog").find("#select_region option:selected").val();
        id_city_val = $("#region_make_nalog").find("#select_city option:selected").val();
        id_programm_val = $("#region_make_nalog").find('#select_programm option:selected').val();
        id_univers_val = $("#region_make_nalog").find('#select_university option:selected').val();
        select_program = id_programm_val;

        console.log('change programm');
        $.post('/ajax/institutes/',{region: id_region_val, city: id_city_val, institute: id_institute_val, program: id_programm_val, level: level}, function (data) {
            empty_universities();
            $.each(data, function (i, data) {
                $("#region_make_nalog").find('#select_university').append("<option value=" + data.id + ">" + data.name + "</option>");
            });

            if( select_region != '' && select_city != ''  && select_program != ''){
                $("#region_make_nalog").find('.step_region#step3').css('visibility', 'visible');
            }
        });

    });

//    function changing_region_univers() {
    $('select#select_university').change(function() {
        id_univers_val = 0;
        id_region_val = $("#region_make_nalog").find("#select_region option:selected").val();
        id_city_val = $("#region_make_nalog").find("#select_city option:selected").val();
        id_programm_val = $("#region_make_nalog").find('#select_programm option:selected').val();
        id_univers_val = $("#region_make_nalog").find('#select_university option:selected').val();
        select_univers = id_univers_val;

        if( select_univers != 0 && select_city != 0 && select_program != 0 && select_region != 0){
            $("#region_make_nalog").find("input[type='submit']").removeAttr('disabled');

        }
    });

    function sumbit_region_form() {
        if( select_univers != 0 && select_city != 0 && select_program != 0 && select_region != 0){
            $('#region_make_nalog').submit();
        }else{


        }

    };

    function empty_programm_programs(){
        select_region = '';
        $('#programm_select_programm').empty();
        $('#programm_select_programm').append("<option value='-1'> Выберите программу </option>");
    };

    function empty_programm_regions(){
        select_region = '';
        $('#programm_select_regions').empty();
        $('#programm_select_regions').append("<option value='-1'> Выберите регион </option>");
    };

    function empty_programm_cities(){
        select_city = '';
        $('#programm_select_city').empty();
        $('#programm_select_city').append("<option value='-1'>  Выберите город  </option>");
    };


    function empty_programm_universities(){
        select_univers = '';
        $('#programm_select_university').empty();
        $('#programm_select_university').append("<option value='-1'>  Выберите образовательную организацию  </option>");
    };

    $('select#programm_select_programm').change(function() {
        id_programm_val = 0;

        empty_programm_regions();
        empty_programm_cities();
        empty_programm_universities();

        id_city_val = $("#programm_select_city option:selected").val();
        id_region_val = $("#programm_select_regions option:selected").val();
        id_programm_val = $("#programm_select_programm option:selected").val();
        id_institute_val = $('#programm_select_university option:selected').val();

        select_program = id_programm_val;

        $.post('/ajax/regions/',{region: id_region_val, city: id_city_val, institute: id_institute_val, program: id_programm_val, level: level}, function (data) {
            empty_programm_regions();
            empty_programm_cities();
            empty_programm_universities();
            $.each(data, function (i, data) {
                $("#programm_make_nalog").find('#programm_select_regions').append("<option value=" + data.id + ">" + data.name + "</option>");
            });

            if( select_program != ''){
                $("#programm_make_nalog").find('.step_programm#step2').css('visibility', 'visible');
            }

        });
    });

    $('select#programm_select_regions').change(function() {
        id_region_val = 0;

        empty_programm_cities();
        empty_programm_universities();

        id_city_val = $("#programm_select_city option:selected").val();
        id_region_val = $("#programm_select_regions option:selected").val();
        id_programm_val = $("#programm_select_programm option:selected").val();
        id_institute_val = $('#programm_select_university option:selected').val();
        select_region = id_region_val;

        $.post('/ajax/cities/',{region: id_region_val, city: id_city_val, institute: id_institute_val, program: id_programm_val, level: level}, function (data) {
            empty_programm_cities();
            empty_programm_universities();
            $.each(data, function (i, data) {
                $('#programm_select_city').append("<option value=" + data.id + ">" + data.name + "</option>");
            });
        });

    });

    /*function changing_programm_cities() {*/
    $('select#programm_select_city').change(function() {
        id_city_val = -1;

        empty_programm_universities();

        id_city_val = $("#programm_select_city option:selected").val();
        id_region_val = $("#programm_select_regions option:selected").val();
        id_programm_val = $("#programm_select_programm option:selected").val();
        id_institute_val = $('#programm_select_university option:selected').val();
//        id_institute_val = $("#programm_select_regions option:selected").val();

        select_city = id_city_val;

        $.post('/ajax/institutes/',{region: id_region_val, city: id_city_val, institute: id_institute_val, program: id_programm_val, level: level}, function (data) {
            empty_programm_universities();
            $.each(data, function (i, data) {
                $('#programm_select_university').append("<option value=" + data.id + ">" + data.name + "</option>");
            });
            if( select_program != '' && select_city != '' && select_region != ''){
                $("#programm_make_nalog").find('.step_programm#step3').css('visibility', 'visible');
            }

        });

    });

    /*function changing_programm_univers(){*/
    $('select#programm_select_university').change(function() {

        id_univers_val = 0;
        id_univers_val = $("#programm_make_nalog").find('#programm_select_university option:selected').val();
        select_univers = id_univers_val;

        if( select_univers != 0 && select_city != 0 && select_program != 0 && select_region != 0){
            $("#programm_make_nalog").find("input[type='submit']").removeAttr('disabled');

        }

    });

    function submit_programm_form() {

        if( select_univers != 0 && select_city != 0 && select_program != 0 && select_region != 0){
            $('form#programm_make_nalog').submit();
        }else{


        }
    };


});
</script>
