{% block main_menu %}


<ul>
    <li {% if match == "home" or  match == "register" or  match == "register_student" or  match == "register_curator"  or  match == "register_nalog_consult" %}id="current"{% endif %}>
    <i class="step fi-home size-21"></i><a href="/" >Главная</a></li>
    {% if user.is_authenticated %}

    <li {% if match == "personal_cabinet" or match == "edu-item" or match == "edu-item-new"  %}id="current"{% endif %}><i class="step fi-key size-21"></i><a href="{% url 'personal_cabinet' %}">Личный кабинет</a></li>

        {% if user.is_admin %}
            {% if user.is_olesya %}

    <li class="menu_li_management" id="memberships" ><i class="step fi-dollar size-21"></i><a href="">Взносы</a></li>
    <ul class="submenu"  id="memberships" {% if match != "memberships-entrance" and match != "memberships-unload" %}style="display:none;"{% endif %}>
        <li {% if match == "memberships-unload" %}id="current"{% endif %}><a href="{% url 'memberships-unload' %}" >Выгрузка</a></li>
        <li {% if match == "memberships-entrance-mass" %}id="current"{% endif %}><a href="{% url 'memberships-entrance' %}" >Массовый ввод</a></li>
    </ul>
            {% endif %}

           {% if claim > 0 and not user.is_olesya  %}
             <li {% if match == "no_confirmed" %}id="current"{% endif %}><i class="step fi-universal-access size-21"></i><a href="{% url 'no_confirmed' %}">Заявки <span>({{ claim }})</span></a></li>
           {% endif %}

           <li {% if match == "search" %}id="current"{% endif %}><i class="step fi-magnifying-glass size-21"></i><a href="{% url 'search' %}">Поиск информации</a></li>

			<li {% if match == "dialogs" %}id="current"{% endif %}><i class="step fi-comments size-21"></i><a href="{% url 'dialogs' %}">Сообщения {% if new_message_count > 0 %}<span>({{ new_message_count }})</span>{% endif %}</a></li>

            <li class="menu_li_management" id="administration" ><i class="step fi-wrench size-21"></i><a href="">Администрирование</a></li>
            <ul class="submenu"  id="administration" {% if match != "eduadmin" and match != "eduadmin-others" and  match != "eduadmin-new" and match != "eduadmin-edit" %}style="display:none;"{% endif %}>
               <li><a href="{% url 'eduadmin' %}#requests" >Запросы на обучение</a></li>
               <li {% if match == "eduadmin-new" or match == "eduadmin-edit" %}id="current"{% endif %}><a href="{% url 'eduadmin' %}#others" >Прочее</a></li>
            </ul>

            <li class="menu_li_management" id="archive" ><i class="step fi-social-stack-overflow size-21"></i><a href="">Архив</a></li>

        <ul class="submenu"  id="archive" {% if match != "archive_unvirsity" and match != "archive_programs" and match != "archive_groups" %}style="display:none;"{% endif %}>
            <li {% if match == "archive_unvirsity" %}id="current"{% endif %}><a href="{% url 'archive_unvirsity' %}" >Образовательные организации</a></li>
            <li {% if match == "archive_programs" %}id="current"{% endif %}><a href="{% url 'archive_programs' %}" >Образовательные программы</a></li>
            <li {% if match == "archive_groups" %}id="current"{% endif %}><a href="{% url 'archive_groups' %}" >Каталог групп</a></li>
        </ul>

        {% else %}

            <li {% if match == "search" %}id="current"{% endif %}><i class="step fi-magnifying-glass size-21"></i><a href="{% url 'search' %}">Поиск информации</a></li>
		    <li {% if match == "dialogs" %}id="current"{% endif %}><i class="step fi-comments size-21"></i><a href="{% url 'dialogs' %}">Сообщения {% if new_message_count > 0 %}<span>({{ new_message_count }})</span>{% endif %}</a></li>

        {% endif %}
    {% endif %}

            <li {% if match == "sticker-new" or  match == "edu-sticker"  or  match == "recruitments" %}id="current"{% endif %}><i class="step fi-results-demographics size-21"></i><a href="{% url 'recruitments' %}" >Информация о наборе групп</a></li>
			<!--<li {% if match == "sticker-new" or  match == "edu-sticker"  or  match == "stickers" %}id="current"{% endif %}><a href="% url 'stickers' %" >Объявления</a></li>-->
            <li {% if match == "program_catalog" %}id="current"{% endif %}><i class="step fi-results size-21"></i><a href="{% url 'program_catalog' %}">Каталог программ</a></li>
            <li {% if match == "organizations" %}id="current"{% endif %}><i class="step fi-social-skillshare size-21"></i><a href="{% url 'organizations' %}" ><span>Каталог образовательных организаций</span></a></li>
            <li {% if match == "groups" %}id="current"{% endif %}><i class="step fi-torsos-all size-21"></i><a href="{% url 'groups' %}">Каталог групп</a></li>

        {% for item in menuitems %}

             <li>{% if item.picture %}<i class="step {{ item.picture }} size-21"></i>{% endif %}<a href="{{ item.link }}">{{ item.title }}</a></li>
        {% endfor %}

            <!--<li><a href="#">О системе ИПР</a></li>-->
            <!--<li><a href="#">Новости</a></li>-->
            <!--<li><a href="#">Статистика</a></li>-->
        </ul>

{% endblock %}
