<div id="{% if type_tab_class == 'R' %}region_register_layout{% else %}programm_register_layout{% endif %}" class="layout">
    <form name="{% if type_tab_class == 'R' %}region_make_nalog{% else %}programm_make_nalog{% endif %}" id="{% if type_tab_class == 'R' %}region_make_nalog{% else %}programm_make_nalog{% endif %}" method="POST"
          {% if anytab == "begin" %}
    action="{% if user.is_authenticated and user.is_student %}{% url 'create_edu_request' %}{% else %}{% url 'register_student' %}{% endif %}"
          {% else %}
    action="{% url 'create_edu_request' %}"
          {% endif %}
    >
        {% csrf_token %}

    {% if anytab == "begin" %}
        <input type="hidden" name="student_request" value="true">
    {% else %}
        <input type="hidden" name="make_nalog" value="true">
    {% endif %}

        {% if type_tab_class == 'R' %}

        {% include 'main_tab_step.html' with type_tab_class='R' tab_step='1' label_type='region' %}
        {% include 'main_tab_step.html' with type_tab_class='R' tab_step='2' label_type='programm' %}
        {% include 'main_tab_step.html' with type_tab_class='R' tab_step='3' label_type='university' %}
        {% include 'main_tab_submit.html' with type_tab_class='R' %}

        {% else %}

        {% include 'main_tab_step.html' with type_tab_class='P' tab_step='1' label_type='programm' %}
        {% include 'main_tab_step.html' with type_tab_class='P' tab_step='2' label_type='region' %}
        {% include 'main_tab_step.html' with type_tab_class='P' tab_step='3' label_type='university' %}

        {% include 'main_tab_submit.html' with type_tab_class='P' %}

        {% endif %}
    </form>
</div>