{% extends "index.html" %}

{% block include %}
<script type="text/javascript" src="/media/js/jquery-ui-1.8.18/development-bundle/ui/i18n/jquery.ui.datepicker-ru.js"></script>
<link rel="stylesheet" type="text/css" media="all" href="/media/css/cupertino/jquery-ui-1.8.18.custom.css" />
{% endblock %}

{% block jquery_ready %}

    var sort_by   = 'asc';
    var idfield   = 'title';
	
	var region    = "";
    var city      = "";
    var institute = "";

    $('#begin_date').datepicker();

$(".search_people_line").click(function(){
  window.location = "/edu/request/" + $(this).attr("item") + "/";
});

$('.search_button').click(function(){

        if( $(this).attr('type') == 'edit' ){

           window.location = "/edu/person/edit/" + $(this).attr("person") + "/";

        }


       if( $(this).attr('type') == 'delete' ){

           window.location = "/edu/person/delete/" + $(this).attr("person") + "/";
      }

})


<!--/*================== Свертка и развертка фильтра ==============================*/-->
<!--$(".slider_arrow").click(function(){-->

<!--if($('div.slider_body[item="'+$(this).attr('item')+'"]').is(":visible")){-->
<!--$('div.slider_body[item="'+$(this).attr('item')+'"]').css("display","none");-->

<!--$(this).removeClass("arrow_up");-->
<!--$(this).addClass("arrow_down");-->

<!--}else{-->
<!--$('div.slider_body[item="'+$(this).attr('item')+'"]').css("display","block");-->


<!--$(this).removeClass("arrow_down");-->
<!--$(this).addClass("arrow_up");-->
<!--}-->
<!--});-->

/*================== Сортировка по убыванию ==============================*/
$(".sort_desc").click(function(){
  var sortbox = $(this).parent(".sortbox");

  if( $(this).attr("id") == "on" ){

    $("input[name='"+ $(this).attr("type")+"']").val(0);
    $('form#search_filter').submit();

  }else{
   
    $("input[name='"+ $(this).attr("type")+"']").val(-1);
	$('form#search_filter').submit();
  }

});

/*================== Сортировка по возрастанию ==============================*/
$(".sort_asc").click(function(){
  var sortbox = $(this).parent(".sortbox");

  if( $(this).attr("id") == "on" ){

    $("input[name='"+ $(this).attr("type")+"']").val(0);
    $('form#search_filter').submit();

  }else{
   
    $("input[name='"+ $(this).attr("type")+"']").val(1);
	$('form#search_filter').submit();
  }

});

{% endblock %}

{% block page_style %}

{% if membership_results|length == 0 %}
.slider_body{

display: block !important;
}
{% endif %}

{% endblock %}

<!--{% block urlpath %} {% if user.is_authenticated %}/ <a href="{% url "personal_cabinet" %}">Личный кабинет</a>{% endif %} / <a href="{% url "search" %}">Поиск информации</a>{% endblock %}-->

{% block content %}
    
<h1>Взносы за членство</h1>
<div class="slider_item" item="search_filter">
    <form id="search_filter" method="POST" action="{% url 'search' %}">
        {% csrf_token %}

        <label class="slider_item_main_label">Фильтр</label>

        {% if membership_results|length > 0 %}
        <div  item="recruitment_filter" class="slider_arrow arrow_down"></div>
        {% endif %}

        <div class="slider_body" item="recruitment_filter">

            <div class="slider_row">
                <div class="filter_search">ФИО :</div>
                <div class="slider_body_property_value"><input type="text" name="fio" id="search_fio_id" value="{{ fio|default:'' }}"></div>
                <div class="clear"></div>
            </div>

            <div class="slider_row">
                {% if user.is_admin %}
                <div class="filter_short email">email слушателя :</div>
                {% endif %}
                <div class="clear"></div>
            </div>
            <div class="slider_row">
                {% if user.is_admin %}
                <div class="filter_short email"><input type="text" class="filter_fio" name="email" id="email" value="{{ email|default:"" }}"></div>
                {% endif %}
                <div class="clear"></div>
            </div>

            <div class="slider_row">
                <div class="filter_short membership_numberl">Номер членского билета :</div>
                <div class="filter_short email">Номер аттестата :</div>
                <div class="filter_short email">Дата получения аттестата :</div>
                <div class="filter_short email">Срок действия аттестата :</div>

            </div>

            <div class="slider_row">
                <div class="filter_short membership_number"><input type="text" class="filter_fio" name="membership_number" id="membership_number" value="{{ membership_number|default:"" }}"></div>
                <div class="filter_short attestat_number"><input type="text" class="filter_fio" name="attestat_number" id="attestat_number" value="{{ attestat_number|default:"" }}"></div>
                <div class="filter_short attestat_date"><input type="text" class="filter_fio" name="attestat_date" id="attestat_date" value="{{ attestat_date|default:"" }}"></div>
                <div class="filter_short attestat_length"><input type="text" class="filter_fio" name="attestat_length" id="attestat_length" value="{{ attestat_length|default:"" }}"></div>

                <div class="clear"></div>
            </div>

            <div class="slider_row">
                <div class="filter_half region">Регион :</div>
                <div class="filter_half city">Город :</div>
            </div>

            <div class="slider_row">
                <div class="filter_half region">
                    <select id="region" name="region"   class="filter_select_half">
                        <option value="-1">--</option>
                        {% for item in regions %}
                        <option value="{{ item.id }}" {% if region|floatformat == item.id|floatformat %}selected{% endif %}>{{ item.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="filter_half city">
                    <select id="city" name="city"   class="filter_select_half">
                        <option value="-1">--</option>
                        {% for item in cities %}
                        <option value="{{ item.id }}"  {% if city|floatformat == item.id|floatformat %}selected{% endif %} region="{{ item.region.id }}">{{ item.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="clear"></div>
            </div>

            <div class="slider_row">
                <div class="filter_half email">Образовательная организация :</div>
                <div class="filter_half email">Образовательная программа :</div>
                <div class="clear"></div>
            </div>

            <div class="slider_row">
                <div class="filter_half institute">
                    <select id="institute" name="institute"  class="filter_select_half">
                        <option value="-1">--</option>
                        {% for item in institutes %}
                        <option value="{{ item.id }}" name="institute" {% if institute|floatformat == item.id|floatformat %}selected{% endif %}>{{ item.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="filter_half program">
                    <select id="program" name="program"  class="filter_select_half">
                        <option value="-1">--</option>
                        {% for item in programs %}
                        <option value="{{ item.id }}"  {% if program|floatformat == item.id|floatformat %}selected{% endif %}>{{ item.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="clear"></div>
            </div>

		<div class="slider_row">
        <div class="filter_search">Начало обучения :</div><div class="slider_body_property_value"><span for="begin_date">с: </span><input type="text" name="begin_date" id="begin_date" value="{{ begin_date|default:"" }}"><span for="end_date">по: </span><input type="text" name="end_date" id="end_date" value="{{ end_date|default:"" }}"></div>
                <!--<div class="clear"></div>-->
        </div>


        <div class="slider_body_property_name"></div><div class="slider_body_property_value"><input type="submit" value="Применить"></div>

		</div>
        <div class="clear"></div>
        </form>
</div>

{% if base_results|length > 0  or up_results|length > 0 %}
<ul class="tabs">
    <li type="B" {% if tab_sel == 'B' %}id="sel"{% endif %}>Подготовка налоговых консультантов ({{ base_results|length }})</li>
    <li type="U" {% if tab_sel == 'U' %}id="sel"{% endif %}>Повышение квалификации налоговых консультантов ({{ up_results|length }})</li>
</ul>

<div class="count_block">Количество людей: <span id="base_count" {% if tab_sel == 'U' %}style="display:none"{% endif %}>{{ base_results|length }}</span><span id="up_count" {% if tab_sel == 'B' %}style="display:none"{% endif %}>{{ up_results|length }}</span></div>

        <table  class="search_table width_800">
            <thead>
            <th class="search_th">
              ФИО
            </th>

            <th class="search_th">
                Проф. статус
            </th>

            <th class="search_th">
                Квалификационный аттестат
            </th>

            <th class="search_th">
                Образовательная организация
            </th>

            <th class="search_th">
                Образовательная программа
            </th>

            <th class="search_th">
                Группа
            </th>

            <th class="search_th">
                Аттестационный экзамен
            </th>

            </thead>

            <tbody id="base_results" {% if tab_sel == 'U' %}style="display:none"{% endif %}>


{% for search_result in base_results %}

      <tr>

            <td>
                <!--user_id - 0, fio - 1 is_student - 2 is_ipr - 3-->
                <!--has_edu_request - 4, student_id - 5 ,student_slug - 6,-->
                <!--confirmed - 10 ,rejected - 11, reason - 12,-->
                <!--request_id - 15,request.is_archive - 16,-->
                {% if user.is_authenticated and user.is_admin %}
                <!-- login 44 -->
                {% endif %}

                {% if search_result.11 == 1 %}
                <legend class="reject_legend">Отклонён</legend>
                {% endif %}

                {% if search_result.16 == 1 %}
                <legend class="archive_legend">Архив</legend>
                {% endif %}

                {{ search_result.1 }}
                {% if user.is_authenticated and user.is_admin %}
                <br>{{ search_result.44 }}
                {% endif %}
            </td>

            <td>
                <!--profstatus_id - 13, title - 14,-->
                {{ search_result.14|default:"" }}
            </td>

            <td>
                <!--attestat_number - 7 ,attestat_date - 8, attestat_length - 9,-->
               <div> {{ search_result.7|default:"-" }}</div>
                {% if search_result.8 %}
                <div>с {{ search_result.8|default:"" }}</div>
                {% endif %}

                {% if search_result.9 %}
                <div>по {{ search_result.9|default:"" }}</div>
                {% endif %}
            </td>

           <td>
                <!--inst_prog.id - 17 , inst_prog.is_archive - 18,-->
                <!--inst.id - 19, inst.name - 20 ,inst.is_archive - 21,-->
                {% if search_result.18 == 1 or search_result.21 == 1 %}
                <legend class="archive_legend">Архив</legend>
                {% endif %}

                {{ search_result.20|default:"" }}
            </td>

            <td>
                <!--inst_prog.id - 17 , inst_prog.is_archive - 18,-->
                <!--prog.id - 22, prog.name - 23, prog.is_archive - 24,-->
                {% if search_result.18 == 1 or search_result.24 == 1 %}
                <legend class="archive_legend">Архив</legend>
                {% endif %}

                {{ search_result.23|default:"" }}
            </td>

          <!--studgrop.id - 25 ,studgrop.exam_date - 26 ,studgrop.exam_result_id - 27,-->
          <!--exam_res.title - 28 ,exam_res.is_finish - 29 , studgrop.is_archive - 30,-->
          <!--group.id - 31, group.name - 32, group.education_start - 33,group.education_end - 34,-->
          <!--group.send_pnk_date - 35 , group.get_pnk_date - 36 , group.exam_date - 37,-->
          <!--group.level - 38, group.form_id - 39, form_title - 40, group.volume_academ_hours - 41,-->
          <!--group.is_finished - 42, group.is_archive - 43-->

           <td>
               {% if search_result.43 == 1 %}
               <legend class="archive_legend">Архив</legend>
               {% endif %}

               {% if search_result.42 == 1 %}
               <legend  class="finish_legend">Обучение завершено</legend>
               {% endif %}

               {% if search_result.32 %}

               {{ search_result.32|default:"-" }}

               {% if search_result.33 or search_result.34 %}
               <div>с {{ search_result.33|default:"-" }} по {{ search_result.34|default:"-" }}</div>
               {% endif %}

               {% if search_result.40 %}
               <div> {{ search_result.40|default:"-" }}</div>
               {% endif %}

               {% endif %}
           </td>

           <td>
               {% if search_result.28 %}
               <legend  class="exam_result_legend">{{ search_result.28 }}</legend>
               {% endif %}

               {{ search_result.37|default:"-" }}
           </td>

          </tr>

            {% if user.is_authenticated and user.is_admin %}
            <!--строка для кнопок всяких-->
            <tr class="search_toolbar_tr">
                
                <td colspan="7">

                    <div class="search_button" type="edit" person="{{ search_result.6 }}">Редактировать</div>
                    <div class="search_button" type="delete" person="{{ search_result.6 }}">Удалить кабинет</div>

                </td>

            </tr>
            {% endif %}

        <!--</div>-->
        {% endfor %}
            </tbody>

            <tbody id="up_results" {% if tab_sel == 'B' %}style="display:none"{% endif %}>

        {% for search_result in up_results %}

        <tr>

    <td>
        <!--user_id - 0, fio - 1 is_student - 2 is_ipr - 3-->
        <!--has_edu_request - 4, student_id - 5 ,student_slug - 6,-->
        <!--confirmed - 10 ,rejected - 11, reason - 12,-->
        <!--request_id - 15,request.is_archive - 16,-->
        {% if search_result.11 == 1 %}
        <legend  class="reject_legend">Отклонён</legend>
        {% endif %}

        {% if search_result.11 != 1 and search_result.10 != 1 %}
        <legend  class="recruit_legend">Не утвержден</legend>
        {% endif %}

        {% if search_result.16 == 1 %}
        <legend class="archive_legend">Архив</legend>
        {% endif %}

        {{ search_result.1 }}
        {% if user.is_authenticated and user.is_admin %}
        <br>{{ search_result.44 }}
        {% endif %}
    </td>

    <td>
        <!--profstatus_id - 13, title - 14,-->
        {{ search_result.14|default:"" }}
    </td>

    <!--</div>-->

    <!--<div class="search_attestat_number">-->
    <td>
        <!--attestat_number - 7 ,attestat_date - 8, attestat_length - 9,-->
        <div> {{ search_result.7|default:"-" }}</div>
        {% if search_result.8 %}
        <div>с {{ search_result.8|default:"" }}</div>
        {% endif %}

        {% if search_result.9 %}
        <div>по {{ search_result.9|default:"" }}</div>
        {% endif %}
    </td>
    <!--</div>-->

    <!--<div class="search_institute">-->
    <td>
        <!--inst_prog.id - 17 , inst_prog.is_archive - 18,-->
        <!--inst.id - 19, inst.name - 20 ,inst.is_archive - 21,-->
        {% if search_result.18 == 1 or search_result.21 == 1 %}
        <legend class="archive_legend">Архив</legend>
        {% endif %}

        {{ search_result.20|default:"" }}
    </td>
    <!--</div>-->

    <!--<div class="search_program">-->
    <td>
        <!--inst_prog.id - 17 , inst_prog.is_archive - 18,-->
        <!--prog.id - 22, prog.name - 23, prog.is_archive - 24,-->
        {% if search_result.18 == 1 or search_result.24 == 1 %}
        <legend class="archive_legend">Архив</legend>
        {% endif %}

        {{ search_result.23|default:"" }}
    </td>
    <!--</div>-->

    <!--studgrop.id - 25 ,studgrop.exam_date - 26 ,studgrop.exam_result_id - 27,-->
    <!--exam_res.title - 28 ,exam_res.is_finish - 29 , studgrop.is_archive - 30,-->
    <!--group.id - 31, group.name - 32, group.education_start - 33,group.education_end - 34,-->
    <!--group.send_pnk_date - 35 , group.get_pnk_date - 36 , group.exam_date - 37,-->
    <!--group.level - 38, group.form_id - 39, form_title - 40, group.volume_academ_hours - 41,-->
    <!--group.is_finished - 42, group.is_archive - 43-->

    <td>
        {% if search_result.43 == 1 %}
        <legend class="archive_legend">Архив</legend>
        {% endif %}

        {% if search_result.42 == 1 %}
        <legend class="finish_legend">Обучение завершено</legend>
        {% endif %}

        {% if search_result.32 %}

        {{ search_result.32|default:"-" }}

        {% if search_result.33 or search_result.34 %}
        <div>с {{ search_result.33|default:"-" }} по {{ search_result.34|default:"-" }}</div>
        {% endif %}

        {% if search_result.40 %}
        <div> {{ search_result.40|default:"-" }}</div>
        {% endif %}

        {% endif %}
    </td>

    <td>
        {% if search_result.28 %}
        <legend class="exam_result_legend">{{ search_result.28 }}</legend>
        {% endif %}

        {{ search_result.37|default:"-" }}
    </td>
    <!--</div>-->
    </tr>

            {% if user.is_authenticated and user.is_admin %}
            <!--строка для кнопок всяких-->
            <tr class="search_toolbar_tr">

                <td colspan="7">

                    <div class="search_button" type="edit"  person="{{ search_result.6 }}">Редактировать</div>
                    <div class="search_button" type="delete"  person="{{ search_result.6 }}">Удалить кабинет</div>

                    {% if search_result.11 == 1 %}
                       <div class="search_button" type="confirm"  person="{{ search_result.6 }}">Вернуть</div>
                    {% endif %}

                    {% if search_result.11 != 1 and search_result.10 != 1 %}
                    <div class="search_button" type="confirm"  person="{{ search_result.6 }}">Утвердить</div>
                    <div class="search_button" type="reject"  person="{{ search_result.6 }}">Отклонить</div>
                    {% endif %}


                </td>

            </tr>
            {% endif %}
    {% endfor %}


            </tbody>
          </table>
{% endif %}
{% endblock %}
