{% extends "personal_cabinet.html" %}

{% block jquery_ready %}

{% endblock %}

{% block urlpath %} {{ block.super }} / <a href="{% url "membershipcost-region-choice" %}">{{ verbose_name }}</a> {% endblock %}

{% block caption %}
{% endblock %}

{% block slow_button_panel %}
{% endblock %}

{% block content %}
    {% if user.is_admin %}

	<div class="item">
      <div class="personal_card_header"><label>{{ verbose_name }}</label>
	  </div>
      <div class="personal_card_content stretchable">

    {% include 'errors_and_messages.html' %}
    <form action="{% url "membershipcost-region-choice" %}" method="POST" class="editform">{% csrf_token %}
          {% include 'form_loop.html' %}
        <div class="row last">
            <input type="submit" value="Выбрать" />
        </div>
</form>
</div>
    </div>

    {% endif %}
{% endblock %}


{% block right_button_panel %}
{% endblock %}