{% extends "index.html" %}

{% block include %}
<script type="text/javascript" src="/media/js/jquery-ui-1.8.18/development-bundle/ui/i18n/jquery.ui.datepicker-ru.js"></script>
<link rel="stylesheet" type="text/css" media="all" href="/media/css/cupertino/jquery-ui-1.8.18.custom.css" />
{% endblock %}

{% block jquery_ready %}

    var sort_by   = 'asc';
    var idfield   = 'title';
	
	var region    = "";
    var city      = "";
    var institute = "";

    $('#begin_date').datepicker();

$('.search_button').click(function(){

        if( $(this).attr('type') == 'add' ){

          var header = $('tbody#base_results').find('tr.search_toolbar_tr').eq(0);
          header.before('<tr>' + $('table#dummy').find('tr').html() + '</tr>');

          var number_lines = parseInt($('input#number_lines').val()) + 1;
          $('input#number_lines').val(number_lines);

        }

       if( $(this).attr('type') == 'save' ){

           $('form#entrance').submit();
      }

});

<!--$('.region_choice').on("change",function(){-->
$('body').on('change', '.region_choice', function(){

var years = $(this).parent().find('#id_year');
years.empty();
var id_region_val = $(this).find("option:selected").val();


$.post('/edu/ajax/years/',{region: id_region_val},function (data) {

$.each(data, function (i, data) {
years.append("<option item='" + data.id + "' cost='" + data.cost + "' value='" + data.year + "'>" + data.year + "</option>");
});

});

});

$('body').on('click', '.delete_item', function(){

$(this).closest('tr').remove();
var number_lines = parseInt($('input#number_lines').val()) - 1;
$('input#number_lines').val(number_lines);

});


$('#id_year').change(function(){

 if( $(this).attr('cost') ){


        }
});

{% endblock %}

{% block page_style %}

div#main_content{

 overflow-x: auto;

}

table#dummy{

display: none;
        }

{% endblock %}

<!--{% block urlpath %} {% if user.is_authenticated %}/ <a href="{% url "personal_cabinet" %}">Личный кабинет</a>{% endif %} / <a href="{% url "search" %}">Поиск информации</a>{% endblock %}-->

{% block content %}
    
<h1>Массовый ввод взносов за членство в Палате</h1>

        <table  class="search_table width_800">
            <thead>
            <th class="search_th">
              № членского билета
            </th>

            <th class="search_th">
              Регион / Период
            </th>

            <th class="search_th">
                Взнос
            </th>

            <th class="search_th">
                Льгота
            </th>

            <th class="search_th">
                Комментарий
            </th>

            </thead>

            <tbody id="base_results">

            <form method="POST" action="{% url 'memberships-entrance' %}" id="entrance">
                {% csrf_token %}
                <input type="hidden" name="number_lines" id="number_lines"  value="{{ number_lines }}">

             {% if entrance_forms|length == 0 %}
            <tr>

                {% for field in create_form %}

                {% if not field.is_hidden %}

                    {% if field.name == 'membership_number' %}

                    <td class="membership_entrance_iprstudent">

                    {% endif %}

                    {% if field.name == 'region' %}

                <td class="membership_entrance_region_year">

                    {% endif %}

                    {% if field.name == 'membership_number' or field.name == 'iprstudent' or field.name == 'region' or field.name == 'year' or field.name == 'membership' %}
                    {{ field }}
                    {% else %}
                <td class="membership_entrance_{{ field.name }}">
                   {{ field }}
                </td>
                {% endif %}

                {% else %}
                {{ field }}
                {% endif %}

                {% if field.name == 'membership' or field.name == 'iprstudent' %}
                    </td>
                {% endif %}

            {% endfor %}

            </tr>
                {% endif %}

                {% for entrance_form in entrance_forms %}

                <tr>

                    {% for field in entrance_form %}

                {% if not field.is_hidden %}

                    {% if field.name == 'membership_number' %}

                    <td class="membership_entrance_iprstudent">

                    {% endif %}

                    {% if field.name == 'region' %}

                    <td class="membership_entrance_region_year">

                    {% endif %}

                {% if field.name == 'membership_number' or field.name == 'iprstudent' or field.name == 'region' or field.name == 'year' or field.name == 'membership' %}
                    {{ field }}
                    <div style="color:red">{{ field.errors }}</div>
                {% else %}
                    <td class="membership_entrance_{{ field.name }}">
                        {{ field }}
                        <div style="color:red">{{ field.errors }}</div>
                    </td>
                {% endif %}

                    {% else %}
                    {{ field }}
                    <div style="color:red">{{ field.errors }}</div>
                    {% endif %}

                    {% if field.name == 'membership' or field.name == 'iprstudent' %}

                    {% if field.name == 'iprstudent' %}
                    <div title="Удалить" class="icon delete_item"></div>
                    {% endif %}

                    </td>
                    {% endif %}

                    {% endfor %}

                </tr>
                {% endfor %}

            {% if user.is_authenticated and user.is_admin %}

            <tr class="search_toolbar_tr">

                <td colspan="7">

                    <div class="search_button" type="add" >Добавить</div>
                    <div class="search_button" type="save" >Сохранить</div>

                </td>

            </tr>

            {% endif %}

            </form>

            </tbody>
          </table>

        {% if entrance_items|length > 0 %}

<table  class="search_table width_800">
    <thead>
    <th class="search_th">
        Налоговый консультант
    </th>

    <th class="search_th">
        Регион / Период / Стоимость
    </th>

    <th class="search_th">
        Взнос
    </th>

    <th class="search_th">
        Льгота
    </th>

    <th class="search_th">
        Комментарий
    </th>

    </thead>

    <tbody id="base_results">

    {% for entrance_item in entrance_items %}

        <tr>

            <td class="membership_entrance_iprstudent">
                {{ entrance_item.iprstudent.get_fio }}
            </td>

            <td class="membership_entrance_region_year">
                {{ entrance_item.membership }}
            </td>

            <td class="membership_entrance_paid">
                {{ entrance_item.paid }}
            </td>

            <td class="membership_entrance_benefit">
                {{ entrance_item.benefit|default:"" }}
            </td>

            <td class="membership_entrance_comment">
                {{ entrance_item.comment }}
            </td>

        </tr>
        {% endfor %}

    </tbody>
</table>
        {% endif %}

<table id="dummy">
<tr>
    {% for field in create_form %}

    {% if not field.is_hidden %}

    {% if field.name == 'membership_number' %}

    <td class="membership_entrance_iprstudent">

        {% endif %}

        {% if field.name == 'region' %}

    <td class="membership_entrance_region_year">

        {% endif %}

        {% if field.name == 'membership_number' or field.name == 'iprstudent' or field.name == 'region' or field.name == 'year' or field.name == 'membership' %}
        {{ field }}
        {% else %}
    <td class="membership_entrance_{{ field.name }}">
        {{ field }}
    </td>
    {% endif %}

    {% else %}
    {{ field }}
    {% endif %}

    {% if field.name == 'membership' or field.name == 'iprstudent' %}

    {% if field.name == 'iprstudent' %}
    <div title="Удалить" class="icon delete_item"></div>
    {% endif %}
    </td>
    {% endif %}

    {% endfor %}

</tr>
    </table>

{% endblock %}
