{% extends "personal_cabinet.html" %}

{% block jquery_ready %}

$('.create_item').click(function(){

    $('input#id_new_count').val( parseInt($('input#id_new_count').val()) + 1);

        $('div.last').before('<div class="membershipcost_item">'
    <!--+ '<form action="#" class="new_membershipcost">'-->
    + '<input id="id_new-region" type="hidden" value="{{ region.id }}" name="new-region"></input>'
    +  '  <div class="membershipcost_year">'
    + '<input id="id_new-year" type="text" value="" maxlength="4" name="new-year"></input>'
    +  '  </div><div class="membershipcost_cost">'
    + '<input id="id_new-cost" type="number" value="" step="0.01" name="new-cost"></input>'
    +  '</div><div type="new_membercost" title="Удалить" class="icon delete_item"></div></div>');
    <!--+  '</div></form></div>');-->

        });


$('body').on('click', '.delete_item', function(){

   if( $(this).attr('type') == 'old_membercost' && $(this).attr('item') != "" ){

     if (confirm('Вы действительно хотите удалить стоимость членства?')) {
        var membershipcost_item = $(this).closest('.membershipcost_item');

    $.get('/edu/membershipcost/delete/' + $(this).attr('item') + '/',function (data) {

         obj = JSON.parse(data);

if ( obj.status == '1' ) {
   membershipcost_item.remove();
}

});
 }
  }

   if( $(this).attr('type') == 'new_membercost' ){

      $(this).closest('.membershipcost_item').remove();
      $('input#id_new_count').val( parseInt($('input#id_new_count').val()) - 1);

   }

});

{% endblock %}

{% block urlpath %} {{ block.super }} / <a href="{% url "membershipcost-create" region.id %}">{{ verbose_name }}.{{ region.name }}</a> {% endblock %}

{% block caption %}
{% endblock %}

{% block slow_button_panel %}
{% endblock %}

{% block content %}
    {% if user.is_admin %}

	<div class="item">
      <div class="personal_card_header"><label>{{ verbose_name }}.{{ region.name }}</label>
          <div type="membershipcost" title="Добавить год" class="icon create_item"></div>
	  </div>
      <div class="personal_card_content stretchable">
	
    <form action="{% url "membershipcost-create" region.id %}" method="POST" id="membershipcost_form">
          {% csrf_token %}
          <input id="id_new_count" type="hidden" value="{{ new_count|default:0 }}" name="new_count"></input>


        <div class="membershipcost_item">

            <div class="membershipcost_year">Год</div>
            <div class="membershipcost_cost">Стоимость</div>
        </div>

        {% for membercost in old_membercosts %}

        <div class="membershipcost_item">
            <!--<form action="#" class="old_membershipcost">-->
                <!--{% csrf_token %}-->

                {% for field in membercost %}

                {% if not field.is_hidden %}
                <div class="{% if field.name == 'year' %}membershipcost_year{% endif %}{% if field.name == 'cost' %}membershipcost_cost{% endif %}">
                    {{ field }}
                </div>
                {% else %}
                {{ field }}
                {% endif %}

                {% endfor %}
            <div type="old_membercost" title="Удалить" item="{{ membercost.model_id }}" class="icon delete_item"></div>
            <!--</form>-->
        </div>

        {% endfor %}

          {% for membercost in new_membercosts %}

          <div class="membershipcost_item">
              <!--<form action="#" class="old_membershipcost">-->
              <!--{% csrf_token %}-->

              {% for field in membercost %}

              {% if not field.is_hidden %}
              <div class="{% if field.name == 'year' %}membershipcost_year{% endif %}{% if field.name == 'cost' %}membershipcost_cost{% endif %}">
                  {{ field }}

                  <span class="membership_cost red">{{ field.errors|first }}</span>
              </div>
              {% else %}
              {{ field }}
              {% endif %}

              {% endfor %}
              <div type="new_membercost" title="Удалить" class="icon delete_item"></div>
              <div class="clear"></div>
              <!--</form>-->
          </div>

          {% endfor %}

        <div class="row last">
            <input type="submit" value="{% if item.id %}Изменить{% else %}Сохранить{% endif %}" />
        </div>
        </form>
</div>
    </div>

    {% endif %}
{% endblock %}


{% block right_button_panel %}
{% endblock %}