{% extends 'index.html' %}

{% block content %}


    <div class="item" id="msg">
    <div class="personal_card_header"><label>Сообщения</label><div type="institute" title="Свернуть" class="icon collapse"></div></div>

    <div class="personal_card_content scrollable" type="msg">
        {% for msg in message_list %}
        <div class="scroll_item" item="{{ item.id }}"><label>{{ msg.msg_text }}  </label></div>
        {% endfor %}
    </div>
</div>





    <form name="send_msg" method="post" action="">
        {% csrf_token %}

        <div class="formblock">
            <table>
                <strong>{{ sendmsg_form.non_field_errors }}</strong>

                {% for field in sendmsg_form %}
                    <div class="row">

                        {% if not field.is_hidden %}
                            <div>
                                <section class="label">
                                    <label> {{ field.label }}{{ field.field.verbose_name }}
                                        {% if field.field.required %}<span>*</span>{% endif %}
                    {% if field.help_text %}<span class='tip'>
                        <a tabindex="1"><em>?</em></a><span
                                class='answer'>{{ field.help_text }}</span></span> {% endif %}
                                    </label>

                                    <div style="color:red">{{ field.errors }}</div>
                                </section>
                            </div>
                        {% endif %}
                        {{ field }}

                    </div>
                {% endfor %}
            </table>
            <input type="submit" class="button_" value="Отправить">
        </div>
    </form>


{% endblock %}