{% extends "index.html" %}

{% block jquery_ready %}

    $('#livesearch-form input[name="q"]').liveSearch({
        url: '/msg/ajax/search/?q=',
		typeDelay:		50,
        buildHtml: function(data) {

		    var items = [];
            for (var i in data) {
                document.last_livesearch_item = data[i];
                break;
            }
            $.each(data, function(id, data) {
                items.push('<label item="' + id + '">' + data['fio'] + '</label>');
            });
			
			return items.join(''); 
        }
    });
    
    $('#livesearch-form').submit(function () {

        var data = document.last_livesearch_item;
        if (data) {
            document.location.href = '/ski/' + data['country_slug'] + '/' + data['slug'] + '.html';
        }
        return false;
    });
	
	$('div#jquery-live-search  label').click(function(){
	alert($(this).attr("item"));
	$('#livesearch-form input[name="q"]').val($(this).text());
	$('.message_recipients').append('<div class="message_recipient">'+$(this).text()+'</div>');
	});
	
	$(document).click(function(e) {
	obj = $(e.target);
	
	if (obj.closest("div").attr("id") == 'jquery-live-search' ){
    
	$('#livesearch-form input[name="q"]').val(obj.text());
	$('.message_recipients').append('<span item="'+obj.attr("item")+'" class="message_recipient"><input type="text" name="recipients" form="send_messages" style="display:none" value="'+obj.attr("item")+'">'+obj.text()+'</span>');
	$('#jquery-live-search').fadeOut();
	
	}
	
	});
	
	$('.send_message').click(function(){
	
	var may_submit = true;
	
	if( $('textarea[name="msg_text"]').val().length == 0)
	{
	alert("Введите текст сообщения");
	may_submit = false;
	}
	
	if( $('input[name="recipients"]').length == 0)
	{
	alert("Выберите адресата");
	may_submit = false;
	}
	
	if ( may_submit == true ){
	$('form#send_messages').submit();
	}
	
	});
		
{% endblock %}

{% block include %}

        <script src="/media/js/jquery.liveSearch.js"></script>
        <link rel="stylesheet" href="/media/css/jquery.liveSearch.css" type="text/css"/>


{% endblock %}
	
{% block urlpath %} / <a href="{% url "personal_cabinet" %}">Личный кабинет</a> / <a href="{% url 'dialogs' %}">Диалоги</a> / <a href="{% url 'new_message' %}">Новое сообщение</a>{% endblock %}

{% block content %}
    <div class="personal_card_header"><label>Новое сообщение</label>
	  </div>
    <div class="personal_card_content stretchable">
	<div class="row">
            <section class="center">
                Получатель
            </section>
        </div>  
	<form id="send_messages" method="POST" action="">
    
    </form>	
    <div class="message_recipients">
	
	</div>
	<div class="clear"></div>
	
    <div class="message_search">
	<form method="get" action="#" id="livesearch-form">
    <input type="text" name="q" value="Начните вводить имя пользователя или email" onblur="if(this.value=='') this.value='Начните вводить имя пользователя или email';" onfocus="if(this.value == 'Начните вводить имя пользователя или email') this.value='';" />
    </form>
	</div>
	
	
	<div class="message_text">
	<textarea name="msg_text" form="send_messages">
	</textarea>
	</div>
	
	<div class="row last">
	<div class="send_message btn">Отправить</div>
	</div>
	</div>
	
{% endblock %}