{% extends "personal_cabinet.html" %}

{% block include %}
<script type="text/javascript" src="/media/js/jquery-ui-1.8.18/development-bundle/ui/i18n/jquery.ui.datepicker-ru.js"></script>
<link rel="stylesheet" type="text/css" media="all" href="/media/css/cupertino/jquery-ui-1.8.18.custom.css" />
<script type="text/javascript" src="/media/tiny_mce/tiny_mce.js"></script>
 <script type="text/javascript">
        tinyMCE.init({
            mode: "textareas",
            theme: "advanced",
            plugins: "advhr,table,emotions,media,insertdatetime,directionality",
            theme_advanced_toolbar_align: "left",
            theme_advanced_toolbar_location: "top",             
    theme_advanced_buttons1:"bold,italic,underline,strikethrough,sub,sup,separator,justifyleft,justifycenter,justifyright,justifyfull,separator,formatselect,fontselect,fontsizeselect,forecolor",
theme_advanced_buttons2:"bullist,numlist,outdent,indent,ltr,rtl,separator,link,unlink,anchor,image,separator,table,insertdate,inserttime,advhr,emotions,media,charmap,separator,undo,redo",
            theme_advanced_buttons3_add:"forecolor,backcolor",


theme_advanced_font_sizes:"170%,10px,11px,12px,13px,14px,15px,16px,17px,18px,19px,20px,21px,22px,23px,24px,25px,26px,27px,28px,29px,30px,32px,48px",
            height: "350px",
            width: "653px"
        });
        </script>

{% endblock %}
{% block jquery_ready %}

$(".editform").submit(function(){

        var is_abort = 0;
		
		{% if type == 'news' %}
		
		if($('#image_hidden_id').val() == undefined){
		
		if( $('input#id_main_banner').is(':checked') || $('input#id_simple_banner').is(':checked') ){
		
		if( $('input#id_image').val().length == 0 ){
		alert("У баннера должна быть картинка!");
		is_abort = 1;
				
		}
		}
		}
		
		if( $('input#id_main_banner').is(':checked') && $('input#id_simple_banner').is(':checked') ){
		
		alert("Новость не может быть одновременно главным и простым баннером, выберите один вариант, пожалуйста");
		is_abort = 1;
		
		}
		
		if( !$('input#id_main_banner').is(':checked') && !$('input#id_simple_banner').is(':checked') ){
		
		if($('input#id_title').val().length == 0){
		 alert("Заполните заголовок новости!");		
		 is_abort = 1;
		}
		
		if($('input#id_preview').val().length == 0){
		 alert("Заполните превью к новости!");		
		 is_abort = 1;
		}
		
		if($('textarea#id_text').val().length == 0){
		 alert("Заполните текст новости!");		
		 is_abort = 1;
		}

		}
		
		{% endif %}
        
		{% if type == 'staticpage' %}
		 
		 if($('input#id_title').val().length == 0){
		 alert("Заполните заголовок страницы!");		
		 is_abort = 1;
		}
		
		if($('input#id_preview').val().length == 0){
		 alert("Заполните превью!");		
		 is_abort = 1;
		}
		
		if($('textarea#id_text').val().length == 0){
		 alert("Заполните текст!");		
		 is_abort = 1;
		}
		
		{% endif %}
		
        if( is_abort == 1){
return false;
        }
		
<!--return false;-->
});

{% endblock %}

{% block urlpath %} {{ block.super }} {% if type == "news" %} {% if item.id %}/ <a href="{% url "edu-news" item.slug %}">{{ item }}</a>{% else %}/ <a href="{% url "news-new" %}">{{ verbose_name }}</a>{% endif %} {% endif %}
{% if type == "staticpage" %} {% if item.id %}/ <a href="{% url "edu-staticpage" item.slug %}">{{ item }}</a>{% else %}/ <a href="{% url "staticpage-new" %}">Статическая страница</a>{% endif %} {% endif %}
{% endblock %}

{% block caption %}
{% endblock %}

{% block slow_button_panel %}
{% endblock %}

{% block content %}
{% if user.is_admin or user.is_curator %}

<div class="item">
    <div class="personal_card_header"><label>{% if type == "news" %}{{ verbose_name }}{% else %}Статическая страница{% endif %}</label></div>
    <div class="personal_card_content stretchable">

        {% include 'errors_and_messages.html' %}
        <form id="newsform" action="{% if type == "news" %}{% if item.id %}{% url 'edu-news' item.slug %}{% else %}{% url 'news-new' %}{% endif %}{% endif %}{% if type == "staticpage" %}{% if item.id %}{% url 'edu-staticpage' item.slug %}{% else %}{% url 'staticpage-new' %}{% endif %}{% endif %}" method="POST" class="editform" enctype="multipart/form-data">
		{% csrf_token %}
        {% include 'form_loop.html' %}
        </form>
    </div>
</div>

{% endif %}
{% endblock %}

{% block right_button_panel %}
{% if user.is_admin or user.is_curator %}
<tr><td>
    <input type="submit" form="newsform" value="Сохранить"/>
</td></tr>
{% endif %}
{% endblock %}
