{% extends "personal_cabinet.html" %}

<!--<script type="text/javascript" src="/static/jquery-ui-1.8.18/development-bundle/ui/i18n/jquery.ui.datepicker-ru.js"></script>-->

{% block jquery_ready %}

$('.slider_item_main_checkbox').mouseup(function(){

setTimeout(function() {

if( $('.slider_item_main_checkbox.checked').length > 0 ){
$("#confirmed_button").removeAttr("disabled");
$("#rejected_button").removeAttr("disabled");
}else{
$("#confirmed_button").attr("disabled", "disabled");
$("#rejected_button").attr("disabled", "disabled");
}
}, 200);

});

{% endblock %}

{% block urlpath %} / <a href="{% url 'personal_cabinet' %}">Личный кабинет</a> / <a href="{% url 'no_confirmed' %}">Заявки</a>{% endblock %}

{% block caption %}
{% endblock %}

{% block slow_button_panel %}
{% endblock %}

{% block content %}
    {% if user.is_admin %}

<div class="item" id="no_confirmed_consults">
    <h1>Неутвержденные налоговые консультанты</h1>

    <form id="noconfirmed" method="POST" action="{% url 'no_confirmed' %}">

    <table  class="search_table width_800">
        <thead>
        <th class="search_th">
            Выбор
        </th>

        <th class="search_th" colspan="2">
            ФИО
        </th>

        <th class="search_th">
            № членского билета
        </th>

        <th class="search_th">
            Комментарий
        </th>
        </thead>

        {% for item in noconfirmed %}
        <tr>
            <td>
                <div class="slider_item_main_checkbox">
                    <input type="checkbox" name="selected" value="{{ item.id }}" style="display: none">
                </div>

            </td>
            <td  colspan="2"><a href="{% url 'person-edit' item.slug %}" class="link_as_text">{{ item.user.last_name }} {{ item.user.first_name }} {{ item.patronymic }}</a></td>
            <td>{{ item.user.membership_number }}</td>

            <td>
                <textarea name="comment"></textarea>
            </td>

        </tr>
        {% endfor %}
    </table>

    </form>

</div>


    {% elif user.is_curator %}
    {% else %}
    {% endif %}
{% endblock %}

{% block right_button_panel %}

{% if user.is_admin %}
<tr>
    <td>
        <input type="submit" id="confirmed_button" form="noconfirmed" name="accept" value="Утвердить" disabled/>

    </td>
</tr>

<tr><td>
    <input  form="noconfirmed" type="submit" id="rejected_button" name="reject" value="Отклонить" disabled/>
</td></tr>
{% endif %}
{% endblock %}