{% extends "index.html" %}

{% block title %}Отказаться от подписки{% endblock %}

{% block urlpath %} / Отказаться от подписки{% endblock %}

{% block content %}
<h1 class="sticker_view_title">{{ user.get_full_name }}</h1>
<div class="notify_form">

    <form id="notifyform" method="POST" action="">
        {% csrf_token %}
        <div id="notify_error"></div>
        <div class="line">
            <input type="text" placeholder="Почему хотите отписаться?" name="reason">
        </div>
        <div class="line">
            <input type="submit" value="Отписаться">
        </div>
    </form>

</div>

{% endblock %}