{% extends "index.html" %}

{% block title %}Образовательные учреждения{% endblock %}

{% block jquery_ready %}

        {% if user.is_admin %}

         {% else %}

   $('.column_item, .selectable_item').click(function(){

    if( $(this).find('a') && $(this).find('a').attr('href') != "" ){


     window.location = $(this).find('a').attr('href');

    }

    });
	
	{% endif %}

{% endblock %}

{% block urlpath %} {% if user.is_authenticated %} / <a href="{% url "personal_cabinet" %}">Личный кабинет</a> {% endif %} / {% include 'urlpath/url_organizations.html' %}{% endblock %}

{% block content %}
    <h1>Образовательные учреждения</h1>

    {% if user.is_admin %}

<div class="slider_item" item="organizations_filter">
    <form id="organizations_filter" method="POST" action="">
        {% csrf_token %}

        <label class="slider_item_main_label">Фильтр</label>
        <div  item="organizations_filter" class="slider_arrow arrow_down"></div>
        <div class="slider_body" item="organizations_filter">

            <div class="slider_row">
                <div class="slider_body_property_name">Регион :</div><div class="slider_body_property_value">
                <select id="region" name="region">
                    <option value="-1">--</option>
                    {% for item in regions %}
                    <option value="{{ item.id }}" {% if region|floatformat == item.id|floatformat %}selected{% endif %}>{{ item.name }}</option>
                    {% endfor %}
                </select></div>
                <div class="clear"></div>
            </div>

            <div class="slider_row">
                <div class="slider_body_property_name">Город :</div><div class="slider_body_property_value">
                <select id="city" name="city">
                    <option value="-1">--</option>
                    {% for item in cities %}
                    <option value="{{ item.id }}"  {% if city|floatformat == item.id|floatformat %}selected{% endif %} >{{ item.name }}</option>
                    {% endfor %}
                </select></div>
                <div class="clear"></div>
            </div>

            <div class="slider_row">
                <div class="slider_body_property_name">Образовательная программа :</div><div class="slider_body_property_value">
                <select id="program" name="program">
                    <option value="-1">--</option>
                    {% for item in programs %}
                    <option value="{{ item.id }}"  {% if program|floatformat == item.id|floatformat %}selected{% endif %}>{{ item.name }}</option>
                    {% endfor %}
                </select></div>
                <div class="clear"></div>
            </div>

            <div class="slider_row">
                <div class="filter_short">Только аккредитованные на программы с семинарами</div>
                <div class="filter_short">
                    <div class="slider_item_main_checkbox {% if only_seminars == 1 %}checked{% endif %}">
                        <input type="checkbox" name="only_seminars" {% if only_seminars == 1 %}checked{% endif %} value="1"  style="display: none">
                    </div>
                </div>

                <div class="filter_short">Только аккредитованные на программы ПНК</div>
                <div class="filter_short">
                    <div class="slider_item_main_checkbox {% if only_pnk == 1 %}checked{% endif %}">
                        <input type="checkbox" name="only_pnk" {% if only_pnk == 1 %}checked{% endif %} value="1"  style="display: none">
                    </div>
                </div>

                <div class="clear"></div>
            </div>
        </div>
        <div class="clear"></div>
    </form>
</div>


<table  class="search_table width_800">
    {% for item in institutes %}
    <tr>
        <td  colspan="2"><a href="{% url 'edu-institute' item.id  %}" class="link_as_text">{{ item.name }}</a></td>

        <td>
            {% if item.id %}
            <a href="{% url 'edu-institute' item.id  %}"><i class="step fi-pencil size-36" title="Редактировать"></i></a>
            <!--<div class="search_button"><a href="{% url 'edu-institute' item.id  %}">Редактир.</a></div>-->
            {% endif %}
        </td>

        <td>
            {% if item.id %}
            <!--<div class="search_button"><a class="delete" onclick="return confirm('Вы действительно хотите удалить организацию?')" href="{% url 'edu-item-del' 'institute' item.id %}">Удалить</a></div>-->
            <a class="delete" onclick="return confirm('Вы действительно хотите удалить организацию?')" href="{% url 'edu-item-del' 'institute' item.id %}">
                <i class="step fi-trash size-36" title="Удалить"></i>
            </a>
            {% endif %}
        </td>
    </tr>
    {% endfor %}

</table>

    {% else %}

    <form id="organization_filter" action="" method="POST">
     <input type="hidden" name="region">
     <input type="hidden" name="city">
    </form>

<div class="slider_item" item="organizations_region_filter">
  <label class="slider_item_main_label">Фильтр по регионам {% if region %} :  <span class="select_filter">{{ region }}</span>{% endif %}</label>

  <div  item="organizations_region_filter" class="slider_arrow arrow_down"></div>

  <div class="slider_body" item="organizations_region_filter">

      <table class="search_table">
      {% for region_triplet in regions %}

          <tr>

                  {% if region_triplet.0 %}

                     {% include 'item_filter.html' with item=region_triplet.0 type="region" %}

                  {% else %}

                  <td>
                  </td>

                  {% endif %}

                  {% if region_triplet.1 %}
                     {% include 'item_filter.html' with item=region_triplet.1  type="region" %}
                  {% else %}

                  <td>
                  </td>

                  {% endif %}

                 {% if region_triplet.2 %}
                    {% include 'item_filter.html' with item=region_triplet.2  type="region" %}
                 {% else %}

                 <td>
                 </td>
                  {% endif %}

              </tr>
          {% endfor %}
          </table>

      </div>
    <div class="clear"></div>
</div>

   <div class="slider_item" item="organizations_city_filter">
    <label class="slider_item_main_label">Фильтр по городам {% if city %} :  <span class="select_filter">{{ city }}</span>{% endif %}</label>

    <div  item="organizations_city_filter" class="slider_arrow arrow_down"></div>

    <div class="slider_body" item="organizations_city_filter">

        <table class="search_table">
            {% for city_triplet in cities %}

            <tr>

                {% if city_triplet.0 %}

                {% include 'item_filter.html' with item=city_triplet.0 type="city" %}

                {% else %}

                <td>
                </td>

                {% endif %}

                {% if city_triplet.1 %}
                {% include 'item_filter.html' with item=city_triplet.1  type="city" %}
                {% else %}

                <td>
                </td>

                {% endif %}

                {% if city_triplet.2 %}
                {% include 'item_filter.html' with item=city_triplet.2  type="city" %}
                {% else %}

                <td>
                </td>
                {% endif %}

            </tr>
            {% endfor %}
        </table>

    </div>
    <div class="clear"></div>
   </div>

<table class="search_table">
    {% for institute_triplet in institutes %}

    <tr>

        {% if institute_triplet.0 %}

        {% include 'item_filter.html' with item=institute_triplet.0 type="institute" %}

        {% else %}

        <td>
        </td>

        {% endif %}

        {% if institute_triplet.1 %}
        {% include 'item_filter.html' with item=institute_triplet.1  type="institute" %}
        {% else %}

        <td>
        </td>

        {% endif %}

        {% if institute_triplet.2 %}
        {% include 'item_filter.html' with item=institute_triplet.2  type="institute" %}
        {% else %}

        <td>
        </td>
        {% endif %}

    </tr>
    {% endfor %}
</table>

<table  class="search_table width_800">
    {% for item in institutes %}
    <tr>
        <td  class="width_inherit selectable_item"><a href="{% url 'edu-institute' item.1  %}" class="link_as_text">{{ item.2 }}</a></td>
    </tr>
    {% endfor %}

</table>





    {% endif %}
{% endblock %}


{% block right_button_panel %}
{% if user.is_admin %}

<tr>
    <td><input type="submit" form="organizations_filter" value="Поиск" /></td>
</tr>
<tr>
    <td>
        <form action="{% url 'institute-new' %}" method="GET">
            <input type="submit" value="+ учреждение" />
        </form>
    </td>
</tr>



{% endif %}
{% endblock %}