<div class="pages">
    {% if current_page > 1 %}
    <!--<a href="#" class="llimit"><</a>-->
    <a href="#" class="llimit">
        <i class="fi-arrow-left size-24" title="Туда" ></i>
    </a>
    {% endif %}

    {{ current_page }} из {{ all_pages|default:1 }}

    {% if current_page < all_pages %}
    <!--<a href="#" class="rlimit"> > </a>-->
    <a href="#" class="rlimit">
      <i class="fi-arrow-right size-24" title="Сюда" ></i>
    </a>
    {% endif %}

</div>

<script>
    $(document).ready(function () {

        $('.llimit').click(function(){
            $("input[name='current_page']").val(parseInt($("input[name='current_page']").val()) - 1);
            $('form#user_filter').submit();
        });

        $('.rlimit').click(function(){
            $("input[name='current_page']").val(parseInt($("input[name='current_page']").val()) + 1);
            $('form#user_filter').submit();
        });

    });
</script>