{% extends "index.html" %}

{% block content %}

    <div id="create_card">
        <div class="personal_card_header">Создать новый элемент</div>

        <div class="personal_card_content">
            {% block create_element %}
                <form name="create_element" method="POST" action="{{ form_action }}">
                    {% csrf_token %}

                    <div class="formblock">
                        <table>
                            <strong>{{ create_form.non_field_errors }}</strong>

                            {% for field in create_form %}
                                <div class="field">

                                    <tr>
                                        <td width="40%"><label> {{ field.label }}{{ field.field.verbose_name }}
                                            {% if field.field.required %}<span class="star">    *</span>{% endif %}
                                        </label>

                                            <div style="color:red">{{ field.errors }}</div>
                                        </td>
                                        <td>{{ field }} {% if field.help_text %}<span class='tip'>
                                            <a tabindex="1"><em>?</em></a><span
                                                    class='answer'>{{ field.help_text }}</span></span> {% endif %}</td>
                                    </tr>


                                </div>

                            {% endfor %}
                        </table>
                        <input type="submit" class="button_" value="Создать">
                    </div>
                </form>
            {% endblock %}
        </div>

    </div>

    <div id="edit_card">
        <div class="personal_card_header">Редактировать элемент</div>

        <div class="personal_card_content">
            {% block edit_element %}
                <form name="create_element" method="POST" action="{{ form_action }}">
                    {% csrf_token %}

                    <div class="formblock">
                        <table>
                            <strong>{{ edit_form.non_field_errors }}</strong>

                            {% for field in edit_form %}
                                <div class="field">

                                    <tr>
                                        <td width="40%"><label> {{ field.label }}{{ field.field.verbose_name }}
                                            {% if field.field.required %}<span class="star">    *</span>{% endif %}
                                        </label>

                                            <div style="color:red">{{ field.errors }}</div>
                                        </td>
                                        <td>{{ field }} {% if field.help_text %}<span class='tip'>
                                            <a tabindex="1"><em>?</em></a><span
                                                    class='answer'>{{ field.help_text }}</span></span> {% endif %}</td>
                                    </tr>


                                </div>

                            {% endfor %}
                        </table>
                        <input type="submit" class="button_" value="Редактировать">
                    </div>
                </form>
            {% endblock %}
        </div>

    </div>


    <div id="search_card">
        <div class="personal_card_header">Поиск</div>

        <div class="personal_card_content">
            {% block find_element %}
            {% endblock %}
        </div>

    </div>
{% endblock %}