{% extends "index.html" %}

{% block include %}
{{ block.super }}
<script type="text/javascript" src="/media/js/jquery-ui-1.8.18/development-bundle/ui/i18n/jquery.ui.datepicker-ru.js"></script>
<link rel="stylesheet" type="text/css" media="all" href="/media/css/cupertino/jquery-ui-1.8.18.custom.css" />

        {% if user.is_admin or user.is_curator %}
           <script src="/media/js/slow_button_panel.js"></script>
        {% endif %}

{% endblock %}

{% block jquery_ready %}

{% if messages %}
    {% for message in messages %}
    alert("{{ message }}");
    {% endfor %}
{% endif %}

{% if greeting %}
   alert("{{ greeting }}");
{% endif %}

  $('.datepicker').datepicker();

  $(".request_line").click(function(){
  window.location = "/edu/request/" + $(this).attr("item") + "/";
});
  
   $('.recruitment_iframe').load(function(){

         var data = $(this).contents().text();

         if (data === undefined || data == '') return;

        data = JSON.parse(data);

        if ( data.status == 1 || data.status == '1' ){

             current_form = $('form#recruitment_'+$(this).attr('recruitment'));

             <!--// обнуляем выбранный файл-->
             current_form.find('input[name="program"]').val('');

              if ( current_form.find('input[name="program_hidden"]').val() === undefined ){

                current_form.find('input[name="program"]').before('<a class="file_link" href="' + data.program_url + '">' + data.program_filename + '</a>');
                current_form.find('input[name="program"]').after('<input name="program_hidden" type="hidden" value="' + data.program + '">');

             }else{

               current_form.find('input[name="program_hidden"]').val(data.program);
               current_form.find('a.file_link').attr('href',data.program_url);
               current_form.find('a.file_link').text(data.program_filename);

             }

             alert("Набор успешно сохранен!");

        }else{

        alert("Произошла ошибка!");
        }

<!--{% if recruitment.program %}<a class="file_link" href="{{ recruitment.program_url }}">{{ recruitment.program_filename }}</a>{% endif %}-->
<!--<input name="program" type="file">-->
<!--{% if recruitment.program %}<input name="program_hidden" type="hidden" value="{{ recruitment.program.url }}">{% endif %}-->


});

$('.additional').submit(function () {

$.post('{% url 'additional-edit' %}', $(this).serialize(), function (data) {
obj = JSON.parse(data);
if (obj.status == 1){
alert("Данные сохранены успешно!");
}else{
alert("Ошибка, что-то пошло не так");
}
});

return false;
});


$('.realize_program').submit(function () {

$.post('/edu/realize_program/'+$(this).attr('id')+'/', $(this).serialize(), function (data) {
obj = JSON.parse(data);
if (obj.status == 1){
alert("Данные сохранены успешно!");
}else{
alert("Ошибка, данные некорректны");
}
});

return false;
});


   	$('.create_item').click(function(){

    if( $(this).attr("type") == 'group' ){

        {% if requests|length == 0 %}
           alert('Создание группы невозможно ввиду отсутствия заявок. Если Вы хотите подать объявление о наборе групп, перейдите к форме создания объявлений (раздел Вашего Личного кабинета "Информация о наборе групп")');
        {% else %}
	window.location = "{% url 'groups_new' %}";
        {% endif %}

    }else if( $(this).attr("type") == 'membershipbenefit' ){

        var parent = $('div.personal_card_content[type="membershipbenefit"]');
        var header = parent.find('.membershipcost_item').eq(0);

        header.after('<div class="membershipcost_item">'
        + '<form action="{% url 'membershipbenefit-new'  %}" class="membershipbenefit">'
        +  '  <div class="membershipbenefit_title">'
        +  '      <input type="text" name="title" id="id_title">'
        +   '</div>'
        +   '<div class="membershipbenefit_percent">'
        +   '    <input type="text" name="percent" id="id_percent" maxlength="3">'
        +   '</div></form></div>');

    }else if( $(this).attr("type") == 'membershipcost' ){

      if (confirm('Все несохранённые данные будут потеряны. Все данные сохранены?')) {

          window.location = '/edu/' + $(this).attr("type") + '/';

        }


    }else{
	
	window.location = '/edu/' + $(this).attr("type") + '/'; 
	
	}
	});

   $(".cool_button").click(function(){

     if( $(this).attr('type') == 'edit' ){

     if( $(this).attr("model") != 'private' ){
       window.location = '/edu/' + $(this).attr("model") + '/'+ $(this).attr("set") + '/';
     }else{
       window.location = '{% url 'changeprivate' %}';
     }

     }else if( $(this).attr('type') == 'delete' ){

       var confirm_question = "Вы уверены в том, что хотите удалить";

        if( $(this).attr('model') == 'region' ){

          confirm_question = confirm_question + " регион ?";

        }else if( $(this).attr('model') == 'city' ){

          confirm_question = confirm_question + " город ?";


        }else if( $(this).attr('model') == 'news' ){

          confirm_question = confirm_question + " новость ?";

        }else if( $(this).attr('model') == 'staticpage' ){

          confirm_question = confirm_question + " страницу ?";

        }else{
          return false;
        }

        if( confirm(confirm_question)) {

         window.location = '/edu/delete/' + $(this).attr("model") + '/'+ $(this).attr("set") + '/';

        }
   }
});

	
	$('.delete_item').click(function(){

     if( $(this).attr("type") == 'membershipbenefit' ){

         if (confirm('Вы действительно хотите удалить льготу "' + $(this).parent('form').find('.membershipbenefit_title').find('input').val()   + '" ?')) {

         $.get('/edu/membershipbenefit/delete/' + $(this).attr("item") + '/', function(data){

            obj = JSON.parse(data);
            if (obj.status == 1){

             $('div[benefit ="' + obj.id + '"]').remove();

            }else{
               alert("Ошибка");
            }


         });

         }

        }else if( $(this).attr("type") == 'old_membercost' ){

      if (confirm('Вы действительно хотите удалить стоимость членства?')) {

         var membershipcost_item = $(this).closest('.membershipcost_item');

$.get('/edu/membershipcost/delete/' + $(this).attr('item') + '/',function (data) {

obj = JSON.parse(data);

if ( obj.status == '1' ) {
membershipcost_item.remove();
}

});
}
        }else{
    window.location = '/edu/delete/' + $(this).attr("type") + '/'+ $(this).attr("item") + '/';
        }
    });

     {% if user.is_olesya %}

        $('input[name="save"]').click(function(){

        $('span.membership_cost').remove();

        if( $(this).attr("item") == 'membershipcost' ){

          $('form.membershipcost').each(function(i,form){

           $.post($(form).attr('action'), $(form).serialize(), function (data) {
            obj = JSON.parse(data);
           if (obj.status == 1){
             $(form).find('input#id_year').after('<span class="membership_cost green">Сохранён</span>');
           }else{
             $(form).find('input#id_year').after('<span class="membership_cost red">Ошибка</span>');
           }
        });
        });
        }

        $('span.membership_benefit').remove();

        if( $(this).attr("item") == 'membershipbenefit' ){

        $('form.membershipbenefit').each(function(i,form){

        $.post($(form).attr('action'), $(form).serialize(), function (data) {
          obj = JSON.parse(data);

          if (obj.status == 1){
            $(form).find('input#id_title').after('<span class="membership_cost green">Сохранён</span>');
            $(form).attr('action',obj.action)
          }else{
            $(form).find('input#id_title').after('<span class="membership_cost red">Ошибка</span>');
          }
        });
      });
}

        });

     {% endif %}

{% endblock %}

{% block urlpath %} {% if user.is_authenticated %}/ <a href="{% url "personal_cabinet" %}">Личный кабинет {% if user.is_admin %}администратора{% elif user.is_curator %}образовательной организации{% elif user.is_ipr %}налогового консультанта{% else %}слушателя{% endif %}</a>{% endif %}{% endblock %}

{% block caption %}

<h1>Личный кабинет {% if user.is_admin %}администратора{% elif user.is_curator %}образовательной организации{% elif user.is_ipr %}налогового консультанта{% else %}слушателя{% endif %}</h1>
<div class="bumper"></div>


{% endblock %}

{% block slow_button_panel %}

{% if user.is_admin and not user.is_olesya %}
<tr>
    <td>
        <form method="GET" action="{% url 'edu-item-new' 'region' %}">
            <input type="submit"  value="+ регион"/>
        </form>
    </td>
    <td>
        <form method="GET" action="{% url 'edu-item-new' 'city' %}">
            <input type="submit" value="+ город"/>
        </form>
    </td>
    <td>
        <form method="GET" action="{% url 'news-new' %}">
            <input type="submit" value="+ новость/баннер"/>
        </form>
    </td>
    <td>
        <form method="GET" action="{% url 'staticpage-new' %}">
            <input type="submit" value="+ страница"/>
        </form>
    </td>
</tr>

{% elif user.is_curator %}

<tr>
    <td>
        <form method="GET" action="{% url 'recruitment-new' %}">
            <input type="submit" value="Создать набор"/>
        </form>
    </td>

{% if requests|length > 0 %}

    <td>
        <form method="GET" action="{% url 'groups_new' %}">
            <input type="submit" value="Создать группу"/>
        </form>
    </td>
{% endif %}
</tr>
{% endif %}
{% endblock %}


{% block content %}

    {% if user.is_admin %}
        <!--============================================================ ADMIN ===============================================-->

        {% if user.is_olesya %}

          <div class="item" id="membershipcosts">
              <div class="personal_card_header"><label>Стоимость членства по годам</label><div type="membershipcost" title="Добавить стоимость" class="icon create_item"></div></div>

              <div class="personal_card_content stretchable" type="membershipcost">

                  {% for region in regions %}

                  <div class="slider_item institute_slider_item" item="item_{{ region.id }}">
                      <label class="slider_item_main_label"><a href="{% url 'membershipcost-create' region.id  %}">{{ region.name }}</a></label>
                      <div class="clear"></div>
                  </div>

                  {% endfor %}
              </div>

            <div class="clear"></div>
          </div>

          <div class="item" id="membershipbenefits">
              <div class="personal_card_header"><label>Виды льгот на взносы</label><div type="membershipbenefit" title="Добавить льготу" class="icon create_item"></div></div>

              <div class="personal_card_content stretchable" type="membershipbenefit">
                  <div class="membershipcost_item">

                      <div class="membershipbenefit_title">Наименование льготы</div>
                      <div class="membershipbenefit_percent">Процент, %</div>

                  </div>

                  {% for membershipbenefit_form in membershipbenefit_forms %}
                  <div class="membershipcost_item" benefit="{{ membershipbenefit_form.model.id }}">
                      <form action="{% url 'membershipbenefit-edit' membershipbenefit_form.model.id %}" class="membershipbenefit">
                          {% csrf_token %}

                          {% for field in membershipbenefit_form.form %}

                          <div class="{% if field.name == 'title' %}membershipbenefit_title{% endif %}{% if field.name == 'percent' %}membershipbenefit_percent{% endif %}">
                              {{ field }}
                          </div>

                          {% endfor %}
                          <div type="membershipbenefit" item="{{ membershipbenefit_form.model.id }}"  title="Удалить" class="icon delete_item"></div>

                      </form>
                  </div>
                  {% endfor %}

                  <div class="membershipcost_button">
                      <input type="submit" name="save" value="Сохранить" item="membershipbenefit" />
                  </div>
              </div>
          </div>

        {% else %}

        <div class="bumper"></div>
        <div id="custom_tabs">
          <ul  class="custom_tabs_list">
              <li><a href="#regions">Регионы</a></li>
              <li><a href="#cities">Города</a></li>
              <li><a href="#news">Новости и баннеры</a></li>
              <li><a href="#staticpages">Статические страницы</a></li>

          </ul>

            <div id="regions" class="anytab">
                {% for item in regions %}
                <div class="slider_item institute_slider_item" item="region_{{ item.id }}">
                    <label class="slider_item_main_label_short">{{ item.name }}</label>
                    <div class="cool_button" type="edit" model="region" set="{{ item.id }}">Редактировать</div>
                    <div class="cool_button" type="delete" model="region" set="{{ item.id }}">Удалить</div>
                    <div class="clear"></div>
                </div>

                {% endfor %}
            </div>

            <div id="cities" class="anytab">
                {% for item in cities %}
                <div class="slider_item institute_slider_item" item="city_{{ item.id }}">
                    <label class="slider_item_main_label_short">{{ item.name }}</label>
                    <div class="cool_button" type="edit" model="city" set="{{ item.id }}">Редактировать</div>
                    <div class="cool_button" type="delete" model="city" set="{{ item.id }}">Удалить</div>
                    <div class="clear"></div>
                </div>

                {% endfor %}
            </div>

            <div id="news" class="anytab">
                {% for item in news %}
                <div class="slider_item institute_slider_item" item="news_{{ item.slug }}">
                    {% if item.main_banner %}<legend  class="finish_legend">Главный баннер</legend>{% endif %}
                    {% if item.simple_banner %}<legend  class="recruit_legend">Простой баннер</legend>{% endif %}
                    <label class="slider_item_main_label_short">{% if not item.main_banner and not item.simple_banner %}№ {{ item.order|default:"" }}.{% endif %} {{ item.title }}</label>
                    <div class="cool_button" type="edit" model="news" set="{{ item.slug }}">Редактировать</div>
                    <div class="cool_button" type="delete" model="news" set="{{ item.slug }}">Удалить</div>
                    <div class="clear"></div>
                </div>
                {% endfor %}
            </div>

          <div id="staticpages" class="anytab">

            {% for item in staticpages %}
              <div class="slider_item institute_slider_item" item="news_{{ item.slug }}">
                  <label class="slider_item_main_label_short">{{ item.title }}</label>
                  <div class="cool_button" type="edit" model="staticpage" set="{{ item.slug }}">Редактировать</div>
                  <div class="cool_button" type="delete" model="staticpage" set="{{ item.slug }}">Удалить</div>
                  <div class="clear"></div>
              </div>

            {% endfor %}

          </div>
        </div>

       {% endif %}


    {% elif user.is_curator %}
       <!--==================================================== CURATOR =====================================================================-->

    <!--<div class="personal_card_header"><label>Образовательная организация</label></div>-->
    <div id="custom_tabs">
    <ul  class="custom_tabs_list">
      <li><a href="#main">Общая информация</a></li>
      <li><a href="#recruitments">Информация о наборах</a></li>
      <li><a href="#groups">Обучение в группах</a></li>
      <li><a href="#requests">Заявки на обучение</a></li>
    </ul>

    <div id="main" class="anytab">

        <div  class="item" id="profile_card">
            <table class="card width_800">
                <tr>
                    <td class="attribute">Название организации :</td><td>{{ curator.name }}</td>
                </tr>
                <tr>
                    <td class="attribute">Руководитель :</td><td>{{ curator.director }}</td>
                </tr>
                <tr>
                    <td class="attribute">Номер свидетельства об аккредитации :</td>
                    <td>{{ curator.accreditation_number }}</td>
                </tr>
                <tr>
                    <td class="attribute">Статус аккредитации :</td>
                    <td>{{ curator.accreditation_name }}</td>
                </tr>
                <tr>
                    <td class="attribute">Веб-сайт :</td><td>{{ curator.web_site }}</td>
                </tr>
                <tr>
                    <td class="attribute">Телефон :</td><td>{{ curator.telephone }}</td>
                </tr>
                <tr>
                    <td class="attribute">Адрес :</td><td>{{ curator.post_address }}</td>
                </tr>
                <tr>
                    <td class="attribute">Город :</td><td>{{ curator.city }}</td>
                </tr>
                <tr>
                    <td class="attribute">Электронный адрес :</td><td>{{ curator.email }}</td>
                </tr>
                <tr>
                    <td class="attribute">Менеджер :</td>
                    <td>{{ user.last_name }} {{ user.first_name }}</td>
                </tr>
            </table>
            <!--<div class="clear"></div>-->
        </div>

        <div class="bumper"></div>

        <div class="item" id="programs">
            <div class="personal_card_header"><label>Реализуемые программы</label></div>

            <div class="personal_card_content stretchable" type="programs">
                {% if base_programs|length > 0 %}<label class="groups_sub_header">Подготовка</label>{% endif %}
                {% for prog in base_programs %}
                <div class="slider_item institute_slider_item" item="item_{{ prog.id }}">
                    <label class="slider_item_main_label_half">{{ prog.program.name }}</label>
                    <label class="slider_item_main_label_half2">{% if prog.accreditation_finish %}аккредитация до <span>{{ prog.accreditation_finish|default:"-"|date:"d.m.Y" }}</span>{% else %}аккредитация бессрочная{% endif %}</label>
                    <!--<div  item="item_{{ prog.id }}" class="slider_arrow arrow_down"></div>-->
                    <div class="slider_body" item="item_{{ prog.id }}">
                        <form action="{% url 'edu-realize-program' prog.id %}" id="{{ prog.id }}"  class="realize_program" method="post">
                            {% comment %}<div class="slider_body_property_name">Срок действия акредитации</div><div class="slider_body_property_value"><input class="datepicker" name="accreditation_finish" value="{{ prog.accreditation_finish|default:"-"|date:"d.m.Y" }}"></div>{% endcomment %}
                            <div class="slider_body_property_name">Стоимость подготовки</div><div class="slider_body_property_value"><input name="cost" value="{{ prog.cost|default:""|floatformat }}"></div>
                            <div class="slider_body_property_name">Форма обучения</div>
                            {% comment %}	<div class="slider_body_property_value"><input name="form" value="{{ prog.form|default:"" }}"></div>{% endcomment %}
                            <div class="slider_body_property_value">
                                <select name="form">
                                    <option value="">---------</option>
                                    {% for form in forms %}
                                    <option {% if prog.form.id == form.id %}selected{% endif %} value="{{ form.id }}">{{ form.title }}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="slider_body_property_name">Периодичность занятий</div><div class="slider_body_property_value"><input name="period" value="{{ prog.period|default:"" }}"></div>
                            {% comment %}
                            <div class="slider_body_property_value">
                                <select name="period">
                                    <option value="-1">---------</option>
                                    {% for period in periods %}
                                    <option {% if prog.period.id == period.id %}selected{% endif %} value="{{ period.id }}">{{ period.title }}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="slider_body_body_line"><input type="submit" value="Сохранить"> </div>
                            {% endcomment %}
                            <div class="slider_body_property_name"></div><div class="slider_body_property_value"><input type="submit" value="Сохранить"></div>
                        </form>


                    </div>
                    <div class="clear"></div>
                </div>

                {% endfor %}

                {% if up_programs|length > 0 %}<label class="groups_sub_header">Повышение квалификации</label>{% endif %}
                {% for prog in up_programs %}
                <div class="slider_item institute_slider_item" item="item_{{ prog.id }}">
                    <label class="slider_item_main_label_half">{{ prog.program.name }}</label>
                    <label class="slider_item_main_label_half2">{% if prog.accreditation_finish %}аккредитация до <span>{{ prog.accreditation_finish|default:"-"|date:"d.m.Y" }}</span>{% else %}аккредитация бессрочная{% endif %}</label>
                    <!--<div  item="item_{{ prog.id }}" class="slider_arrow arrow_down"></div>-->
                    <div class="slider_body" item="item_{{ prog.id }}">
                        <form action="{% url 'edu-realize-program' prog.id %}" id="{{ prog.id }}"  class="realize_program" method="post">
                            {% comment %}<div class="slider_body_property_name">Срок действия акредитации</div><div class="slider_body_property_value"><input class="datepicker" name="accreditation_finish" value="{{ prog.accreditation_finish|default:"-"|date:"d.m.Y" }}"></div>{% endcomment %}
                            <div class="slider_body_property_name">Стоимость подготовки</div><div class="slider_body_property_value"><input name="cost" value="{{ prog.cost|default:""|floatformat }}"></div>
                            <div class="slider_body_property_name">Форма обучения</div>
                            {% comment %}	<div class="slider_body_property_value"><input name="form" value="{{ prog.form|default:"" }}"></div>{% endcomment %}
                            <div class="slider_body_property_value">
                                <select name="form">
                                    <option value="">---------</option>
                                    {% for form in forms %}
                                    <option {% if prog.form.id == form.id %}selected{% endif %} value="{{ form.id }}">{{ form.title }}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="slider_body_property_name">Периодичность занятий</div><div class="slider_body_property_value"><input name="period" value="{{ prog.period|default:"" }}"></div>
                            {% comment %}
                            <div class="slider_body_property_value">
                                <select name="period">
                                    <option value="-1">---------</option>
                                    {% for period in periods %}
                                    <option {% if prog.period.id == period.id %}selected{% endif %} value="{{ period.id }}">{{ period.title }}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="slider_body_body_line"><input type="submit" value="Сохранить"> </div>
                            {% endcomment %}
                            <div class="slider_body_property_name"></div><div class="slider_body_property_value"><input type="submit" value="Сохранить"></div>
                        </form>


                    </div>
                    <div class="clear"></div>
                </div>

                {% endfor %}
            </div>

        </div>

        <div class="item" id="additional">
            <div class="personal_card_header"><label>Дополнительная информация</label></div>

            <div class="personal_card_content stretchable" type="additional">
                <form action="{% url 'additional-edit' %}" id="{{ curator.id }}"  class="additional" method="post">

                    <textarea name = "additional" cols="90" rows="10" >{{ curator.additional|default:"" }}</textarea>

                    <div class="slider_body_property_name"></div>
                    <div class="slider_body_property_value"><input type="submit" value="Сохранить"></div>
                </form>

            </div>

        </div>


    </div>

    <div class="anytab" id="recruitments">
           {% for recruitment in recruitments %}
            <div class="slider_item institute_slider_item" item="item_{{ recruitment.id }}">
                <label class="slider_item_main_label_half">{{ recruitment.institute_program.program.name }}</label>
                <label class="slider_item_main_label_half2">Открыт набор, занятия с <span  class="span_recruitment" id="{{ recruitment.id  }}">{{ recruitment.begin_date|default:"-"|date:"d.m.Y" }}</span></label>
                <div  item="recruitment_{{ recruitment.id }}" class="slider_arrow arrow_down"></div>
                <div class="slider_body" item="recruitment_{{ recruitment.id }}">
                    <div class="clear"></div>
                    <form action="{% url 'recruitment-edit' recruitment.id %}" id="recruitment_{{ recruitment.id }}" class="recruitment" method="POST" enctype="multipart/form-data" target="upload_iframe_{{ recruitment.id }}">
                        <div class="slider_body_property_name">Тема курса</div><div class="slider_body_property_value"><input name="topic" width="50px" value="{{ recruitment.topic|default:'' }}"></div>
                        <div class="slider_body_property_name">Стоимость подготовки</div><div class="slider_body_property_value"><input name="price" value="{{ recruitment.price|default:''|floatformat }}"></div>
                        <div class="slider_body_property_name">Дата начала набора</div><div class="slider_body_property_value"><input class="datepicker" name="begin_date" value="{{ recruitment.begin_date|default:''|date:"d.m.Y" }}"></div>
                        <div class="slider_body_property_name">Форма обучения</div>
                        <div class="slider_body_property_value">
                            <select name="form">
                                <option value="">---------</option>
                                {% for form in forms %}
                                <option {% if recruitment.form.id == form.id %}selected{% endif %} value="{{ form.id }}">{{ form.title }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="slider_body_property_name">Периодичность занятий</div><div class="slider_body_property_value"><input name="periodicity" value="{{ recruitment.periodicity|default:'' }}"></div>
                        <div class="slider_body_property_name">Объем ( ак. час. )</div><div class="slider_body_property_value"><input name="volume_academ_hours" value="{{ recruitment.volume_academ_hours|default:'' }}"></div>
                        <!--<div class="slider_body_property_name">Объявление</div>-->
                        <!--<div class="slider_body_property_value">{% if recruitment.sticker %}<a href="url 'sticker-edit' recruitment.sticker.id">{{ recruitment.sticker.title|truncatewords:4 }}</a>{% else %}<a href="{% url 'sticker-generate' recruitment.id  %}">Сгенерировать</a>{% endif %}</div>-->
                        <div class="slider_body_property_name">Программа</div>
                        <div class="slider_body_property_value">
                        {% if recruitment.program %}<a class="file_link" href="{{ recruitment.program_url }}">{{ recruitment.program_filename }}</a>{% endif %}
                        <input name="program" type="file">
                        {% if recruitment.program %}<input name="program_hidden" type="hidden" value="{{ recruitment.program }}">{% endif %}
                        </div>
                        <!--<div class="slider_body_property_name">Слушатели заключают 2 договора (с образовательной организацией и ПНК)</div>-->
                        <!--<div class="slider_body_property_value">-->

                            <!--<div class="slider_item_main_checkbox {% if recruitment.contract_with_pnk == 1 %}checked{% endif %}">-->
                                <!--<input type="checkbox" name="contract_with_pnk" {% if recruitment.contract_with_pnk == 1 %}checked{% endif %} value="1"  style="display: none">-->
                            <!--</div>-->


                        <!--</div>-->
                    </form>
                    <form id="del_recruitment_{{ recruitment.id }}" method='GET' action="{% url 'edu-item-del' 'recruitment' recruitment.id  %}" ></form>

                    <table class="button_panel"><tr>
                        <td><input type="submit" value="Сохранить" form="recruitment_{{ recruitment.id }}"></td>
                        <td><input type="submit" value="Удалить" form="del_recruitment_{{ recruitment.id }}"></td>
                    </tr></table>

                    <iframe id="upload_iframe_{{ recruitment.id }}" name="upload_iframe_{{ recruitment.id }}" class="recruitment_iframe" recruitment="{{ recruitment.id }}" style="width:0;height:0;border:0;"></iframe>
                </div>
                <div class="clear"></div>
            </div>

            {% endfor %}
    </div>

    <div class="anytab" id="groups">
        {% if basegroups|length > 0 %}<label class="groups_sub_header">Подготовка</label>{% endif %}

        {% for group in basegroups %}
        <div class="slider_item clear" item="group_{{ group.id }}">
            <label class="slider_item_main_label_half">{{ group.name }}</label>
            <label class="slider_item_main_label_half2_short">экзамен {{ group.exam_date|default:"-" }}</label>
            <div class="cool_button" ><a href="{% url 'edu-group' group.id %}">Редактировать</a></div>
            <div class="clear"></div>
        </div>
        {% endfor %}

        {% if upgroups|length > 0 %}<label class="groups_sub_header">Повышение квалификации</label>{% endif %}

        {% for group in upgroups %}
        <div class="slider_item clear" item="group_{{ group.id }}">
            <label class="slider_item_main_label_half">{{ group.name }}</label>
            <label class="slider_item_main_label_half2_short">начало {{ group.education_start|default:"-" }}</label>
             <div class="cool_button" ><a href="{% url 'edu-group' group.id %}">Редактировать</a></div>
            <div class="clear"></div>
        </div>

        {% endfor %}

    </div>

    <div class="anytab" id="requests">
            {% for item in requests %}
            <div class="slider_item institute_slider_item request_line" item="{{ item.id }}">
                <label class="slider_item_main_label_half">{{ item.student.get_fio }}</label>
                <label class="slider_item_main_label_half2_short">{{ item.institute_program.program }}</label>
                <div class="cool_button" ><a href="{% url 'request-form' item.id %}">Заявление</a></div>
                <div class="cool_button" ><a href="{% url 'request-pdf' item.id %}">Заявление pdf</a></div>
                <div class="clear"></div>
            </div>
            {% endfor %}
    </div>

    </div>

    {% else %}
       <!--============================================================ STUDENT ===============================================-->

<!--<h1>Личный кабинет</h1>-->
<!--<div class="bumper"></div>-->

{% if user.is_ipr %}
{% if student.rejected %}
<div class="excuse">
    <div class="greeting_line">Ваша заявка отклонена администратором</div>
</div>
{% elif not student.confirmed %}
<div class="excuse">

    <div class="greeting_line">Администратор сайта проверяет корректность Вашей регистрации.</div>
    <div class="greeting_line">Внимание! Уведомление об утверждении регистрации НЕ ПРИХОДИТ НА ЭЛЕКТРОННУЮ ПОЧТУ -<br>
        Вы самостоятельно проверяете свой статус через Личный кабинет.</div>
    <div class="greeting_line">После утверждения регистрации (что занимает не больше 1 рабочего дня) <br>
        в данном разделе Вы сможете подать заявление на повышение квалификации.</div>
    <div class="greeting_line">Подача заявления на любые курсы повышения квалификации через Инфо-ресурс обязательна<br>
        и является одним из условий зачета пройденного повышения квалификации для продления срока действия квалификационного аттестата.</div>

</div>
{% elif not student.user.has_edu_request %}
<div class="excuse">
    <!--============================================================ CONFIRMED NO HAVE EDU REQUEST ===============================================-->
    <div class="greeting_line">Здесь  Вы  можете подать заявление о допуске к повышению квалификации.<br>
        <a href="/">Перейти к подаче заявления</a></div>

    <div class="greeting_line">После  выбора Вами формы повышения квалификации заявление сформируется автоматически<br>
        и  будет  направлено  выбранной  Вами  образовательной организации.</div>

    <div class="greeting_line">Через  свой  Личный  кабинет  Вы  сможете отследить, в какую группу Вы включены,<br>
        сроки   повышения  квалификации.  программу  курса,  сроки изготовления документов и т.п.</div>

</div>
{% endif %}
{% endif %}

   <div id="custom_tabs">
   <ul  class="custom_tabs_list">
      <li><a href="#main">Карточка профиля</a></li>

       {% if old_up_group|length > 0 or old_base_group|length > 0 %}
       <li><a href="#my_groups">Мои группы</a></li>
       {% endif %}

       {% if my_requests|length > 0 %}
      <li><a href="#my_requests">Мои запросы на обучение</a></li>
       {% endif %}

       {% if student.membership_number %}
      <li><a href="#membership">Членство в ПНК</a></li>
       {% endif %}

      <li><a href="#private">Персональные данные</a></li>
   </ul>

    <div class="anytab" id="main">

        <table class="card">
            <tr><td class="attribute">ФИО :</td><td>{{ student.get_fio }}</td></tr>

            {% if user.is_ipr %}
            <tr><td class="attribute">Профессиональный статус :</td><td>{{ student.profstatus|default:"" }}</td></tr>
            {% endif %}

            <tr><td class="attribute">Номер квалификационного аттестата :</td><td>{{ student.attestat_number|default:"" }}</td></tr>
            <tr><td class="attribute">Дата выдачи квалификационного аттестата:</td><td>{{ student.attestat_date|default:"" }}</td></tr>
            <tr><td class="attribute">Срок действия квалификационного аттестата :</td><td>{{ student.attestat_length|default:"" }}</td></tr>
            {% if not user.is_ipr %}
            <tr><td class="attribute">Образование :</td><td>{{ student.education|default:"" }}</td></tr>
            {% endif %}
        </table>

        <div class="bumper"></div>

    <div   class="item" id="study">
        <div class="personal_card_header"><label>Обучение</label></div>

        <div class="personal_card_content stretchable" type="study">
            {% if user.is_ipr %}
            <!--============================================================ IPR ===============================================-->
            {% if student.rejected %}
            <div class="greeting_line">Ваша заявка отклонена администратором</div>

            {% elif not student.confirmed %}
            <!--============================================================ NO CONFIRMED ===============================================-->
               <!--<div class="info_item"><span>Вы не утверждены еще в качестве налогового консультанта администрацией сайта</span></div>-->

            <div class="greeting_line">Администратор сайта проверяет корректность Вашей регистрации.</div>
            <div class="greeting_line">Внимание! Уведомление об утверждении регистрации НЕ ПРИХОДИТ НА ЭЛЕКТРОННУЮ ПОЧТУ -<br>
                Вы самостоятельно проверяете свой статус через Личный кабинет.</div>
            <div class="greeting_line">После утверждения регистрации (что занимает не больше 1 рабочего дня) <br>
                в данном разделе Вы сможете подать заявление на повышение квалификации.</div>
            <div class="greeting_line">Подача заявления на любые курсы повышения квалификации через Инфо-ресурс обязательна<br>
                и является одним из условий зачета пройденного повышения квалификации для продления срока действия квалификационного аттестата.</div>


            {% elif not student.user.has_edu_request %}
            <!--============================================================ CONFIRMED NO HAVE EDU REQUEST ===============================================-->
            <div class="greeting_line">Здесь  Вы  можете подать заявление о допуске к повышению квалификации.<br>
                                    <a href="/">Перейти к подаче заявления</a></div>

            <div class="greeting_line">После  выбора Вами формы повышения квалификации заявление сформируется автоматически<br>
                и  будет  направлено  выбранной  Вами  образовательной организации.</div>

            <div class="greeting_line">Через  свой  Личный  кабинет  Вы  сможете отследить, в какую группу Вы включены,<br>
                сроки   повышения  квалификации.  программу  курса,  сроки изготовления документов и т.п.</div>

              {% else %}
            <!--============================================================ CONFIRMED HAVE EDU REQUEST ===============================================-->

            <table class="card">
                <tr>
                    <td class="attribute">Город :</td>
                    <td>{{ student.study_request.institute_program.institute.city }}</td>
                </tr>
            <tr>
                <td class="attribute">Образовательная организация :</td>
                <td>{% if student.study_request %}<a href="{% url 'edu-institute' student.study_request.institute_program.institute.id  %}">{{ student.study_request.institute_program.institute }}</a>{% endif %}</td>
            </tr>
            <tr>
                <td class="attribute">Образовательная программа :</td>
                <td>{{ student.study_request.institute_program.program }}</td>
            </tr>
            {% if student.study_request.institute_program.has_seminar == True %}
            <tr>
                <td class="attribute">Сроки проведения семинара :</td>
                <td>{{ student.study_request.practic_period }}</td>
            </tr>
            <tr>
                <td class="attribute">Метод оплаты :</td>
                <td>{{ student.study_request.payment_method_name }}</td>
            </tr>
            {% if student.study_request.payment_method == 'U' %}
            <tr>
                <td class="attribute">Реквизиты :</td>
                <td>{{ student.study_request.details }}</td>
            </tr>
            {% endif %}

            {% endif %}
            <tr>
                <td class="attribute">Группа :</td>
                <td>{% if not group %}Формируется{% else %}<a href="{% url 'edu-group' group.group.id  %}">{{ group.group }}</a>{% endif %}</td>
            </tr>
            {% if group.group and group.group.timetable %}
            <tr>
                <td class="attribute">Программа :</td>
                <td><a href="{{ group.group.timetable_url }}">{{ group.group.timetable_filename }}</a></td>
            </tr>
            {% endif %}
            <tr>
                <td class="attribute">Дата квалификационного экзамена:</td>
                <td>{% if not group %}-{% else %}{{ group.group.exam_date|default:"" }}{% endif %}</td>
            </tr>
            <tr>
                <td class="attribute">Результат:</td>
                <td>{% if not group %}-{% else %}{{ group.exam_result|default:"" }}{% endif %}</td>
            </tr>
            </table>
             {% endif %}

            {% else %}
            <!--============================================================ SYMPLE STUDENT ===============================================-->

            <table class="card">
               <tr>
                   <td class="attribute">Город :</td>
                   <td>{% if student.study_request %}{{ student.study_request.institute_program.institute.city }}{% endif %}</td>
               </tr>
               <tr>
                   <td class="attribute">Образовательная организация :</td>
                   <td>{% if student.study_request %}<a href="{% url 'edu-institute' student.study_request.institute_program.institute.id  %}">{{ student.study_request.institute_program.institute }}</a>{% endif %}</td>
               </tr>
               <tr>
                   <td class="attribute">Образовательная программа :</td>
                   <td>{{ student.study_request.institute_program.program }}</td>
               </tr>
               <tr>
                   <td class="attribute">Группа :</td>
                   <td>{% if not group %}Не сформирована{% else %}<a href="{% url 'edu-group' group.group.id  %}">{{ group.group }}</a>{% endif %}</td>
               </tr>
            {% if group.group and group.group.timetable %}
            <tr>
                <td class="attribute">Расписание :</td>
                <td><a href="{{ group.group.timetable_url }}">{{ group.group.timetable_filename }}</a></label>
            </tr>
            {% endif %}
            <tr>
                <td class="attribute">Дата квалификационного экзамена:</td>
                <td>{% if not group %}-{% else %}{{ group.group.exam_date|default:"" }}{% endif %}</td>
            </tr>
            <tr>
                <td class="attribute">Результат:</td>
                <td>{% if not group %}-{% else %}{{ group.exam_result|default:"" }}{% endif %}</td>
            </tr>
            </table>
            {% endif %}
        </div>
    </div>
    </div>

       <div class="anytab" id="private">

        <table class="card">
                <!--{% if student.passport and student.passport.strip %}-->
                <!--<tr><td class="attribute">Серия и номер паспорта :</td><td>{{ student.passport|default:"" }}</td></tr>-->
                <!--{% endif %}-->

                <!--{% if student.passport_who_gave  %}-->
                <!--<tr><td class="attribute">Кем выдан :</td><td>{{ student.passport_who_gave|default:"" }}</td></tr>-->
                <!--{% endif %}-->

                <!--{% if student.passport_when_gave  %}-->
                <!--<tr><td class="attribute">Когда выдан :</td><td>{{ student.passport_when_gave|default:"" }}</td></tr>-->
                <!--{% endif %}-->

                <!--{% if student.passport_code  %}-->
                <!--<tr><td class="attribute">Код подразделения :</td><td>{{ student.passport_code|default:"" }}</td></tr>-->
                <!--{% endif %}-->

                <!--{% if student.birthday  %}-->
                <!--<tr><td class="attribute">Дата рождения :</td><td>{{ student.birthday|default:"" }}</td></tr>-->
                <!--{% endif %}-->

                <tr><td class="attribute">Почтовый адрес :</td><td>{{ student.postaddress|default:"" }}</td></tr>
                <tr><td class="attribute">Электронная почта :</td><td>{{ student.user.email }}</td></tr>
                <tr><td class="attribute">Телефон :</td><td>{{ student.telephone|default:"" }}</td></tr>
                <tr><td class="attribute">Место работы :</td><td>{{ student.job_place|default:"" }}</td></tr>
                <tr><td class="attribute">Должность :</td><td>{{ student.position|default:"" }}</td></tr>
                <tr><td class="attribute"></td><td>
                    <form action="{% url 'changeprivate' %}" method="GET">
                       <input type="submit" value="Редактировать">
                    </form>
                </td>
                </tr>
        </table>
    </div>

    <div class="anytab" id="membership">
        <table class="card">
           <tr><td class="attribute">Номер членского билета :</td><td>{{ student.membership_number|default:"" }}</td></tr>
        </table>

        {% if user.is_ipr and iprstudentmemberships|length > 0 %}

            <table  class="search_table width_800">
                <thead>
                <th class="search_th">
                    Регион / год
                </th>

                <th class="search_th">
                    Взнос
                </th>

                <th class="search_th">
                    Льгота
                </th>

                </thead>

            <tbody>
            {% for iprstudentmembership in iprstudentmemberships %}
            <tr>
                <td>
                    {{ iprstudentmembership.membership|default:"" }}
                </td>

                <td>
                    {{ iprstudentmembership.paid|default:"" }}
                </td>

                <td>
                    {{ iprstudentmembership.benefit|default:"-" }}
                </td>
             </tr>
            {% endfor %}

            </tbody>
            </table>

        {% endif %}
    </div>
	
	{% if my_requests|length > 0 %}

    <div class="anytab" id="my_requests">

        {% if base_my_requests|length > 0 %}<label class="groups_sub_header">Подготовка</label>{% endif %}

        {% for request in base_my_requests %}
        <div class="slider_item institute_slider_item" item="{{ request.id }}">
            <label class="slider_item_main_label_half">{{ request.institute_program.institute }}</label>
            <label class="slider_item_main_label_half2_short">{{ request.institute_program.program }}</label>
            <div class="cool_button" ><a href="{% url 'request-form' request.id %}">Заявление</a></div>
            <div class="cool_button" ><a href="{% url 'request-pdf' request.id %}">Заявление pdf</a></div>
            <div class="clear"></div>
        </div>
        {% endfor %}

        {% if up_my_requests|length > 0 %}<label class="groups_sub_header">Повышение квалификации</label>{% endif %}
        {% for request in up_my_requests %}
        <div class="slider_item institute_slider_item" item="{{ request.id }}">
            <label class="slider_item_main_label_half">{{ request.institute_program.institute }}</label>
            <label class="slider_item_main_label_half2_short">{{ request.institute_program.program }}</label>
            <div class="cool_button" ><a href="{% url 'request-form' request.id %}">Заявление</a></div>
            <div class="cool_button" ><a href="{% url 'request-pdf' request.id %}">Заявление pdf</a></div>
            <div class="clear"></div>
        </div>

        {% endfor %}
    </div>

	{% endif %}
	
	{% if old_up_group|length > 0 or old_base_group|length > 0 %}

    <div class="anytab" id="my_groups">

		{% if old_base_group|length > 0 %}
           <label class="groups_sub_header">Подготовка</label>
        {% endif %}


        {% for item in old_base_group %}

        <div class="slider_item institute_slider_item request_line" item="{{ item.id }}">
            <label class="slider_item_main_label_half {% if item.is_archive or item.is_finished %}archive{% endif %}">{{ item.education_institute }}</label>
            <label class="slider_item_main_label_half2_short {% if item.is_archive or item.is_finished %}archive{% endif %}">{{ item.name }}</label>
            <div class="cool_button {% if item.is_archive or item.is_finished %}archive{% endif %}" ><a href="{% url 'edu-group' item.id %}">Информация</a></div>
            {% if item.timetable %}
            <div class="cool_button {% if item.is_archive or item.is_finished %}archive{% endif %}" ><a href="{{ item.timetable_url }}">Расписание</a></div>
            {% endif %}
            <div class="clear"></div>
        </div>

        {% endfor %}


		{% if old_up_group|length > 0 %}
        <label class="groups_sub_header">Повышение квалификации</label>
        {% endif %}

        {% for item in old_up_group %}
        <div class="slider_item institute_slider_item request_line" item="{{ item.id }}">
            <label class="slider_item_main_label_half {% if item.is_archive or item.is_finished %}archive{% endif %}">{{ item.education_institute }}</label>
            <label class="slider_item_main_label_half2_short {% if item.is_archive or item.is_finished %}archive{% endif %}">{{ item.name }}</label>
            <div class="cool_button {% if item.is_archive or item.is_finished %}archive{% endif %}" ><a href="{% url 'edu-group' item.id %}">Информация</a></div>
            {% if item.timetable %}
            <div class="cool_button {% if item.is_archive or item.is_finished %}archive{% endif %}" ><a href="{{ item.timetable_url }}">Расписание</a></div>
            {% endif %}
            <div class="clear"></div>
        </div>
        {% endfor %}

    </div>
	
	{% endif %}

   </div>

    {% endif %}
{% endblock %}


{% block right_button_panel %}

{% if user.is_admin and not user.is_olesya %}
<!--<tr>-->
    <!--<td>-->
        <!--<form method="GET" action="{% url 'edu-item-new' 'region' %}">-->
        <!--<input type="submit"  value="+ регион"/>-->
        <!--</form>-->
    <!--</td>-->
<!--</tr>-->
<!--<tr>-->
    <!--<td>-->
        <!--<form method="GET" action="{% url 'edu-item-new' 'city' %}">-->
        <!--<input type="submit" value="+ город"/>-->
        <!--</form>-->
    <!--</td>-->
<!--</tr>-->
<!--<tr>-->
    <!--<td>-->
        <!--<form method="GET" action="{% url 'news-new' %}">-->
        <!--<input type="submit" value="+ новость"/>-->
        <!--</form>-->
    <!--</td>-->
<!--</tr>-->
<!--<tr>-->
    <!--<td>-->
        <!--<form method="GET" action="{% url 'staticpage-new' %}">-->
        <!--<input type="submit" value="+ страница"/>-->
        <!--</form>-->
    <!--</td>-->
<!--</tr>-->

{% elif user.is_curator %}

<!--<tr>-->
    <!--<td>-->
        <!--<form method="GET" action="{% url 'recruitment-new' %}">-->
            <!--<input type="submit" value="Создать набор"/>-->
        <!--</form>-->
    <!--</td>-->
<!--</tr>-->

{% if requests|length > 0 %}
<!--<tr>-->
    <!--<td>-->
        <!--<form method="GET" action="{% url 'groups_new' %}">-->
            <!--<input type="submit" value="Создать группу"/>-->
        <!--</form>-->
    <!--</td>-->
<!--</tr>-->
{% endif %}

{% endif %}
{% endblock %}
