{% extends "personal_cabinet.html" %}

{% block jquery_ready %}
  
{% if level == 'U' %}
function change_seminar_fields(set_visible){

   var display = "none", python_bool = 'False';

   if( set_visible == true ){
     display = "block";
     python_bool = 'True';
   }else{

     $('#id_practic_period').val('');
     $('#id_payment_method').val('');
     $('#id_details').text('');

   }

   $('#id_practic_period').closest(".row").css("display",display);
   $('#id_payment_method').closest(".row").css("display",display);
   $('#id_has_seminar').val(python_bool);

   if( set_visible == true && $('#id_payment_method').val() == 'U' ){
     $('#id_details').closest(".row").css("display","block");
   }else{
     $('#id_details').closest(".row").css("display","none");
   }

}

function get_seminar_attribute(institute_id,program_id){

$.post('/ajax/has_seminar/',{institute: institute_id, program: program_id}, function (data) {
  change_seminar_fields(data);
});
  }

function add_required_star(identifier){
  var id_row = $(identifier).closest(".row"), id_label = id_row.find('label');
  id_label.text(id_label.text() + ' *');
}

   if ($('#id_has_seminar').val() == 'True'){
   change_seminar_fields(true);
   }else{
   change_seminar_fields(false);
   }

$('#id_payment_method').change(function(){

if( $('#id_payment_method').val() != 'U' ){
$('#id_details').closest(".row").css("display","none");
}else{
$('#id_details').closest(".row").css("display","block");
}
});

$('#id_education_institute').change(function(){

get_seminar_attribute($("#id_education_institute option:selected").val(), $("#id_education_program option:selected").val());

        });

$('#id_education_program').change(function(){

  get_seminar_attribute($("#id_education_institute option:selected").val(), $("#id_education_program option:selected").val());

});


  add_required_star('#id_practic_period');
  add_required_star('#id_payment_method');
  add_required_star('#id_details');
{% endif %}
{% endblock %}

{% block page_style %}

{% endblock %}

{% block include %}
<script type="text/javascript" src="/media/js/jquery-ui-1.8.18/development-bundle/ui/i18n/jquery.ui.datepicker-ru.js"></script>
<link rel="stylesheet" type="text/css" media="all" href="/media/css/cupertino/jquery-ui-1.8.18.custom.css" />

{% endblock %}

{% block urlpath %} {{ block.super }} / <a href="{% url 'search' %}">Поиск информации</a>  / <a href="{% url 'person-edit' person.slug %}">{{ person.get_fio }}</a> / <a href="{% url 'person-request' person.slug %}">Новое заявление</a> {% endblock %}

{% block caption %}
{% endblock %}

{% block slow_button_panel %}
{% endblock %}

{% block content %}

<div  class="item" id="profile_card">
    <h1>{{ person.get_fio }}. Новое заявление на {% if person.user.is_student %}подготовку{% endif %}{% if person.user.is_ipr %}повышение квалификации{% endif %}</h1>

    {% if user.is_admin %}
    <div class="personal_card_content stretchable" type="request">

        {% include 'errors_and_messages.html' %}
        <form id="requestform" action="" method="POST" class="editform" enctype="multipart/form-data">
            {% csrf_token %}
            <!--<input type="hidden" id="id_id" name="id" value="{{ item.id }}">-->

            {% include 'form_loop.html' with Form=RequestForm %}
            {% include 'form_loop.html' %}

            <div class="row last">
                <input type="submit" value="{% if item.id %}Изменить{% else %}Сохранить{% endif %}" />
            </div>

        </form>

                
    </div>
    {% endif %}
    <div class="clear"></div>
</div>
{% endblock %}

{% block right_button_panel %}
{% endblock %}