{% extends 'index.html' %}

{% block include %}


    <link rel="stylesheet" href="/media/css/datatables/demo_page.css">
    <link rel="stylesheet" href="/media/css/datatables/demo_table_jui.css">
    <link rel="stylesheet" href="/media/css/datatables/demo_table.css">


    <script src="/media/js/datatables/jquery-1.4.4.min.js"></script>

    <script src="/media/js/datatables/jquery.dataTables.min.js"></script>
    <script src="/media/js/datatables/jquery.dataTables.columnFilter.js"></script>

{% endblock %}

{% block content %}


    <a href="{% url 'personal_users' %}">Учащиеся</a>

    {% block table_content %}
    {% endblock %}

{% endblock %}