{% extends "index.html" %}

{% block title %}Новости.{{ item.title }}{% endblock %}

{% block page_style %}

.tab_content{
margin-top: 10px;
}

{% endblock %}

{% block jquery_ready %}

{% endblock %}

{% block urlpath %} {% if type == "news" %}/ <a href="/">Новости</a>{% endif %} / <a href="{% url 'edu-news' item.slug %}">{{ item.title }}</a>{% endblock %}

{% block content %}
<h1 class="sticker_view_title">{{ item.title }}</h1>
<div class="sticker_view_body">

    <section class="sticker_view_preview">
        {{ item.preview|safe }}
    </section>


    <section class="sticker_view_content">
        {{ item.text|safe }}
    </section>

</div>

{% endblock %}

