{% extends "personal_cabinet.html" %}

{% block jquery_ready %}
  
{% endblock %}

{% block page_style %}

{% endblock %}

{% block include %}
<script type="text/javascript" src="/media/js/jquery-ui-1.8.18/development-bundle/ui/i18n/jquery.ui.datepicker-ru.js"></script>
<link rel="stylesheet" type="text/css" media="all" href="/media/css/cupertino/jquery-ui-1.8.18.custom.css" />

{% endblock %}

{% block urlpath %} {{ block.super }} / <a href="{% url 'search' %}">Поиск информации</a>  / <a href="{% url 'person-edit' person.slug %}">{{ person.get_fio }}</a> / <a href="{% url 'person_membership-new' person.slug %}">Взнос</a>{% endblock %}

{% block caption %}
{% endblock %}

{% block slow_button_panel %}
{% endblock %}

{% block content %}

<div  class="item" id="profile_card">
    <div class="personal_card_header"><label>{{ person.get_fio }}. Взнос за членство</label></div>

    <div class="personal_card_content stretchable" type="person">
        {% if user.is_admin %}

        {% include 'errors_and_messages.html' %}
        <form id="requestform" action="{% url 'person_membership-new' person.slug %}" method="POST" class="editform" enctype="multipart/form-data">
            {% csrf_token %}

            {% include 'form_loop.html' %}
            <div class="row last">
                <input type="submit" name="save" value="Сохранить" />
            </div>
        </form>
        {% endif %}
    </div>
    <div class="clear"></div>
</div>
{% endblock %}

{% block right_button_panel %}
{% endblock %}
