{% extends "personal_cabinet.html" %}

{% block jquery_ready %}
  
$(".adobe").click(function(){

window.location = '/edu/request/pdf/' + $(this).attr("item") + '/';

});

$('.create_item').click(function(){

if( $(this).attr("type") == 'memberships' ){

window.location = '/edu/person/membership/{{ person.slug }}/';

}else{

window.location = '/edu/' + $(this).attr("type") + '/';

}
});

$('.trash').click(function(){

if( $(this).attr("type") == 'iprmembership' ){

if (confirm('Вы действительно хотите удалить  взнос ?')) {

var tr = $(this).closest('tr');

$.get('/edu/person/membership/delete/' + $(this).attr("item") + '/', function(data){

obj = JSON.parse(data);
if (obj.status == 1){

tr.remove();

}else{
alert("Ошибка");
}

}); // get end

} // confirm end

}else if( $(this).attr("type") == 'eduReq' ){

var lv_delete_id = 'id_' + $(this).attr("prefix") + '-is_archive';

$('input#' + lv_delete_id).val(1);
$(this).closest('div[item="edurequest_form_'+$(this).attr("prefix")+'"]').css("display","none");
alert('Внимание, чтобы закончить архивирование запроса, сохраните личную карточку');
}

});

$('.delete_item').click(function(){

if( $(this).attr("type") == 'iprmembership' ){

if (confirm('Вы действительно хотите удалить  взнос ?')) {

var tr = $(this).closest('tr');

$.get('/edu/person/membership/delete/' + $(this).attr("item") + '/', function(data){

obj = JSON.parse(data);
if (obj.status == 1){

tr.remove();

}else{
alert("Ошибка");
}

}); // get end

} // confirm end

}

});

$('.seminar_payment_method').change(function(){

var lv_payment_method = $(this).val();

var lv_id = $(this).attr('id');
var lv_re = /id_educationrequest_set-(\d)+-/i;
var lt_found = lv_id.match(lv_re) || [];
var lv_prefix = lt_found[1];

var lv_details_id = '#id_educationrequest_set-' + lv_prefix + '-details';
var lv_label_div = ".slider_body_property_name[for='" + lv_details_id.substr(1) +"']";

var slider_body = $(this).closest(".slider_body");

if( lv_payment_method != 'U' ){

var lv_display = "none";

}else{

var lv_display = "block";

}

$(lv_details_id).closest(".slider_body_property_value").css("display",lv_display);
$(lv_label_div).css("display",lv_display);

});

{% endblock %}

{% block page_style %}

        label.selectininput{
        width: 280px !important;

}

{% endblock %}

{% block urlpath %} {{ block.super }} / <a href="{% url 'search' %}">Поиск информации</a>  / <a href="{% url 'person-edit' person.slug %}">{{ person.get_fio }}</a>{% endblock %}

{% block caption %}
{% endblock %}

{% block slow_button_panel %}
{% endblock %}

{% block content %}

<div  class="item" id="profile_card">
    <h1>{{ person.get_fio }}. Личная карточка</h1>

    <div id="custom_tabs">
            <ul  class="custom_tabs_list">
                <li><a href="#main">Общие данные</a></li>
                {% if eduReqFormset %}
                <li {% if eduReqFormset.total_error_count > 0 %}class="has_error"{% endif %} ><a href="#requests">Запросы на обучение</a></li>
                {% endif %}
                {% if group_forms and group_forms|length > 0 %}
                <li><a href="#groups">Обучение в группах</a></li>
                {% endif %}
                {% if person.user.is_ipr %}
                <li><a href="#payment">Взносы</a></li>
                {% endif %}
            </ul>
        {% if user.is_admin %}

        {% include 'errors_and_messages.html' %}
        <form id="requestform" action="{% url 'person-edit' person.slug %}" method="POST" class="editform" enctype="multipart/form-data">
            {% csrf_token %}

            <div id="main" class="anytab">
            {% include 'form_loop.html' %}
            </div>

            {% if eduReqFormset %}
            <div id="requests" class="anytab">

                {{ eduReqFormset.management_form }}
                {% for eduReq_form in eduReqFormset %}

                <div class="slider_item institute_slider_item {% if eduReq_form.errors|length > 0 %}has_error{% endif %}" item="edurequest_form_{{ eduReq_form.prefix }}" {% if eduReq_form.errors|length == 0 and eduReq_form.instance.can_be_deleted and eduReq_form.is_archive.value == '1' %}style="display:none;" {% endif %}>
                    {% if not eduReq_form.instance.can_be_deleted and eduReq_form.is_archive.value %}<legend  class="archive_legend">Архив</legend>{% endif %}

                    {% with institute_program=eduReq_form.instance.institute_program %}

                    <label class="slider_item_main_label_half" id="{{ institute_program.institute.id }}"  item="{{ institute_program.institute.id }}">{{ institute_program.institute.name|default:"" }}</label>
                    <label class="slider_item_main_label_half" id="{{ institute_program.program.id }}"  item="{{ institute_program.program.id }}">

                        <table>
                            <tr>
                                <td>{{ institute_program.program.name|default:"" }}</td>
                                <td align="right" class="padding_10">
                                    <a href="{% url 'request-pdf' eduReq_form.instance.id %}" target="_blank"><i class="step fi-page-pdf size-36" title="Заявление pdf" ></i></a>
                                </td>
                                {% if eduReq_form.instance.can_be_deleted %}
                                   <td align="right">
                                       <i class="step trash fi-trash size-36" type='eduReq' prefix="{{ eduReq_form.prefix }}" title="Архивировать заявление" ></i>
                                   </td>
                                {% endif %}
                            </tr>
                            </table>
                    </label>
                    {% endwith %}


                    <div  item="edurequest_form_{{ eduReq_form.prefix }}" class="slider_arrow arrow_down"></div>
                    <div class="clear"></div>

                    <div class="slider_body" item="edurequest_form_{{ eduReq_form.prefix }}">

                        {% for field in eduReq_form %}

                        {% if not field.is_hidden %}

                        <div class="slider_body_property_name" for="{{ field.id_for_label }}" {% if field.name == 'details' and eduReq_form.payment_method.value == 'F' %}style="display:none;"{% endif %}>

                        {% if field.field.widget.attrs.class != 'without_label' %}
                        {{ field.label }}{{ field.field.verbose_name }} {% if field.field.required %}<span>*</span>{% endif %}
                        {% endif %}
                        <div style="color:red">{{ field.errors }}</div>
                        </div>
                        <div class="slider_body_property_value" {% if field.name == 'details' and eduReq_form.payment_method.value == 'F' %}style="display:none"{% endif %}>
                           {{ field }}
                        </div>
                        <div class="clear"></div>

                        {% else %}

                        {{ field }}

                        {% endif %}

                        {% endfor %}

                        <div class="slider_body_property_name">Дата подачи заявления</div>
                        <div class="slider_body_property_value">{{ eduReq_form.instance.date_request }}</div>
                        <div class="clear"></div>

                    </div>

                    <div class="clear"></div>
                </div>

                {% endfor %}

            </div>
            {% endif %}

            {% if person.user.is_ipr %}
            <div id="payment" class="anytab">

                <table  class="search_table width_800">
                    <thead>
                    <th class="search_th">
                        Регион / год
                    </th>

                    <th class="search_th">
                        Взнос
                    </th>

                    <th class="search_th">
                        Льгота
                    </th>

                    <th class="search_th">
                        Комментарий
                    </th>

                    </thead>
                    <tbody>
                {% for iprmembership_form in iprmembership_forms %}

                    <tr>

                        {% for hidden in iprmembership_form.hidden_fields %}
                        {{ hidden }}
                        {% endfor %}

                        {% for field in iprmembership_form.visible_fields %}
                        <td>
                            {{ field }}
                            <div style="color:red">{{ field.errors }}</div>
                            {% if field.name == 'membership' %}
                            <div title="Удалить" class="icon delete_item" item="{{ iprmembership_form.model_id }}" type="iprmembership"></div>
                            {% endif %}
                        </td>
                        {% endfor %}

                    </tr>

                {% endfor %}

                </tbody>
                </table>
            </div>
            {% endif %}

            <div class="row">
                <table class="button_panel">
                <tr>
                {% if person.user.is_ipr and not person.is_confirm and not person.rejected %}
                <td><input type="submit"  name="confirm"  value="Утвердить" /></td>
                <td><input type="submit"  name="reject"  value="Отклонить" /></td>


                {% else %}

                {% if user.is_admin %}
                <td>
                    <input type="submit" name="request" form="newrequest" value="Новая заявка" {% if person.user.has_edu_request %}disabled{% endif %}/>
                </td>
                {% endif %}

                {% endif %}
                <td><input type="submit" name="save" value="{% if item.id %}Изменить{% else %}Сохранить{% endif %}"/></td>
                </tr>
                </table>
            </div>

        </form>

        <form action="{% url 'person-request' person.slug %}" method='GET' id="newrequest" >
        </form>
        {% endif %}
    </div>
    <div class="clear"></div>
</div>


{% endblock %}

{% block right_button_panel %}
{% endblock %}
