{% extends "personal_cabinet.html" %}

{% block jquery_ready %}

{% if person.slug and user.is_admin %}
$('.transparent_button').click(function(){

       if (confirm("Вы уверены в том, что хотите удалить {% if person.user.is_ipr %}консультанта{% endif %}{% if person.user.is_student %}слушателя{% endif %}?")) {

         $('#finishform').submit();

        }

        return false;


});
{% endif %}

{% endblock %}

{% block page_style %}

{% endblock %}

{% block include %}
<script type="text/javascript" src="/media/js/jquery-ui-1.8.18/development-bundle/ui/i18n/jquery.ui.datepicker-ru.js"></script>
<link rel="stylesheet" type="text/css" media="all" href="/media/css/cupertino/jquery-ui-1.8.18.custom.css" />

{% endblock %}

{% block urlpath %} {{ block.super }} / <a href="{% url 'search' %}">Поиск информации</a>  {% if person.slug %}/ <a href="{% url 'person-edit' person.slug %}">{{ person.get_fio }}</a>{% endif %}{% endblock %}

{% block caption %}
{% endblock %}

{% block slow_button_panel %}
{% endblock %}


{% block content %}

{% if user.is_admin %}

<div  class="item" id="profile_card">
    <div class="personal_card_header"><label>{% if person.slug %}{{ person.get_fio }}. Удаление{% else %}{{ fio }} успешно удалён!{% endif %}</label></div>
	
	<div class="personal_card_content stretchable" type="person">
        {% if person.slug %} 
		<ul>{% if person.user.is_ipr %}Налоговый консультант{% endif %}{% if person.user.is_student %}Слушатель{% endif %}
				
		<li> Логин/email: <b>{{ person.user.email }}</b> </li>
		<li style="display:none"> {{ person.id }} </li>
		<li> Дата регистрации на портале: <b>{{ person.registered_date|default:""|date:"d.m.Y" }}</b> </li>
		
		{% if person.user.is_ipr %}
		
		  {% if person.confirmed %}
		    <li>Утвержден {{ person.confirmed_date|default:""|date:"d.m.Y" }}</li>
          {% endif %} 		
		
		  {% if person.rejected %}
		    <li>Отклонён.</li>
		  {% endif %}
		
		{% endif %}
		
		
		<li> ФИО: <b>{{ person.get_fio }}</b> </li>
		
		{% if person.attestat_number %}
		<li> Аттест
		  <ul>
		    <li> Номер: <b>{{ person.attestat_number|default:"" }}</b> </li>
		    <li> Дата получения: <b>{{ person.attestat_date|default:"" }}</b> </li>
		    <li> Срок действия: <b>{{ person.attestat_length|default:"" }}</b> </li>
		  </ul>
		</li>
		{% endif %}
		
		{% if person.membership_number %}
		<li> Номер членского билета: <b>{{ person.membership_number|default:"" }}</b> </li>
		{% endif %}
		</ul>
		
		{% endif %}
		</div>

        <div class="clear"></div>
</div>

{% if person.slug %}
<div  class="item" id="education_requests">
    <div class="personal_card_header"><label>Запросы на обучение в группах</label></div>

    <div class="personal_card_content stretchable" type="requests">

	<table class="person_delete">
		{% for edurequest in edurequests	 %}
		
		<!-- eper.id, eper.student_id, eper.date_request, eper.is_archive, eper.institute_program_id,
            epeip.is_archive, 
            epeip.institute_id, epei.name,  
            epeip.program_id, epep.name,
            epsg.id, epsg.group_id, epsg.exam_result_id,
            epg.name
			-->
		
		 <tr>
		   <td>{% if edurequest.6 %}<a href="{% url 'edu-institute' edurequest.6 %}">{{ edurequest.7 }}</a>{% endif %}
		   </td>
		   
		   <td>
		   {% if edurequest.8 %}<a href="{% url 'edu-program' edurequest.8 %}">{{ edurequest.9 }}</a>{% endif %}
		   </td>
		   
		   <td>
		   {% if edurequest.10 %}<a href="{% url 'edu-group' edurequest.11 %}">{{ edurequest.13 }}</a>{% endif %}
		   </td>
		   		   
		 </tr>
		 
		{% endfor %}
    </table>
	</div>
	    <div class="clear"></div>
	
    <div class="personal_card_header"> <div class="transparent_button">Удалить личный кабинет</div> </div>	
	
	 <form action="" method="POST" id="finishform" style="display:none">
	  {% csrf_token %}
	  <input type="text" name="finish" value="YES">
	 </form>
		
</div>	
     {% endif %}
		
		{% endif %}
    
{% endblock %}

{% block right_button_panel %}
{% endblock %}
