{% extends "index.html" %}

{% block title %}Каталог групп. {{ item.name }}{% endblock %}

{% block page_style %}

.tab_content{
margin-top: 10px;
}

{% endblock %}

{% block jquery_ready %}

$(".slider_item_main_label_half").click(function(){
  window.location = '/auth/user/view/'+ $(this).attr("item") + '/';
});

{% endblock %}

{% block urlpath %} / <a href="{% url 'groups' %}">Каталог групп</a> / <a href="{% url 'group-view' item.id %}">{{ item.name }}</a>{% endblock %}

{% block content %}

    <div class="personal_card_header"><label>Группа</label></div>

        <table class="card width_800">
            <tr><td class="attribute">Номер группы :</td><td>{{ item.name }}</td></tr>
            <tr><td class="attribute">Образовательная организация :</td><td><a href="/edu/institute/{{ item.education_institute.id }}" >{{ item.education_institute }}</a></td></tr>
            <tr><td class="attribute">Статус :</td><td>{{  item.level_name }}</td></tr>
            <tr><td class="attribute">Форма обучения :</td><td>{{ item.form|default:"" }}</td></tr>
            <tr><td class="attribute">Срок обучения :</td><td>{{ item.education_start|default:"" }}{% if item.education_end %} - {{ item.education_end|default:"" }}{% endif %}</td></tr>

        {% if item.level == 'B' %}
            <tr><td class="attribute">Дата проведения экзамена :</td><td>{{ item.exam_date|default:"" }}</td></tr>
        {% endif %}

        {% if item.level == 'U' %}
            <tr><td class="attribute">Объем, ак.час. :</td><td>{{ item.volume_academ_hours|default:"" }}</td></tr>
        {% endif %}

        {% if my_group %}
		
		{% if item.timetable %}
            <tr><td class="attribute">Расписание :</td><td><a href="{{ item.timetable_url }}">{{ item.timetable_filename }}</a></td></tr>
		{% endif %}

            <tr><td class="attribute">Дата отправки личных дел в ПНК :</td><td>{{ item.send_pnk_date|default:"" }}</td></tr>
            <tr><td class="attribute">Дата получения личных дел ПНК :</td><td>{{ item.get_pnk_date|default:"" }}</td></tr>
            <tr><td class="attribute">Срок изготовления документов :</td><td>{{ item.make_documents_length|default:"" }}</td></tr>
            <tr><td class="attribute">Дата отправки документов в образовательную организацию :</td><td>{{ item.send_documents_to_institute|default:"" }}</td></tr>
            <tr><td class="attribute">Дата вручения документов :</td><td>{{ item.give_documents_date|default:"" }}</td></tr>

		{% endif %}
        </table>

        <div class="bumper"></div>

<div class="item" id="students">
    <div class="personal_card_header"><label>Список группы</label></div>

    <div class="personal_card_content stretchable" type="students">
        <div class="clear"></div>
       {% for student in item.students %}
       <div class="slider_item institute_slider_item" item="student_{{ student.id }}">
           <label class="slider_item_main_label_half" item="{{ student.get_iprstudent.id }}">{{ student.student.get_fio }}</label>
           <label class="slider_item_main_label_half" item="{{ student.get_iprstudent.id }}">{{ student.request.institute_program.program }}</label>
           {% if item.level == 'B' %}
           <div  item="student_{{ student.id }}" class="slider_arrow arrow_down"></div>
           {% endif %}
           <div class="slider_body" item="student_{{ student.id }}">
               <table class="card">
               <tr><td class="attribute">Результат экзамена</td><td>{{ student.exam_result|default:"" }}</td></tr>

			   {% if student.exam_result.is_finish %}
           <tr><td class="attribute">Номер  членского билета</td><td>{{ student.get_iprstudent.membership_number|default:"" }}</td></tr>
           <tr><td class="attribute">Номер квалификационного аттестата</td><td>{{ student.get_iprstudent.attestat_number|default:"-" }}</td></tr>
           <tr><td class="attribute">Дата выдачи квалификационного аттестата</td><td>{{ student.get_iprstudent.attestat_date|default:"-" }}</td></tr>
           <tr><td class="attribute">Срок действия квалификационного аттестата</td><td>{{ student.get_iprstudent.attestat_length|default:"-" }}</td></tr>
           <tr><td class="attribute">Особые отметки</td><td>{{ student.get_iprstudent.special_notes|default:"-" }}</td></tr>
    		   {% endif %}
           </table>
           </div>
           <div class="clear"></div>
       </div>
	   {% endfor %}
    </div>
</div>

{% endblock %}

