{% extends "index.html" %}

{% block title %}Образовательные организации. {{ item.name }}{% endblock %}

{% block page_style %}

.tab_content{
margin-top: 10px;
}

{% endblock %}

{% block jquery_ready %}


{% endblock %}

{% block urlpath %} / {% if type == 'institute' %}<a href="{% url 'organizations' %}">Образовательные организации</a> / <a href="/edu/{{ type }}/{{ item.id }}">{{ item.name }}</a>{% endif %}
{% if type == 'program_institute' %} <a href="{% url 'program_catalog' %}">Образовательные программы</a> / <a href="/edu/program/{{ item.program.id }}">{{ item.program.name }}</a> / <a href="/edu/program_institute/{{ item.id }}">{{ item.institute.name }}</a> {% endif %}{% endblock %}

{% block content %}

{% if type == 'institute' %}

    <div class="personal_card_header"><label>Образовательная организация</label></div>

    <table class="card width_800">
        <tr><td class="attribute">Название организации :</td><td>{{ item.name }}</td></tr>

        <tr><td class="attribute">Менеджер :</td><td>{{ item.curator.last_name }} {{ item.curator.first_name }}</td></tr>
        <tr><td class="attribute">Номер свидетельства об аккредитации :</td><td>{{ item.accreditation_number }}</td></tr>

        {% comment %}<tr><td class="attribute">Статус аккредитации :</td><td>{{ item.accreditation_name }}</td></tr>{% endcomment %}
        <tr><td class="attribute">Веб-сайт :</td><td>{{ item.web_site|urlize }}</td></tr>
        <tr><td class="attribute">Телефон :</td><td>{{ item.telephone }}</td></tr>
        <tr><td class="attribute">Адрес :</td><td>{{ item.post_address }}</td></tr>
        <tr><td class="attribute">Город :</td><td>{{ item.city }}</td></tr>
        <tr><td class="attribute">Электронный адрес :</td><td>{{ item.email|urlize }}</td></tr>
        <tr><td class="attribute">Руководитель :</td><td>{{ item.director }}</td></tr>

        {% if item.certificate or item.certificate2 %}
            <tr>
                <td class="attribute">Аккредитационный сертификат(ы):</td>
                <td>
                    {% if item.certificate %}
                    <a href="{{ item.certificate_url }}" target="_blank"><div type="adobe" title="{{ item.certificate_filename }}" class="icon_extract adobe"></div></a>
                    {% endif %}

                    {% if item.certificate2 %}
                    <a href="{{ item.certificate2_url }}" target="_blank" ><div type="adobe" title="{{ item.certificate2_filename }}" class="icon_extract adobe"></div></a>
                    {% endif %}

                </td>
            </tr>
        {% endif %}



    </table>


{% if item.program_base_list|length > 0 or item.program_up_list|length > 0  %}
        <div class="bumper"></div>

<div class="item" id="programs">
    <div class="personal_card_header"><label>Реализуемые программы</label></div>

    <div class="personal_card_content stretchable" type="programs">
        {% if item.program_base_list|length > 0 %}<label class="groups_sub_header">Подготовка</label>{% endif %}
        {% for prog in item.program_base_list %}
        {% comment %}<div class="scroll_item"><label><a href="/edu/institute_program/{{ prog.id }}/">{{ prog.name }}</a></label></div>        {% endcomment %}
        <div class="slider_item institute_slider_item" item="item_{{ prog.id }}">
        <label class="slider_item_main_label_half">{{ prog.name }}</label>
        <label class="slider_item_main_label_half2">{% if prog.item.accreditation_finish %}аккредитация до <span>{{ prog.item.accreditation_finish|default:"-"|date:"d.m.Y" }}</span>{% else %}<span>аккредитация бессрочная</span>{% endif %}</label>
        <!--<div  item="item_{{ prog.id }}" class="slider_arrow arrow_down"></div>-->
        <!--<div class="slider_body" item="item_{{ prog.id }}">-->
        <!--<div class="slider_body_property_name">Срок действия аккредитации</div><div class="slider_body_property_value">{% if prog.item.accreditation_finish %}{{ prog.item.accreditation_finish|default:"-"|date:"d.m.Y" }}{% else %}аккредитация бессрочная{% endif %}</div>-->
        <!--<div class="slider_body_property_name">{% if prog.item.program.level == 'B' %}Стоимость подготовки{% else %}Стоимость повышения квалификации{% endif %}</div><div class="slider_body_property_value">{{ prog.item.cost|default:"-" }}</div>-->
		<!--<div class="clear"></div>-->
        <!--<div class="slider_body_property_name">Форма обучения</div><div class="slider_body_property_value">{{ prog.item.form|default:"-" }}</div>-->
        <!--<div class="slider_body_property_name">Периодичность занятий</div><div class="slider_body_property_value">{{ prog.item.period|default:"-" }}</div>-->
		<!---->
		<!--{% if prog.item.program.level == 'B' %}-->
		<!--<form name="region_make_nalog" id="region_make_nalog_{{ prog.id }}" method="post"-->
              <!--action="{% url 'register_student' %}">-->
            <!--{% csrf_token %}-->
			<!---->
		<!--<div class="slider_body_property_name">-->
		<!--<input type="hidden" name="student_request" value="true">-->
		<!--<input type="hidden" name="university" value="{{ prog.item.institute.id }}">-->
		<!--<input type="hidden" name="programm" value="{{ prog.item.program.id }}">-->
		<!--</div><div class="slider_body_property_value"><input type="submit" value="Подать заявление"> </div>-->
		<!--</form>-->
		<!--{% endif %}-->
        <!--</div>-->
        <div class="clear"></div>
        </div>    
        
        {% endfor %}

        {% if item.program_up_list|length > 0 %}<label class="groups_sub_header">Повышение квалификации</label>{% endif %}
        {% for prog in item.program_up_list %}
        <div class="slider_item institute_slider_item" item="item_{{ prog.id }}">
            <label class="slider_item_main_label_half">{{ prog.name }}</label>
            <label class="slider_item_main_label_half2">{% if prog.item.accreditation_finish %}аккредитация до <span>{{ prog.item.accreditation_finish|default:"-"|date:"d.m.Y" }}</span>{% else %}<span>аккредитация бессрочная</span>{% endif %}</label>
            <div class="clear"></div>
        </div>

        {% endfor %}
    </div>

</div>
        {% endif %}

        {% if base_recruitments|length > 0 or up_recruitments|length > 0 %}
<div class="item" id="recruitments">
    <div class="personal_card_header"><label>Информация о наборе групп</label></div>
    <div class="personal_card_content stretchable" type="recruitments">

        {% if base_recruitments|length > 0 %}<label class="groups_sub_header">Подготовка</label>{% endif %}
        {% for recruitment in base_recruitments %}
        <div class="slider_item institute_slider_item" item="item_{{ recruitment.id }}">
            <label class="slider_item_main_label_half">{{ recruitment.institute_program.program.name }}</label>
            <label class="slider_item_main_label_half2">Открыт набор, занятия с <span>{{ recruitment.begin_date|default:"-"|date:"d.m.Y" }}</span></label>
            <div  item="recruitment_{{ recruitment.id }}" class="slider_arrow arrow_down"></div>
            <div class="slider_body" item="recruitment_{{ recruitment.id }}">
                {% include 'recruitment_in_intitute.html' %}

            </div>
            <div class="clear"></div>
        </div>

        {% endfor %}

        {% if up_recruitments|length > 0 %}<label class="groups_sub_header">Повышение квалификации</label>{% endif %}
        {% for recruitment in up_recruitments %}
        <div class="slider_item institute_slider_item" item="item_{{ recruitment.id }}">
            <label class="slider_item_main_label_half">{{ recruitment.institute_program.program.name }}</label>
            <label class="slider_item_main_label_half2">Открыт набор, занятия с <span>{{ recruitment.begin_date|default:"-"|date:"d.m.Y" }}</span></label>
            <div  item="recruitment_{{ recruitment.id }}" class="slider_arrow arrow_down"></div>
            <div class="slider_body" item="recruitment_{{ recruitment.id }}">

                {% include 'recruitment_in_intitute.html' %}


            </div>
            <div class="clear"></div>
        </div>

        {% endfor %}
    </div>

</div>
        {% endif %}

{% if base_groups|length > 0 or up_groups|length > 0 %}
<div class="item" id="groups">
    <div class="personal_card_header"><label>Обучение в группах</label></div>

    <div class="personal_card_content stretchable" type="groups">
        {% if base_groups|length > 0 %}<label class="groups_sub_header">Подготовка</label>{% endif %}

        {% for group in base_groups %}
        <div class="slider_item clear" item="group_{{ group.id }}">
            <label class="slider_item_main_label_half">{{ group.name }}</label>
            <label class="slider_item_main_label_half2_short"><div class="cool_button" ><a href="{% url 'edu-group' group.id %}">Просмотр</a></div></label>
            <div class="clear"></div>
        </div>

        {% endfor %}


        {% if up_groups|length > 0 %}<label class="groups_sub_header">Повышение квалификации</label>{% endif %}
        {% for group in up_groups %}
        <div class="slider_item clear" item="group_{{ group.id }}">
            <label class="slider_item_main_label_half">{{ group.name }}</label>
            <label class="slider_item_main_label_half2_short"><div class="cool_button" ><a href="{% url 'edu-group' group.id %}">Просмотр</a></div></label>
            <div class="clear"></div>
        </div>

        {% endfor %}


    </div>

    <div class="clear"></div>
</div>
{% endif %}

{% with over_base_groups=item.over_base_groups over_up_groups=item.over_up_groups %}

{% if over_base_groups|length > 0 or over_up_groups|length > 0 %}
<div class="item" id="over_groups">
    <div class="personal_card_header"><label>Отучившиеся группы</label></div>

    <div class="personal_card_content stretchable" type="over_groups">
        {% if over_base_groups|length > 0 %}<label class="groups_sub_header">Подготовка</label>{% endif %}

        {% for group in over_base_groups %}
        <div class="slider_item clear" item="group_{{ group.id }}">
            <label class="slider_item_main_label_half">{{ group.name }}</label>
            <label class="slider_item_main_label_half2_short"><div class="cool_button" ><a href="{% url 'edu-group' group.id %}">Просмотр</a></div></label>
            <div class="clear"></div>
        </div>

        {% endfor %}


        {% if over_up_groups|length > 0 %}<label class="groups_sub_header">Повышение квалификации</label>{% endif %}
        {% for group in over_up_groups %}
        <div class="slider_item clear" item="group_{{ group.id }}">
            <label class="slider_item_main_label_half">{{ group.name }}</label>
            <label class="slider_item_main_label_half2_short"><div class="cool_button" ><a href="{% url 'edu-group' group.id %}">Просмотр</a></div></label>
            <div class="clear"></div>
        </div>

        {% endfor %}
    </div>
    <div class="clear"></div>
</div>
{% endif %}

{% endwith %}

{% endif %}

{% if type == 'program_institute' %}

<div  class="item" id="institute">
    <div class="personal_card_header"><label>{{ item.institute.name }}</label></div>

    <div class="personal_card_content stretchable" type="program">
        {% if user.is_curator %}
        <form action="POST">
            {% endif %}
            <div class="info_item"><label>Название организации :</label><label>{{ item.institute.name|default:"" }}</label></div>
            <div class="info_item"><label>Менеджер :</label><label>{{ item.institute.curator.last_name }} {{ item.institute.curator.first_name }}</label></div>
            <div class="info_item"><label>Номер свидетельства об аккредитации :</label><label>{{ item.institute.accreditation_number }}</label></div>
            <div class="info_item"><label>Статус аккредитации :</label><label>{{ item.institute.accreditation_name }}</label></div>
            <div class="info_item"><label>Веб-сайт :</label><label>{{ item.institute.web_site }}</label></div>
            <div class="info_item"><label>Телефон :</label><label>{{ item.institute.telephone }}</label></div>
            <div class="info_item"><label>Адрес :</label><label>{{ item.institute.post_address }}</label></div>
            <div class="info_item"><label>Город :</label><label>{{ item.institute.city }}</label></div>
            <div class="info_item"><label>Электронный адрес :</label><label>{{ item.institute.email }}</label></div>
            <div class="info_item"><label>Руководитель :</label><label>{{ item.institute.director }}</label></div>

            <div class="info_item"><label>Окончание акредитации  на программу {{ item.program.name }} :</label>{% if user.is_curator %} {% else %}<label>{{ item.accreditation_finish|date:"d.m.Y" }}</label>{% endif %}</div>
            <div class="info_item"><label>Новый набор :</label>{% if user.is_curator %} {% else %}<label>{{ item.recruiting_date|date:"d.m.Y" }}</label>{% endif %}</div>
            <div class="info_item"><label>Цена обучения :</label>{% if user.is_curator %} {% else %}<label>{{ item.cost|default:" - " }}</label>{% endif %}</div>
            <div class="info_item"><label>Форма обучения :</label>{% if user.is_curator %} {% else %}<label>{{ item.form|default:" - " }}</label>{% endif %}</div>
            <div class="info_item"><label>Периодичность занятий :</label>{% if user.is_curator %} {% else %}<label>{{ item.period|default:" - " }}</label>{% endif %}</div>
            {% if user.is_curator %}
        </form>
        {% endif %}
        <div class="clear"></div>
    </div>
</div>

{% endif %}

{% endblock %}

