{% extends "personal_cabinet.html" %}

{% block title %}{% if item.id %}{{ item }}{% else %}{{ verbose_name }}{% endif %}{% endblock %}

{% block jquery_ready %}
$('#id_date_started').datepicker();
$('#id_date_ended').datepicker();
$('.accreditation_finish').datepicker();

        {% if type == 'institute' or type == 'program' %}

        $('#id_accreditation_finish').datepicker();
        $('.accreditation_finish').datepicker();
        $('.recruiting_date').datepicker();

        {% endif %}

{% endblock %}

{% block page_style %}

.accreditation_finish{
width: 80px !important;
float: left;
}

.slider_item_main_label_half2_short span{
float: left;
margin-right: 2px;
}

{% endblock %}

{% block urlpath %} {{ block.super }} / {% include 'urlpath/url_program_catalog.html' %} {% if item.id %}/ <a href="{% url "edu-program" item.id %}">{{ item }}</a>{% else %}/ <a href="{% url "program-new" %}">{{ verbose_name }}</a>{% endif %} {% endblock %}

{% block caption %}
{% endblock %}

{% block slow_button_panel %}
{% endblock %}

{% block content %}
    {% if user.is_admin or user.is_curator %}
    <h1>{% if item.id %}{{ item }}{% else %}{{ verbose_name }}{% endif %}</h1>

   <div class="item">
    <div id="custom_tabs">
        <ul  class="custom_tabs_list">
            <li><a href="#main">Общие данные</a></li>
            <li><a href="#accreditation">Аккредитация учреждений</a></li>
        </ul>

    {% include 'errors_and_messages.html' %}
    <form action="" method="POST" id="program_form" class="editform" enctype="multipart/form-data">
        {% csrf_token %}
        <div id="main" class="anytab">
        {% include 'form_loop.html' %}
        </div>

        {% if item.id %}

        <div id="accreditation" class="anytab">

            <table  class="search_table width_800">
                    <thead>
                    <th class="search_th">
                        Аккредит.
                    </th>

                    <th class="search_th">
                        Образовательная организация
                    </th>

                    <th class="search_th">
                        Окончание аккредитации
                    </th>
                    {% if item.level == 'U' %}
                    <th class="search_th">
                        Нужно указать даты семинаров
                    </th>
                    {% endif %}
                    </thead>

                    {% for institute in item.get_institutes %}
                    <tr>
                        <td>
                            <div class="slider_item_main_checkbox {% if institute.2 and institute.4 != 1 %}checked{% endif %}">
                                <input type="checkbox" name="institutes" class="programs" {% if institute.2 and institute.4 != 1 %}checked{% endif %} value="{{ institute.0 }}"  style="display: none">
                                <input type="hidden" name="program_institute_{{ institute.0 }}" class="institutes" value="{% if institute.4 != 1 %}{{ institute.2|default:"" }}{% else %}None{% endif %}">
                            </div>
                        </td>
                        <td class="title">
                            {{ institute.1 }}
                        </td>
                        <td>
                            <input type="text" class="accreditation_finish" name="accreditation_finish_{{ institute.0 }}" value="{{ institute.3|default:'' }}">
                        </td>
                        {% if item.level == 'U' %}
                        <td>
                            <div class="slider_item_main_checkbox {% if institute.2 and institute.5 == 1 %}checked{% endif %}">
                                <input type="checkbox" name="seminars" {% if institute.2 and institute.5 == 1 %}checked{% endif %} value="{{ institute.0 }}"  style="display: none">
                            </div>
                        </td>
                        {% endif %}
                        </tr>
                    {% endfor %}

                    </table>
        </div>

        {% endif%}

        {% if not item.id %}

        <div id="accreditation" class="anytab">
            <table  class="search_table width_800">
                <thead>
                <th class="search_th">
                    Аккредит.
                </th>

                <th class="search_th">
                    Образовательная организация
                </th>

                <th class="search_th">
                    Окончание аккредитации
                </th>
                </thead>

                {% for institute in item.institutes %}
                <tr>
                    <td>
                        <div class="slider_item_main_checkbox">
                            <input type="checkbox" name="institutes" class="programs" value="{{ institute.id }}" style="display: none">
                        </div>
                    </td>
                    <td class="title">{{ institute.name }}</td>
                    <td> <input type="text" class="accreditation_finish" name="accreditation_finish_{{ institute.id }}"></td>
                </tr>

                {% endfor %}

            </table>
        </div>

        {% endif%}

</form>
</div>
    </div>

{% endif %}
{% endblock %}

{% block right_button_panel %}
{% if user.is_curator or user.is_admin %}
<tr><td>
    <input type="submit" form="program_form" value="Сохранить"/>
</td></tr>
{% endif %}
{% endblock %}