<div class="slider_item institute_slider_item" item="programm_{{ item.id }}">
    <label class="slider_item_main_label">{{ item.name }}</label>
    <div  item="programm_{{ item.id }}" class="slider_arrow arrow_down"></div>
    <div class="slider_body" item="programm_{{ item.id }}">
        <table class="card width_700">
            <tr>
                <td class="attribute width_200 font16">Описание :</td><td class="font16">{{ item.description|default:"-" }}</td>
            </tr>
            <tr>
                <td class="attribute width_200 font16">Уровень :</td><td class="font16">{{ item.level_name|default:"-" }}</td>
            </tr>
            {% with institute_list=item.institute_list %}
            {% if institute_list %}
            <tr>
                <td class="attribute width_200 font16">Образовательные организации, реализующие программу :</td>
                <td>

                    <table class="card width_500">

                        {% for inst in institute_list %}
                        <tr>
                            <td><a href="{% url 'edu-institute' inst.item.institute.id %}">{{ inst.name }}</a></td>
                        </tr>
                        {% endfor %}

                    </table>
                </td>
            </tr>
            {% endif %}
            {% endwith %}

            {% if item.presentation %}
            <tr>
                <td class="attribute width_200 font16">Презентация :</td>
                <td><a href="{{ item.presentation_url }}">{{ item.presentation_filename }}</a></td>
            </tr>
            {% endif %}

        </table>

        <div class="clear"></div>
    </div>
    <div class="clear"></div>
</div>