{% extends "personal_cabinet.html" %}

{% block jquery_ready %}

$("a#go_auth").click(function(){
open_auth_block();
scrollTo($(".popup__wrapper").top,$(".popup__wrapper").left);
return false;
});

{% endblock %}

{% block urlpath %} {{ block.super }} {% endblock %}

{% block caption %}
{% endblock %}

{% block slow_button_panel %}
{% endblock %}

{% block content %}

    <div class="item">
      <div class="personal_card_header"><label>Новый пароль</label>
	  </div>
      <div class="personal_card_content stretchable">

     {% if Form %}

    {% include 'errors_and_messages.html' %}
    <form action="" method="POST" class="editform">{% csrf_token %}

        {% include 'form_loop.html' %}
        <div class="row last">
            <input type="submit" value="Сохранить пароль" />
        </div>
    </form>

    {% endif %}

    {% if reason %}

          <div class="greeting_line">{{ reason }}</div>

    {% endif %}

          {% if success %}

          <div class="greeting_line">Пароль пользователя {{ recovery.user }} успешно изменен.</div>
          <div class="greeting_line">Для продолжения работы войдите, пожалуйста, в свой <a href="#" id="go_auth">Личный кабинет</a>.</div>

          {% endif %}


</div>
    </div>

{% endblock %}

{% block right_button_panel %}
{% endblock %}