{% extends "personal_cabinet.html" %}

{% block include %}
{% include 'captcha_include.html' %}
{% endblock %}

{% block title %}Восстановление пароля{% endblock %}

{% block jquery_ready %}

{% endblock %}

{% block urlpath %} {{ block.super }} / <a href="{% url 'recovery-request' %}">Восстановить пароль</a> {% endblock %}

{% block caption %}
{% endblock %}

{% block slow_button_panel %}
{% endblock %}

{% block content %}

    <div class="item">
      <div class="personal_card_header"><label>Восстановление пароля</label>
	  </div>
      <div class="personal_card_content stretchable">

     {% if Form %}

    {% include 'errors_and_messages.html' %}
    <form action="{% url 'recovery-request' %}" method="POST" class="editform">
        {% csrf_token %}
        {% include 'form_loop.html' %}
        <div class="row last">
            <input type="submit" value="Отправить запрос" />
        </div>
    </form>

    {% endif %}

    {% if success_send %}
          <div class="excuse">
             <div class="greeting_line">На адрес {{ recovery_user.email }} выслан новый пароль</div>
             <div class="greeting_line">Если письмо не дошло, направьте запрос по адресу metodist@palata-nk.ru</div>
          </div>
    {% endif %}

    {% if recovery_user and not success_send %}

       <div class="greeting_line">На адрес {{ recovery_user.email }} не удалось отправить новый пароль. Восстановление отменено</div>
       <div class="greeting_line">Если вы забыли пароль или хотите проверить, регистрировались ли Вы в инфо-ресурсе, направьте запрос по адресу metodist@palata-nk.ru</div>

    {% endif %}
</div>
    </div>

{% endblock %}

{% block right_button_panel %}
{% endblock %}