{% extends "index.html" %}

{% block title %}Информация о наборе групп{% endblock %}

{% block include %}
<link rel="stylesheet" href="/media/css/general_tabs.css" type="text/css"/>
<script type="text/javascript" src="/media/js/jquery-ui-1.8.18/development-bundle/ui/i18n/jquery.ui.datepicker-ru.js"></script>
<link rel="stylesheet" type="text/css" media="all" href="/media/css/cupertino/jquery-ui-1.8.18.custom.css" />
{% endblock %}

{% block custom_tab_selected %}

var level = 'B';

if (id.indexOf('begin') != -1){
  level = 'B';
}

if (id.indexOf('increase') != -1){
level = 'U';
}


$("tr.recruitment").hide();
$("tr.recruitment[level='"+ level + "']").show();

<!--$("input#tab_sel").val(level);-->

{% endblock %}

{% block jquery_ready %}

    var sort_by   = 'asc';
    var idfield   = 'title';
	
	var region    = "";
    var city      = "";
    var institute = "";

    $('#begin_date').datepicker();

{% if user.is_authenticated and user.is_admin %}
$(".recruitment").click(function(){
  window.location = "/edu/recruitment/" + $(this).attr("item") + "/";
});
{% endif %}

function get_programms(){
    var url = '/edu/ajax/program/';

    $.post(url,{region: region, city: city, institute: institute}, function (data) {

    $('select#program').val(-1);
    $('select#program').children('option').hide();

     $.each(data, function(key, val) {

      $('select#program').children('option[value="'+val+'"]').show();
});
 $('select#program').children('option[value="-1"]').show();
});

};

$('select#region').change(function(){

region = $(this).children('option:selected').val();

city = -1;
institute = -1;

$('select#city').val(-1);
$('select#institute').val(-1);

if (region != -1){

$('select#city').children('option').hide();
$('select#city').children('option[region="'+region+'"]').show();
$('select#city').children('option[value="-1"]').show();

$('select#institute').children('option').hide();
$('select#institute').children('option[region="'+region+'"]').show();
$('select#institute').children('option[value="-1"]').show();

        }else{
$('select#city').children('option').show();
$('select#institute').children('option').show();

        }

get_programms();
});

$('select#city').change(function(){

if(region == -1 || region != $(this).children('option:checked').attr('region')){

if ($(this).children('option:checked').attr('region') != null){
$('select#region').val($(this).children('option:checked').attr('region'));
        region = $(this).children('option:checked').attr('region');
}
}

institute = -1;

city = $(this).children('option:checked').val();

$('select#institute').val(-1);

$('select#institute').children('option').hide();
if( city != -1){
$('select#institute').children('option[city="'+city+'"]').show();
$('select#institute').children('option[value="-1"]').show();
        }else if ( region != -1 ){
$('select#institute').children('option[region="'+region+'"]').show();
$('select#institute').children('option[value="-1"]').show();
        }else{
$('select#institute').children('option').show();
}

get_programms();
});

$('select#institute').change(function(){

if(region == -1 || region != $(this).children('option:checked').attr('region')){
        if ($(this).children('option:checked').attr('region') != null){
$('select#region').val($(this).children('option:checked').attr('region'));
region = $(this).children('option:checked').attr('region')
        }
        }

if(city == -1 || city != $(this).children('option:checked').attr('city')){
if ($(this).children('option:checked').attr('city') != null){
$('select#city').val($(this).children('option:checked').attr('city'));
city = $(this).children('option:checked').attr('city')
}
 }

institute =  $(this).children('option:checked').val();

get_programms();
});

$('select#level').change(function(){
 level = $(this).val();
get_programms();
 });

$('select#program').change(function(){
  program =  $(this).children('option:checked').val();
  $('select#level').val($(this).children('option:checked').attr('level'));
  level = $(this).children('option:checked').attr("level");
});


function sortfunction(){

var trs = $("tbody tr");
var keys = [];
var map = {};

for(i=0;i<trs.length;i++)
{

var field = $.trim(trs.slice(i,i+1).children("td.groups_"+idfield).text());

keys.push(field);

if( map[field] != undefined )
        {

     if( typeof map[field] === 'string' ) {
        var old = map[field];

        map[field] = [];
        map[field].push(old);
     }

map[field].push(trs.slice(i,i+1));

        }else{
map[field] = trs.slice(i,i+1);
        }

}

keys.sort();

if (sort_by == "desc"){

keys.reverse();

}


var lisInOrder = [];

for (var j = 0, key; key = keys[j]; ++j) {

var liFromKey = map[key];

if( typeof map[key] === 'string' ) {

lisInOrder.push(liFromKey);

        }else{


for(var mo = 0; mo < map[key].length; mo++ )
{

lisInOrder.push(map[key][mo]);

}

   }
}

$('table#groups tbody').empty();

for(i=0;i<lisInOrder.length;i++)
{
$('table#groups tbody').append(lisInOrder[i]);
}

}

$('input[name="order"]').change(function(){

idfield = $(this).val();

sortfunction();

});

$('input[name="asc"]').change(function(){

    if ($(this).is(':checked')) {

      sort_by = 'asc';

        }else{

      sort_by = 'desc';
       }
sortfunction();
});

$(".sort_desc").click(function(){
  var sortbox = $(this).parent(".sortbox");

  if( $(this).attr("id") == "on" ){

    $("input[name='"+ $(this).attr("type")+"']").val(0);
    $('form#recruitment_filter').submit();

  }else{
   
    $("input[name='"+ $(this).attr("type")+"']").val(-1);
	$('form#recruitment_filter').submit();
    $(this).attr("id","on"); 
    sortbox.find(".sort_asc").attr("id","off"); 

  }

});

$(".sort_asc").click(function(){
  var sortbox = $(this).parent(".sortbox");

  if( $(this).attr("id") == "on" ){

    $("input[name='"+ $(this).attr("type")+"']").val(0);
    $('form#recruitment_filter').submit();

  }else{
   
    $("input[name='"+ $(this).attr("type")+"']").val(1);
	$('form#recruitment_filter').submit();
    $(this).attr("id","on"); 
    sortbox.find(".sort_desc").attr("id","off"); 
  }

});

{% if delete_success %}
alert("{{ delete_success }}");
{% endif %}

{% endblock %}

{% block urlpath %} {% if user.is_authenticated %}/ <a href="{% url "personal_cabinet" %}">Личный кабинет</a>{% endif %} / {% include 'urlpath/url_recruitments.html' %}{% endblock %}

{% block content %}
    
<h1>Информация о наборе групп</h1>
<div class="slider_item" item="recruitment_filter">
    <form id="recruitment_filter" method="POST" action="">
        {% csrf_token %}

        <!--<input type="hidden" name="tab_sel" id="tab_sel" value="{{ tab_sel }}">-->

        <input type="hidden" name="asc_institute" value="{{ asc_institute|floatformat }}">
        <input type="hidden" name="asc_program" value="{{ asc_program|floatformat }}">
        <input type="hidden" name="asc_region" value="{{ asc_region|floatformat }}">
        <input type="hidden" name="asc_begdate" value="{{ asc_begdate|floatformat }}">
        <input type="hidden" name="asc_price" value="{{ asc_price|floatformat }}">

        <table>
            <tr>
            <td>
        <label class="slider_item_main_label">Фильтр</label>
            </td><td>
        <div  item="recruitment_filter" class="slider_arrow arrow_down"></div>
                </td></tr>
            </table>
        <div class="slider_body" item="recruitment_filter">

        {% if user.is_authenticated and user.is_curator %}

        {% else %}
        <div class="slider_row">
		<div class="slider_body_property_name">Выбрать регион :</div><div class="slider_body_property_value">
            <select id="region" name="region">
                    <option value="-1">--</option>
                    {% for item in regions %}
                    <option value="{{ item.id }}" {% if region|floatformat == item.id|floatformat %}selected{% endif %}>{{ item.name }}</option>
                    {% endfor %}
                </select></div>
		<div class="clear"></div>
		</div>
		
		<div class="slider_row">
		<div class="slider_body_property_name">Выбрать город :</div><div class="slider_body_property_value">
		<select id="city" name="city">
                    <option value="-1">--</option>
                    {% for item in cities %}
                    <option value="{{ item.id }}"  {% if city|floatformat == item.id|floatformat %}selected{% endif %} region="{{ item.region.id }}">{{ item.name }}</option>
                    {% endfor %}
                </select></div>
		<div class="clear"></div>
		</div>
		
        <div class="slider_row">
		<div class="slider_body_property_name">Выбрать образовательную организацию :</div><div class="slider_body_property_value">
            <select id="institute" name="institute">
                    <option value="-1">--</option>
                    {% for item in institutes %}
                    <option value="{{ item.id }}"  {% if institute|floatformat == item.id|floatformat %}selected{% endif %} city="{{ item.city.id }}" region="{{ item.city.region.id }}">{{ item.name }}</option>
                    {% endfor %}
                </select></div>
		<div class="clear"></div>
		</div>
		{% endif %}

		<div class="slider_row">
		<div class="slider_body_property_name">Выбрать образовательную программу :</div><div class="slider_body_property_value">
            <select id="program" name="program">
                    <option value="-1">--</option>
                    {% for item in programs %}
                    <option value="{{ item.id }}"  {% if program|floatformat == item.id|floatformat %}selected{% endif %}>{{ item.name }}</option>
                    {% endfor %}
                </select></div>
		<div class="clear"></div>
		</div>
		
        <div class="slider_row">
        <div class="slider_body_property_name">Форма обучения : </div><div class="slider_body_property_value">
		 <select id="studymode" name="studymode">
                    <option value="-1">--</option>
                    {% for item in studymods %}
                    <option value="{{ item.id }}"  {% if studymode|floatformat == item.id|floatformat %}selected{% endif %}>{{ item.title }}</option>
                    {% endfor %}
                </select>
		</div>
		</div>
                
		<div class="slider_row">
		<div class="slider_body_property_name">Стоимость обучения :</div>
		<div class="slider_body_property_value"><span for="begin_price">с: </span><input type="text" name="begin_price" id="begin_price" value="{{ begin_price|default:"" }}"><span for="end_price">по: </span><input type="text" name="end_price" id="end_price" value="{{ end_price|default:"" }}"></div>
		<!--<div class="clear"></div>-->
		</div>
		
        <div class="slider_row">
        <div class="slider_body_property_name">Начало обучения :</div><div class="slider_body_property_value"><span for="begin_date">с: </span><input type="text" name="begin_date" id="begin_date" value="{{ begin_date|default:"" }}"><span for="end_date">по: </span><input type="text" name="end_date" id="end_date" value="{{ end_date|default:"" }}"></div>
                <!--<div class="clear"></div>-->
        </div>
		
        <div class="slider_body_property_name"></div><div class="slider_body_property_value"><input type="submit" value="Применить"></div>

		</div>
        <div class="clear"></div>
        </form>
</div>

<div id="custom_tabs">
    <ul  class="custom_tabs_list">
        <li type="B"><a href="#begin">Подготовка налоговых консультантов <span id="base_count">({{ base_recruits|length }})</span></a></li>
        <li type="U"><a href="#increase">Повышение квалификации налоговых консультантов <span id="up_count">( {{ up_recruits|length }} )</span></a></li>
    </ul>

<!--<div class="count_block">Количество наборов: <span id="base_count" {% if tab_sel == 'U' %}style="display:none"{% endif %}>{{ base_recruits|length }}</span><span id="up_count" {% if tab_sel == 'B' %}style="display:none"{% endif %}>{{ up_recruits|length }}</span></div>-->
<!--<div class="order_block">
    <label>Отсортировать по:</label>
    <input type="radio" value="program" checked  name="order"><span>программе</span>
    <input type="radio" value="institute" name="order"><span>организации</span>
    <label>По возрастанию</label> <input checked name="asc" type="checkbox">
</div>-->

<table cellspacing="0" cellpadding="0" id="groups">
    <thead>
<tr class="recruitments_thead">
<td class="recruitments_region recruitments_th_cell">
    <label class="recruitments_region_label">Город</label>
    <div class="sortbox">
        <div class="sort_asc" title="По возрастанию({% if asc_region|floatformat == '1' %}Включено{% else %}Включить{% endif %})" id="{% if asc_region|floatformat == '1' %}on{% else %}off{% endif %}" type="asc_region"></div>
        <div class="sort_desc" title="По убыванию({% if asc_region|floatformat == '-1' %}Включено{% else %}Включить{% endif %})" id="{% if asc_region|floatformat == '-1' %}on{% else %}off{% endif %}"  type="asc_region"></div>
    </div>
</td>
<td class="recruitments_institute recruitments_th_cell"><label class="recruitments_institute_label">Образовательная организация</label><div class="sortbox"><div class="sort_asc" title="По возрастанию({% if asc_institute|floatformat == '1' %}Включено{% else %}Включить{% endif %})" id="{% if asc_institute|floatformat == '1' %}on{% else %}off{% endif %}" type="asc_institute"></div><div class="sort_desc" title="По убыванию({% if asc_institute|floatformat == '-1' %}Включено{% else %}Включить{% endif %})" id="{% if asc_institute|floatformat == '-1' %}on{% else %}off{% endif %}"  type="asc_institute"></div></div></td>
<td class="recruitments_program recruitments_th_cell"><label class="recruitments_program_label">Образовательная программа</label><div class="sortbox"><div class="sort_asc"  title="По возрастанию({% if asc_program|floatformat == '1' %}Включено{% else %}Включить{% endif %})" id="{% if asc_program|floatformat == '1' %}on{% else %}off{% endif %}"  type="asc_program"></div><div class="sort_desc" title="По убыванию({% if asc_program|floatformat == '-1' %}Включено{% else %}Включить{% endif %})" id="{% if asc_program|floatformat == '-1' %}on{% else %}off{% endif %}" type="asc_program"></div></div></td>
<td class="recruitments_form recruitments_th_cell">Форма обучения</td>
<td class="recruitments_start recruitments_th_cell"><label class="recruitments_start_label">Дата начала обучения</label><div class="sortbox"><div class="sort_asc"  title="По возрастанию({% if asc_begdate|floatformat == '1' %}Включено{% else %}Включить{% endif %})" id="{% if asc_begdate|floatformat == '1' %}on{% else %}off{% endif %}"  type="asc_begdate"></div><div class="sort_desc" title="По убыванию({% if asc_begdate|floatformat == '-1' %}Включено{% else %}Включить{% endif %})" id="{% if asc_begdate|floatformat == '-1' %}on{% else %}off{% endif %}" type="asc_begdate"></div></div></td>
<td class="recruitments_price recruitments_th_cell"><label class="recruitments_price_label">Стоимость обучения, руб.</label><div class="sortbox"><div class="sort_asc"  title="По возрастанию({% if asc_price|floatformat == '1' %}Включено{% else %}Включить{% endif %})" id="{% if asc_price|floatformat == '1' %}on{% else %}off{% endif %}"  type="asc_price"></div><div class="sort_desc" title="По убыванию({% if asc_price|floatformat == '-1' %}Включено{% else %}Включить{% endif %})" id="{% if asc_price|floatformat == '-1' %}on{% else %}off{% endif %}" type="asc_price"></div></div></td>
</tr>
    </thead>
<tbody>

<div id="increase" class="anytab">
{% for item in up_recruits %}
<tr class="recruitment" item="{{ item.id }}" level="U">
<td class="recruitments_region recruitments_td_cell">{{ item.institute_program.institute.city.name|default:"-" }}</td>
<td class="recruitments_institute recruitments_td_cell">
    {% if item.institute_program.institute.id %}<a href="{% url 'edu-institute' item.institute_program.institute.id  %}" >{% endif %}{{ item.institute_program.institute.name|default:"-" }}{% if item.institute_program.institute.id %}</a>{% endif %}
    {% include 'contract_with_pnk.html' with contract_with_pnk=item.contract_with_pnk   %}
</td>

<td class="recruitments_program recruitments_td_cell">


    {% if item.is_possible_submit_application and user.is_authenticated and user.is_ipr and man.confirmed and not user.has_edu_request  %}
    <label class="recruitments_program_label">{{ item.institute_program.program.name|default:"-" }}
        {% if item.topic %}
        <br>
        <span class="recruitment_topic">Тема: "{{ item.topic }}"</span>

        {% endif %}

        {% if item.program %}
        <br>
        <a href="{{ item.program_url }}">Программа</a>

        {% endif %}
    </label>

    <form name="region_make_nalog" id="region_make_nalog_{{ item.id }}" method="POST" action="{% url 'create_edu_request' %}">
        {% csrf_token %}
        <input type="hidden" form="region_make_nalog_{{ item.id }}" name="make_nalog" value="true">
        <input type="hidden" form="region_make_nalog_{{ item.id }}" name="university" value="{{ item.institute_program.institute.id }}">
        <input type="hidden" form="region_make_nalog_{{ item.id }}" name="programm" value="{{ item.institute_program.program.id }}">
        <input type="submit" form="region_make_nalog_{{ item.id }}" value="Подать заявление">
    </form>

    {% else %}
    {{ item.institute_program.program.name|default:"-" }}

    {% if item.topic %}
    <br>
    <span class="recruitment_topic">Тема: "{{ item.topic }}"</span>

    {% endif %}

    {% if item.program %}
    <br>
    <a href="{{ item.program_url }}">Программа</a>

    {% endif %}


    {% endif %}

</td>
<td class="recruitments_form recruitments_td_cell">{{ item.form|default:"-" }}</td>
<td class="recruitments_start recruitments_td_cell">{{ item.begin_date|default:"-"|date:"d.m.Y" }}</td>
<td class="recruitments_price recruitments_td_cell">{{ item.price|default:"-" }}</td>
</tr>

{% endfor %}
    </div>

<div id="begin" class="anytab">
{% for item in base_recruits %}

<tr class="recruitment" item="{{ item.id }}"  level="B">
<td class="recruitments_region recruitments_td_cell">{{ item.institute_program.institute.city.name|default:"-" }}</td>

<td class="recruitments_institute recruitments_td_cell">
    {% if item.institute_program.institute.id %}<a href="{% url 'edu-institute' item.institute_program.institute.id  %}" >{% endif %}{{ item.institute_program.institute.name|default:"-" }}{% if item.institute_program.institute.id %}</a>{% endif %}
    {% include 'contract_with_pnk.html' with contract_with_pnk=item.contract_with_pnk   %}
</td>

<td class="recruitments_program recruitments_td_cell">
    {% if item.is_possible_submit_application and not user.is_authenticated %}
    <label class="recruitments_program_label">{{ item.institute_program.program.name|default:"-" }}
        {% if item.topic %}
        <br>
        <span class="recruitment_topic">Тема: "{{ item.topic }}"</span>

        {% endif %}

        {% if item.program %}
        <br>
        <a href="{{ item.program_url }}">Программа</a>

        {% endif %}
    </label>

    <form name="region_make_nalog" id="region_make_nalog_{{ item.id }}" method="POST" action="  {% url 'register_student' %}">
        {% csrf_token %}
        <input type="hidden" form="region_make_nalog_{{ item.id }}" name="student_request" value="true">
        <input type="hidden" form="region_make_nalog_{{ item.id }}" name="university" value="{{ item.institute_program.institute.id }}">
        <input type="hidden" form="region_make_nalog_{{ item.id }}" name="programm" value="{{ item.institute_program.program.id }}">
        <input type="submit" form="region_make_nalog_{{ item.id }}"  value="Подать заявление">
    </form>



    {% else %}
    {{ item.institute_program.program.name|default:"-" }}

    {% if item.topic %}
    <br>
    <span class="recruitment_topic">Тема: "{{ item.topic }}"</span>

    {% endif %}

    {% if item.program %}
    <br>
    <a href="{{ item.program_url }}">Программа</a>

    {% endif %}
    {% endif %}
</td>

<td class="recruitments_form recruitments_td_cell">{{ item.form|default:"-" }}</td>
<td class="recruitments_start recruitments_td_cell">{{ item.begin_date|default:"-"|date:"d.m.Y" }}</td>
<td class="recruitments_price recruitments_td_cell">{{ item.price|default:"-" }}</td>
</tr>

{% endfor %}
    </div>

</tbody>
</table>

</div>

{% endblock %}
