<table class="card width_700 margin_top_10">

    <tr>
        <td colspan="2">
    {% include 'contract_with_pnk.html' with contract_with_pnk=recruitment.contract_with_pnk   %}
    </td>
    </tr>

    <tr>
        <td class="attribute width_350 font16">Стоимость обучения, руб</td><td class="font16">{{ recruitment.price|default:""|floatformat }}</td>
    </tr>
    <tr>
        <td class="attribute width_350 font16">Дата начала занятий</td><td class="font16">{{ recruitment.begin_date|default:"-"|date:"d.m.Y" }}</td>
    </tr>
    <tr>
        <td class="attribute width_350 font16">Форма обучения</td><td class="font16">{{ recruitment.form }}</td>
    </tr>
    <tr>
        <td class="attribute width_350 font16">Периодичность занятий</td><td class="font16">{{ recruitment.periodicity|default:"" }}</td>
    </tr>
    <tr>
        <td class="attribute width_350 font16">Объем ( ак. час. )</td><td class="font16">{{ recruitment.volume_academ_hours|default:"" }}</td>
    </tr>

    {% if recruitment.is_possible_submit_application and recruitment.institute_program.program.level == 'B' and not user.is_authenticated  %}
    <tr>
        <td class="attribute width_350 font16"></td>
        <td class="font16">

            <form name="region_make_nalog" id="region_make_nalog_{{ recruitment.id }}" method="post" action="{% url 'register_student' %}">
                {% csrf_token %}

                <input type="hidden" form="region_make_nalog_{{ recruitment.id }}" name="student_request" value="true">
                <input type="hidden" form="region_make_nalog_{{ recruitment.id }}" name="university" value="{{ recruitment.institute_program.institute.id }}">
                <input type="hidden" form="region_make_nalog_{{ recruitment.id }}" name="programm" value="{{ recruitment.institute_program.program.id }}">

                <input type="submit" form="region_make_nalog_{{ recruitment.id }}" value="Подать заявление">
            </form>
        </td>
    </tr>
    {% endif %}

    {% if recruitment.institute_program.program.level == 'U' %}

    {% if not user.is_authenticated  %}
    <tr>
        <td colspan="2">
            <div class="excuse">
                Чтобы подать заявление о допуске к повышению квалификации (для продления срока действия аттестата), <a id="go_registr" href="{% url 'register_nalog_consult' %}">зарегистрируйтесь</a> или <a style="cursor: pointer;" id="go_auth" onclick="open_auth_block();">войдите в свой Личный кабинет</a>
            </div>
        </td>
    </tr>
    {% endif %}

    {% if user.is_authenticated and user.is_ipr and man.confirmed and not user.has_edu_request  %}

    <tr>
        <td class="attribute width_350 font16"></td>
        <td class="font16">

    <form name="region_make_nalog" id="region_make_nalog_{{ recruitment.id }}" method="post" action="{% url 'create_edu_request' %}">
        {% csrf_token %}

            <input type="hidden" form="region_make_nalog_{{ recruitment.id }}" name="make_nalog" value="true">
            <input type="hidden" form="region_make_nalog_{{ recruitment.id }}" name="university" value="{{ recruitment.institute_program.institute.id }}">
            <input type="hidden" form="region_make_nalog_{{ recruitment.id }}" name="programm" value="{{ recruitment.institute_program.program.id }}">

            <input type="submit" form="region_make_nalog_{{ recruitment.id }}" value="Подать заявление">
    </form>

        </td>
    </tr>

    {% endif %}

    {% endif %}

</table>