{% extends "personal_cabinet.html" %}

{% block title %}{% if item.id %}{{ item }}{% else %}{{ verbose_name }}{% endif %}{% endblock %}

{% block jquery_ready %}
$('#id_begin_date').datepicker();

{% if item.id and user.is_admin %}
$('#delete_button').click(function(){

       if (confirm("Вы уверены в том, что хотите удалить этот набор?")) {

         window.location = "/edu/recruitment/delete/{{ item.id }}/";

        }

        return false;


});
{% endif %}
{% endblock %}

{% block include %}
<script type="text/javascript" src="/media/js/jquery-ui-1.8.18/development-bundle/ui/i18n/jquery.ui.datepicker-ru.js"></script>
<link rel="stylesheet" type="text/css" media="all" href="/media/css/cupertino/jquery-ui-1.8.18.custom.css" />

{% endblock %}

{% block urlpath %} / {% if not user.is_admin or item.id %}{% include 'urlpath/url_recruitments.html' %}{% if item.id %} / <a href="{% url "recruitment-edit" item.id %}">{{ item }}</a>{% else %}/ <a href="{% url "recruitment-new" %}">{{ verbose_name }}</a>{% endif %}
                      {% else %}{% include 'urlpath/url_organizations.html' %} / <a href="{% url "edu-institute" curator.id %}">{{ curator }}</a> / Новый набор
                      {% endif %}

{% endblock %}

{% block caption %}
{% endblock %}

{% block slow_button_panel %}
{% endblock %}

{% block content %}
    {% if user.is_curator or user.is_admin %}

	<div class="item">
        {% if item.id and item.is_archive %}

        <legend class="archive_legend">Архив</legend>

        {% endif %}

        <div class="personal_card_header">


          <label>{{ verbose_name }}</label>

	  </div>
      <div class="personal_card_content stretchable">



    {% include 'errors_and_messages.html' %}
    <form action="" method="POST" id="recruitmentform" class="editform" enctype="multipart/form-data">{% csrf_token %}
        {% include 'form_loop.html' %}
        <!--<div class="row">-->
            <!--<input type="submit" value="{% if item.id %}Изменить{% else %}Сохранить{% endif %}" id="confirmed_button" />-->
            <!--{% if item.id and user.is_admin %}-->
            <!--<input type="submit" value="Удалить" id="delete_button" />-->
            <!--{% endif %}-->
        <!--</div>-->
</form>
</div>
    </div>

 {% endif %}
{% endblock %}

{% block right_button_panel %}

{% if user.is_curator or user.is_admin %}
<tr><td>
    <input type="submit" form="recruitmentform" value="Сохранить"/>
</td></tr>

{% if user.is_admin and item.id %}
<tr>
    <td>
        <form method="GET" action="{% url 'recruitment-delete' item.id  %}">
        <input type="submit" value="Удалить"/>
            </form>
    </td>
</tr>

{% endif %}
{% endif %}
{% endblock %}