{% extends "index.html" %}

{% block title %}Регистрация{% endblock %}

{% block jquery_ready %}
  $("input[type='submit']").click(function(){

   if ( $("input[name='registaration_type']:checked").val() == "curator" ){
      window.location = "{% url 'register_curator' %}";
    }else{
    window.location = "{% url 'register_nalog_consult'  %}";
    }

   return false;
    });
{% endblock %}

{% block urlpath %}
    / <a href="{% url "register" %}">Регистрация</a>
{% endblock %}

{% block content %}

         <div class="item">
        <div class="personal_card_header"><label>На что хотите подать заявку?</label>
        </div>
        <div class="personal_card_content stretchable">
        <form id="choose_register_type" action="" method="POST">
        <div class="row"> <input type="radio" name="registaration_type" value="curator" checked> <label>Стать куратором образовательного учреждения</label></div>
        <div class="row"> <input type="radio" name="registaration_type" value="ipr"> <label>Повысить квалификацию</label></div>
            <div class="row last">
                <input type="submit" value="Далее" />
            </div>
        </form>
        </div>
        </div>

{% endblock %}
