{% if field.html_name == 'fizlico' %}
<select name="{{ field.html_name }}">
    {% for act in acts %}
    <option value="{{ forloop.counter }}" {% if field.value == forloop.counter %}selected{% endif %}>{{ act }}</option>
    {% endfor %}
</select>
{% else %}
{{ field }}
{% endif %}