{% extends "index.html" %}

{% block title %}Регистрация {% if type == 'student' %}пользователя{% endif %}{% if type == 'consult' %}налогового консультанта{% endif %}{% if type == 'curator' %}куратора учебного заведения{% endif %}{% endblock %}

{% block include %}
<script type="text/javascript" src="/media/js/jquery-ui-1.8.18/development-bundle/ui/i18n/jquery.ui.datepicker-ru.js"></script>
<link rel="stylesheet" type="text/css" media="all" href="/media/css/cupertino/jquery-ui-1.8.18.custom.css" />
<script type="text/javascript" src="/media/js/jquery.maskedinput.js"></script>
{% include 'captcha_include.html' %}

{% endblock %}


{% block jquery_ready %}

$('#id_telephone').mask('+7 (999) 999-9999');
$('#id_attestat_length').datepicker();

$("a#go_auth").click(function(){
    open_auth_block();
    scrollTo($(".popup__wrapper").top,$(".popup__wrapper").left);
    return false;
});

{% endblock %}

{% block urlpath %}
    / <a href="{% if type == 'student' %}{% url 'register_student' %}{% endif %}{% if type == 'consult' %}{% url 'register_nalog_consult' %}{% endif %}{% if type == 'curator' %}{% url 'register_curator' %}{% endif %}">Регистрация {% if type == 'student' %}пользователя{% endif %}{% if type == 'consult' %}налогового консультанта{% endif %}{% if type == 'curator' %}куратора учебного заведения{% endif %}</a>
{% endblock %}

{% block content %}

    {% if registration_done == 'true' %}
      <div class="personal_card_header"><label>Авторизация</label></div>

      <!--<div class="personal_card_content stretchable" type="personal">-->
      <div class="excuse">
        <h2>Здравствуйте, {{ fio }} !</h2>

          <div class="bumper"></div>

          <div class="greeting_line">Вы успешно прошли регистрацию в Инфо-ресурсе.</div>
          <div class="greeting_line">Для продолжения работы войдите, пожалуйста, в свой <a href="#" id="go_auth">Личный кабинет</a>. Он доступен уже сейчас.</div>
          {% if type == 'consult' %}
          <div class="greeting_line">Логин - Ваш электронный адрес, на него  выслан Ваш пароль.</div>
          {% else %}
          <div class="greeting_line">Логин - Ваш электронный адрес, на него  выслан Ваш пароль.</div>
          {% endif %}

          <!--качестве {% if type == 'student' %}пользователя{% endif %}{% if type == 'consult' %}налогового консультанта{% endif %}{% if type == 'curator' %}куратора учебного заведения{% endif %}</h3>-->
          {% if type == 'consult' %}
        <div class="greeting_line">Администратор сайта проверит корректность Вашей регистрации.</div>
          <div class="greeting_line">Внимание! Уведомление об утверждении регистрации НЕ ПРИХОДИТ НА ЭЛЕКТРОННУЮ ПОЧТУ -<br>
            Вы самостоятельно проверяете свой статус через Личный кабинет.</div>
          <div class="greeting_line">После утверждения регистрации (что занимает не больше 1 рабочего дня)<br>
              в разделе "Обучение" Личного кабинета Вы сможете подать заявление на повышение квалификации.</div>
          <div class="greeting_line">Подача заявления на любые курсы повышения квалификации через Инфо-ресурс обязательна<br>
              и является одним из условий зачета пройденного повышения квалификации для продления срока действия квалификационного аттестата.</div>
          <div class="greeting_line">Повторная регистрация в Инфо-ресурсе в дальнейшем не потребуется.</div>
          {% endif %}
      </div>

    {% else %}


 <div class="personal_card_header"><label>Регистрация {% if type == 'student' %}пользователя{% endif %}{% if type == 'consult' %}налогового консультанта{% endif %}{% if type == 'curator' %}куратора учебного заведения{% endif %}</label></div>
   {% if type == 'consult' %}
        <div class="attention">
            <span>Внимание! </span>Если вы не уверены, что регистрировались в данной версии инфо-ресурса, пожалуйста, обратитесь по адресу </br><span>metodist@palata-nk.ru</span>.
        </div>
   {% endif %}
    <form name="register" id="registerform" method="post" action="" class="editform">
        {% csrf_token %}
        <!--<input type="hidden" name="student_request">-->

        {% for field in form %}
            <div class="row">

                {% if 'without_label' in field.field.widget.attrs.class %}

                <table>

                    <tr>
                        <td>
                           {% include 'registration_label.html' %}
                        </td>

                    <td>
                     {% include 'registration_field.html' %}
                        </td>
                    </tr>
                    
                    {% if field.help_text %}
                    <tr>
                        <td colspan="2">
                            {% include 'registration_help_text.html' %}
                        </td>
                    </tr>
                    {% endif %}

                </table>

                {% else %}

                {% include 'registration_label.html' %}

                {% include 'registration_field.html' %}

                {% if field.help_text %}
                {% include 'registration_help_text.html' %}
                {% endif %}

                {% endif %}

                <div class="clear"></div>
            </div>

        {% endfor %}

        <div class="row last">
            <input type="submit" id="long_button" value="{% if type == 'consult' %}Зарегистрироваться в Инфо-ресурсе{% else %}Подать заявление{% endif %}" />
        </div>

    </form>
{% endif %}

{% endblock %}
