<section class="{% if field.html_name == 'agreedata' %}checkbox_label{% else %}label{% endif %}">
    {% if field.field.widget.attrs.class != 'without_label' %}
    <label {% if field.html_name == 'agreedata' %}class="for_checkbox  font12"{% endif %}> {{ field.label|safe }}{{ field.field.verbose_name }}
    {% if field.field.required %}<span>*</span>{% endif %}
    </label>
    {% endif %}
    <div style="color:red">{{ field.errors }}</div>
</section>