<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>{{ article.title }}</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> 
<style type="text/css">

    @font-face { font-family: Arial; src: url({{MEDIA_ROOT}}fonts/arial.ttf); }
	@font-face { font-family: Arial; src: url({{MEDIA_ROOT}}fonts/arialbi.ttf); font-weight: bold; font-style: italic; }
	@font-face { font-family: Arial; src: url({{MEDIA_ROOT}}fonts/arialbd.ttf); font-weight: bold; }
	@font-face { font-family: Arial; src: url({{MEDIA_ROOT}}fonts/ariali.ttf); font-style: italic; }
	
	@page { size: A4; margin: 2cm; 
	   @frame logo { left: 0pt; width: 800pt; top: 1pt; height: 120pt; }
	   
	   @frame commission { left: 390pt; width: 200pt; top: 120pt; height: 20pt; font-weight: bold; }
	   
	   @frame h1 { left: 130pt; width: 350pt; top: 190pt; height: 22pt; font-weight: bold; }

    {% if item.institute_program.program.level == 'B' %}
       @frame h2 { left: 170pt; width: 350pt; top: 210pt; height: 20pt; font-weight: bold; }
    {% endif %}

	   
	   @frame access { left: 10pt; width: 350pt; top: {% if item.institute_program.program.level == 'B' %}260pt{% else %}240pt{% endif %}; height: 20pt; }
	   @frame institute { left: 10pt; width: 570pt; top: {% if item.institute_program.program.level == 'B' %}280pt{% else %}260pt{% endif %}; height: 15pt; }
	   @frame form {  left: 10pt;  width: 570pt; top: {% if item.institute_program.program.level == 'B' %}300pt{% else %}280pt{% endif %}; height: 20pt;  }
	   @frame h3 {  left: 10pt;  width: 500pt; top: {% if item.institute_program.program.level == 'B' %}330pt{% else %}310pt{% endif %}; height: 20pt;  }
       @frame about {  left: 15pt;  width: 500pt; top: {% if item.institute_program.program.level == 'B' %}360pt{% else %}340pt{% endif %}; height: 20pt; }

       @frame date {  left: 10pt;  width: 500pt; top: {% if item.institute_program.program.level == 'B' %}380pt{% else %} 360pt {% endif %};  {% if item.institute_program.has_seminar == True %} height: 120pt; {% else %}height: 82pt;{% endif %} }

       @frame tick {  left: 30pt;  width: 15pt; top: {% if item.institute_program.program.level == 'B' %}510pt{% else %}490pt{% endif %};  height: 15pt; -pdf-frame-border: 2; }
	   @frame consent {  left: 60pt;  width: 300pt; top: {% if item.institute_program.program.level == 'B' %}510pt{% else %}490pt{% endif %};  height: 60pt;  }
	   
	   }
    
    body { font-size: 12px; line-height: 5px; font-family: Arial; }    
    a { color: #FB9925; }
    h1 { font-size: 18px; font-weight: bold; }
	h2 { font-size: 16px; font-weight: bold; }
	h3 { font-size: 14px; font-weight: bold; }
    	
	div { border-top-color: #FB9925; }
	
	div#h3 { font-weight: bold; }
	div#commission { font-weight: bold; }
	div#institute{ text-align: center; }
	
	div#date { margin-bottom: 0; }

    div#tick{ color: white; }
	
	ul{ list-style-type: none; margin: 0;
        padding: 0;  }
		
    hr { margin: 0; }
	
</style>
</head>
<body>

<img  id="logo" src="{{MEDIA_ROOT}}/img/pnk_logo.PNG" width="1000" height="200" alt="logo" />

<div id="commission" >В Единую аттестационную комиссию </div>
<h1 id="h1" >Заявление о допуске к {% if item.institute_program.program.level == 'U' %}повышению квалификации{% else %}подготовке по программе{% endif %}</h1>
{% if item.institute_program.program.level != 'U' %}<h1  id="h2" >Палаты налоговых консультантов</h1>{% endif %}

<div id="access">Прошу допустить меня к {% if item.institute_program.program.level == 'U' %}повышению квалификации{% else %}подготовке{% endif %} в </div>
<div id="institute">{{ item.institute_program.institute }}</div>
<hr width="570" >

<div id="form">{% if item.institute_program.program.level == 'U' %}в форме{% else %}по программе дополнительного профессионального образования Палаты налоговых консультантов:{% endif %}</div>
<div  id="h3">{{ item.institute_program.program }}</div>

<div id="about">О себе сообщаю следующие сведения:</div>

<div id="date">
<ul>
<li>Ф.И.О.: {{ item.student.get_fio }}</li>
{% if item.institute_program.program.level == 'U' %}
<li>Профессиональный статус: {{ item.get_iprstudent.profstatus|default:"" }}</li>

    {% if item.institute_program.has_seminar == True %}
    <li>Дата начала семинаров : {{ item.practic_begda|date:"d F Y" }}</li>
    <li>Дата окончания семинаров : {{ item.practic_endda|date:"d F Y" }}</li>
    <li>Метод оплаты : {{ item.payment_method_name }}</li>
    {% if item.payment_method == 'U' %}
    <li>Реквизиты : {{ item.details }}</li>
    {% endif %}

    {% endif %}

<li>Паспорт: {{ item.get_iprstudent.passport_seria|default:"" }}  {{ item.get_iprstudent.passport_number|default:"" }}, выдан {{ item.get_iprstudent.passport_who_gave|default:"" }} {{ item.get_iprstudent.passport_when_gave|default:"" }} код подразделения {{ item.get_iprstudent.passport_code|default:"" }}</li>
{% else %}
<li>Дата рождения: {{ item.get_iprstudent.birthday|date:"d.m.Y"|default:"" }}</li>
{% endif %}
<li>Регион и город проживания: {{ item.get_iprstudent.postaddress|default:"" }}</li>
<li>Телефон: {{ item.get_iprstudent.telephone|default:"" }}</li>
<li>email: {{ item.student.user.email|default:"" }}</li>
{% if item.institute_program.program.level == 'U' %}
<li>Место работы и должность в настоящее время: {{ item.get_iprstudent.job_place|default:"" }}</li>
{% else %}
<li>Образование: {{ item.get_iprstudent.education|default:"" }}</li>
<li>Общий подтвержденный стаж работы в области экономики и/или права, лет : {{ item.get_iprstudent.length_of_work|default:"" }}</li>
{% endif %}
</ul>
</div>

<div id="tick">
 фы
</div>

<div id="consent">
  Текст про согласие
</div>


</body>
</html>