{% extends "personal_cabinet.html" %}

{% block jquery_ready %}
  
$(".adobe").click(function(){

window.location = '/edu/request/pdf/' + $(this).attr("item") + '/';

});

{% if level == 'U' %}
function change_seminar_fields(set_visible){

   var display = "none", python_bool = 'False';

   if( set_visible == true ){
     display = "block";
     python_bool = 'True';
   }

   $('#id_practic_period').closest(".row").css("display",display);
   $('#id_payment_method').closest(".row").css("display",display);
   $('#id_has_seminar').val(python_bool);

   if( set_visible == true && $('#id_payment_method').val() == 'U' ){
     $('#id_details').closest(".row").css("display","block");
   }else{
     $('#id_details').closest(".row").css("display","none");
   }

}

function get_seminar_attribute(institute_id,program_id){

$.post('/ajax/has_seminar/',{institute: institute_id, program: program_id}, function (data) {
  change_seminar_fields(data);
});
  }

function add_required_star(identifier){
  var id_row = $(identifier).closest(".row"), id_label = id_row.find('label');
  id_label.text(id_label.text() + ' *');
}

   if ($('#id_has_seminar').val() == 'True'){
   change_seminar_fields(true);
   }else{
   change_seminar_fields(false);
   }

$('#id_payment_method').change(function(){

if( $('#id_payment_method').val() != 'U' ){
$('#id_details').closest(".row").css("display","none");
}else{
$('#id_details').closest(".row").css("display","block");
}
});

$('#id_education_institute').change(function(){

get_seminar_attribute($("#id_education_institute option:selected").val(), $("#id_education_program option:selected").val());

        });

$('#id_education_program').change(function(){

  get_seminar_attribute($("#id_education_institute option:selected").val(), $("#id_education_program option:selected").val());

});


  add_required_star('#id_practic_period');
  add_required_star('#id_payment_method');
  add_required_star('#id_details');
{% endif %}
{% endblock %}

{% block page_style %}

{% endblock %}

{% block include %}
<script type="text/javascript" src="/media/js/jquery-ui-1.8.18/development-bundle/ui/i18n/jquery.ui.datepicker-ru.js"></script>
<link rel="stylesheet" type="text/css" media="all" href="/media/css/cupertino/jquery-ui-1.8.18.custom.css" />

{% endblock %}

{% block urlpath %} {{ block.super }} / <a href="{% url "request-form" item.id %}">{{ item.student.get_fio }}</a>{% endblock %}

{% block caption %}
{% endblock %}

{% block slow_button_panel %}
{% endblock %}

{% block content %}

<div  class="item" id="profile_card">
    <div class="personal_card_header"><label>Заявление о допуске к {% if item.institute_program.program.level == 'B' %}подготовке{% else %} повышению квалификации{% endif %}{% if user.is_admin %} по программе Палаты налоговых консультантов{% endif %}</label>{% if user.is_admin or user.is_curator %}<div type="adobe" title="Выгрузить в pdf" item="{{ item.id }}" class="icon_extract adobe"></div>{% endif %}</div>

    <div class="personal_card_content stretchable" type="request">
        {% if user.is_admin %}

        {% include 'errors_and_messages.html' %}
        <form id="requestform" action="{% url 'request-form' item.id %}" method="POST" class="editform" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="hidden" id="id_id" name="id" value="{{ item.id }}">

            {% include 'form_loop.html' with Form=RequestForm %}
            {% include 'form_loop.html' %}

            <div class="row last">
                <input type="submit" value="{% if item.id %}Изменить{% else %}Сохранить{% endif %}" />
            </div>

        </form>

        {% else %}
        <div class="info_item"><label class="property_name">Образовательная организация :</label><div class="property_value"><a href="/edu/institute/{{ item.institute_program.institute.id }}" >{{ item.institute_program.institute }}</a></div>
            <div class="clear"></div>
        </div>
		<div class="info_item"><label class="property_name">Образовательная программа :</label><div class="property_value"> <!--<a href="/edu/program/{{ item.institute_program.program.id }}" >-->{{ item.institute_program.program }}<!--</a>--></div>
            <div class="clear"></div>
        </div>

        {% if item.institute_program.has_seminar == True %}
        <!--<div class="info_item"><label class="property_name">Дата начала семинаров :</label><div class="property_value">{{ item.practic_begda|date:"d F Y" }}</div>-->
            <!--<div class="clear"></div>-->
        <!--</div>-->
        <!--<div class="info_item"><label class="property_name">Дата окончания семинаров :</label><div class="property_value">{{ item.practic_endda|date:"d F Y" }}</div>-->
            <!--<div class="clear"></div>-->
        <!--</div>-->
        <div class="info_item"><label class="property_name">Сроки проведения семинара :</label><div class="property_value">{{ item.practic_period|default:"" }}</div>
        <div class="clear"></div>
        </div>
        <div class="info_item"><label class="property_name">Метод оплаты :</label><div class="property_value">{{ item.payment_method_name }}</div>
            <div class="clear"></div>
        </div>
        {% if item.payment_method == 'U' %}
        <div class="info_item"><label class="property_name">Реквизиты :</label><div class="property_value">{{ item.details }}</div>
            <div class="clear"></div>
        </div>
        {% endif %}

        {% endif %}
		
        <div class="info_item"><label class="property_name">ФИО :</label><div class="property_value">{{ item.student.get_fio }}</div>
            <div class="clear"></div>
        </div>
		<div class="info_item"><label class="property_name">E-mail :</label><div class="property_value">{{ item.student.user.email }}</div>
            <div class="clear"></div>
        </div>
        <!--{ if user.is_admin }-->
        <!--<div class="info_item">-->
            <!--<label class="property_name">Дата рождения :</label>-->
            <!--<div class="property_value">{{ item.get_iprstudent.birthday|default:"" }}</div>-->
            <!--<div class="clear"></div>-->
        <!--</div>-->
        <!--{endif }-->

		{% if item.institute_program.program.level == 'U' %}
        <!--{ if user.is_admin }-->
        <!--<div class="info_item"><label class="property_name">Серия паспорта :</label><div class="property_value">{{ item.get_iprstudent.passport_seria|default:"" }}</div>-->
            <!--<div class="clear"></div>-->
        <!--</div>-->
		<!--<div class="info_item"><label class="property_name">Номер паспорта :</label><div class="property_value">{{ item.get_iprstudent.passport_number|default:"" }}</div>-->
            <!--<div class="clear"></div>-->
        <!--</div>-->
		<!--<div class="info_item"><label class="property_name">Кем выдан :</label><div class="property_value">{{ item.get_iprstudent.passport_who_gave|default:"" }}</div>-->
            <!--<div class="clear"></div>-->
        <!--</div>-->
		<!--<div class="info_item"><label class="property_name">Код подразделения :</label><div class="property_value">{{ item.get_iprstudent.passport_code|default:"" }}</div>-->
            <!--<div class="clear"></div>-->
        <!--</div>-->
        <!--{ endif }-->
        <div class="info_item"><label class="property_name">Профессиональный статус :</label><div class="property_value">{{ item.get_iprstudent.profstatus|default:"" }}</div>
            <div class="clear"></div>
        </div>
		<div class="info_item"><label class="property_name">Номер аттестата :</label><div class="property_value">{{ item.attestat_number|default:"" }}</div>
            <div class="clear"></div>
        </div>
		<div class="info_item"><label class="property_name">Дата получения аттестата :</label><div class="property_value">{{ item.attestat_date|default:"" }}</div>
            <div class="clear"></div>
        </div>
		<div class="info_item"><label class="property_name">Срок действия аттестата :</label><div class="property_value">{{ item.attestat_length|default:"" }}</div>
            <div class="clear"></div>
        </div>
		<div class="info_item"><label class="property_name">Номер членского билета :</label><div class="property_value">{{ item.get_iprstudent.membership_number|default:"" }}</div>
            <div class="clear"></div>
        </div>
		{% endif %}
        {% if user.is_admin %}<div class="info_item"><label class="property_name">Регион и город проживания :</label><div class="property_value">{{ item.get_iprstudent.postaddress }}</div>
        <div class="clear"></div>
    </div>{% endif %}
		<div class="clear"></div>
		<div class="info_item"><label class="property_name">Телефон :</label><div class="property_value">{{ item.get_iprstudent.telephone|default:"" }}</div>
            <div class="clear"></div>
        </div>
        {% if user.is_admin %}
        <div class="info_item"><label class="property_name">Образование :</label><div class="property_value">{{ item.get_iprstudent.education|default:"" }}</div>
            <div class="clear"></div>
        </div>
		<div class="info_item"><label class="property_name">Общий подтвержденный стаж работы в области экономики и/или права, лет :</label><div class="property_value">{{ item.get_iprstudent.length_of_work|default:"" }}</div>
            <div class="clear"></div>
        </div>
		<div class="clear"></div>
        {% endif %}

        {% endif %}
                
    </div>
    <div class="clear"></div>
</div>
{% endblock %}

{% block right_button_panel %}
{% endblock %}