{% extends "index.html" %}

{% block title %}Восстановление данных {% if user.is_student %}пользователя{% endif %}{% if user.is_ipr %}налогового консультанта{% endif %}{% if user.is_curator %}куратора учебного заведения{% endif %}{% endblock %}

{% block include %}
<script type="text/javascript" src="/media/js/jquery-ui-1.8.18/development-bundle/ui/i18n/jquery.ui.datepicker-ru.js"></script>
<link rel="stylesheet" type="text/css" media="all" href="/media/css/cupertino/jquery-ui-1.8.18.custom.css" />
<script type="text/javascript" src="/media/js/jquery.maskedinput.js"></script>
{% include 'captcha_include.html' %}

{% endblock %}

{% block jquery_ready %}

$('#id_telephone').mask('+7 (999) 999-9999');
$('#id_attestat_length').datepicker();

$("a#go_auth").click(function(){
open_auth_block();
scrollTo($(".popup__wrapper").top,$(".popup__wrapper").left);
return false;
});

{% if user.is_student %}

$('#id_education_institute').change(function(){

});

$('#id_education_program').change(function(){

});

{% endif %}

{% endblock %}

{% block urlpath %}
/ <a href="{% url 'revival' %}">Восстановление данных {% if user.is_student %}пользователя{% endif %}{% if user.is_ipr %}налогового консультанта{% endif %}{% if user.is_curator %}куратора учебного заведения{% endif %}</a>
{% endblock %}

{% block content %}

<h1>Восстановление данных {% if user.is_student %}пользователя{% endif %}{% if user.is_ipr %}налогового консультанта{% endif %}{% if user.is_curator %}куратора учебного заведения{% endif %}</h1>

<div class="excuse">
    <span>Внимание! </span>По техническим причинам были утеряны Ваши данные, пожалуйста заполните данную форму для продолжения работы на портале.
</div>


<form name="register" id="registerform" method="POST" action="" class="editform">
    {% csrf_token %}

    {% if user.is_student %}
      {% include 'form_loop.html' with Form=request_form %}
    {% endif %}
    {% include 'form_loop.html' %}

    <div class="row last">
        <input type="submit" id="long_button" value="Сохранить" />
    </div>

</form>


{% endblock %}
