{% extends "personal_cabinet.html" %}

{% block jquery_ready %}

  $('#id_practic_begda').datepicker();
  $('#id_practic_endda').datepicker();

        if( $('#id_payment_method').val() != 'U' ){
            $('#id_details').closest(".row").css("display","none");
        }


  $('#id_payment_method').change(function(){

    if( $('#id_payment_method').val() != 'U' ){
      $('#id_details').closest(".row").css("display","none");
    }else{
      $('#id_details').closest(".row").css("display","block");
    }
    });

{% endblock %}

{% block include %}
<script type="text/javascript" src="/media/js/jquery-ui-1.8.18/development-bundle/ui/i18n/jquery.ui.datepicker-ru.js"></script>
<link rel="stylesheet" type="text/css" media="all" href="/media/css/cupertino/jquery-ui-1.8.18.custom.css" />

{% endblock %}

{% block caption %}
{% endblock %}

{% block slow_button_panel %}
{% endblock %}

{% block content %}

<div class="item">
    <div class="personal_card_header"><label>Заявка на семинар</label></div>
    <div class="personal_card_content stretchable">

        {% include 'errors_and_messages.html' %}
        <form id="newsform" action="{% url 'create_edu_request' %}" method="POST" class="editform" enctype="multipart/form-data">
		{% csrf_token %}

            <input type="hidden" name="institute_program" value="{{ institute_program.id }}">
            <input type="hidden" name="seminar" value="true">
            {% include 'form_loop.html' %}
            <div class="row last">
                <input type="submit" value="Подать заявку" />
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block right_button_panel %}
{% endblock %}
