{% extends "index.html" %}

{% block jquery_ready %}

        var region    = "";
        var city      = "";

		 {% if user.is_admin %}

  {% else %}

    $('div.bodyblock800[type="region"]').css("display","none");
    $('div.bodyblock800[type="city"]').css("display","none");

    $(".aminiblock256").click(function(){

     if ( $(this).attr("type") == 'region' || $(this).attr("type") == 'city' ){

      $("input[name='"+$(this).attr("type")+"']").val($(this).attr("item"));
      $("form#organization_filter").submit();
        return false;

     }

    });

	{% endif %}
	
	
	function get_programms(){
    var url = '/edu/ajax/program/';

    $.post(url,{region: region, city: city}, function (data) {

    $('select#program').val(-1);
    $('select#program').children('option').hide();

     $.each(data, function(key, val) {
        
       $('select#program').children('option[value="'+val+'"]').show();
    
});
});
};

$('.create_item').click(function(){

var go_to = '/edu/' + $(this).attr("type") + '/';

if (city != -1){
$("form[name='institute']").find("input[name='city']").val(city);
$("form[name='institute']").submit();

}else{
window.location = go_to;
}

});

$('.sticker_block').click(function(){
window.location = '/edu/sticker/'+ $(this).attr("item") + '/';
});
        region = -1;
        city = -1;
		program = -1;

function filter(){

        var url = '/edu/ajax/institute/';
		
		region = $("select#region").children('option:selected').val();
        city = $("select#city").children('option:selected').val();
        program = $("select#program").children('option:selected').val(); 

        
        $.post(url,{region: region, city: city, program: program}, function (data) {
		
		$('.scroll_item').hide();

        $.each(data, function(key, val) {
         $('.scroll_item[item="'+val+'"]').show();
        });
       });

        };

$('select#region').change(function(){

region = $(this).children('option:selected').val();

city = -1;

$('select#city').val(-1);

if (region != -1){

$('select#city').children('option').hide();
$('select#city').children('option[region='+region+']').show();

        }else{
$('select#city').children('option').show();
        }

get_programms();		
filter();

});

$('select#city').change(function(){


if(region == -1){

if ($(this).children('option:checked').attr('region') != null){
        $('select#region').val($(this).children('option:checked').attr('region'));
        region = $(this).children('option:checked').attr('region');
}
}

city = $(this).children('option:checked').val();
get_programms();
filter();
});

$('select#program').change(function(){

program =  $(this).children('option:checked').val();
filter();

});

{% endblock %}

{% block urlpath %} {% if user.is_authenticated %} / <a href="{% url "personal_cabinet" %}">Личный кабинет</a> {% endif %} / <a href="{% url 'stickers' %}">Информация о наборе групп</a>{% endblock %}

{% block content %}

   <div id="header_by_stickers" class="headerblock800 header_left_bold">Информация о наборе в группы</div>
   <div id="body_by_stickers" class="bodyblock800">

    {% for sticker in stickers_for_all %}

       {% if forloop.first %}
       <div class="sticker_wagoon">
       {% endif %}

       {% if not forloop.first and not forloop.last and forloop.counter|divisibleby:3 %}
       </div>
       <div class="sticker_wagoon">
       {% endif %}

       <div class="sticker_block" item="{{ sticker.id }}" about_recruit="{% if sticker.about_recruit %}1{% else %}0{% endif %}">
           <div class="sticker_title">
               <label item="{{ sticker.id }}"> {{ sticker.title|wordwrap:3 }}</label>
           </div>
       </div>
           
      {% if forloop.last %}
           </div>
      {% endif %}     

    {% endfor %}

    <div class="clear"></div>
</div>

{% endblock %}