{% extends "personal_cabinet.html" %}

{% block jquery_ready %}
$('#id_active_from').datepicker();
$('#id_active_till').datepicker();
{% endblock %}

{% block include %}
<script type="text/javascript" src="/media/js/jquery-ui-1.8.18/development-bundle/ui/i18n/jquery.ui.datepicker-ru.js"></script>
<link rel="stylesheet" type="text/css" media="all" href="/media/css/cupertino/jquery-ui-1.8.18.custom.css" />

{% endblock %}

{% block urlpath %} {{ block.super }} {% if item.id %}/ <a href="{% url "sticker-edit" item.id %}">{{ item }}</a>{% else %}/ <a href="{% url "sticker-new" %}">{{ verbose_name }}</a>{% endif %} {% endblock %}

{% block caption %}
{% endblock %}

{% block slow_button_panel %}
{% endblock %}

{% block content %}
    {% if user.is_curator or user.is_admin %}

        {% if generate %}

        <div class="personal_card_header"><label>Авторизация</label></div>

        <div class="personal_card_content stretchable" type="personal">
          <h3>Вы успешно создали новый набор на программу {{ recruitment.institute_program.program.name }}</h3>
          <h3>Для этого набора сгенерированно объявление. Если хотиет - внесите в него свои изменения</h3>
        </div>
        {% endif %}

	<div class="item">
      <div class="personal_card_header"><label>{{ verbose_name }}</label>
	  </div>
      <div class="personal_card_content stretchable">

    {% include 'errors_and_messages.html' %}
    <form action="" method="POST" class="editform">{% csrf_token %}

        {% include 'form_loop.html' %}
        <div class="row last">
            <input type="submit" value="{% if item.id %}Изменить{% else %}Сохранить{% endif %}" />
        </div>
</form>
</div>
    </div>

 {% endif %}
{% endblock %}

{% block right_button_panel %}
{% endblock %}