{% extends "index.html" %}

{% block page_style %}


{% endblock %}

{% block jquery_ready %}



{% endblock %}

{% block urlpath %} / <a href="{% url 'stickers' %}">Информация о наборе групп</a> / <a href="{% url 'sticker-edit' sticker.id %}">{{ sticker.title }}</a>{% endblock %}

{% block content %}
        <h1 class="sticker_view_title">{{ sticker.title }}</h1>
        <div class="sticker_view_body">
            <section class="sticker_view_content">
                {{ sticker.content }}
            </section>
        </div>
{% endblock %}

