<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://purl.org/kid/ns#">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <title>FSDFSDF</title>
    <style>
        @font-face { font-family: Arial; src: url({{MEDIA_ROOT}}fonts/arial.ttf); }
        @font-face { font-family: Arial; src: url({{MEDIA_ROOT}}fonts/arialbi.ttf); font-weight: bold; font-style: italic; }
        @font-face { font-family: Arial; src: url({{MEDIA_ROOT}}fonts/arialbd.ttf); font-weight: bold; }
        @font-face { font-family: Arial; src: url({{MEDIA_ROOT}}fonts/ariali.ttf); font-style: italic; }

        html{
            font-family: Arial;
            font-size: 11pt;
            color: red;
        }

        body, div {
            font: normal 16px/24px arialcir !important;
        }
    </style>
</head>
<body>
<div>
    Хреновина по русски 3
</div>
</body>
</html>