{% extends "index.html" %}

{% block jquery_ready %}

	$('.create_item').click(function(){
	window.location = '/edu/' + $(this).attr("type") + '/'; 
	});

    $('.old_request').click(function(){
     window.location = '/edu/' + $(this).attr("type") + '/'+ $(this).attr("item") + '/';
    });


	$('.edit_block').click(function(){
    window.location = '/auth/' + $(this).attr("type") + '/'+ $(this).attr("item") + '/';
    });

{% endblock %}

{% block urlpath %} {% if user.is_authenticated %}/ <a href="{% url "personal_cabinet" %}">Личный кабинет</a> {% endif %} / <a href="{% url "view_student" student.id %}">{{ student.get_fio }}</a> {% endblock %}  

{% block content %}

       <!--============================================================ STUDENT ===============================================-->

    <!--<div  class="item" id="profile_card">-->
        <div class="personal_card_header"><label>Карточка профиля</label></div>

           <table class="card width_800">
           <tr><td class="attribute">ФИО :</td><td>{{ student.get_fio }}</td></tr>

        {% if student.user.is_ipr %}
            <tr><td class="attribute">Профессиональный статус :</td><td>{{ student.profstatus|default:"" }}</td></tr>
            {% endif %}

            <tr><td class="attribute">Номер квалификационного аттестата :</td><td>{{ student.attestat_number|default:"" }}</td></tr>
            <tr><td class="attribute">Дата выдачи квалификационного аттестата:</td><td>{{ student.attestat_date|default:"" }}</td></tr>
            <tr><td class="attribute">Срок действия квалификационного аттестата :</td><td>{{ student.attestat_length|default:"" }}</td></tr>
            <tr><td class="attribute">Номер членского билета :</td><td>{{ student.membership_number|default:"" }}</td></tr>
            {% if not student.user.is_ipr %}
            <tr><td class="attribute">Образование :</td><td>{{ student.education|default:"" }}</td></tr>
            {% endif %}
            
            {% if user.is_authenticated and user.is_admin  %}   
            <!--Редактировать-->
            <tr><td class="attribute">Место работы :</td><td>{{ student.job_place|default:"" }}</td></tr>
            {% endif %}   

            <!--{% if user.is_authenticated and student.study_request %}-->
               <!--{% if user.is_admin  %}-->
            <!--<div class="info_item"><label></label><label><a href="{% url 'request-form' student.study_request.id  %}">Заявление на обучение</a></label></div>-->
               <!--{% endif %}-->
               <!--{% if  user.is_curator and user == student.study_request.institute_program.institute.curator %}-->
            <!--<div class="info_item"><label></label><label><a href="{% url 'request-form' student.study_request.id  %}">Заявление на обучение</a></label></div>-->
               <!--{% endif %}-->
            <!--{% endif %}-->

        <!--</div>-->

        <!--<div class="clear"></div>-->
    <!--</div>-->
               </table>


        {% if group %}
        <div class="bumper"></div>
    <!--<div   class="item" id="study">-->
        <div class="personal_card_header"><label>Обучение</label></div>

            <table>
            {% if student.user.is_ipr %}
            <!--============================================================ IPR ===============================================-->

            <tr><td class="attribute">Город :</td><td>{{ student.study_request.institute_program.institute.city }}</td></tr>
            <tr><td class="attribute">Образовательная организация :</td><td>{% if student.study_request %}<a href="{% url 'edu-institute' student.study_request.institute_program.institute.id  %}">{{ student.study_request.institute_program.institute }}</a>{% endif %}</td></tr>
            <tr><td class="attribute">Образовательная программа :</td><td>{{ student.study_request.institute_program.program }}</td></tr>
            <tr><td class="attribute">Группа :</td><td>{% if not group %}Не сформирована{% else %}<a href="{% url 'edu-group' group.group.id  %}">{{ group.group }}</a>{% endif %}</td></tr>

            {% else %}
            <!--============================================================ SYMPLE STUDENT ===============================================-->

            <tr><td class="attribute">Город :</td><td>{{ student.study_request.institute_program.institute.city }}</td></tr>
            <tr><td class="attribute">Образовательная организация :</td><td>{% if student.study_request %}<a href="{% url 'edu-institute' student.study_request.institute_program.institute.id  %}">{{ student.study_request.institute_program.institute }}</a>{% endif %}</td></tr>
            <tr><td class="attribute">Образовательная программа :</td><td>{{ student.study_request.institute_program.program }}</td></tr>
            <tr><td class="attribute">Группа :</td><td>{% if not group %}Не сформирована{% else %}<a href="{% url 'edu-group' group.group.id  %}">{{ group.group }}</a>{% endif %}</td></tr>

            {% endif %}
            </table>
        {% endif %}

{% endblock %}
