    {% csrf_token %}
    <input type="hidden" value="{{ tabname }}" name="tab">
    <input type="hidden" value="{{ current_page }}" name="current_page">

    <div class="slider_row">
        <div class="filter last_name">Фамилия слушателя :</div>
        <div class="filter_short  email">Имя слушателя :</div>
        <div class="filter_short  email">email слушателя :</div>
        <div class="filter_short  email">Записей на странице :</div>
    </div>
    <div class="slider_row">
        <div class="filter last_name"><input type="text"  class="filter_fio" name="last_name"  id="filter-last_name" value="{{ filterLastName|default:"" }}"></div>
        <div class="filter_short first_name"><input type="text" class="filter_fio" name="first_name" id="filter-first_name" value="{{ filterFirstName|default:"" }}"></div>
        <div class="filter_short email"><input type="text" class="filter_fio" name="email" id="filter-email" value="{{ filterEmail|default:"" }}"></div>
        <div class="filter_short email">
            <select id="filter-item_on_page" name="item_on_page"  class="filter_select_short">
               <option value="-1">--</option>
               {% for item in item_on_pages %}
                  <option value="{{ item }}" {% if item_on_page|floatformat == item|floatformat %}selected{% endif %}>{{ item }}</option>
               {% endfor %}
            </select>
        </div>
        <div class="clear"></div>
    </div>

    {% if institutes|length and programs|length %}

    <div class="slider_row">
        <div class="filter_half email">Образовательная организация :</div>
        <div class="filter_half email">Образовательная программа :</div>
        <div class="clear"></div>
    </div>

    <div class="slider_row">
        <div class="filter_half institute">
            <select id="filter-institute" name="institute"  class="filter_select_half">
                <option value="-1">--</option>
                {% for item in institutes %}
                <option value="{{ item.id }}" {% if filterInstitute|floatformat == item.id|floatformat %}selected{% endif %}>{{ item.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="filter_half program">
            <select id="filter-program" name="program"  class="filter_select_half">
                <option value="-1">--</option>
                {% for item in programs %}
                <option value="{{ item.id }}"  {% if filterProgram|floatformat == item.id|floatformat %}selected{% endif %}>{{ item.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="clear"></div>
    </div>

    {% else %}

    {% if institutes|length %}
    <div class="slider_row">
        <div class="filter">Образовательная организация :</div>
        <div class="filter">

            <select id="filter-institute" name="institute">
                <option value="-1">--</option>
                {% for item in institutes %}
                <option value="{{ item.id }}" {% if filterInstitute|floatformat == item.id|floatformat %}selected{% endif %}>{{ item.name }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    {% endif %}

    {% if programs|length %}
    <div class="slider_row">
        <div class="filter">Программа :</div>
        <div class="filter">

            <select id="filter-program" name="program">
                <option value="-1">--</option>
                {% for item in programs %}
                <option value="{{ item.id }}" {% if filterProgram|floatformat == item.id|floatformat %}selected{% endif %}>{{ item.name }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    {% endif %}
    {% endif %}

    {% if levels|length %}
    <div class="slider_row">
        <div class="filter">Статус обучения :</div>
        <div class="filter">
            <select id="filter-level" name="level">
                <option value="-1">--</option>
                {% for key, value in levels.items %}
                <option value="{{ key }}" {% if filterLevel == key %}selected{% endif %}>{{ value }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    {% endif %}

    <div class="slider_row">
        <div class="slider_body_property_name"></div><div class="slider_body_property_value"><input type="submit" value="Применить"></div>
        <div class="clear"></div>
    </div>
