{% extends "olymp/palata_index.html" %}


{% block include %}

<script type="text/javascript" src="/media/tiny_mce/tiny_mce.js"></script>
 <script type="text/javascript">
        tinymce.init({
            mode: "textareas",
            theme: "advanced",
//            plugins: "advhr,table,emotions,media,insertdatetime,directionality",
            plugins : "autolink,lists,spellchecker,pagebreak,style,layer,table,save,advhr,simplimg,advimage,advlink,emotions,iespell,inlinepopups,insertdatetime,preview,media,searchreplace,print,contextmenu,paste,directionality,fullscreen,noneditable,visualchars,nonbreaking,xhtmlxtras,template",

            // Theme options
            theme_advanced_buttons1 : "simplimg,save,newdocument,|,bold,italic,underline,strikethrough,|,justifyleft,justifycenter,justifyright,justifyfull,|,styleselect,formatselect,fontselect,fontsizeselect",
            theme_advanced_buttons2 : "cut,copy,paste,pastetext,pasteword,|,search,replace,|,bullist,numlist,|,outdent,indent,blockquote,|,undo,redo,|,link,unlink,anchor,image,cleanup,help,code,|,insertdate,inserttime,preview,|,forecolor,backcolor",
            theme_advanced_buttons3 : "tablecontrols,|,hr,removeformat,visualaid,|,sub,sup,|,charmap,emotions,iespell,media,advhr,|,print,|,ltr,rtl,|,fullscreen",
            theme_advanced_buttons4 : "insertlayer,moveforward,movebackward,absolute,|,styleprops,spellchecker,|,cite,abbr,acronym,del,ins,attribs,|,visualchars,nonbreaking,template,blockquote,pagebreak,|,insertfile,insertimage",

            theme_advanced_toolbar_align: "left",
            theme_advanced_toolbar_location: "top",

//            theme_advanced_buttons1:"bold,italic,underline,strikethrough,sub,sup,separator,justifyleft,justifycenter,justifyright,justifyfull,separator,formatselect,fontselect,fontsizeselect,forecolor, visualchars",
//            theme_advanced_buttons2:"bullist,numlist,outdent,indent,ltr,rtl,separator,link,unlink,anchor,image,separator,table,insertdate,inserttime,advhr,emotions,media,charmap,separator,undo,redo",
//            theme_advanced_buttons3_add:"forecolor,backcolor,visualchars",


            theme_advanced_font_sizes:"170%,10px,11px,12px,13px,14px,15px,16px,17px,18px,19px,20px,21px,22px,23px,24px,25px,26px,27px,28px,29px,30px,32px,48px",
            height: "350px",
            width: "600px",
            convert_urls : false
        });
        </script>

{% endblock %}

{% block jquery_ready %}

{% endblock %}

{% block container %}

<div class="olymp_box">

    <div class="olymp_h1">{{ verbose_name }}</div>

    <form method="POST" action="{% url 'content-edit' current_id %}" class="item">

        {% csrf_token %}

        <ul>
            {% for field in Form %}
            <li >
                <div>
                    <label class="olymp_desc">{{ field.label }}{{ field.field.verbose_name }}</label>
                    <!--<input id="username" name="username" class="field text large" type="text" value=""/>-->
                    {{ field }}
                </div>
                {% if field.errors|length > 0 %}<div class="olymp_error_line">{{ field.errors }}</div>{% endif %}
            </li>
            {% endfor %}

            <li id="buttons">
                <input type="submit" id="saveForm" class="button" value="Сохранить">
                
                <div class="olymp_passing_button"><a href="/">Отмена</a></div>
            </li>
        </ul>
    </form>


</div><!-- box -->

{% endblock %}
