<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>

    <title>
        Международная студенческая олимпиада по налогам – 2014
    </title>

    <!-- Meta Tags -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <!-- JavaScript -->
    <!--<script type="text/javascript" src="scripts/wufoo.js"></script>-->

    <!-- CSS -->
    <!--<link rel="stylesheet" href="/media/structure.css" type="text/css" />-->
    <!--<link rel="stylesheet" href="/media/form.css" type="text/css" />-->
    <!--<link rel="stylesheet" href="/media/theme.css" type="text/css" />-->
    <link rel="stylesheet" href="/media/olymp/olymp_style.css" type="text/css" />

    <link rel="canonical" href="http://www.wufoo.com/gallery/designs/template.html">

</head>

<body id="public" class="olymp_login">

<div id="overlay"></div>

<div id="lightbox" class="done">
    <div id="lbContent" class="clearfix">
        
        <form method="POST" url="{% url 'olymp-soup' %}">

            {% csrf_token %}


            <ul>
                {% for field in form %}
                <li >
                    <div>
                        <label class="olymp_desc" for="email">{{ field.label }}{{ field.field.verbose_name }}</label>
                        <!--<input id="username" name="username" class="field text large" type="text" value=""/>-->
                        {{ field }}
                    </div>
                    {% if field.errors|length > 0 %}<div class="olymp_error_line">{{ field.errors }}</div>{% endif %}
                </li>
                {% endfor %}

                <!--<li >-->
                    <!--<div>-->
                        <!--<label class="desc" for="password">Пароль</label>-->
                        <!--<input id="password" name="password" class="field text large" type="password" value="" />-->
                    <!--</div>-->
                <!--</li>-->
                <li class="">
                    <button type="submit" id="saveForm" class="olymp_button">
                        Войти</button>
                    <a href="{% url 'olymp' %}" class="olymp_negative olymp_button">
                     Отмена</a>
                </li>
            </ul>
        </form>

    </div>

</div>

</body>
</html>