{% extends "olymp/palata_index.html" %}

{% block jquery %}

        {% if message %}
        alert('{{ message }}');

        {% endif %}

{% endblock %}


        {% block container %}

<div class="olymp_box">

    <div class="olymp_h1">{{ verbose_name }}</div>

<form method="POST" action="{% url 'olymp-student-edit' item.id %}" class="item">

    {% csrf_token %}
    
    <ul>
        <li class="olymp_complex">
            <div>
        {% for field in Form %}

         {% if not field.is_hidden %}

    <span class="{% if field.name == 'email' or field.name == 'course' %}olymp_left{% endif %}{% if field.name == 'birthday' or field.name == 'finish_year' %}olymp_right{% endif %}{% if field.name == 'first_name' or field.name == 'last_name' or field.name == 'patronymic' or field.name == 'speciality'  %}olymp_full{% endif %}{% if field.name == 'delete_checkbox'  %}olymp_hidden{% endif %}">
    <label class="olymp_desc">{{ field.label }}{{ field.field.verbose_name }}</label>
      {{ field }}
    {% if field.errors|length > 0 %}<div class="olymp_error_line">{{ field.errors }}</div>{% endif %}
    </span>

                    {% else %}
                    {{ field }}
                    {% endif %}
        
        
        {% endfor %}
        </li>

        <li>
            <input type="submit" id="saveForm" class="olymp_button" value="Сохранить">
            
            <div class="olymp_passing_button"><a href="{% url 'test-participant'  main_test.id %}" class="olymp_negative olymp_button">
                Отмена</a></div>
                
			{% if user.is_authenticated and user.is_olympic  and user.is_admin %}
            <div class="olymp_passing_button"><a href="{% url 'olymp-student-delete' item.id %}" class="olymp_negative olymp_button">
                Удалить</a></div>
            
			{% endif %}	
        </li>
    </ul>
</form>

</div><!-- box -->

        {% endblock %}