{% extends "olymp/palata_index.html" %}

        {% block container %}

<div class="olymp_box">

    <div class="olymp_h1">{{ verbose_name }}</div>

<form method="POST" action="{% url 'olymp-student-delete' item.id %}" class="item">

    {% csrf_token %}
    
    <ul>
        <li class="olymp_complex">
          <label class="olymp_desc">Вы действительно хотите удалить</label>
		  
		  <div>
		  <span class="olymp_full">
		  <label class="olymp_desc">Студента</label>
		  </span>
		  <span class="olymp_full">
		  <label class="olymp_desc">{{ item.get_fio }}</label>
		  </span>
		  
		  </div>

        </li>
        <li>
            <input type="submit" id="saveForm" class="olymp_button" value="Да">

            <a href="{% url 'test-participant'  main_test.id %}" class="olymp_negative olymp_button">
                Отмена</a>
        </li>
    </ul>
</form>

</div><!-- box -->

        {% endblock %}