{% extends "olymp/palata_index.html" %}
{% load test_extra %}

{% block jquery %}

   $('.olymp_passing_button#restrict').click(function(){

        $('form#form_restrict').submit();


   });
{% endblock %}


{% block container %}

<div class="olymp_box">

    <div class="olymp_h1">Рейтинг</div>

    {% if user.is_authenticated and user.is_admin %}
      <div class="olymp_test_result_restrict">

          <form  method="POST" action="{% url 'test-result' main_test.id %}" id="form_restrict">

              {% csrf_token %}

              <div>

              <ul>

              {% for field in restrict_form%}
              <li >
                  <div>
                      <label class="olymp_desc">{{ field.label }}{{ field.field.verbose_name }}</label>
                      {{ field }}
                  </div>
                  {% if field.errors|length > 0 %}<div class="olymp_error_line">{{ field.errors }}</div>{% endif %}
              </li>
              {% endfor %}

                  {% if where_clause %}
              <li>{{ where_clause }}</li>
                  {% endif %}

                  </ul>
              <div class="olymp_restrict_enter">

                  <div class="olymp_passing_button" id="restrict">Применить</div>

              </div>

            </div>
          </form>

      <div class="clear"></div>
      </div>


    {% endif %}
    
	<table class="olymp_test_result">
	<thead>
    <td class="olymp_test_result_th">
        п/п
    </td>
    <td class="olymp_test_result_th">
	  Участник
	</td>
	<td class="olymp_test_result_th">
	  Баллы
	</td>
	<td class="olymp_test_result_th">
	  Время
	</td>
	<td class="olymp_test_result_th">
	   Образовательное учреждение
	</td>
	
	{% if user.is_authenticated and user.is_admin %}
	<td class="olymp_test_result_th">
	   Подробнее
	</td>
	{% endif %}
	</thead>
	<tbody>
    {% for result in results %}
     <tr>
     <td  class="olymp_test_result_td">
             {{ forloop.counter }}<!-- П/п -->
     </td>
     <td  class="olymp_test_result_td">
	   {{ result.6 }}<!-- Участник -->
	</td>
	<td  class="olymp_test_result_td">
	  {{ result.4 }}<!-- Баллы -->
	</td>
	<td  class="olymp_test_result_td">
	  {{ result.5 }}<!-- Время -->
	</td>
	<td  class="olymp_test_result_td">
	   {{ result.7 }}<!-- Образовательное учреждение -->
	</td>
	{% if user.is_authenticated and user.is_admin %}
	<td class="olymp_test_result_td">
	   <div class="olymp_passing_button"><a href="{% url 'test-result-detail' result.0 %}">Подробнее</a></div>
	</td>
	{% endif %}
     
     </tr>

    {% endfor %}
    </tbody>
        </table>


    <div class="clear"></div>

</div>

{% endblock %}