<div class="test_header">
    <h2>{{ test.name }}</h2>

    <ul>
        <li><h3>Время проведения</h3><div>с {{ test.begin|date:"d.m.Y" }} по {{ test.end|date:"d.m.Y" }}</div></li>

        <li><h3>Время регистрации</h3><div>с {{ test.begin_registration|date:"d.m.Y" }} по {{ test.end_registration|date:"d.m.Y" }}</div</li>

        <li><h3>Время на прохождение</h3><div>{{ test.max_time }}</div</li>
    </ul>

</div>