{% extends "olymp/palata_index.html" %}
{% load test_extra %}

{% block jquery %}
{% endblock %}


{% block container %}

<div class="olymp_box">

    <div class="olymp_h1">Результаты теста</div>
    
	<table class="olymp_test_result">
	<tr>
	<td class="olymp_test_result_th">
	   Образовательное учреждение
	</td>
	<td class="olymp_test_result_td">
	  {{ univer_item.name }}
	</td>
	</tr>
	
	<tr>
	<td class="olymp_test_result_th">
	  Участник
	</td>
	<td class="olymp_test_result_td">
	  {{ user_item.get_fio }}
	</td>
	</tr>
	<tr>
	<td class="olymp_test_result_th">
	  Место в рейтинге
	</td>
	<td class="olymp_test_result_td">
	  {{ rang|floatformat:"0" }}
	</td>
	</tr>
	<tr>
	<td class="olymp_test_result_th">
	  Баллы
	</td>
	<td class="olymp_test_result_td">
	  {{ passing_item.grade|floatformat:"0"  }}
	</td>
	</tr>
	<tr>
	<td class="olymp_test_result_th">
	  Время
	</td>
	<td class="olymp_test_result_td">
	  {{ timing }}
	</td>
	</tr>
	</table>
	
	<div class="olymp_h1">Ответы</div>
	
	<table class="olymp_test_result">
	<thead>
	<td class="olymp_test_result_th">
	  №
	</td>
	<td class="olymp_test_result_th">
	  Вопрос
	</td>
	<td class="olymp_test_result_th">
	  Выбранный ответ
	</td>
	</thead>
	<tbody>
    {% for answer in answers %}
     <tr>
     <td  class="olymp_test_result_td">
	   {{ forloop.counter }}<!-- Участник -->
	</td>
	<td  class="olymp_test_result_td">
	  {{ answer.question.text }}<!-- Баллы -->
	</td>
	<td  class="{% if answer.result %}olymp_test_correct_answer_td{% else %}olymp_test_result_td{% endif %}">
	  {{ answer.chosen_option_text }}<!-- Время -->
	</td>
	</tr>

    {% endfor %}
    </tbody>
        </table>


    <div class="clear"></div>

</div>

{% endblock %}