{% extends "olymp/palata_index.html" %}
{% load test_extra %}

{% block jquery %}


<!--$('#id_new_student_birthday').datepicker();-->

$('input').bind("keyup keypress", function(e) {
var code = e.keyCode || e.which;

if (code  == 13) {
e.preventDefault();
return false;
}
});

$('.addstudent').click(function(){

var dummy = $('li.olymp_complex#olymp_dummy').clone(true);

var count = parseInt($('input#new_student_count').val());
count = count + 1;

dummy.removeAttr('id');

$('li#buttons').before(dummy);
$('input#new_student_count').val(count);
return false;

});

$('input[name="new_student_delete_checkbox"]').click(function(){
if( $(this).is(":checked")){
$(this).closest('div').find('input[name="new_student_must_delete"]').val(1);
}else{
$(this).closest('div').find('input[name="new_student_must_delete"]').val(0);
}


});

$('input[name="delete_checkbox"]').click(function(){

if( $(this).is(":checked")){
$(this).closest('div').find('input[name="must_delete"]').val(1);
}else{
$(this).closest('div').find('input[name="must_delete"]').val(0);
}


});

$('a.a_olymp_univer_expand').click(function(){

   var  lv_class = 'ul.olymp_univer_participant[item="' + $(this).attr('item') + '"]';

   if( $('ul.olymp_univer_participant[item="' + $(this).attr('item') + '"]').is(":visible") ){

    $('ul.olymp_univer_participant[item="' + $(this).attr('item') + '"]').css("display","none");

        }else{

  if( $('ul.olymp_univer_participant[item="' + $(this).attr('item') + '"]').children('li').length == 0 ){

  $.get('/olymp/tests/test/participant/{{ item.id }}/' + $(this).attr('item') + '/', function (data) {
     console.log(data);

     $.each(data, function (i, data) {
       {% if user.is_authenticated and user.is_olympic and user.is_admin  %}

        $(lv_class).append("<li><div class='olymp_student_fio'>" + data.fio +  "</div><div class='olymp_student_edit'><a href='" + data.edit + "'>Редактировать</a></div><div class='olymp_student_delete'><a href='" + data.delete + "'>Удалить</a></div></li>");

       {% else %}

        $(lv_class).append("<li><strong>" + data.fio +  "</strong></li>");

        {% endif %}
     });
  });

  }

   $('ul.olymp_univer_participant[item="' + $(this).attr('item') + '"]').css("display","block");

        }
      return false;

});

{% endblock %}


{% block container %}

<div class="olymp_box">

    <div class="olymp_h1">Участники</div>
    
	<ul class="olymp_univers">
    {% for university in universities %}
     <li class="olymp_univer" item="{{ university.id }}">
         <div class="olymp_univer_row">
		 
		 <div class="olymp_univer_name">
		 <strong>{{ university.city }}</strong>.<strong>{{ university.name }}</strong>
         </div> 
		 
		 {% if user.is_authenticated and user.is_olympic and user.is_admin  %}
         <div class="olymp_univer_edit"><a href="{% url 'university-edit' university.id %}">Редактировать</a></div>
         <div class="olymp_univer_delete"><a href="{% url 'university-delete' university.id %}">Удалить</a></div>
		 {% endif %}
         {% if item|have_univer_student_on_test:university %}<div class="olymp_univer_expand" item="{{ university.id }}"><a class="a_olymp_univer_expand"  item="{{ university.id }}" href="{% url 'test-univer-participant' item.id university.id %}">Студенты</a></div>{% endif %}
         
		 <div class="clear"></div>
		 </div>
          
         <ul class="olymp_univer_participant"  item="{{ university.id }}" style="display:none">

             <div class="clear"></div>
         </ul>

     </li>


    {% endfor %}
        <div class="clear"></div>
        </ul>


    <div class="clear pillow"></div>


</div>

{% endblock %}