{% extends "olymp/palata_index.html" %}
{% load test_extra %}

{% block include %}
{% endblock %}

{% block jquery %}
{% endblock %}


{% block container %}

<div class="olymp_test_finish">

    <div class="olymp_test_question_box">

        <div>
          {{ content|safe }}
        </div>
        
        <div class="clear"></div>
    </div>
    
    <!-- % endif % -->
    
    <div class="olymp_test_toolbar">
        <div class="olymp_passing_button"><a href="{% url 'test-enter' test_item.id %}">Начать тестирование</a></div>
        <div class="clear"></div>
    </div>

    <div class="clear"></div>
</div>

{% endblock %}