{% extends "olymp/palata_index.html" %}
{% load test_extra %}

{% block include %}
<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" />
<link rel="stylesheet" href="/media/jquery.countdown.css" />
<script src="/media/jquery.countdown.js"></script>

<script>

   
    
    
</script>


{% endblock %}

{% block jquery %}

var it_leaves = 0;

window.onbeforeunload = function() {
    
    if ( it_leaves == 0 ){
    
     $.post('{% url 'test-enter' test_item.id %}', $('form#passing').serialize(), function (data) {
        obj = JSON.parse(data);
    });
    
    var delay = 0;
    while( delay < 1000 ){
    
     console.log(delay);
     delay = delay + 1;
    
    }
    
    return "Вы не закончили тест!";
    }
}

 $(window).unload(function(){
        
         alert("By!");
         $('form#passing').submit();
         return false;
    });

ts = (new Date()).getTime()  + {{ period_seconds }}; 

$('#countdown').countdown({
		timestamp	: ts,
		callback	: function(days, hours, minutes, seconds){
		
		   if( days== 0  && hours == 0 && minutes == 0 && seconds == 0  ){
		   
		   alert("Время выполнения теста истекло!");
		    it_leaves = 1;
		    $('form#passing').submit();
		   }
		}
	});
	

$('.olymp_test_question_numbers_box a.olymp_banal').live("click",function(){
  
  
  $('.olymp_test_question_numbers_box a.olymp_active').removeClass( "olymp_active" ).addClass( "olymp_banal" );
  $(this).removeClass( "olymp_banal" ).addClass( "olymp_active" );
  
  $('.olymp_test_question_box.olymp_active').removeClass( "olymp_active" ).addClass( "olymp_banal" );
  $('.olymp_test_question_box[item="'+$(this).attr('id')+'"]').removeClass( "olymp_banal" ).addClass( "olymp_active" );
  
  return false;

});


$('.olymp_test_question_variants').click(function(){

   var checkbox = $(this).find('.olymp_test_question_variant_checkbox');
   var variants = $(this).parent().find('.olymp_test_question_variants');
   var yet_checked = false;
   var cur_numb   = $(this).attr("item");
   
   if(checkbox){
   
   $.each(variants, function(ind,variant){
   
     if ( $(variant).find('.olymp_test_question_variant_checkbox').hasClass('checked') ){
     yet_checked = true;
     }
   
   });
   
   if ( checkbox.hasClass('checked') || yet_checked == true ){
   
   }else{
     $(this).find('.olymp_test_question_variant_checkbox').addClass('checked');
     
     
    $('a.olymp_active').removeClass("olymp_not_used").addClass("olymp_used");
    $('a.olymp_active').parent().removeClass("olymp_li_not_used");
     
     $(this).parent().find('.olymp_test_answer').val($(this).attr("item"));
     
     if( $('.olymp_not_used').length == 0 ){
       $('.olymp_passing_button#next').hide();
     }
     
     $.each(variants, function(ind,variant){
     
     if ( $(variant).attr('item') != cur_numb ){
     $(variant).find('.olymp_test_question_variant_checkbox').remove();
     }
   
   });
   
   }

   }else{
     alert("азаза");
   }

});

$('.olymp_passing_button#next').click(function(){
    
      var active_li = $('a.olymp_active').parent();
      
      if( $('.olymp_not_used').length > 0 ){
         if( active_li.nextAll('li.olymp_li_not_used').length > 0 ){
            box_iter = parseInt(active_li.nextAll('li.olymp_li_not_used').first().find('a.olymp_not_used').attr('iter'));
         }else{
         
            box_iter = parseInt($('a.olymp_not_used').first().attr('iter'));
         }
         
         var cur_id = $('.olymp_test_question_numbers_box a.olymp_banal[iter="' + box_iter + '"]').attr('id');
    
         $('.olymp_test_question_numbers_box a.olymp_active').removeClass( "olymp_active" ).addClass( "olymp_banal" );
         $('.olymp_test_question_numbers_box a.olymp_banal[iter="' + box_iter + '"]').removeClass( "olymp_banal" ).addClass( "olymp_active" );
     
         $('.olymp_test_question_box.olymp_active').removeClass( "olymp_active" ).addClass( "olymp_banal" );
         $('.olymp_test_question_box[item="'+cur_id +'"]').removeClass( "olymp_banal" ).addClass( "olymp_active" );
      
      }else{
      
      
      
      }
});

$('.olymp_passing_button#finish').click(function(){

  var finish_him = false;

  if(  $('a.olymp_used').length != {{ test_item.question_list|length }} ){
     
     if (confirm("Вы ответили не на все вопросы. Действительно завершить тест?")) {
       finish_him = true;
     }
     
  }else{
  
  finish_him = true;
  
  }
  
  if(finish_him){
    it_leaves = 1;
    $('form#passing').submit();
  
  }

});



{% endblock %}


{% block container %}

<div class="olymp_test_passing">

    <form method="POST" action="{% url 'test-enter' test_item.id %}" id="passing">
    {% csrf_token %}
    
    
    <input type="text" name="begin" value="{{ begin|date:'c' }}" style="display: none">
    
    
    {% for question in test_item.question_list %}
    
    <!-- %  if  forloop.counter == 1 % -->
    <div id="countdown"></div>
    
    <div class="olymp_test_question_box {%  if  forloop.counter != 1 %}olymp_banal{% else %}olymp_active{% endif %}" item="{{ question.id }}">

        <div class="olymp_test_question_text">
        
          {{ question.text }}

        </div>
        
        <input type="text" class="olymp_test_answer" id="{{ question.id }}" name="{{ question.id }}" value="" style="display: none">


        <div class="olymp_test_question_variants"  item="1" question = "{{ question.id }}">
            <div class="olymp_test_question_variant_checkbox"  item="1">
              
            </div>
           {{ question.option1 }}


            <div class="clear"></div>
        </div>

        <div class="olymp_test_question_variants"  item="2" question = "{{ question.id }}">
            <div class="olymp_test_question_variant_checkbox"  item="2">
            </div>
            {{ question.option2 }}


            <div class="clear"></div>
        </div>
        
        <div class="olymp_test_question_variants"  item="3" question = "{{ question.id }}">
           <div class="olymp_test_question_variant_checkbox"  item="3">
              
            </div>
           {{ question.option3 }}


            <div class="clear"></div>
        </div>

        <div class="olymp_test_question_variants" item="4" question = "{{ question.id }}">
            <div class="olymp_test_question_variant_checkbox" item="4">
              
            </div>
            {{ question.option4 }}

            <div class="clear"></div>
        </div>
        

        <div class="clear"></div>
    </div>
    
    <!-- % endif % -->
    
    {% endfor %}
    
    </form>
    
    <div class="olymp_test_toolbar">
        <div class="olymp_passing_button" id="next">Следующий вопрос</div>
        <div class="clear"></div>
    </div>

    <div class="olymp_test_question_numbers_box">

        <ul>
        {% for question in test_item.question_list %}
          <li class="olymp_li_not_used">
              <a href="#" id="{{ question.id }}" class="{%  if  forloop.counter != 1 %}olymp_banal{% else %}olymp_active{% endif %} olymp_not_used" iter="{{ forloop.counter }}">
              <i>{{ forloop.counter }}</i>
              </a>
          </li>
        {% endfor %}
           </ul>
        <div class="clear"></div>
    </div>
    
    <div class="olymp_test_toolbar">
        <div class="olymp_passing_button" id="finish">Завершить тест</div>
        <div class="clear"></div>
    </div>

    <div class="clear"></div>
</div>

{% endblock %}