{% extends "olymp/palata_index.html" %}
{% load test_extra %}

{% block include %}
{% endblock %}

{% block jquery %}
{% endblock %}


{% block container %}

<div class="olymp_test_finish">

    <div class="olymp_test_question_box">

        <div class="olymp_test_finish_text">
          Уважаемый участник Международной студенческой Олимпиады по налогам - 2014!</br>
          Вы прошли отборочное онлайн тестирование на сайте Палаты налоговых консультантов. Результаты тестирования уже обработаны.</br>
        </div>
        
        <div class="clear"></div>
    </div>
    
    <!-- % endif % -->
    
    <div class="olymp_test_toolbar">
        <div class="olymp_passing_button" id="finish"><a href="{% url 'test-result' test_item.id %}">Рейтинг результатов тестирования</a></div>
        <div class="clear"></div>
    </div>

    <div class="clear"></div>
</div>

{% endblock %}