{% extends "olymp/palata_index.html" %}
{% load test_extra %}

{% block jquery %}


<!--$('#id_new_student_birthday').datepicker();-->

$('input').bind("keyup keypress", function(e) {
var code = e.keyCode || e.which;

if (code  == 13) {
e.preventDefault();
return false;
}
});

// добавляем студента
$('.addstudent').click(function(){

var dummy = $('li.olymp_complex#olymp_dummy').clone(true);

var count = parseInt($('input#new_student_count').val());
count = count + 1;

dummy.removeAttr('id');

$('li#buttons').before(dummy);
$('input#new_student_count').val(count);
var position = $('li#buttons').offset().top;
$(document).scrollTop(position);
return false;

});

$('input[name="new_student_delete_checkbox"]').click(function(){
if( $(this).is(":checked")){
$(this).closest('div').find('input[name="new_student_must_delete"]').val(1);
}else{
$(this).closest('div').find('input[name="new_student_must_delete"]').val(0);
}


});

$('input[name="delete_checkbox"]').click(function(){

if( $(this).is(":checked")){
$(this).closest('div').find('input[name="must_delete"]').val(1);
}else{
$(this).closest('div').find('input[name="must_delete"]').val(0);
}


});

{% endblock %}


{% block container %}

{% if user.is_univer and test|have_univer_request_on_test:user  %}
<div class="olymp_box">

    <div class="olymp_h1">Студенты</div>
    <div class="toolbar">
        <div class="olymp_passing_button"><a class="addstudent" href="#">Добавить студента</a></div>
         <div class="clear"></div>
    </div>

    <form method="POST" action="{% url 'test-about' test.id %}" class="olymp_item">

        <input id="new_student_count"  name="new_student_count" value="{{ new_student_count|default:0 }}" style="display: none">

        {% csrf_token %}

        <ul>

            {% for old_student_form in old_student_forms %}

            <li class="olymp_complex">
                <label class="olymp_desc">Студент</label>
                <div>

                    {% for field in old_student_form %}

                    {% if not field.is_hidden %}

    <span class="{% if field.name == 'email' or field.name == 'course' %}olymp_left{% endif %}{% if field.name == 'birthday' or field.name == 'finish_year' %}olymp_right{% endif %}{% if field.name == 'first_name' or field.name == 'last_name' or field.name == 'patronymic' or field.name == 'speciality'  %}olymp_full{% endif %}">
    <label class="olymp_desc">{{ field.label }}{{ field.field.verbose_name }}</label>
      {{ field }}
    {% if field.errors|length > 0 %}<div class="olymp_error_line">{{ field.errors }}</div>{% endif %}
    </span>

                    {% else %}
                    {{ field }}
                    {% endif %}

                    {% endfor %}

                </div>
            </li>
            {% endfor %}


            {% for new_student_form in new_student_forms %}

            <li class="olymp_complex">
                <label class="olymp_desc">Вопрос</label>
                <div>

                    {% for field in new_student_form %}

                    {% if not field.is_hidden %}

    <span class="{% if field.name == 'new_student_email' or field.name == 'new_student_course' %}olymp_left{% endif %}{% if field.name == 'new_student_birthday' or field.name == 'new_student_finish_year' %}olymp_right{% endif %}{% if field.name == 'new_student_first_name' or field.name == 'new_student_last_name' or field.name == 'new_student_patronymic' or field.name == 'new_student_speciality'  %}olymp_full{% endif %}">
    <label class="olymp_desc">{{ field.label }}{{ field.field.verbose_name }}</label>
      {{ field }}
    {% if field.errors|length > 0 %}<div class="olymp_error_line">{{ field.errors }}</div>{% endif %}
    </span>

                    {% else %}
                    {{ field }}
                    {% endif %}

                    {% endfor %}

                </div>
            </li>
            {% endfor %}


        <li id="buttons">
            <input type="submit" id="saveForm" class="button" value="Сохранить">
            
            <div class="olymp_passing_button"><a href="/" class="olymp_negative">Отмена</a></div>
            <div class="olymp_passing_button"><a href="#" class="addstudent">Добавить студента</a></div>
            <div class="clear"></div>
        </li>
        </ul>
    </form>

    <li class="olymp_complex" id="olymp_dummy" >
        <label class="olymp_desc">Студент</label>
        <div>
    {% for field in dummy_form %}

    {% if not field.is_hidden %}

    <span class="{% if field.name == 'new_student_email' or field.name == 'new_student_course' %}olymp_left{% endif %}{% if field.name == 'new_student_birthday' or field.name == 'new_student_finish_year' %}olymp_right{% endif %}{% if field.name == 'new_student_first_name' or field.name == 'new_student_last_name' or field.name == 'new_student_patronymic' or field.name == 'new_student_speciality'  %}olymp_full{% endif %}">
    <label class="olymp_desc">{{ field.label }}{{ field.field.verbose_name }}</label>
      {{ field }}
    {% if field.errors|length > 0 %}<div class="olymp_error_line">{{ field.errors }}</div>{% endif %}
    </span>

    {% else %}
       {{ field }}
    {% endif %}

    {% endfor %}
        </div>
        </li>


    <div class="clear"></div>

</div>

{% endif %}

{% endblock %}