{% extends "olymp/palata_index.html" %}

{% block jquery %}

{% endblock %}


        {% block container %}

<div class="olymp_box">

    <div class="olymp_h1">{{ verbose_name }}</div>

    {% if Form %}

<form method="POST" action="{% url 'university-register' %}" class="olymp_item">

    {% csrf_token %}

    {% if main_test %}
    <input style="display:none" type="text" name="main_test" value="{{ main_test.id }}">
    {% endif %}
    
    <ul>
        {% for field in Form %}
        
         {% if field.name == 'username' %}
        <li class="olymp_complex">
          <!-- <label class="desc">Идентификация</label> -->
            <div>
               <span class="olymp_full">
               <label>{{ field.label }}{{ field.field.verbose_name }}</label>
                    {{ field }}
                   {% if field.errors|length > 0 %}<div class="olymp_error_line">{{ field.errors }}</div>{% endif %}
                </span>
        
        {% endif %}
        
        {% if field.name == 'password1' %}
               <span class="olymp_left">
               <label>{{ field.label }}{{ field.field.verbose_name }}</label>
                    {{ field }}
                   {% if field.errors|length > 0 %}<div class="olymp_error_line">{{ field.errors }}</div>{% endif %}
                </span>
                
        {% endif %}
        
        {% if field.name == 'password2' %}
               <span class="olymp_right">
               <label>{{ field.label }}{{ field.field.verbose_name }}</label>
                    {{ field }}
                   {% if field.errors|length > 0 %}<div class="olymp_error_line">{{ field.errors }}</div>{% endif %}
                </span>
                </div>
                </li>
        
        {% endif %}
        
        {% if field.name == 'region' %}
        <li class="olymp_complex">
          <label class="olymp_desc">Местоположение</label>
            <div>
               <span class="olymp_left">
               <label>{{ field.label }}{{ field.field.verbose_name }}</label>
                    {{ field }}
                   {% if field.errors|length > 0 %}<div class="olymp_error_line">{{ field.errors }}</div>{% endif %}
                   <!--<a href="#" class="add_link" id="region"></a>-->
                </span>
        
        {% endif %}
        
        {% if field.name == 'city' %}
               <span class="olymp_right">
               <label>{{ field.label }}{{ field.field.verbose_name }}</label>
                    {{ field }}
                   {% if field.errors|length > 0 %}<div class="olymp_error_line">{{ field.errors }}</div>{% endif %}
                   <!--<a href="#" class="add_link" id="city"></a>-->
                </span>
                </div>
                </li>
        
        {% endif %}
        
        
        {% if field.name == 'email' %}
        <li class="olymp_complex">
          <label class="olymp_desc">Контактная информация</label>
            <div>
               <span class="olymp_left">
               <label>{{ field.label }}{{ field.field.verbose_name }}</label>
                    {{ field }}
                   {% if field.errors|length > 0 %}<div class="olymp_error_line">{{ field.errors }}</div>{% endif %}
                </span>
        
        {% endif %}
        
        {% if field.name == 'phone' %}
               <span class="olymp_right">
               <label>{{ field.label }}{{ field.field.verbose_name }}</label>
                    {{ field }}
                   {% if field.errors|length > 0 %}<div class="olymp_error_line">{{ field.errors }}</div>{% endif %}
                </span>
                </div>
                </li>
        
        {% endif %}
        
        
        
        {% if field.name == 'rector_last_name' %}
        <li class="olymp_complex">
          <label class="olymp_desc">Ректор</label>
            <div>
               <span class="olymp_left">
               <label>{{ field.label }}{{ field.field.verbose_name }}</label>
                    {{ field }}
                   {% if field.errors|length > 0 %}<div class="olymp_error_line">{{ field.errors }}</div>{% endif %}
                </span>
        
        {% endif %}
        
        {% if field.name == 'rector_first_name' %}
               <span class="olymp_right">
               <label>{{ field.label }}{{ field.field.verbose_name }}</label>
                    {{ field }}
                   {% if field.errors|length > 0 %}<div class="olymp_error_line">{{ field.errors }}</div>{% endif %}
                </span>
        
        {% endif %}
        
        {% if field.name == 'rector_patronymic' %}
               <span class="olymp_left">
               <label>{{ field.label }}{{ field.field.verbose_name }}</label>
                    {{ field }}
                   {% if field.errors|length > 0 %}<div class="olymp_error_line">{{ field.errors }}</div>{% endif %}
                </span>
                </div>
                </li>
        
        {% endif %}
        
        {% if field.name == 'curator_last_name' %}
        <li class="olymp_complex">
          <label class="olymp_desc">Лицо, курирующее участие ВУЗа в Олимпиаде</label>
            <div>
               <span class="olymp_left">
               <label>{{ field.label }}{{ field.field.verbose_name }}</label>
                    {{ field }}
                   {% if field.errors|length > 0 %}<div class="olymp_error_line">{{ field.errors }}</div>{% endif %}
                </span>
        
        {% endif %}
        
        {% if field.name == 'curator_first_name' %}
               <span class="olymp_right">
               <label>{{ field.label }}{{ field.field.verbose_name }}</label>
                    {{ field }}
                   {% if field.errors|length > 0 %}<div class="olymp_error_line">{{ field.errors }}</div>{% endif %}
                </span>
        
        {% endif %}
        
        {% if field.name == 'curator_patronymic' %}
               <span class="olymp_left">
               <label>{{ field.label }}{{ field.field.verbose_name }}</label>
                    {{ field }}
                   {% if field.errors|length > 0 %}<div class="olymp_error_line">{{ field.errors }}</div>{% endif %}
                </span>
        {% endif %}
        
        {% if field.name == 'curator_position' %}
               <span class="olymp_left">
               <label>{{ field.label }}{{ field.field.verbose_name }}</label>
                    {{ field }}
                {% if field.errors|length > 0 %}<div class="olymp_error_line">{{ field.errors }}</div>{% endif %}
                </span>
                </div>
                </li>
        
        {% endif %}
        
        
        
        
        {% if  field.name != 'username' and  field.name != 'password1' and field.name != 'password2' and   field.name != 'region' and  field.name != 'city' and field.name != 'email' and  field.name != 'phone' and field.name != 'rector_first_name' and field.name != 'rector_last_name' and field.name != 'rector_patronymic' and field.name != 'curator_first_name' and field.name != 'curator_last_name' and field.name != 'curator_patronymic' and field.name != 'curator_position' %}
        <li >
            <div>
                <label class="olymp_desc">{{ field.label }}{{ field.field.verbose_name }}</label>
                <!--<input id="username" name="username" class="field text large" type="text" value=""/>-->
                {{ field }}
            </div>
            {% if field.errors|length > 0 %}<div class="olymp_error_line">{{ field.errors }}</div>{% endif %}
        </li>
        {% endif %}
        
        
        {% endfor %}

        <li>
            <input type="submit" id="saveForm" class="olymp_button" value="Зарегистрироваться">

            <a href="{% url 'olymp' %}" class="olymp_negative button">
                Отмена</a>
        </li>
    </ul>
</form>

    {% else %}
     <p>Уважаемый, {{ fio }}, вы успешно зарегистрировали {{ item.name }} на Олимпиаду.</p>
    <p>Пожалуйста, авторизируйтесь и подайте списки участников в личном кабинете</p>

    {% endif %}

</div><!-- box -->

        {% endblock %}