{% extends "olymp/palata_index.html" %}

{% block jquery %}

        {% if message %}
        alert('{{ message }}');

        {% endif %}

{% endblock %}


        {% block container %}

<div class="olymp_box">

    <div class="olymp_h1">{{ verbose_name }}</div>

<form method="POST" action="{% url 'university-edit' item.id %}" class="item">

    {% csrf_token %}
    
    <ul>
        {% for field in Form %}

        {% if field.name == 'region' %}
        <li class="olymp_complex">
          <label class="olymp_desc">Местоположение</label>
            <div>
               <span class="olymp_left">
               <label>{{ field.label }}{{ field.field.verbose_name }}</label>
                    {{ field }}
                   {% if field.errors|length > 0 %}<div class="olymp_error_line">{{ field.errors }}</div>{% endif %}
                   <!--<a href="#" class="add_link" id="region"></a>-->
                </span>
        
        {% endif %}
        
        {% if field.name == 'city' %}
               <span class="olymp_right">
               <label>{{ field.label }}{{ field.field.verbose_name }}</label>
                    {{ field }}
                   {% if field.errors|length > 0 %}<div class="olymp_error_line">{{ field.errors }}</div>{% endif %}
                   <!--<a href="#" class="add_link" id="city"></a>-->
                </span>
                </div>
                </li>
        
        {% endif %}
        
        
        {% if field.name == 'email' %}
        <li class="olymp_complex">
          <label class="olymp_desc">Контактная информация</label>
            <div>
               <span class="olymp_left">
               <label>{{ field.label }}{{ field.field.verbose_name }}</label>
                    {{ field }}
                   {% if field.errors|length > 0 %}<div class="olymp_error_line">{{ field.errors }}</div>{% endif %}
                </span>
        
        {% endif %}
        
        {% if field.name == 'phone' %}
               <span class="olymp_right">
               <label>{{ field.label }}{{ field.field.verbose_name }}</label>
                    {{ field }}
                   {% if field.errors|length > 0 %}<div class="olymp_error_line">{{ field.errors }}</div>{% endif %}
                </span>
                </div>
                </li>
        
        {% endif %}
        
        
        
        {% if field.name == 'rector_first_name' %}
        <li class="olymp_complex">
          <label class="olymp_desc">Ректор</label>
            <div>
               <span class="olymp_left">
               <label>{{ field.label }}{{ field.field.verbose_name }}</label>
                    {{ field }}
                   {% if field.errors|length > 0 %}<div class="olymp_error_line">{{ field.errors }}</div>{% endif %}
                </span>
        
        {% endif %}
        
        {% if field.name == 'rector_last_name' %}
               <span class="olymp_right">
               <label>{{ field.label }}{{ field.field.verbose_name }}</label>
                    {{ field }}
                   {% if field.errors|length > 0 %}<div class="olymp_error_line">{{ field.errors }}</div>{% endif %}
                </span>
        
        {% endif %}
        
        {% if field.name == 'rector_patronymic' %}
               <span class="olymp_left">
               <label>{{ field.label }}{{ field.field.verbose_name }}</label>
                    {{ field }}
                   {% if field.errors|length > 0 %}<div class="olymp_error_line">{{ field.errors }}</div>{% endif %}
                </span>
                </div>
                </li>
        
        {% endif %}
        
        {% if field.name == 'curator_first_name' %}
        <li class="olymp_complex">
          <label class="olymp_desc">Лицо, курирующее участие ВУЗа в Олимпиаде</label>
            <div>
               <span class="olymp_left">
               <label>{{ field.label }}{{ field.field.verbose_name }}</label>
                    {{ field }}
                   {% if field.errors|length > 0 %}<div class="olymp_error_line">{{ field.errors }}</div>{% endif %}
                </span>
        
        {% endif %}
        
        {% if field.name == 'curator_last_name' %}
               <span class="olymp_right">
               <label>{{ field.label }}{{ field.field.verbose_name }}</label>
                    {{ field }}
                   {% if field.errors|length > 0 %}<div class="olymp_error_line">{{ field.errors }}</div>{% endif %}
                </span>
        
        {% endif %}
        
        {% if field.name == 'curator_patronymic' %}
               <span class="olymp_left">
               <label>{{ field.label }}{{ field.field.verbose_name }}</label>
                    {{ field }}
                   {% if field.errors|length > 0 %}<div class="olymp_error_line">{{ field.errors }}</div>{% endif %}
                </span>
        {% endif %}
        
        {% if field.name == 'curator_position' %}
               <span class="olymp_left">
               <label>{{ field.label }}{{ field.field.verbose_name }}</label>
                    {{ field }}
                {% if field.errors|length > 0 %}<div class="olymp_error_line">{{ field.errors }}</div>{% endif %}
                </span>
                </div>
                </li>
        
        {% endif %}
        
        {% if  field.name != 'region' and  field.name != 'city' and field.name != 'email' and  field.name != 'phone' and field.name != 'rector_first_name' and field.name != 'rector_last_name' and field.name != 'rector_patronymic' and field.name != 'curator_first_name' and field.name != 'curator_last_name' and field.name != 'curator_patronymic' and field.name != 'curator_position' %}
        <li >
            <div>
                <label class="olymp_desc">{{ field.label }}{{ field.field.verbose_name }}</label>
                <!--<input id="username" name="username" class="field text large" type="text" value=""/>-->
                {{ field }}
            </div>
            {% if field.errors|length > 0 %}<div class="olymp_error_line">{{ field.errors }}</div>{% endif %}
        </li>
        {% endif %}
        
        
        {% endfor %}

        <li>
            <input type="submit" id="saveForm" class="olymp_button" value="Сохранить">
            
			<div class="olymp_passing_button"><a href="{% url 'test-participant'  main_test.id %}" class="olymp_negative olymp_button">
                Отмена</a></div>
            {% if user.is_authenticated and user.is_olympic  and user.is_admin %}
            <div class="olymp_passing_button"><a href="{% url 'university-delete' item.id %}" class="olymp_negative olymp_button">
                Удалить</a></div>
			{% endif %}	
        </li>
    </ul>
</form>

</div><!-- box -->

        {% endblock %}