{% load test_extra %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>

    <title>
        {% block title %}Международная студенческая олимпиада по налогам – 2014{% endblock %}
    </title>

    <!-- Meta Tags -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css"/>


    <script>
        $(document).ready(function () {

            {% block jquery %}


            {% endblock %}


        });
    </script>

    <!-- JavaScript -->
    <!--<script type="text/javascript" src="scripts/wufoo.js"></script>-->

    <!-- CSS -->
    <!--<link rel="stylesheet" href="/media/structure.css" type="text/css" />-->
    <!--<link rel="stylesheet" href="/media/form.css" type="text/css" />-->
    <!--<link rel="stylesheet" href="/media/theme.css" type="text/css" />-->
    <link rel="stylesheet" href="/media/style.css" type="text/css" />

    <!--<link rel="canonical" href="http://www.wufoo.com/gallery/designs/template.html">-->

</head>

<body id="public">

<div id="container">

    <div class="box">

    <div class="h1"><a id="home" href="{% url 'home' %}">Международная студенческая олимпиада по налогам – 2014</a></div>

    <div class="toolbar">

        <div class="authbar">
            {% if user.is_authenticated %}
            <a class="auth_link" href="{% url 'logout' %}">Выйти</a>
            <a  class="auth_link" href="{% url 'home' %}">Главная</a>
            <div class="auth_greeting">Добро пожаловать, <span>{{ user.get_full_name }}</span></div>

            {% else %}
            <a  class="auth_link" href="{% url 'login' %}">Войти</a>
            <a  class="auth_link" href="{% url 'university-register' %}">Стать ВУЗом-участником</a>
            <a  class="auth_link" href="{% url 'home' %}">Главная</a>
            {% endif %}

            <div class="clear"></div>
        </div><!--toolbar_button-->

        {% if user.is_authenticated and user.is_admin %}
        <div class="toolbar_button">
            <a href="{% url 'test-new' %}">Новый тест</a>
        </div><!--toolbar_button-->

        <div class="toolbar_button">
            <a href="{% url 'university-list' 'all' %}">ВУЗы-участники</a>
        </div><!--toolbar_button-->

        {% endif %}

        <div class="clear"></div>
    </div><!--toolbar-->
    </div><!--box-->
    
    {% block container %}
    
    {% if future_tests|length > 0 %}
    
    <div class="box">

    <div class="h1">Грядущие тесты</div>

       <ul>
          
          
       {% for test in future_tests %}
       
       <li>
       <div class="test_block">
         <h3>{{ test.name }}</h3>
           <div class="short_desc">Время проведения с {{ test.begin|date:"d.m.Y" }} по {{ test.end|date:"d.m.Y" }}</div>
           <div class="short_desc">{% if test.registration_not_start %}Регистрация с {{ test.begin_registration|date:"d.m.Y" }} по {{ test.end_registration|date:"d.m.Y" }}{% endif %}{% if test.registration_start %}Регистрация открыта до {{ test.end_registration|date:"d.m.Y" }}{% endif %}{% if test.registration_finish %}Регистрация закрыта{% endif %}</div>
         <div class="test_toolbar">
            {% if user.is_authenticated %}
               {% if user.is_admin %}
                 <a href="{% url 'test-edit' test.id %}">Редактировать</a>
                 <a href="{% url 'test-participant' test.id %}">Участники и результаты</a>
                 {% if not test.is_go_now %}
                 <a class="delete_test" href="{% url 'test-delete' test.id %}">Удалить</a>
                 {% endif %}

               {% endif %}
               
               {% if user.is_univer %}
                 <a href="{% url 'test-about' test.id %}">Подробная информация</a>
                 {% if not test|have_univer_request_on_test:user  %}
                 <a href="{% url 'test-enter' test.id %}">Подать заявку</a>
                 {% endif %}
                 <a href="{% url 'test-participant' test.id %}">Участники и результаты</a>
               {% endif %}
               
               {% if user.is_student %}
                 <a href="{% url 'test-about' test.id %}">Подробная информация</a>
                 <a href="#">Пройти</a>
                 <a href="{% url 'test-participant' test.id %}">Участники и результаты</a>
               {% endif %}
            
            
            {% else %}
            <a href="{% url 'test-about' test.id %}">Подробная информация</a>
            <a href="{% url 'test-participant' test.id %}">Участники и результаты</a>
            
            {% endif %}
         
         </div>
         
         
       </div>
       </li>
       {% endfor %}    
       
       </ul>
       
    </div>
    {% endif %}
    
    {% if actual_tests|length > 0 %}
    
    <div class="box">

    <div class="h1">Активные тесты</div>

       <ul>
       {% for test in actual_tests %}
         <li>
       <div class="test_block">
         <h3>{{ test.name }}</h3>
           <div class="short_desc">Время проведения с {{ test.begin|date:"d.m.Y" }} по {{ test.end|date:"d.m.Y" }}</div>
           <div class="short_desc">{% if test.registration_not_start %}Регистрация с {{ test.begin_registration|date:"d.m.Y" }} по {{ test.end_registration|date:"d.m.Y" }}{% endif %}{% if test.registration_start %}Регистрация открыта до {{ test.end_registration|date:"d.m.Y" }}{% endif %}{% if test.registration_finish %}Регистрация закрыта{% endif %}</div>
         <div class="test_toolbar">
            {% if user.is_authenticated %}
               {% if user.is_admin %}
                 <a href="{% url 'test-edit' test.id %}">Редактировать</a>
                 <a href="{% url 'test-participant' test.id %}">Участники и результаты</a>
             {% if not test.is_go_now %}
                 <a class="delete_test" href="{% url 'test-delete' test.id %}">Удалить</a>
             {% endif %}
               
               
               {% endif %}
               
               {% if user.is_univer %}
                 <a href="{% url 'test-about' test.id %}">Подробная информация</a>

             {% if not test|have_univer_request_on_test:user  %}
             <a href="{% url 'test-enter' test.id %}">Подать заявку</a>
             {% endif %}

                 <a href="{% url 'test-participant' test.id %}">Участники и результаты</a>
               {% endif %}
               
               {% if user.is_student %}
                 <a href="{% url 'test-about' test.id %}">Подробная информация</a>
                 <a href="#">Пройти</a>
                 <a href="{% url 'test-participant' test.id %}">Участники и результаты</a>
               {% endif %}
            
            
            {% else %}
            <a href="{% url 'test-about' test.id %}">Подробная информация</a>
            <a href="{% url 'test-participant' test.id %}">Участники и результаты</a>
            
            {% endif %}
         
         </div>
         
         
       </div>
       </li>
       {% endfor %}    
       </ul>
    </div>   
    {% endif %}
    
    {% if  past_tests|length > 0 %}
    
    <div class="box">

    <div class="h1">Прошедшие тесты</div>

       <ul>
       {% for test in past_tests %}
         <li>
       <div class="test_block">
         <h3>{{ test.name }}</h3>
         <div class="short_desc">Время проведения с {{ test.begin|date:"d.m.Y" }} по {{ test.end|date:"d.m.Y" }}</div>
         <div class="short_desc">{% if test.registration_not_start %}Регистрация с {{ test.begin_registration|date:"d.m.Y" }} по {{ test.end_registration|date:"d.m.Y" }}{% endif %}{% if test.registration_start %}Регистрация открыта до {{ test.end_registration|date:"d.m.Y" }}{% endif %}{% if test.registration_finish %}Регистрация закрыта{% endif %}</div>
         <div class="test_toolbar">
            {% if user.is_authenticated %}
               {% if user.is_admin %}
                 <a href="{% url 'test-edit' test.id %}">Редактировать</a>
                 <a href="{% url 'test-participant' test.id %}">Участники и результаты</a>
             {% if not test.is_go_now %}
                 <a class="delete_test" href="{% url 'test-delete' test.id %}">Удалить</a>
             {% endif %}
               {% endif %}
               
               {% if user.is_univer %}
                 <a href="{% url 'test-about' test.id %}">Подробная информация</a>
                 <a href="{% url 'test-participant' test.id %}">Участники и результаты</a>
               {% endif %}
               
               {% if user.is_student %}
                 <a href="{% url 'test-about' test.id %}">Подробная информация</a>
                 <a href="{% url 'test-participant' test.id %}">Участники и результаты</a>
               {% endif %}
            
            
            {% else %}
            <a href="{% url 'test-about' test.id %}">Подробная информация</a>
            <a href="{% url 'test-participant' test.id %}">Участники и результаты</a>
            
            {% endif %}
         
         </div>
         
         
       </div>
       </li>
       {% endfor %}    
       </ul>
    </div>
    {% endif %}
    
    {% endblock %}
    
    <!--<div class="clear"></div>-->
</div><!--container-->
</body>
</html>