{% extends "index.html" %}
{% load test_extra %}

{% block jquery %}


<!--$('#id_new_student_birthday').datepicker();-->

$('input').bind("keyup keypress", function(e) {
var code = e.keyCode || e.which;

if (code  == 13) {
e.preventDefault();
return false;
}
});

$('.addstudent').click(function(){

var dummy = $('li.complex#dummy').clone(true);

var count = parseInt($('input#new_student_count').val());
count = count + 1;

dummy.removeAttr('id');

$('li#buttons').before(dummy);
$('input#new_student_count').val(count);
return false;

});

$('input[name="new_student_delete_checkbox"]').click(function(){
if( $(this).is(":checked")){
$(this).closest('div').find('input[name="new_student_must_delete"]').val(1);
}else{
$(this).closest('div').find('input[name="new_student_must_delete"]').val(0);
}


});

$('input[name="delete_checkbox"]').click(function(){

if( $(this).is(":checked")){
$(this).closest('div').find('input[name="must_delete"]').val(1);
}else{
$(this).closest('div').find('input[name="must_delete"]').val(0);
}


});

{% endblock %}


{% block container %}

<div class="box">

    <div class="h1">{{ verbose_name }}</div>

    {% include "test_header.html" %}

    <div class="toolbar">
    {% if user.is_univer %}

        <a href="{% url 'test-participant' test.id %}">Участники и результаты</a>

        {% if not test|have_univer_request_on_test:user and not test.is_finished  %}
        <a href="{% url 'test-enter' test.id %}">Подать заявку</a>
        {% endif %}

        {% if test|have_univer_request_on_test:user and not test.is_finished  %}
        <a class="addstudent" href="#">Добавить студента</a>
        {% endif %}


    {% endif %}
        </div>


    <div class="clear"></div>

</div>

{% if user.is_univer and test|have_univer_request_on_test:user  %}
<div class="box">

    <div class="h1">Студенты</div>
    
    <form method="POST" action="{% url 'test-about' test.id %}" class="item">

        <input id="new_student_count"  name="new_student_count" value="{{ new_student_count|default:0 }}" style="display: none">

        {% csrf_token %}

        <ul>

            {% for old_student_form in old_student_forms %}

            <li class="complex">
                <label class="desc">Студент</label>
                <div>

                    {% for field in old_student_form %}

                    {% if not field.is_hidden %}

    <span class="{% if field.name == 'email' or field.name == 'course' %}left{% endif %}{% if field.name == 'birthday' or field.name == 'finish_year' %}right{% endif %}{% if field.name == 'first_name' or field.name == 'last_name' or field.name == 'patronymic' or field.name == 'speciality'  %}full{% endif %}">
    <label class="desc">{{ field.label }}{{ field.field.verbose_name }}</label>
      {{ field }}
    {% if field.errors|length > 0 %}<div class="error_line">{{ field.errors }}</div>{% endif %}
    </span>

                    {% else %}
                    {{ field }}
                    {% endif %}

                    {% endfor %}

                </div>
            </li>
            {% endfor %}


            {% for new_student_form in new_student_forms %}

            <li class="complex">
                <label class="desc">Вопрос</label>
                <div>

                    {% for field in new_student_form %}

                    {% if not field.is_hidden %}

    <span class="{% if field.name == 'new_student_email' or field.name == 'new_student_course' %}left{% endif %}{% if field.name == 'new_student_birthday' or field.name == 'new_student_finish_year' %}right{% endif %}{% if field.name == 'new_student_first_name' or field.name == 'new_student_last_name' or field.name == 'new_student_patronymic' or field.name == 'new_student_speciality'  %}full{% endif %}">
    <label class="desc">{{ field.label }}{{ field.field.verbose_name }}</label>
      {{ field }}
    {% if field.errors|length > 0 %}<div class="error_line">{{ field.errors }}</div>{% endif %}
    </span>

                    {% else %}
                    {{ field }}
                    {% endif %}

                    {% endfor %}

                </div>
            </li>
            {% endfor %}


        <li id="buttons">
            <a href="#" class="addstudent button">Добавить студента</a>
            <input type="submit" id="saveForm" class="button" value="Сохранить">
            <a href="/" class="negative button">Отмена</a>
        </li>
        </ul>
    </form>

    <li class="complex" id="dummy" >
        <label class="desc">Студент</label>
        <div>
    {% for field in dummy_form %}

    {% if not field.is_hidden %}

    <span class="{% if field.name == 'new_student_email' or field.name == 'new_student_course' %}left{% endif %}{% if field.name == 'new_student_birthday' or field.name == 'new_student_finish_year' %}right{% endif %}{% if field.name == 'new_student_first_name' or field.name == 'new_student_last_name' or field.name == 'new_student_patronymic' or field.name == 'new_student_speciality'  %}full{% endif %}">
    <label class="desc">{{ field.label }}{{ field.field.verbose_name }}</label>
      {{ field }}
    {% if field.errors|length > 0 %}<div class="error_line">{{ field.errors }}</div>{% endif %}
    </span>

    {% else %}
       {{ field }}
    {% endif %}

    {% endfor %}
        </div>
        </li>


    <div class="clear"></div>

</div>

{% endif %}

{% endblock %}