{% extends "index.html" %}

{% block jquery %}

$('input').bind("keyup keypress", function(e) {
  var code = e.keyCode || e.which;

  if (code  == 13) {
    e.preventDefault();
    return false;
  }
});

$('.addquestion').click(function(){
      
   var dummy = $('li.complex#dummy').clone(true);

   var count = parseInt($('input#new_question_count').val());
   count = count + 1;

   dummy.removeAttr('id');

    $('li#buttons').before(dummy);
   $('input#new_question_count').val(count);
   return false;
        
});

 $('input[name="new_question_delete_checkbox"]').click(function(){
        if( $(this).is(":checked")){
           $(this).closest('div').find('input[name="new_question_must_delete"]').val(1);
        }else{
           $(this).closest('div').find('input[name="new_question_must_delete"]').val(0);
        }


       });

$('input[name="delete_checkbox"]').click(function(){

if( $(this).is(":checked")){
$(this).closest('div').find('input[name="must_delete"]').val(1);
}else{
$(this).closest('div').find('input[name="must_delete"]').val(0);
}


});

{% endblock %}


        {% block container %}

<div class="box">

    <div class="h1">{{ verbose_name }}</div>

<form method="POST" action="{% if item.id %}{% url 'test-edit' item.id %}{% else %}{% url 'test-new' %}{% endif %}" class="item">

    {% csrf_token %}
    
    <input id="new_question_count"  name="new_question_count" value="{{ new_question_count }}" style="display: none">

    <ul>
        {% for field in Form %}
        <li >
            <div>
                <label class="desc">{{ field.label }}{{ field.field.verbose_name }}</label>
                <!--<input id="username" name="username" class="field text large" type="text" value=""/>-->
                {{ field }}
            </div>
            {% if field.errors|length > 0 %}<div class="error_line">{{ field.errors }}</div>{% endif %}
        </li>
        {% endfor %}
        
        {% for old_question_form in old_question_forms %}
        
        <li class="complex">
          <label class="desc">Вопрос</label>
            <div>
        
             {% for field in old_question_form %}
                
              {% if not field.is_hidden %}  
              <span class="{% if field.name == 'option1' or field.name == 'option3' or field.name == 'correct_option' %}left{% endif %}{% if field.name == 'option2' or field.name == 'option4' or field.name == 'number' %}right{% endif %}{% if field.name == 'text' or field.name == 'test'  %}full{% endif %}">
              {% if field.name != 'text' and not field.is_hidden %}<label class="desc">{{ field.label }}{{ field.field.verbose_name }}</label>{% endif %}
                    {{ field }}
                    {% if field.errors|length > 0 %}<div class="error_line">{{ field.errors }}</div>{% endif %}
              </span>
              {% else %}
                {{ field }}
              {% endif %}
        
             {% endfor %}
        
            </div>
        </li>    
        {% endfor %}
        
        
        {% for new_question_form in new_question_forms %}
        
        <li class="complex">
          <label class="desc">Вопрос</label>
            <div>
        
             {% for field in new_question_form %}

                {% if not field.is_hidden %}
              <span class="{% if field.name == 'new_question_option1' or field.name == 'new_question_option3' or field.name == 'new_question_correct_option' %}left{% endif %}{% if field.name == 'new_question_option2' or field.name == 'new_question_option4' or field.name == 'new_question_number' %}right{% endif %}{% if field.name == 'new_question_text'  %}full{% endif %}">
              {% if field.name != 'new_question_text' %}<label class="desc">{{ field.label }}{{ field.field.verbose_name }}</label>{% endif %}
                    {{ field }}
                    {% if field.errors|length > 0 %}<div class="error_line">{{ field.errors }}</div>{% endif %}
              </span>
                {% else %}
                  {{ field }}
                {% endif %}
        
             {% endfor %}
        
            </div>
        </li>    
        {% endfor %}

        <li id="buttons">
            <a href="#" class="addquestion button">
                Добавить вопрос</a>
            <input type="submit" id="saveForm" class="button" value="Сохранить">

            <a href="/" class="negative button">
                Отмена</a>
        </li>
    </ul>
</form>

    <li class="complex" id="dummy">
        <label class="desc">Вопрос</label>
        <div>
                <span class="full">
                    <textarea name="new_question_text"></textarea>
                </span>

                <span class="left">
                    <label  class="desc">Первый вариант ответа</label>
                    <textarea name="new_question_option1"></textarea>
                </span>

                <span class="right">
                    <label  class="desc">Второй вариант ответа</label>
                    <textarea name="new_question_option2"></textarea>
                </span>

                <span class="left">
                    <label  class="desc">Третий вариант ответа</label>
                    <textarea name="new_question_option3"></textarea>
                </span>

                <span class="right">
                    <label  class="desc">Четвертый вариант ответа</label>
                    <textarea name="new_question_option4"></textarea>
                </span>


                <span class="left">
                    <label  class="desc">Верный вариант ответа</label>
                    <select name="new_question_correct_option">
                        {% for correct in CORRECT_OPTION_CHOICES %}
                        <option value="{{ correct.0 }}">{{ correct.1 }}</option>

                        {% endfor %}
                    </select>
                </span>
                
                <span class="right">
                    <label  class="desc">Порядковый номер вопроса</label>
                    <input type="text" name="new_question_number" value="0">
                </span>
                
                <span>
                    <label  class="desc">Удалить</label>
                    <input type="checkbox" name="new_question_delete_checkbox">
                </span>
            
            <input type="hidden" value="0" name="new_question_must_delete">
                
        </div>
    </li>

</div><!-- box -->

        {% endblock %}