{% extends "index.html" %}

{% block jquery %}

$('.test_item').click(function(){

    alert($(this).find('label').attr('item'));
    window.location = '/universities/' + $(this).find('label').attr('item');

});

{% endblock %}

{% block container %}

<div class="box">

    <div class="h1">ВУЗы-участники</div>


  <div class="left_block">
    <ul>
        
        <li  class="test_item">
         <label item="all">Все</label>

        </li>

        <li  class="test_item">
            <label item="alone">Без заявок на тесты</label>
        </li>


        {% for test in tests %}

        <li  class="test_item">
            <label item="{{ test.id }}">{{ test.name }}</label>
        </li>

        {% endfor %}

    </ul>
  
  <div class="clear"></div>
  </div>


  <div class="right_block">

      <ul>
          
          {% for university in universities %}
          
          <li class="unvirsity_item">
            <label>{{ university.name }}</label>
            <div class="toolbar">
                <div class="toolbar_button"><a href="{% url 'university-edit' university.id %}">Редактировать</a></div>

            </div>
            <div class="clear"></div>
          </li>

          {% endfor %}

      </ul>

      <div class="clear"></div>
  </div>

    <div class="clear"></div>
</div>


{% endblock %}
