{% extends "index.html" %}

{% block jquery %}

        {% if message %}
        alert('{{ message }}');

        {% endif %}

{% endblock %}


        {% block container %}

<div class="box">

    <div class="h1">{{ verbose_name }}</div>

<form method="POST" action="{% url 'university-edit' item.id %}" class="item">

    {% csrf_token %}
    
    <ul>
        {% for field in Form %}

        {% if field.name == 'region' %}
        <li class="complex">
          <label class="desc">Местоположение</label>
            <div>
               <span class="left">
               <label>{{ field.label }}{{ field.field.verbose_name }}</label>
                    {{ field }}
                   {% if field.errors|length > 0 %}<div class="error_line">{{ field.errors }}</div>{% endif %}
                   <!--<a href="#" class="add_link" id="region"></a>-->
                </span>
        
        {% endif %}
        
        {% if field.name == 'city' %}
               <span class="right">
               <label>{{ field.label }}{{ field.field.verbose_name }}</label>
                    {{ field }}
                   {% if field.errors|length > 0 %}<div class="error_line">{{ field.errors }}</div>{% endif %}
                   <!--<a href="#" class="add_link" id="city"></a>-->
                </span>
                </div>
                </li>
        
        {% endif %}
        
        
        {% if field.name == 'email' %}
        <li class="complex">
          <label class="desc">Контактная информация</label>
            <div>
               <span class="left">
               <label>{{ field.label }}{{ field.field.verbose_name }}</label>
                    {{ field }}
                   {% if field.errors|length > 0 %}<div class="error_line">{{ field.errors }}</div>{% endif %}
                </span>
        
        {% endif %}
        
        {% if field.name == 'phone' %}
               <span class="right">
               <label>{{ field.label }}{{ field.field.verbose_name }}</label>
                    {{ field }}
                   {% if field.errors|length > 0 %}<div class="error_line">{{ field.errors }}</div>{% endif %}
                </span>
                </div>
                </li>
        
        {% endif %}
        
        
        
        {% if field.name == 'rector_first_name' %}
        <li class="complex">
          <label class="desc">Ректор</label>
            <div>
               <span class="left">
               <label>{{ field.label }}{{ field.field.verbose_name }}</label>
                    {{ field }}
                   {% if field.errors|length > 0 %}<div class="error_line">{{ field.errors }}</div>{% endif %}
                </span>
        
        {% endif %}
        
        {% if field.name == 'rector_last_name' %}
               <span class="right">
               <label>{{ field.label }}{{ field.field.verbose_name }}</label>
                    {{ field }}
                   {% if field.errors|length > 0 %}<div class="error_line">{{ field.errors }}</div>{% endif %}
                </span>
        
        {% endif %}
        
        {% if field.name == 'rector_patronymic' %}
               <span class="left">
               <label>{{ field.label }}{{ field.field.verbose_name }}</label>
                    {{ field }}
                   {% if field.errors|length > 0 %}<div class="error_line">{{ field.errors }}</div>{% endif %}
                </span>
                </div>
                </li>
        
        {% endif %}
        
        {% if field.name == 'curator_first_name' %}
        <li class="complex">
          <label class="desc">Лицо, курирующее участие ВУЗа в Олимпиаде</label>
            <div>
               <span class="left">
               <label>{{ field.label }}{{ field.field.verbose_name }}</label>
                    {{ field }}
                   {% if field.errors|length > 0 %}<div class="error_line">{{ field.errors }}</div>{% endif %}
                </span>
        
        {% endif %}
        
        {% if field.name == 'curator_last_name' %}
               <span class="right">
               <label>{{ field.label }}{{ field.field.verbose_name }}</label>
                    {{ field }}
                   {% if field.errors|length > 0 %}<div class="error_line">{{ field.errors }}</div>{% endif %}
                </span>
        
        {% endif %}
        
        {% if field.name == 'curator_patronymic' %}
               <span class="left">
               <label>{{ field.label }}{{ field.field.verbose_name }}</label>
                    {{ field }}
                   {% if field.errors|length > 0 %}<div class="error_line">{{ field.errors }}</div>{% endif %}
                </span>
        {% endif %}
        
        {% if field.name == 'curator_position' %}
               <span class="left">
               <label>{{ field.label }}{{ field.field.verbose_name }}</label>
                    {{ field }}
                {% if field.errors|length > 0 %}<div class="error_line">{{ field.errors }}</div>{% endif %}
                </span>
                </div>
                </li>
        
        {% endif %}
        
        {% if  field.name != 'region' and  field.name != 'city' and field.name != 'email' and  field.name != 'phone' and field.name != 'rector_first_name' and field.name != 'rector_last_name' and field.name != 'rector_patronymic' and field.name != 'curator_first_name' and field.name != 'curator_last_name' and field.name != 'curator_patronymic' and field.name != 'curator_position' %}
        <li >
            <div>
                <label class="desc">{{ field.label }}{{ field.field.verbose_name }}</label>
                <!--<input id="username" name="username" class="field text large" type="text" value=""/>-->
                {{ field }}
            </div>
            {% if field.errors|length > 0 %}<div class="error_line">{{ field.errors }}</div>{% endif %}
        </li>
        {% endif %}
        
        
        {% endfor %}

        <li>
            <input type="submit" id="saveForm" class="button" value="Сохранить">

            <a href="{% url 'university-delete' item.id %}" class="negative button">
                Удалить</a>

            <a href="{% url 'university-list' 'all' %}" class="negative button">
                Отмена</a>


        </li>
    </ul>
</form>

</div><!-- box -->

        {% endblock %}