{% extends "index.html" %}

        {% block container %}

<div class="box">

    <div class="h1">{{ verbose_name }}</div>

<form method="POST" action="{% url 'university-delete' item.id %}" class="item">

    {% csrf_token %}
    
    <ul>
        <li>
          <label class="desc">Вы действительно хотите удалить {{ item.name }} ?</label>

        </li>
        <li>
            <input type="submit" id="saveForm" class="button" value="Да">

            <a href="{% url 'university-list' 'all' %}" class="negative button">
                Отмена</a>
        </li>
    </ul>
</form>

</div><!-- box -->

        {% endblock %}