<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>

<body style="padding:0px;margin:0px;">

<table width="100%" cellspacing="0" cellpadding="0" border="0">
    <tr>
        <td align="center" bgcolor="#ffffff">
            <!--<table width="600" cellpadding="0" cellspacing="0" border="0" style="border-collapse: collapse;">-->
            <table border="0" cellspacing="0" cellpadding="0" width="600" style="min-width:600px;">
                <!--header line statrs-->
                <tr>
                    <td>
                        <img src="http://ipr.palata-nk.ru/media/img/ipr_pnk_logo.png" width="200" height="58" alt="" border="0" style="display: block;" />
                    </td>
                    <td>/td>
                    <td></td>
                </tr>
                <!--header line end-->
                <!--content statrs-->
                <tr>
                    <td colspan="3" align="center">
                        <table width="540" cellpadding="0" cellspacing="0" border="0" style="border: solid 1px #000; border-collapse: collapse;">
                            <tr>
                                <td>content</td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <!--content end-->
            </table>
            <!--footer img starts-->
            <table width="660" cellpadding="0" cellspacing="0" border="0" style="border-collapse: collapse;">
                <tr>
                    <td><img ... /></td>
                </tr>
            </table>
            <!--footer img end-->
        </td>
    </tr>
</table>


<!--<table style="font: 14px/20px Arial, Tahoma, Verdana, sans-serif;margin-left:auto;margin-right:auto;">-->

    <!--<tr><h1 style="color: #1e5799; text-align: center;">Уважаемый {{ institute_name }}!</h1></tr>-->

    <!--<tr>Внимание! Поступило новое заявление на обучение от <strong>{{ fio }}</strong> на программу <strong>{{ program_name }}</strong>.</tr>-->
    <!--<tr>Проверьте, пожалуйста, личный кабинет образовательной организации в <a href="www.ipr.palata-nk.ru">Информационно-поисковом ресурсе (раздел «Формирование новых групп»)</a>.</tr>-->
    <!--<tr>Перед включением слушателя в группу не забудьте, пожалуйста, распечатать и вложить в личное дело его заявление.</tr>-->
    <!--<tr>Это автоматическое сообщение. Пожалуйста, не отвечайте на него.</tr>-->

    <!--<tr>С уважением, администратор инфо-ресурса</br>-->
<!--coordinator@palata-nk.ru</br>-->
<!--(495) 229-10-61</br>-->
    <!--</tr>-->
    <!--</table>-->


</body>
</html>

<table border="0" cellspacing="0" cellpadding="0" width="600" style="min-width:600px;">
    <!--preheader -->
    <tr><td>
        <!-- padding --><div style="height: 12px; line-height:12px; font-size:10px;">&nbsp;</div>
        <table width="600" border="0" cellspacing="0" cellpadding="0">
            <tr><td width="400" align="left" valign="middle" style="line-height:15px;">
                <font face="Tahoma, Arial, Helvetica, sans-serif" size="2" color="#ffffff" style="font-size:13px;">
			<span style="font-family: Tahoma, Arial, Helvetica, sans-serif; font-size: 13px; color:#ffffff;line-height:15px;">
				Ваш экземпляр &laquo;Programmatic: теория с примерами&raquo;
			</span></font>
            </td><td align="right" valign="middle" style="line-height:15px;">
                <a href="#" target="_blank" style="font-family: Tahoma, Arial, Helvetica, sans-serif; font-size: 13px; color: #ffffff;text-decoration:underline;line-height:15px;">
                    <font face="Tahoma, Arial, Helvetica, sans-serif" style="font-size:13px;" size="2" color="#ffffff">
                        Отписаться
                    </font></a>
            </td></tr>
        </table>
        <!-- padding --><div style="height: 8px; line-height:8px; font-size:6px;">&nbsp;</div>
    </td></tr>
    <!--preheader END-->
    <!--header -->
    <tr><td align="center" bgcolor="#ffffff" style="border-bottom-width:1px;border-bottom-style:solid;border-bottom-color:#282f37;">
        <!-- padding --><div style="height: 12px; line-height:12px; font-size:10px;">&nbsp;</div>
        <table width="540" border="0" cellspacing="0" cellpadding="0">
            <tr><td	width="210" align="left" valign="top">
                <!-- padding --><div style="height: 15px; line-height:15px; font-size:13px;">&nbsp;</div>
                <a href="#" target="_blank" style="color: #596167; font-family: Arial, Helvetica, sans-serif; font-size: 18px;"  >
                    <font face="Arial, Helvetica, sans-serif; font-size: 18px;" size="4" color="#596167">
                        <img src="/img/logo.png" width="210" height="45" alt="iAge" border="0" style="display: block;" /></font></a>
                <!-- padding --><div style="height: 10px; line-height:10px; font-size:8px;">&nbsp;</div>
            </td>
                <td align="right" valign="top">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0" >
                        <tr><td align="right" height="33" valign="top" style="line-height:14px;">
                            <font face="Tahoma, Arial, Helvetica, sans-serif" size="2" color="#282f37" style="font-size:12px;">
					<span style="font-family: Tahoma, Arial, Helvetica, sans-serif; font-size: 12px; color:#282f37;line-height:14px;">
						<a href="#" target="_blank" style="color:#282f37;"><font color="#282f37">О компании</font></a>
						&nbsp;&nbsp;
						<a href="#" target="_blank" style="color:#282f37;"><font color="#282f37">События</font></a>
						&nbsp;&nbsp;
						<a href="#" target="_blank" style="color:#282f37;"><font color="#282f37">Проекты</font></a>
					</span></font>
                        </td></tr>
                        <tr><td align="right">
                            <!--social -->
                            <div style="width:208px;">
                                <table border="0" cellspacing="0" cellpadding="0">
                                    <tr><td width="43" align="left" style="line-height:36px;">
                                        <a href="#" target="_blank" style="color: #596167; font-family: Arial, Helvetica, sans-serif; font-size: 12px;"  >
                                            <font face="Arial, Helvetica, sans-serif" size="2" color="#596167">
                                                <img src="/img/soc1.png" width="36" height="36" alt="f" border="0" style="display: block;" /></font></a>
                                    </td><td width="43" align="left" style="line-height:36px;">
                                        <a href="#" target="_blank" style="color: #596167; font-family: Arial, Helvetica, sans-serif; font-size: 12px;" >
                                            <font face="Arial, Helvetica, sans-serif" size="2" color="#596167">
                                                <img src="/img/soc2.png" width="36" height="36" alt="t" border="0" style="display: block;" /></font></a>
                                    </td><td width="43" align="left" style="line-height:36px;">
                                        <a href="#" target="_blank" style="color: #596167; font-family: Arial, Helvetica, sans-serif; font-size: 12px;"  >
                                            <font face="Arial, Helvetica, sans-serif" size="2" color="#596167">
                                                <img src="/img/soc3.png" width="36" height="36" alt="vk" border="0" style="display: block;" /></font></a>
                                    </td><td width="43" align="left" style="line-height:36px;">
                                        <a href="#" target="_blank" style="color: #596167; font-family: Arial, Helvetica, sans-serif; font-size: 12px;"  >
                                            <font face="Arial, Helvetica, sans-serif" size="2" color="#596167">
                                                <img src="/img/soc4.png" width="36" height="36" alt="in" border="0" style="display: block;" /></font></a>
                                    </td><td width="36" align="left" style="line-height:36px;">
                                        <a href="#" target="_blank" style="color: #596167; font-family: Arial, Helvetica, sans-serif; font-size: 12px;"  >
                                            <font face="Arial, Helvetica, sans-serif" size="2" color="#596167">
                                                <img src="/img/soc5.png" width="36" height="36" alt="s" border="0" style="display: block;" /></font></a>
                                    </td></tr>
                                </table>
                            </div>
                            <!--social END-->
                        </td></tr>
                    </table>
                </td></tr>
        </table>
        <!-- padding --><div style="height: 12px; line-height:12px; font-size:10px;">&nbsp;</div>
    </td></tr>
    <!--header END-->
    <!--content -->
    <tr><td align="center" bgcolor="#ffffff" style="border-top-width:1px;border-top-style:solid;border-top-color:#ffffff;">
        <!--sep -->
        <table width="600" border="0" cellspacing="0" cellpadding="0">
            <tr><td height="14" bgcolor="#f27071" style="height:14px;line-height:14px;font-size:10px;">&nbsp;</td></tr>
        </table>
        <!--sep END-->

        <table width="490" border="0" cellspacing="0" cellpadding="0">
            <tr><td align="left">
                <!-- padding --><div style="height: 45px; line-height:45px; font-size:40px;">&nbsp;</div>
                <!--hello -->
                <div style="line-height:24px;">
                    <font face="Tahoma, Arial, Helvetica, sans-serif" size="3" color="#282f37" style="font-size:16px;">
					<span style="font-family: Tahoma, Arial, Helvetica, sans-serif; font-size: 16px; color:#282f37;">
						<strong>Добрый день!</strong><br /><br />
						Ваш экземпляр <strong>&laquo;Programmatic: теория с примерами&raquo;</strong> в PDF-формате доступен для скачивания.
					</span></font>
                </div>
                <!--hello END-->
                <!-- padding --><div style="height: 25px; line-height:25px; font-size:23px;">&nbsp;</div>

                <table width="490" border="0" cellspacing="0" cellpadding="0">
                    <tr><td width="210" align="left" valign="top"><img src="/img/ico1.png" width="180" height="180" alt="" border="0" style="display: block;" /></td>
                        <td align="left" valign="middle" style="line-height:24px;">
                            <font face="Tahoma, Arial, Helvetica, sans-serif" size="3" color="#282f37" style="font-size:16px;">
						<span style="font-family: Tahoma, Arial, Helvetica, sans-serif; font-size: 16px; color:#282f37;line-height:24px;">
							Персональная для каждого пользователя коммуникация, программируемый маркетинг, процесс настройки кампании и другие трюки.
						</span></font>
                            <!-- padding --><div style="height: 26px; line-height:26px; font-size:23px;">&nbsp;</div>
                            <!--Button Begin-->
                            <table border="0" cellspacing="0" cellpadding="0">
                                <tr><td align="center" width="217" height="39" bgcolor="#f27071" style="line-height: 39px;">
                                    <a href="#" target="_blank" style="color: #ffffff; font-family: Arial, Helvetica, sans-serif; font-size: 16px;text-decoration:none;" >
                                        <font face="Arial, Helvetica, sans-serif" size="3" color="#ffffff">
                                            <img src="/img/button.png" width="217" height="39" alt="Получить PDF" border="0" style="display: block;" /></font></a>
                                </td></tr>
                            </table>
                            <!--Button End-->
                        </td></tr>
                </table>
                <!-- padding --><div style="height: 50px; line-height:50px; font-size:45px;">&nbsp;</div>
            </td></tr>
        </table>

        <!--sep -->
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr><td height="10" style="line-height:10px;font-size:8px;border-top-width:2px;border-top-style:solid;border-top-color:#282f37;">&nbsp;</td></tr>
        </table>
        <!--sep END-->
        <!-- padding --><div style="height: 30px; line-height:30px; font-size:28px;">&nbsp;</div>

        <table width="490" border="0" cellspacing="0" cellpadding="0">
            <tr><td align="left" valign="middle" style="line-height:24px;">
                <font face="Tahoma, Arial, Helvetica, sans-serif" size="3" color="#282f37" style="font-size:16px;">
				<span style="font-family: Tahoma, Arial, Helvetica, sans-serif; font-size: 16px; color:#282f37;line-height:24px;">
					Спасибо за проявленный интерес к нашей компании!<br /><br />
					Хотите быть в курсе последних событий компании iAGE, получать от нас интересные материалы, статьи и презентации?<br />
					Подпишитесь на нашу рассылку!
				</span></font>
                <!-- padding --><div style="height: 26px; line-height:26px; font-size:23px;">&nbsp;</div>
                <!--Button Begin-->
                <table border="0" cellspacing="0" cellpadding="0">
                    <tr><td align="center" width="217" height="39" bgcolor="#f27071" style="line-height: 39px;">
                        <a href="#" target="_blank" style="color: #ffffff; font-family: Arial, Helvetica, sans-serif; font-size: 16px;text-decoration:none;" >
                            <font face="Arial, Helvetica, sans-serif" size="3" color="#ffffff">
                                <img src="/img/button1.png" width="217" height="39" alt="Да, я с вами!" border="0" style="display: block;" /></font></a>
                    </td></tr>
                </table>
                <!--Button End-->
            </td><td width="210" align="right" valign="top"><img src="/img/ico2.jpg" width="180" height="180" alt="" border="0" style="display: block;" /></td></tr>
        </table>
        <!-- padding --><div style="height: 30px; line-height:30px; font-size:28px;">&nbsp;</div>

    </td></tr>
    <!--content END-->
    <!--footer -->
    <tr><td align="center" bgcolor="#282f37">
        <!-- padding --><div style="height: 30px; line-height:30px; font-size:28px;">&nbsp;</div>
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr><td width="340" align="left" valign="top" style="line-height:15px;">
                <font face="Tahoma, Arial, Helvetica, sans-serif" size="2" color="#929ca8" style="font-size:13px;">
				<span style="font-family: Tahoma, Arial, Helvetica, sans-serif; font-size: 13px; color:#929ca8;line-height:15px;">
					&copy; ООО &laquo;АйЭйдж&raquo; 2003 - 2014 All rights reserved.<br />
					<a href="http://www.iage.net" target="_blank" style="color:#929ca8;text-decoration:none;"><font color="#929ca8">www.iage.net</font></a><br /><br />
					127051, Москва, ул. Трубная, д. 21,<br />
					тел. +7(495) 649-4219 390037<br /><br />
					г. Рязань, ул. Советской армии, д. 19, корп.2, тел. +7(4912) 901-002
				</span></font>
            </td><td align="right" valign="top">
                <!--social -->
                <table border="0" cellspacing="0" cellpadding="0">
                    <tr><td width="43" align="left" style="line-height:36px;">
                        <a href="#" target="_blank" style="color: #596167; font-family: Arial, Helvetica, sans-serif; font-size: 12px;"  >
                            <font face="Arial, Helvetica, sans-serif" size="2" color="#596167">
                                <img src="/img/soc6.png" width="36" height="36" alt="f" border="0" style="display: block;" /></font></a>
                    </td><td width="43" align="left" style="line-height:36px;">
                        <a href="#" target="_blank" style="color: #596167; font-family: Arial, Helvetica, sans-serif; font-size: 12px;"  >
                            <font face="Arial, Helvetica, sans-serif" size="2" color="#596167">
                                <img src="/img/soc7.png" width="36" height="36" alt="t" border="0" style="display: block;" /></font></a>
                    </td><td width="43" align="left" style="line-height:36px;">
                        <a href="#" target="_blank" style="color: #596167; font-family: Arial, Helvetica, sans-serif; font-size: 12px;"  >
                            <font face="Arial, Helvetica, sans-serif" size="2" color="#596167">
                                <img src="/img/soc8.png" width="36" height="36" alt="vk" border="0" style="display: block;" /></font></a>
                    </td><td width="43" align="left" style="line-height:36px;">
                        <a href="#" target="_blank" style="color: #596167; font-family: Arial, Helvetica, sans-serif; font-size: 12px;"  >
                            <font face="Arial, Helvetica, sans-serif" size="2" color="#596167">
                                <img src="/img/soc9.png" width="36" height="36" alt="in" border="0" style="display: block;" /></font></a>
                    </td><td width="36" align="left" style="line-height:36px;">
                        <a href="#" target="_blank" style="color: #596167; font-family: Arial, Helvetica, sans-serif; font-size: 12px;"  >
                            <font face="Arial, Helvetica, sans-serif" size="2" color="#596167">
                                <img src="/img/soc10.png" width="36" height="36" alt="s" border="0" style="display: block;" /></font></a>
                    </td></tr>
                </table>
                <!--social END-->
            </td></tr>
        </table>
        <!-- padding --><div style="height: 30px; line-height:30px; font-size:28px;">&nbsp;</div>
    </td></tr>
    <!--footer END-->
</table>

</td></tr>
</table>

</body>
</html>