<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" >
    <title>Регистрация в Информационно-поисковом ресурсе ПНК</title>
</head>

<body style="padding:0px;margin:0px;">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
<tr><td align="center" bgcolor="#1e5799">

<table border="0" cellspacing="0" cellpadding="0" width="600" style="min-width:600px;">
    <!--header -->
    <tr><td align="center" bgcolor="#ffffff" style="border-bottom-width:1px;border-bottom-style:solid;border-bottom-color:#282f37;">
        <!-- padding --><div style="height: 12px; line-height:12px; font-size:10px;">&nbsp;</div>
        <table width="540" border="0" cellspacing="0" cellpadding="0">
            <tr><td	width="210" align="left" valign="top">
                <!-- padding --><div style="height: 15px; line-height:15px; font-size:13px;">&nbsp;</div>
                <a href="http://ipr.palata-nk.ru/" target="_blank" style="color: #596167; font-family: Arial, Helvetica, sans-serif; font-size: 18px;"  >
                    <font face="Arial, Helvetica, sans-serif; font-size: 18px;" size="4" color="#596167">
                        <img src="http://ipr.palata-nk.ru/media/img/ipr_pnk_logo.png" width="146" height="53" alt="IPR" border="0" style="display: block;" />
                    </font>
                </a>
                <!-- padding --><div style="height: 10px; line-height:10px; font-size:8px;">&nbsp;</div>
            </td>
                <td align="right" valign="top">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0" >
                        <tr><td align="right" height="33" valign="top" style="line-height:14px;">
                            <font face="Tahoma, Arial, Helvetica, sans-serif" size="2" color="#282f37" style="font-size:12px;">
					<span style="font-family: Tahoma, Arial, Helvetica, sans-serif; font-size: 12px; color:#1e5799;line-height:14px;">
						<a href="http://www.palata-nk.ru/php/content.php?group=2342" target="_blank" style="color:#1e5799;"><font color="#1e5799">О Палате</font></a>
						&nbsp;&nbsp;
						<a href="http://www.palata-nk.ru/php/content.php?group=2606" target="_blank" style="color:#1e5799;"><font color="#1e5799">Мероприятия</font></a>
						&nbsp;&nbsp;
						<a href="http://palata-nk.ru/php/content.php?group=3532" target="_blank" style="color:#1e5799;"><font color="#1e5799">Проекты</font></a>
					</span></font>
                        </td></tr>
                        <tr><td align="right" height="22" valign="top" style="line-height:14px;">
                            <font face="Tahoma, Arial, Helvetica, sans-serif" size="2" color="#1e5799" style="font-size:12px;">
					<span style="font-family: Tahoma, Arial, Helvetica, sans-serif; font-size: 12px; color:#1e5799;line-height:14px;">
						<a href="http://ipr.palata-nk.ru/" target="_blank" style="color:#1e5799;"><font color="#1e5799">Информационно-поисковый ресурс</font></a>
					</span></font>
                        </td></tr>

                    <tr><td align="right" height="22" valign="top" style="line-height:14px;">
                        <font face="Tahoma, Arial, Helvetica, sans-serif" size="2" color="#1e5799" style="font-size:12px;">
					<span style="font-family: Tahoma, Arial, Helvetica, sans-serif; font-size: 12px; color:#1e5799;line-height:14px;">
						<a href="http://ipr.palata-nk.ru/edu/programs/" target="_blank" style="color:#1e5799;"><font color="#1e5799">Каталог программ</font></a>
						&nbsp;&nbsp;
						<a href="http://ipr.palata-nk.ru/edu/groups/" target="_blank" style="color:#1e5799;"><font color="#1e5799">Каталог групп</font></a>
					</span></font>
                        </td></tr>
                    </table>
                </td></tr>
        </table>
        <!-- padding --><div style="height: 12px; line-height:12px; font-size:10px;">&nbsp;</div>
    </td></tr>
    <!--header END-->
    <!--content -->
    <tr><td align="center" bgcolor="#ffffff" style="border-top-width:1px;border-top-style:solid;border-top-color:#ffffff;">

        <table width="490" border="0" cellspacing="0" cellpadding="0">

        <tr><td align="left">
                <!-- padding --><div style="height: 45px; line-height:45px; font-size:40px;">&nbsp;</div>
                <!--hello -->
                <div style="line-height:24px;">
                    <font face="Tahoma, Arial, Helvetica, sans-serif" size="3" color="#282f37" style="font-size:14px;">
					<span style="font-family: Tahoma, Arial, Helvetica, sans-serif; font-size: 14px; color:#282f37;">
						<strong>Уважаемый/ая {{ user.get_full_name }}!</strong><br /><br />

                        Вы успешно зарегистрировались в Информационно-поисковом ресурсе www.ipr.palata-nk.ru<br />
                        Для входа в Личный кабинет используйте логин и пароль.

                        </span></font>
                </div>

            <table width="490" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td align="center" width="100" height="39" style="line-height: 39px;">
                    Логин
                </td>
                <td align="left" width="100" height="39" style="line-height: 39px;">

                    <font face="Arial, Helvetica, sans-serif" size="3">
                        <span>{{ user.email }}</span>
                    </font>
                </td>
            </tr>
            <tr>
                    <td align="center" width="100" height="39" style="line-height: 39px;">
                        Пароль
                    </td>
                <td align="left" width="100" height="39" style="line-height: 39px;">

            <font face="Arial, Helvetica, sans-serif" size="3">
            <span>{{ password }}</span>
            </font>
            </td>
            </tr>
            </table>

            <div style="height: 10px; line-height:10px; font-size:45px;">&nbsp;</div>

            <div style="line-height:24px;">
                <font face="Tahoma, Arial, Helvetica, sans-serif" size="3" color="#282f37" style="font-size:14px;">
					<span style="font-family: Tahoma, Arial, Helvetica, sans-serif; font-size: 14px; color:#282f37;">
                        Администратор сайта проверит корректность Вашей регистрации.<br />
                        <strong>Внимание!</strong> Уведомление об утверждении регистрации НЕ ПРИХОДИТ НА ЭЛЕКТРОННУЮ ПОЧТУ - Вы самостоятельно проверяете свой статус через Личный кабинет.<br />
                        После утверждения регистрации (что занимает не больше 1 рабочего дня) в разделе "Обучение" Личного кабинета Вы сможете подать заявление на повышение квалификации.<br />
                        Подача заявления на любые курсы повышения квалификации через Инфо-ресурс обязательна и является одним из условий зачета пройденного повышения квалификации для продления срока действия квалификационного аттестата.<br />
                        Повторная регистрация в Инфо-ресурсе в дальнейшем не потребуется.<br /><br />

                         Это автоматическое сообщение. Пожалуйста, не отвечайте на него.<br /><br />
					</span></font>

                <table width="490" cellspacing="0" cellpadding="0">
                    <tr>
                        <td align="right">
                            <font face="Tahoma, Arial, Helvetica, sans-serif" size="3" color="#282f37" style="font-size:14px;">
					<span style="font-family: Tahoma, Arial, Helvetica, sans-serif; font-size: 14px; color:#282f37;">
                         С уважением, администратор инфо-ресурса<br />
                         <i>metodist@palata-nk.ru</i><br />
                         <i>(495) 229-10-61</i>
                        </span></font>
                        </td>
                    </tr>
                </table>

                </div>
            <div style="height: 30px; line-height:30px; font-size:45px;">&nbsp;</div>

            </td>
        </tr>
        </table>

    </td></tr>
    <!--content END-->
    <!--footer -->
    <tr><td align="center" bgcolor="#e0e6f8">
        <!-- padding --><div style="height: 30px; line-height:30px; font-size:28px;">&nbsp;</div>
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td width="10" align="left" valign="top" style="line-height:15px;">
                </td>
                <td width="500" align="left" valign="top" style="line-height:15px;">
                    <font face="Tahoma, Arial, Helvetica, sans-serif" size="2" color="#929ca8" style="font-size:12px;">
				<span style="font-family: Tahoma, Arial, Helvetica, sans-serif; font-size: 12px; color:#929ca8;line-height:15px;">
					Отписаться от нашей рассылки вы можете в своём <a href="http://ipr.palata-nk.ru/auth/notifications/" target="_blank" style="color:#598bc8;text-decoration:none;"><font color="#598bc8">Личном кабинете</font></a><br />
                </span></font>
                </td>
            </tr>
            <tr>
                <td width="10" align="left" valign="top" style="line-height:15px;">
                </td>
                <td width="500" align="left" valign="top" style="line-height:15px;">
                <font face="Tahoma, Arial, Helvetica, sans-serif" size="2" color="#929ca8" style="font-size:13px;">
				<span style="font-family: Tahoma, Arial, Helvetica, sans-serif; font-size: 13px; color:#929ca8;line-height:15px;">
					&copy; &laquo;Палата Налоговых консультантов&raquo; 2002 - {% now "Y" %} Все права защищены.<br />
					<a href="http://www.palata-nk.ru/" target="_blank" style="color:#929ca8;text-decoration:none;"><font color="#929ca8">http://www.palata-nk.ru/</font></a><br />
                    <a href="http://www.ipr.palata-nk.ru/" target="_blank" style="color:#929ca8;text-decoration:none;"><font color="#929ca8">http://www.ipr.palata-nk.ru/</font></a><br /><br />
					129164, город Москва, улица Ярославская, дом 8, корпус 4, этаж 5 <br />
					тел. +7 (495) 229-10-61  <br />
                    <a href="mailto:metodist@palata-nk.ru" target="_blank" style="color:#929ca8;text-decoration:none;">metodist@palata-nk.ru</a><br /><br />
                    <br />
				</span></font>
            </td>
                </tr>
        </table>
        <!-- padding --><div style="height: 30px; line-height:30px; font-size:28px;">&nbsp;</div>
    </td></tr>
    <!--footer END-->
</table>

</td></tr>
</table>

</body>
</html>