<p>Уважаемый/ая {{ fio }}!</p>
<p>Вы успешно зарегистрировались в Информационно-поисковом ресурсе www.ipr.palata-nk.ru</p>
<p>Ваше заявление на подготовку по программе Палаты налоговых консультантов сформировано и автоматически направлено в выбранную Вами образовательную организацию.
    Менеджер образовательной организации свяжется с Вами для уточнения деталей обучения.
    Для входа в Личный кабинет используйте логин и пароль. Логин: {{ email }}. Пароль: {{ password }}
    В Вашем личном кабинете в разделе &laquo;Обучение&raquo; (ниже раздела &laquo;Карточка профиля&raquo;) доступна информация о текущем обучении, а также переход к личному кабинету группы (после того, как образовательная организация включит Вас в группу на обучение). Впоследствии именно через личный кабинет в инфо-ресурсе Вы будете подавать заявления на повышение квалификации (для продления срока действия квалификационного аттестата). В личном кабинете также сформируется архив (история) Вашего профессионального обучения по программам Палаты налоговых консультантов. Это автоматическое сообщение. Пожалуйста, не отвечайте на него. С уважением, администратор инфо-ресурса metodist@palata-nk.ru (495) 229-10-61</p>