<table class="margin: auto; width: 600px;">

<tr>
<td> 
<a href="http://www.palata-nk.ru/">
<img src="/media/img/pnk_logo.PNG" /></a></td>
</tr>

<tr>
<td class="margin:auto; text-align: center;">
<h1 style="font: 22px Arial, Tahoma, Verdana, sans-serif;">Уважаемый {{ institute_name }}!</h1>
</td>
</tr>

<tr>
<td>
<p style="font: 18px Arial, Tahoma, Verdana, sans-serif; margin-top: 20px; line-hight:10px; text-align:justify;
text-indent: 15px;">
<b>Внимание!</b> Поступило новое заявление на обучение от <strong>{{ fio }}</strong> на программу <strong>{{ program_name }}</strong>. Проверьте, пожалуйста, личный кабинет образовательной организации в информационно-поисковом ресурсе www.ipr.palata-nk.ru (раздел «Формирование новых групп»).
Перед включением слушателя в группу не забудьте, пожалуйста, распечатать и вложить в личное дело его заявление.
</p>
</td>
</tr>

<tfoot class="font: 12px Arial, Tahoma, Verdana, sans-serif; margin-top: 20px;">
<tr>
<td>
<p class="font: 12px Arial, Tahoma, Verdana, sans-serif;">
Это автоматическое сообщение. Пожалуйста, не отвечайте на него.<br/>
С уважением, администратор инфо-ресурса
coordinator@palata-nk.ru<br/>
(495) 229-10-61    
</p>
</td>
</tr>
</tfoot>
</table>
