<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>

<title>
    Международная студенческая олимпиада по налогам – 2014
</title>

<!-- Meta Tags -->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<!-- JavaScript -->
<script type="text/javascript" src="scripts/wufoo.js"></script>

<!-- CSS -->
<!--<link rel="stylesheet" href="/media/structure.css" type="text/css" />-->
<!--<link rel="stylesheet" href="/media/form.css" type="text/css" />-->
<!--<link rel="stylesheet" href="/media/theme.css" type="text/css" />-->
<link rel="stylesheet" href="/media/style.css" type="text/css" />

<link rel="canonical" href="http://www.wufoo.com/gallery/designs/template.html">

</head>

<body id="public">

<div id="container">

<h1>Международная студенческая олимпиада по налогам – 2014</h1>

    <div class="toolbar">

        <div class="toolbar_button">
            {% if user.is_authenticated %}
            <div>Добро пожаловать {{ user.get_full_name }}</div><a href="{% url 'logout' %}">Выйти</a>
            {% else %}
            <a href="{% url 'login' %}">Войти</a>
            {% endif %}

        </div><!--toolbar_button-->


    </div><!--toolbar-->
</div><!--container-->
</body>
</html>